## TP

In [2]:

import pandas as pd;
import numpy as np;
import os;
import time;
import datetime;
import warnings;
warnings.filterwarnings('ignore');

In [3]:
#***movecol*** function to **rearranging** the columns of a dataframe

def movecol(df, cols_to_move=[], ref_col='', place=''):
    cols = df.columns.tolist()
    if place == 'After':
        seg1 = cols[:list(cols).index(ref_col) + 1]
        seg2 = cols_to_move
    if place == 'Before':
        seg1 = cols[:list(cols).index(ref_col)]
        seg2 = cols_to_move + [ref_col]
    seg1 = [i for i in seg1 if i not in seg2]
    seg3 = [i for i in cols if i not in seg1 + seg2]
    
    return(df[seg1 + seg2 + seg3])

In [3]:
path = "//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/03. Raw Data/Connect Data/SKU Opportunity Data"
files = os.listdir(path)

Selecting only **excel files** from all the files available in the above path

In [4]:
files_xls = [f for f in files if f[-7:] == "TP.xlsx"]
print("Total number of files in the folder are ",len(files_xls))

Total number of files in the folder are  6

In [5]:
files_xls

['SKU Opportunity Adult vs Kids TP.xlsx',
 'SKU Opportunity Multi TP.xlsx',
 'SKU Opportunity Price Tier TP.xlsx',
 'SKU Opportunity Segment Others TP.xlsx',
 'SKU Opportunity Size TP.xlsx',
 'SKU Opportunity TP.xlsx']

In [8]:

Price_Tier= pd.DataFrame()


Price_Tier = pd.read_excel(path+"/"+'SKU Opportunity Price Tier TP.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Price_Tier[["ShareBasis","CP-PRICE TIER"]] = Price_Tier['Products'].str.split('|',n=1,expand=True)

Price_Tier[["ShareBasis","CP-PRICE TIER"]]=Price_Tier[["ShareBasis","CP-PRICE TIER"]].fillna(value="")
        #Sku_Opp.head(3)



Price_Tier['CP-MANUFACTURER']="CAT"


Price_Tier = movecol(Price_Tier, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-PRICE TIER"], 
    ref_col='Markets',
    place='After')
Price_Tier.head(5)

,Markets,ShareBasis,CP-MANUFACTURER,CP-PRICE TIER,Products,Periods,Latest 26 Wks - w/e 02/27/21
0,Total US xAOC,TOOTHPASTE,CAT,MIDTIER,TOOTHPASTE | MIDTIER,%ACV,9.217800e+01
1,Total US xAOC,TOOTHPASTE,CAT,MIDTIER,TOOTHPASTE | MIDTIER,$,1.343476e+08
2,Total US xAOC,TOOTHPASTE,CAT,MIDTIER,TOOTHPASTE | MIDTIER,$ / $MM ACV,2.362740e+02
3,Total US xAOC,TOOTHPASTE,CAT,MIDTIER,TOOTHPASTE | MIDTIER,$ Chg YA,-2.132351e+07
4,Total US xAOC,TOOTHPASTE,CAT,MIDTIER,TOOTHPASTE | MIDTIER,Any Promo Unit Price,1.711000e+00

In [9]:

Multi= pd.DataFrame()


Multi = pd.read_excel(path+"/"+'SKU Opportunity Multi TP.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Multi[["ShareBasis","CP-MULTI"]] = Multi['Products'].str.split('|',n=1,expand=True)

Multi[["ShareBasis","CP-MULTI"]]=Multi[["ShareBasis","CP-MULTI"]].fillna(value="")
        #Sku_Opp.head(3)


Multi['CP-MANUFACTURER']="CAT"

Multi = movecol(Multi, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-MULTI"], 
    ref_col='Markets',
    place='After')
Multi.head(5)

,Markets,ShareBasis,CP-MANUFACTURER,CP-MULTI,Products,Periods,Latest 26 Wks - w/e 02/27/21
0,Total US xAOC,TOOTHPASTE,CAT,1 PK,TOOTHPASTE | 1 PK,%ACV,9.422400e+01
1,Total US xAOC,TOOTHPASTE,CAT,1 PK,TOOTHPASTE | 1 PK,$,9.947666e+08
2,Total US xAOC,TOOTHPASTE,CAT,1 PK,TOOTHPASTE | 1 PK,$ / $MM ACV,1.711473e+03
3,Total US xAOC,TOOTHPASTE,CAT,1 PK,TOOTHPASTE | 1 PK,$ Chg YA,-6.154823e+07
4,Total US xAOC,TOOTHPASTE,CAT,1 PK,TOOTHPASTE | 1 PK,Any Promo Unit Price,3.393000e+00

In [10]:

Adult_Kids= pd.DataFrame()


Adult_Kids = pd.read_excel(path+"/"+'SKU Opportunity Adult vs Kids TP.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Adult_Kids[["ShareBasis","CP-ADULT VS KIDS"]] = Adult_Kids['Products'].str.split('|',n=1,expand=True)

Adult_Kids[["ShareBasis","CP-ADULT VS KIDS"]]=Adult_Kids[["ShareBasis","CP-ADULT VS KIDS"]].fillna(value="")
        #Sku_Opp.head(3)



Adult_Kids['CP-MANUFACTURER']="CAT"

Adult_Kids = movecol(Adult_Kids, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-ADULT VS KIDS"], 
    ref_col='Markets',
    place='After')
Adult_Kids.head(5)

,Markets,ShareBasis,CP-MANUFACTURER,CP-ADULT VS KIDS,Products,Periods,Latest 26 Wks - w/e 02/27/21
0,Total US xAOC,TOOTHPASTE,CAT,ADULT,TOOTHPASTE | ADULT,%ACV,9.945900e+01
1,Total US xAOC,TOOTHPASTE,CAT,ADULT,TOOTHPASTE | ADULT,$,1.435138e+09
2,Total US xAOC,TOOTHPASTE,CAT,ADULT,TOOTHPASTE | ADULT,$ / $MM ACV,2.339163e+03
3,Total US xAOC,TOOTHPASTE,CAT,ADULT,TOOTHPASTE | ADULT,$ Chg YA,-2.450375e+07
4,Total US xAOC,TOOTHPASTE,CAT,ADULT,TOOTHPASTE | ADULT,Any Promo Unit Price,4.040000e+00

In [11]:
Size= pd.DataFrame()


Size = pd.read_excel(path+"/"+'SKU Opportunity Size TP.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Size[["ShareBasis","CP-SIZE"]] = Size['Products'].str.split('|',n=1,expand=True)

Size[["ShareBasis","CP-SIZE"]]=Size[["ShareBasis","CP-SIZE"]].fillna(value="")
        #Sku_Opp.head(3)

        # Moving columns after "Market"

Size['CP-MANUFACTURER']="CAT"


Size = movecol(Size, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-SIZE"], 
    ref_col='Markets',
    place='After')
Size.head(5)

,Markets,ShareBasis,CP-MANUFACTURER,CP-SIZE,Products,Periods,Latest 26 Wks - w/e 02/27/21
0,Total US xAOC,TOOTHPASTE,CAT,FAMILY,TOOTHPASTE | FAMILY,%ACV,9.897500e+01
1,Total US xAOC,TOOTHPASTE,CAT,FAMILY,TOOTHPASTE | FAMILY,$,7.428653e+08
2,Total US xAOC,TOOTHPASTE,CAT,FAMILY,TOOTHPASTE | FAMILY,$ / $MM ACV,1.216734e+03
3,Total US xAOC,TOOTHPASTE,CAT,FAMILY,TOOTHPASTE | FAMILY,$ Chg YA,-2.381697e+07
4,Total US xAOC,TOOTHPASTE,CAT,FAMILY,TOOTHPASTE | FAMILY,Any Promo Unit Price,3.917000e+00

In [12]:
Segment= pd.DataFrame()


Segment = pd.read_excel(path+"/"+'SKU Opportunity Segment Others TP.xlsx')

Segment['CP-MANUFACTURER']="CAT"
Segment['ShareBasis']="TOOTHPASTE"
Segment['CP-Segment']=Segment['Products']



Segment = movecol(Segment, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER",'CP-Segment'], 
    ref_col='Markets',
    place='After')
Segment.head(5)

,Markets,ShareBasis,CP-MANUFACTURER,CP-Segment,Products,Periods,Latest 26 Wks - w/e 02/27/21
0,Total US xAOC,TOOTHPASTE,CAT,Segment Others,Segment Others,%ACV,8.612700e+01
1,Total US xAOC,TOOTHPASTE,CAT,Segment Others,Segment Others,$,1.036529e+08
2,Total US xAOC,TOOTHPASTE,CAT,Segment Others,Segment Others,$ / $MM ACV,1.950990e+02
3,Total US xAOC,TOOTHPASTE,CAT,Segment Others,Segment Others,$ Chg YA,-1.787628e+06
4,Total US xAOC,TOOTHPASTE,CAT,Segment Others,Segment Others,Any Promo Unit Price,4.376000e+00

In [13]:

UPC_Level= pd.DataFrame()


UPC_Level = pd.read_excel(path+"/"+'SKU Opportunity TP.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-PRICE TIER","CP-SIZE","CP-MULTI","CP-SEGMENT","CP-ADULT VS KIDS","Products","PRODUCT CODE"]] = UPC_Level['Products'].str.split('|',n=10,expand=True)

UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-PRICE TIER","CP-SIZE","CP-MULTI","CP-SEGMENT","CP-ADULT VS KIDS","Products","PRODUCT CODE"]]=UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-PRICE TIER","CP-SIZE","CP-MULTI","CP-SEGMENT","CP-ADULT VS KIDS","Products","PRODUCT CODE"]].fillna(value="")
        #Sku_Opp.head(3)

        # Moving columns after "Market"
UPC_Level = movecol(UPC_Level, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-PRICE TIER","CP-SIZE","CP-MULTI","CP-SEGMENT","CP-ADULT VS KIDS","Products","PRODUCT CODE"], 
    ref_col='Markets',
    place='After')


UPC_Level.head(5)

,Markets,ShareBasis,CP-MANUFACTURER,CP-FRANCHISE,CP-BRAND,CP-PRICE TIER,CP-SIZE,CP-MULTI,CP-SEGMENT,CP-ADULT VS KIDS,Products,PRODUCT CODE,Periods,Latest 26 Wks - w/e 02/27/21
0,Total US xAOC,TOOTHPASTE,COLGATE-PALMOLIVE,COLGATE,COLGATE 2 IN 1,PREMIUM,FAMILY,1 PK,ME FRESH BREATH,ADULT,COLGATE TOOTHPASTE ICY BLAST LIQUID GEL 4.6 O...,003500076416,%ACV,3.184
1,Total US xAOC,TOOTHPASTE,COLGATE-PALMOLIVE,COLGATE,COLGATE 2 IN 1,PREMIUM,FAMILY,1 PK,ME FRESH BREATH,ADULT,COLGATE TOOTHPASTE ICY BLAST LIQUID GEL 4.6 O...,003500076416,$,265732.308
2,Total US xAOC,TOOTHPASTE,COLGATE-PALMOLIVE,COLGATE,COLGATE 2 IN 1,PREMIUM,FAMILY,1 PK,ME FRESH BREATH,ADULT,COLGATE TOOTHPASTE ICY BLAST LIQUID GEL 4.6 O...,003500076416,$ / $MM ACV,13.530
3,Total US xAOC,TOOTHPASTE,COLGATE-PALMOLIVE,COLGATE,COLGATE 2 IN 1,PREMIUM,FAMILY,1 PK,ME FRESH BREATH,ADULT,COLGATE TOOTHPASTE ICY BLAST LIQUID GEL 4.6 O...,003500076416,$ Chg YA,-35022.060
4,Total US xAOC,TOOTHPASTE,COLGATE-PALMOLIVE,COLGATE,COLGATE 2 IN 1,PREMIUM,FAMILY,1 PK,ME FRESH BREATH,ADULT,COLGATE TOOTHPASTE ICY BLAST LIQUID GEL 4.6 O...,003500076416,Any Promo Unit Price,2.546

In [14]:
Sku_Opp=pd.DataFrame()
Sku_Opp = pd.concat([Sku_Opp,Multi,Adult_Kids,Segment,Size,Price_Tier,UPC_Level],axis=0,ignore_index=True)
Sku_Opp = movecol(Sku_Opp, 
             cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-PRICE TIER","CP-SIZE","CP-MULTI","CP-SEGMENT","CP-ADULT VS KIDS","Products","PRODUCT CODE"], 
             ref_col='Markets',
             place='After')
Sku_Opp.fillna("",inplace=True)
Sku_Opp.head()

,Markets,ShareBasis,CP-MANUFACTURER,CP-FRANCHISE,CP-BRAND,CP-PRICE TIER,CP-SIZE,CP-MULTI,CP-SEGMENT,CP-ADULT VS KIDS,Products,PRODUCT CODE,Periods,Latest 26 Wks - w/e 02/27/21,CP-Segment
0,Total US xAOC,TOOTHPASTE,CAT,,,,,1 PK,,,TOOTHPASTE | 1 PK,,%ACV,94.224,
1,Total US xAOC,TOOTHPASTE,CAT,,,,,1 PK,,,TOOTHPASTE | 1 PK,,$,9.94767e+08,
2,Total US xAOC,TOOTHPASTE,CAT,,,,,1 PK,,,TOOTHPASTE | 1 PK,,$ / $MM ACV,1711.47,
3,Total US xAOC,TOOTHPASTE,CAT,,,,,1 PK,,,TOOTHPASTE | 1 PK,,$ Chg YA,-6.15482e+07,
4,Total US xAOC,TOOTHPASTE,CAT,,,,,1 PK,,,TOOTHPASTE | 1 PK,,Any Promo Unit Price,3.393,

In [15]:
# Relaceing in Periods(Facts)
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("$","temp")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("- temp -","-")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("temp","$")


Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP FORM","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP USE","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP LDL AND FOAM","CP CATEGORY")

Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP LDL AND FM X DISHAIDS/WPS/SPR","CP CATEGORY")

Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP MEGA CATEGORY","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP BATTERY AND HYBRID","CP CATEGORY")


# Market name replaced
Sku_Opp["Markets"]=Sku_Opp["Markets"].str.replace("Walgreens Corp Total TA","Walgreens Total TA")

#replacing NaN values with 0
Sku_Opp.fillna(value=0,inplace=True)

In [16]:
##Removing unwanted characters from all the column names** and store them in a list ***new_col_names***

new_col_names=[]
for i in Sku_Opp.columns:
    x=len(i)
    if x<=17:
        new_col_names.append(i)
    elif i[:3]=='YTD':
        new_col_names.append(i[:-16].strip('- '))
    else:
        new_col_names.append(i[:-14].strip('- '))
        

## Checking the duplicacte column in** ***Sku_Opp***

if(len(new_col_names)!=len(set(new_col_names))):
    print("\033[1;31m"+"*******************************ERROR*******************************\n\t\t\tWe have duplicate columns\n\t\t\tPlease recheck raw data files\n*******************************ERROR*******************************")

##Renaming the column names of ***Sku_Opp***

# Sku_Opp.rename(columns=dict(zip(Sku_Opp.columns,new_col_names)),inplace=True)
Sku_Opp.columns=new_col_names

In [17]:
new_col_names

['Markets',
 'ShareBasis',
 'CP-MANUFACTURER',
 'CP-FRANCHISE',
 'CP-BRAND',
 'CP-PRICE TIER',
 'CP-SIZE',
 'CP-MULTI',
 'CP-SEGMENT',
 'CP-ADULT VS KIDS',
 'Products',
 'PRODUCT CODE',
 'Periods',
 'Latest 26 Wks',
 'CP-Segment']

In [18]:
Sku_Opp.columns

Index(['Markets', 'ShareBasis', 'CP-MANUFACTURER', 'CP-FRANCHISE', 'CP-BRAND',
       'CP-PRICE TIER', 'CP-SIZE', 'CP-MULTI', 'CP-SEGMENT',
       'CP-ADULT VS KIDS', 'Products', 'PRODUCT CODE', 'Periods',
       'Latest 26 Wks', 'CP-Segment'],
      dtype='object')

In [19]:
##**Time period mapping**



time_period_map= pd.DataFrame({'Connect Time Period':['Markets', 'Products', 'Periods','Cal Yr 2020','Cal Yr 2019','Cal Yr 2018','Cal Yr 2017','YTD','YTD YA','Latest 13 Wks','Latest 26 Wks','OND 21','JAS 21','AMJ 21','JFM 21','OND 20','JAS 20','AMJ 20','JFM 20','OND 19','JAS 19','AMJ 19','Dec 21','Nov 21','Oct 21','Sep 21','Aug 21','Jul 21','Jun 21','May 21','Apr 21','Mar 21','Feb 21','Jan 21','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20'],
                               'Final Name':['Markets', 'Products', 'Periods','FY 2020','FY 2019','FY 2018','FY 2017','YTD 2021','YTD 2020','Latest 13 Weeks','Latest 26 Weeks','Q4 2021','Q3 2021','Q2 2021','Q1 2021','Q4 2020','Q3 2020','Q2 2020','Q1 2020','Q4 2019','Q3 2019','Q2 2019','Dec 21','Nov 21','Oct 21','Sep 21','Aug 21','Jul 21','Jun 21','May 21','Apr 21','Mar 21','Feb 21','Jan 21','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20']
                              ,'Order':range(1,47)})

time_period_map.head(5)

##We need to **change column names** of ***Sku_Opp*** and **reorder** them based on the time_period_mapping

# assigning variables
LM_column= list(Sku_Opp.columns)
time_connect=list(time_period_map["Connect Time Period"])
time_final=list(time_period_map["Final Name"])

# changing column names based on time_period_mapping
new_column=[]
for i in range(0,len(LM_column)):
    for j in range(0,len(time_connect)):
        if LM_column[i]==time_connect[j]:
            new_column.append(time_final[j])
        

print(new_column)

print(len(new_column),len(Sku_Opp.columns))

Sku_Opp.columns

#assigning new column names
#Sku_Opp.columns = new_column

# reordering column names
#my_list =time_period_map.iloc[:, 1]
#my_list1=Sku_Opp.columns
#result = [x for x in my_list if x in my_list1]
#Sku_Opp=Sku_Opp[result]

['Markets', 'Products', 'Periods', 'Latest 26 Weeks']
4 15

Index(['Markets', 'ShareBasis', 'CP-MANUFACTURER', 'CP-FRANCHISE', 'CP-BRAND',
       'CP-PRICE TIER', 'CP-SIZE', 'CP-MULTI', 'CP-SEGMENT',
       'CP-ADULT VS KIDS', 'Products', 'PRODUCT CODE', 'Periods',
       'Latest 26 Wks', 'CP-Segment'],
      dtype='object')

In [20]:
##**Period Mapping**

Time_Mapping={
    "Nov 19":"4 W/E 11/23/19",
"Dec 19":"5 W/E 12/28/19",
"Jan 20":"4 W/E 02/01/20",
"Feb 20":"4 W/E 02/29/20",
"Mar 20":"5 W/E 04/04/20",
"Apr 20":"4 W/E 05/02/20",
"May 20":"4 W/E 05/30/20",
"Jun 20":"5 W/E 07/04/20",
"Jul 20":"4 W/E 08/01/20",
"Aug 20":"4 W/E 08/29/20",
"Sep 20":"5 W/E 10/03/20",
"Oct 20":"4 W/E 10/31/20",
"Nov 20":"4 W/E 11/28/20",
"Dec 20":"5 W/E 01/02/21",
"Jan 21":"4 W/E 01/30/21",
"Feb 21":"4 W/E 02/27/21",
"Mar 21":"5 W/E 04/03/21",
"Apr 21":"4 W/E 05/01/21",
"May 21":"4 W/E 05/29/21",
"Jun 21":"5 W/E 07/03/21",
"Jul 21":"4 W/E 07/31/21",
"Aug 21":"4 W/E 08/28/21",
"Sep 21":"5 W/E 10/02/21",
"Oct 21":"4 W/E 10/30/21",
"Nov 21":"4 W/E 11/27/21",
"Dec 21":"5 W/E 01/01/22",
"Jan 22":"4 W/E 01/29/22",
"Feb 22":"4 W/E 02/26/22",
"Mar 22":"5 W/E 04/02/22",
"Apr 22":"4 W/E 04/30/22",
"May 22":"5 W/E 05/28/22",
"Jun 22":"4 W/E 06/25/22",
"Jul 22":"4 W/E 07/23/22",
"Aug 22":"5 W/E 08/20/22",
"Sep 22":"4 W/E 09/17/22",
"Oct 22":"4 W/E 10/15/22",
"Nov 22":"5 W/E 11/12/22",
"Dec 22":"4 W/E 12/10/22",
"Jan 23":"4 W/E 01/07/23",
"Feb 23":"5 W/E 02/04/23",
"Mar 23":"4 W/E 03/04/23",
"Apr 23":"4 W/E 04/01/23",
"May 23":"5 W/E 04/29/23",
"Jun 23":"4 W/E 05/27/23",
"Jul 23":"4 W/E 06/24/23",
"Aug 23":"5 W/E 07/22/23",
"Sep 23":"4 W/E 08/19/23",
"Oct 23":"5 W/E 09/16/23",
"Nov 23":"4 W/E 10/14/23",
"Dec 23":"4 W/E 11/11/23",
"Jan 24":"5 W/E 12/09/23",
"Feb 24":"4 W/E 01/06/24",
"Mar 24":"4 W/E 02/03/24",
"Apr 24":"5 W/E 03/02/24",
"May 24":"4 W/E 03/30/24",
"Jun 24":"4 W/E 04/27/24",
"Jul 24":"5 W/E 05/25/24",
"Aug 24":"4 W/E 06/22/24",
"Sep 24":"4 W/E 07/20/24",
"Oct 24":"5 W/E 08/17/24",
"Nov 24":"4 W/E 09/14/24",
"Dec 24":"4 W/E 10/12/24",
"Jan 25":"5 W/E 11/09/24",
"Feb 25":"4 W/E 12/07/24",
"Mar 25":"5 W/E 01/04/25",
"Apr 25":"4 W/E 02/01/25",
"May 25":"4 W/E 03/01/25",
"Jun 25":"5 W/E 03/29/25",
"Jul 25":"4 W/E 04/26/25",
"Aug 25":"4 W/E 05/24/25",
"Sep 25":"5 W/E 06/21/25",
"Oct 25":"4 W/E 07/19/25",
"Nov 25":"4 W/E 08/16/25",
"Dec 25":"5 W/E 09/13/25",
"Jan 26":"4 W/E 10/11/25",
"Feb 26":"4 W/E 11/08/25",
"Mar 26":"5 W/E 12/06/25",
"Apr 26":"4 W/E 01/03/26",
"May 26":"4 W/E 01/31/26",
"Jun 26":"5 W/E 02/28/26",
"Jul 26":"4 W/E 03/28/26",
"Aug 26":"5 W/E 04/25/26",
"Sep 26":"4 W/E 05/23/26",
"Oct 26":"4 W/E 06/20/26",
"Nov 26":"5 W/E 07/18/26",
"Dec 26":"4 W/E 08/15/26"
}


Sku_Opp.rename(columns=Time_Mapping,inplace=True)

In [21]:
Market_Mapping={
    
     'ALBSCO Total Company TA':'Alb/Sfy',
     'Agency Grocery':'Agency Grocery',
     'Ahold USA Corp Total TA':"Ahold",
     'BJs Total TA':"BJs",
     'CLUB':"CLUB",
     'CVS Total Corp WO HI TA':"CVS",
     'Dol Gen Total TA':"Dollar General",
     'El Super Total TA':'El Super',
     'FDM':"FDM",
     'Family Dollar Total TA':"Family Dollar",
     'Fiesta Total TA':"Fiesta",
     'Giant Eagle Total TA':"Giant Eagle",
     'Kmart Total TA':"Kmart",
     'Meijer Total TA':"Meijer",
     'Publix Total TA':"Publix",
     'Rite Aid - Corp Total TA':"Rite Aid",
     "Sam's Total TA":"Sams",
     'ShopRite Total TA':"Shoprite",
     'Strategic Grocery':"Strategic Grocery",
     'TOTAL MASS':"TOTAL MASS",
     'Target Total BM/FF TA':"Target",
     'Total US Drug':"US Drug",
     'Total US Food':"US Food",
     'Total US xAOC':"US AOC",
     'VDC':"VDC",
     'Walgreens Total TA':"Walgreens",
     'Walmart Total US TA':"Walmart",
     'Wegmans Total TA':"Wegmans"
    }


Sku_Opp["Markets"].replace(Market_Mapping,inplace=True)

In [22]:
#Changing Column Name

Sku_Opp.rename(columns={"Periods":"Facts"},inplace=True)

In [23]:
##**Filter Condition**
#Taking only those products whose **Latest Month Dollar Share** is **greater than 0.07** for all the markets

# Sku_Opp.iloc[:,3:]= Sku_Opp.iloc[:,3:].apply(pd.to_numeric)

# Sku_Opp.info()

# df=Sku_Opp[(Sku_Opp['Facts'] == '$ Shr - CP CATEGORY') & ( Sku_Opp.iloc[:,19] > 0.07 )]

# # total number of unique Products 
# len(np.unique(list(df["Products"])))

# Sku_Opp=Sku_Opp[Sku_Opp['Products'].isin(list(df["Products"]))]
# Sku_Opp.head(3)

# len(set(Sku_Opp["Products"]))

In [ ]:
#***movecol*** function to **rearranging** the columns of a dataframe

def movecol(df, cols_to_move=[], ref_col='', place=''):
    cols = df.columns.tolist()
    if place == 'After':
        seg1 = cols[:list(cols).index(ref_col) + 1]
        seg2 = cols_to_move
    if place == 'Before':
        seg1 = cols[:list(cols).index(ref_col)]
        seg2 = cols_to_move + [ref_col]
    seg1 = [i for i in seg1 if i not in seg2]
    seg3 = [i for i in cols if i not in seg1 + seg2]
    
    return(df[seg1 + seg2 + seg3])

In [24]:
cols=list(Sku_Opp.columns[0:12])
Sku_Opp[cols]=Sku_Opp[cols].apply(lambda x : x.str.strip())

**Selection**

In [25]:
SKU_Facts_Mapping={
    '$':"Dollars",
     '$ / $MM ACV':"$ Sales/$MM ACV",
     '$ Chg YA':"Dollars YAG %Chg",
     '%ACV':"% Stores Selling",
     'Any Promo Unit Price':"RASP w/Any Promo",
     'No Promo Unit Price':"RASP w/No Promo",
     'Units':"Units",
     'Units % Chg YA':"Units YAG %Chg"
    }

Sku_Opp["Facts"]=Sku_Opp["Facts"].replace(SKU_Facts_Mapping)

In [26]:
Sku_Opp_TP=Sku_Opp[Sku_Opp["ShareBasis"]=="TOOTHPASTE"]

In [27]:
Sku_Opp_TP.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28192 entries, 0 to 28191
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Markets           28192 non-null  object
 1   ShareBasis        28192 non-null  object
 2   CP-MANUFACTURER   28192 non-null  object
 3   CP-FRANCHISE      28192 non-null  object
 4   CP-BRAND          28192 non-null  object
 5   CP-PRICE TIER     28192 non-null  object
 6   CP-SIZE           28192 non-null  object
 7   CP-MULTI          28192 non-null  object
 8   CP-SEGMENT        28192 non-null  object
 9   CP-ADULT VS KIDS  28192 non-null  object
 10  Products          28192 non-null  object
 11  PRODUCT CODE      28192 non-null  object
 12  Facts             28192 non-null  object
 13  Latest 26 Wks     28192 non-null  object
 14  CP-Segment        28192 non-null  object
dtypes: object(15)
memory usage: 3.4+ MB

In [28]:
Time_Period=list(Sku_Opp_TP.columns[13:14])
print(Time_Period)

['Latest 26 Wks']

In [29]:
Sku_Opp_TP.columns

Index(['Markets', 'ShareBasis', 'CP-MANUFACTURER', 'CP-FRANCHISE', 'CP-BRAND',
       'CP-PRICE TIER', 'CP-SIZE', 'CP-MULTI', 'CP-SEGMENT',
       'CP-ADULT VS KIDS', 'Products', 'PRODUCT CODE', 'Facts',
       'Latest 26 Wks', 'CP-Segment'],
      dtype='object')

In [30]:
Sku_Opp_TP.rename(columns={'Markets':"MKT",'Products':'PROD'
                           },inplace=True)

In [31]:
df1=pd.melt(Sku_Opp_TP, id_vars =["MKT","ShareBasis","PROD","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-PRICE TIER","CP-SIZE","CP-MULTI","CP-SEGMENT","CP-ADULT VS KIDS","PRODUCT CODE","Facts"], value_vars =Time_Period,var_name="PER")

df1["value"]=df1["value"].apply(pd.to_numeric)
df1.head()

,MKT,ShareBasis,PROD,CP-MANUFACTURER,CP-FRANCHISE,CP-BRAND,CP-PRICE TIER,CP-SIZE,CP-MULTI,CP-SEGMENT,CP-ADULT VS KIDS,PRODUCT CODE,Facts,PER,value
0,US AOC,TOOTHPASTE,TOOTHPASTE | 1 PK,CAT,,,,,1 PK,,,,% Stores Selling,Latest 26 Wks,9.422400e+01
1,US AOC,TOOTHPASTE,TOOTHPASTE | 1 PK,CAT,,,,,1 PK,,,,Dollars,Latest 26 Wks,9.947666e+08
2,US AOC,TOOTHPASTE,TOOTHPASTE | 1 PK,CAT,,,,,1 PK,,,,$ Sales/$MM ACV,Latest 26 Wks,1.711473e+03
3,US AOC,TOOTHPASTE,TOOTHPASTE | 1 PK,CAT,,,,,1 PK,,,,Dollars YAG %Chg,Latest 26 Wks,-6.154823e+07
4,US AOC,TOOTHPASTE,TOOTHPASTE | 1 PK,CAT,,,,,1 PK,,,,RASP w/Any Promo,Latest 26 Wks,3.393000e+00

In [32]:
df2=df1.pivot_table(index=["MKT","ShareBasis","PROD","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-PRICE TIER","CP-SIZE","CP-MULTI","CP-SEGMENT","CP-ADULT VS KIDS","PRODUCT CODE",'PER'],columns='Facts')

df2.columns=df2.columns.droplevel().rename(None)
df2.reset_index(inplace =True)

In [33]:
# from pandas.api.types import CategoricalDtype

# Time_Period_order = CategoricalDtype(
#     Time_Period, 
#     ordered=True
# )

# df2['PER'] = df2['PER'].astype(Time_Period_order)

df2.sort_values(['MKT','PROD','PER'],inplace=True)

In [34]:
df2.columns

Index(['MKT', 'ShareBasis', 'PROD', 'CP-MANUFACTURER', 'CP-FRANCHISE',
       'CP-BRAND', 'CP-PRICE TIER', 'CP-SIZE', 'CP-MULTI', 'CP-SEGMENT',
       'CP-ADULT VS KIDS', 'PRODUCT CODE', 'PER', '$ Sales/$MM ACV',
       '% Stores Selling', 'Dollars', 'Dollars YAG %Chg', 'RASP w/Any Promo',
       'RASP w/No Promo', 'Units', 'Units YAG %Chg'],
      dtype='object')

In [35]:


final_column_sorting=["MKT","PROD","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-PRICE TIER", 
                      "CP-SIZE", "CP-MULTI", "CP-SEGMENT","CP-ADULT VS KIDS","PRODUCT CODE","PER","% Stores Selling"
                      ,"Dollars","Dollars YAG %Chg",
                      "Units","Units YAG %Chg","$ Sales/$MM ACV","RASP w/Any Promo","RASP w/No Promo"
                      ]
Sku_Opp_final=df2[final_column_sorting]

In [36]:
Sku_Opp_final.head(3)

,MKT,PROD,CP-MANUFACTURER,CP-FRANCHISE,CP-BRAND,CP-PRICE TIER,CP-SIZE,CP-MULTI,CP-SEGMENT,CP-ADULT VS KIDS,PRODUCT CODE,PER,% Stores Selling,Dollars,Dollars YAG %Chg,Units,Units YAG %Chg,$ Sales/$MM ACV,RASP w/Any Promo,RASP w/No Promo
0,Ahold,COLGATE BAKING SODA & PEROXIDE TOOTHPASTE BRIS...,COLGATE-PALMOLIVE,COLGATE,COLGATE BASE,MIDTIER,FAMILY,2 PK,ME WHITENING,ADULT,003500051120,Latest 26 Wks,10.834,15755.90,-6241.83,4745.0,-31.302,9.880,3.274,3.904
1,Ahold,COLGATE BAKING SODA & PEROXIDE TOOTHPASTE BRIS...,COLGATE-PALMOLIVE,COLGATE,COLGATE BASE,MIDTIER,LARGE,1 PK,ME WHITENING,ADULT,003500051092,Latest 26 Wks,0.033,14.36,14.36,4.0,NaN,2.928,NaN,3.590
2,Ahold,COLGATE BAKING SODA & PEROXIDE TOOTHPASTE BRIS...,COLGATE-PALMOLIVE,COLGATE,COLGATE BASE,MIDTIER,FAMILY,1 PK,ME WHITENING,ADULT,003500051087,Latest 26 Wks,88.188,146075.80,-39879.85,75613.0,-28.657,11.253,1.775,2.185

In [37]:
path_TP= "//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/05. Output Data/5P Output/TP/"

In [38]:
Sku_Opp_final.to_csv(path_TP+"SKU Opportunity_TP.csv",index=False)

## PTB

In [ ]:
path = "//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/03. Raw Data/Connect Data/SKU Opportunity Data"
files = os.listdir(path)

Selecting only **excel files** from all the files available in the above path

In [ ]:
files_xls = [f for f in files if f[-8:] == "PTB.xlsx"]
print("Total number of files in the folder are ",len(files_xls))

In [ ]:
files_xls

In [ ]:
Adult_Multi= pd.DataFrame()


Adult_Multi = pd.read_excel(path+"/"+'SKU Opportunity Adult Multi PTB.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Adult_Multi[["ShareBasis","CP-ADULT VS KIDS","CP-MULTI"]] = Adult_Multi['Products'].str.split('|',n=2,expand=True)

Adult_Multi[["ShareBasis","CP-ADULT VS KIDS","CP-MULTI"]]=Adult_Multi[["ShareBasis","CP-ADULT VS KIDS","CP-MULTI"]].fillna(value="")
        #Sku_Opp.head(3)


Adult_Multi['CP-MANUFACTURER']="CAT"

Adult_Multi = movecol(Adult_Multi, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-ADULT VS KIDS","CP-MULTI"], 
    ref_col='Markets',
    place='After')

Adult_Multi.head(5)

In [ ]:

Multi= pd.DataFrame()


Multi = pd.read_excel(path+"/"+'SKU Opportunity Multi PTB.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Multi[["ShareBasis","CP-MULTI"]] = Multi['Products'].str.split('|',n=1,expand=True)

Multi[["ShareBasis","CP-MULTI"]]=Multi[["ShareBasis","CP-MULTI"]].fillna(value="")
        #Sku_Opp.head(3)


Multi['CP-MANUFACTURER']="CAT"

Multi = movecol(Multi, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-MULTI"], 
    ref_col='Markets',
    place='After')
Multi.head(5)

In [ ]:

Adult_Kids= pd.DataFrame()


Adult_Kids = pd.read_excel(path+"/"+'SKU Opportunity Adult vs Kids PTB.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Adult_Kids[["ShareBasis","CP-ADULT VS KIDS"]] = Adult_Kids['Products'].str.split('|',n=1,expand=True)

Adult_Kids[["ShareBasis","CP-ADULT VS KIDS"]]=Adult_Kids[["ShareBasis","CP-ADULT VS KIDS"]].fillna(value="")
        #Sku_Opp.head(3)



Adult_Kids['CP-MANUFACTURER']="CAT"

Adult_Kids = movecol(Adult_Kids, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-ADULT VS KIDS"], 
    ref_col='Markets',
    place='After')
Adult_Kids.head(5)

In [ ]:
Power_Type= pd.DataFrame()


Power_Type = pd.read_excel(path+"/"+'SKU Opportunity Power Type PTB.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Power_Type[["ShareBasis","CP-POWER TYPE"]] = Power_Type['Products'].str.split('|',n=1,expand=True)

Power_Type[["ShareBasis","CP-POWER TYPE"]]=Power_Type[["ShareBasis","CP-POWER TYPE"]].fillna(value="")
        #Sku_Opp.head(3)

        # Moving columns after "Market"
Power_Type = movecol(Power_Type, 
    cols_to_move=["ShareBasis","CP-POWER TYPE"], 
    ref_col='Markets',
    place='After')

Power_Type['CP-MANUFACTURER']="CAT"


Power_Type = movecol(Power_Type, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-POWER TYPE"], 
    ref_col='Markets',
    place='After')
Power_Type.head(5)

In [ ]:

Adult_Power_Type_Multi= pd.DataFrame()


Adult_Power_Type_Multi = pd.read_excel(path+"/"+'SKU Opportunity Adult Power Type Multi PTB.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Adult_Power_Type_Multi[["ShareBasis","CP-ADULT VS KIDS","CP-POWER TYPE","CP-MULTI"]] = Adult_Power_Type_Multi['Products'].str.split('|',n=3,expand=True)

Adult_Power_Type_Multi[["ShareBasis","CP-ADULT VS KIDS","CP-POWER TYPE","CP-MULTI"]]=Adult_Power_Type_Multi[["ShareBasis","CP-ADULT VS KIDS","CP-POWER TYPE","CP-MULTI"]].fillna(value="")
        #Sku_Opp.head(3)



Adult_Power_Type_Multi['CP-MANUFACTURER']="CAT"

Adult_Power_Type_Multi = movecol(Adult_Power_Type_Multi, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-ADULT VS KIDS","CP-POWER TYPE","CP-MULTI"], 
    ref_col='Markets',
    place='After')
Adult_Power_Type_Multi.head(5)

In [ ]:

UPC_Level= pd.DataFrame()


UPC_Level = pd.read_excel(path+"/"+'SKU Opportunity PTB.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-ADULT VS KIDS","CP-POWER TYPE","CP-MULTI","CP-SUBBRAND","CP-SUBBRAND VARIANT","Products","PRODUCT CODE"]] = UPC_Level['Products'].str.split('|',n=10,expand=True)

UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-ADULT VS KIDS","CP-POWER TYPE","CP-MULTI","CP-SUBBRAND","CP-SUBBRAND VARIANT","Products","PRODUCT CODE"]]=UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-ADULT VS KIDS","CP-POWER TYPE","CP-MULTI","CP-SUBBRAND","CP-SUBBRAND VARIANT","Products","PRODUCT CODE"]].fillna(value="")
        #Sku_Opp.head(3)

        # Moving columns after "Market"
UPC_Level = movecol(UPC_Level, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-ADULT VS KIDS","CP-POWER TYPE","CP-MULTI","CP-SUBBRAND","CP-SUBBRAND VARIANT","Products","PRODUCT CODE"], 
    ref_col='Markets',
    place='After')


UPC_Level.head(5)

In [ ]:
Sku_Opp=pd.DataFrame()
Sku_Opp = pd.concat([Sku_Opp,Adult_Multi,Multi,Adult_Kids,Adult_Power_Type_Multi,Power_Type,UPC_Level],axis=0,ignore_index=True)
Sku_Opp = movecol(Sku_Opp, 
             cols_to_move=["ShareBasis","Products","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-ADULT VS KIDS","CP-POWER TYPE","CP-MULTI","CP-SUBBRAND","CP-SUBBRAND VARIANT","PRODUCT CODE"], 
             ref_col='Markets',
             place='After')
Sku_Opp.fillna("",inplace=True)
Sku_Opp.head()

In [ ]:
# Relaceing in Periods(Facts)
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("$","temp")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("- temp -","-")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("temp","$")


Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP FORM","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP USE","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP LDL AND FOAM","CP CATEGORY")

Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP LDL AND FM X DISHAIDS/WPS/SPR","CP CATEGORY")

Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP MEGA CATEGORY","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP BATTERY AND HYBRID","CP CATEGORY")


# Market name replaced
Sku_Opp["Markets"]=Sku_Opp["Markets"].str.replace("Walgreens Corp Total TA","Walgreens Total TA")

#replacing NaN values with 0
Sku_Opp.fillna(value=0,inplace=True)

In [ ]:
##Removing unwanted characters from all the column names** and store them in a list ***new_col_names***

new_col_names=[]
for i in Sku_Opp.columns:
    x=len(i)
    if x<=19:
        new_col_names.append(i)
    elif i[:3]=='YTD':
        new_col_names.append(i[:-16].strip('- '))
    else:
        new_col_names.append(i[:-14].strip('- '))
        

## Checking the duplicacte column in** ***Sku_Opp***

if(len(new_col_names)!=len(set(new_col_names))):
    print("\033[1;31m"+"*******************************ERROR*******************************\n\t\t\tWe have duplicate columns\n\t\t\tPlease recheck raw data files\n*******************************ERROR*******************************")

##Renaming the column names of ***Sku_Opp***

# Sku_Opp.rename(columns=dict(zip(Sku_Opp.columns,new_col_names)),inplace=True)
Sku_Opp.columns=new_col_names

In [ ]:
new_col_names

In [ ]:
Sku_Opp.columns

In [ ]:
##**Time period mapping**



time_period_map= pd.DataFrame({'Connect Time Period':['Markets', 'Products', 'Periods','Cal Yr 2020','Cal Yr 2019','Cal Yr 2018','Cal Yr 2017','YTD','YTD YA','Latest 13 Wks','Latest 26 Wks','OND 21','JAS 21','AMJ 21','JFM 21','OND 20','JAS 20','AMJ 20','JFM 20','OND 19','JAS 19','AMJ 19','Dec 21','Nov 21','Oct 21','Sep 21','Aug 21','Jul 21','Jun 21','May 21','Apr 21','Mar 21','Feb 21','Jan 21','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20'],
                               'Final Name':['Markets', 'Products', 'Periods','FY 2020','FY 2019','FY 2018','FY 2017','YTD 2021','YTD 2020','Latest 13 Weeks','Latest 26 Weeks','Q4 2021','Q3 2021','Q2 2021','Q1 2021','Q4 2020','Q3 2020','Q2 2020','Q1 2020','Q4 2019','Q3 2019','Q2 2019','Dec 21','Nov 21','Oct 21','Sep 21','Aug 21','Jul 21','Jun 21','May 21','Apr 21','Mar 21','Feb 21','Jan 21','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20']
                              ,'Order':range(1,47)})

time_period_map.head(5)

##We need to **change column names** of ***Sku_Opp*** and **reorder** them based on the time_period_mapping

# assigning variables
LM_column= list(Sku_Opp.columns)
time_connect=list(time_period_map["Connect Time Period"])
time_final=list(time_period_map["Final Name"])

# changing column names based on time_period_mapping
new_column=[]
for i in range(0,len(LM_column)):
    for j in range(0,len(time_connect)):
        if LM_column[i]==time_connect[j]:
            new_column.append(time_final[j])
        

print(new_column)

print(len(new_column),len(Sku_Opp.columns))

Sku_Opp.columns

#assigning new column names
#Sku_Opp.columns = new_column

# reordering column names
#my_list =time_period_map.iloc[:, 1]
#my_list1=Sku_Opp.columns
#result = [x for x in my_list if x in my_list1]
#Sku_Opp=Sku_Opp[result]

In [ ]:
##**Period Mapping**

Time_Mapping={
    "Nov 19":"4 W/E 11/23/19",
    "Dec 19":"5 W/E 12/28/19",
    "Jan 20":"4 W/E 01/25/20",
    "Feb 20":"4 W/E 02/22/20",
    "Mar 20":"5 W/E 03/28/20",
    "Apr 20":"4 W/E 04/25/20",
    "May 20":"4 W/E 05/23/20",
    "Jun 20":"5 W/E 06/27/20",
    "Jul 20":"4 W/E 07/25/20",
    "Aug 20":"4 W/E 08/22/20",
    "Sep 20":"5 W/E 09/26/20",
    "Oct 20":"4 W/E 10/24/20",
    "Nov 20":"4 W/E 11/21/20",
    "Dec 20":"5 W/E 12/26/20",
    "Jan 21":"4 W/E 01/23/21",
    "Feb 21":"4 W/E 02/20/21",
    "Mar 21":"5 W/E 03/27/21",
    "Apr 21":"4 W/E 04/24/21",
    "May 21":"4 W/E 05/22/21",
    "Jun 21":"5 W/E 06/26/21",
    "Jul 21":"4 W/E 07/24/21",
    "Aug 21":"4 W/E 08/21/21",
    "Sep 21":"5 W/E 09/25/21",
    "Oct 21":"4 W/E 10/23/21",
    "Nov 21":"4 W/E 11/20/21",
    "Dec 21":"5 W/E 12/25/21",
    "Jan 22":"4 W/E 01/22/22",
    "Feb 22":"4 W/E 02/19/22",
    "Mar 22":"5 W/E 03/26/22",
    "Apr 22":"4 W/E 04/23/22",
    "May 22":"5 W/E 05/21/22",
    "Jun 22":"4 W/E 06/25/22",
    "Jul 22":"4 W/E 07/23/22",
    "Aug 22":"5 W/E 08/20/22",
    "Sep 22":"4 W/E 09/24/22",
    "Oct 22":"4 W/E 10/22/22",
    "Nov 22":"5 W/E 11/19/22",
    "Dec 22":"4 W/E 12/24/22",
    "Jan 23":"4 W/E 01/21/23",
    "Feb 23":"5 W/E 02/18/23",
    "Mar 23":"4 W/E 03/25/23",
    "Apr 23":"4 W/E 04/22/23",
    "May 23":"5 W/E 05/20/23",
    "Jun 23":"4 W/E 06/24/23",
    "Jul 23":"4 W/E 07/22/23",
    "Aug 23":"5 W/E 08/19/23",
    "Sep 23":"4 W/E 09/23/23",
    "Oct 23":"5 W/E 10/21/23",
    "Nov 23":"4 W/E 11/18/23",
    "Dec 23":"4 W/E 12/23/23",
    "Jan 24":"5 W/E 01/20/24",
    "Feb 24":"4 W/E 02/17/24",
    "Mar 24":"4 W/E 03/23/24",
    "Apr 24":"5 W/E 04/20/24",
    "May 24":"4 W/E 05/18/24",
    "Jun 24":"4 W/E 06/22/24",
    "Jul 24":"5 W/E 07/20/24",
    "Aug 24":"4 W/E 08/17/24",
    "Sep 24":"4 W/E 09/21/24",
    "Oct 24":"5 W/E 10/19/24",
    "Nov 24":"4 W/E 11/16/24",
    "Dec 24":"4 W/E 12/21/24",
    "Jan 25":"5 W/E 01/18/25",
    "Feb 25":"4 W/E 02/15/25",
    "Mar 25":"5 W/E 03/22/25",
    "Apr 25":"4 W/E 04/19/25",
    "May 25":"4 W/E 05/17/25",
    "Jun 25":"5 W/E 06/21/25",
    "Jul 25":"4 W/E 07/19/25",
    "Aug 25":"4 W/E 08/16/25",
    "Sep 25":"5 W/E 09/20/25",
    "Oct 25":"4 W/E 10/18/25",
    "Nov 25":"4 W/E 11/15/25",
    "Dec 25":"5 W/E 12/20/25",
    "Jan 26":"4 W/E 01/17/26",
    "Feb 26":"4 W/E 02/14/26",
    "Mar 26":"5 W/E 03/21/26",
    "Apr 26":"4 W/E 04/18/26",
    "May 26":"4 W/E 05/16/26",
    "Jun 26":"5 W/E 06/20/26",
    "Jul 26":"4 W/E 07/18/26",
    "Aug 26":"5 W/E 08/15/26",
    "Sep 26":"4 W/E 09/19/26",
    "Oct 26":"4 W/E 10/17/26",
    "Nov 26":"5 W/E 11/14/26",
    "Dec 26":"4 W/E 12/19/26"
}


Sku_Opp.rename(columns=Time_Mapping,inplace=True)

In [ ]:
Market_Mapping={
    
     'ALBSCO Total Company TA':'Alb/Sfy',
     'Agency Grocery':'Agency Grocery',
     'Ahold USA Corp Total TA':"Ahold",
     'BJs Total TA':"BJs",
     'CLUB':"CLUB",
     'CVS Total Corp WO HI TA':"CVS",
     'Dol Gen Total TA':"Dollar General",
     'El Super Total TA':'El Super',
     'FDM':"FDM",
     'Family Dollar Total TA':"Family Dollar",
     'Fiesta Total TA':"Fiesta",
     'Giant Eagle Total TA':"Giant Eagle",
     'Kmart Total TA':"Kmart",
     'Meijer Total TA':"Meijer",
     'Publix Total TA':"Publix",
     'Rite Aid - Corp Total TA':"Rite Aid",
     "Sam's Total TA":"Sams",
     'ShopRite Total TA':"Shoprite",
     'Strategic Grocery':"Strategic Grocery",
     'TOTAL MASS':"TOTAL MASS",
     'Target Total BM/FF TA':"Target",
     'Total US Drug':"US Drug",
     'Total US Food':"US Food",
     'Total US xAOC':"US AOC",
     'VDC':"VDC",
     'Walgreens Total TA':"Walgreens",
     'Walmart Total US TA':"Walmart",
     'Wegmans Total TA':"Wegmans"
    }


Sku_Opp["Markets"].replace(Market_Mapping,inplace=True)

In [ ]:
#Changing Column Name

Sku_Opp.rename(columns={"Periods":"Facts"},inplace=True)

In [ ]:
##**Filter Condition**
#Taking only those products whose **Latest Month Dollar Share** is **greater than 0.07** for all the markets

# Sku_Opp.iloc[:,3:]= Sku_Opp.iloc[:,3:].apply(pd.to_numeric)

# Sku_Opp.info()

# df=Sku_Opp[(Sku_Opp['Facts'] == '$ Shr - CP CATEGORY') & ( Sku_Opp.iloc[:,19] > 0.07 )]

# # total number of unique Products 
# len(np.unique(list(df["Products"])))

# Sku_Opp=Sku_Opp[Sku_Opp['Products'].isin(list(df["Products"]))]
# Sku_Opp.head(3)

# len(set(Sku_Opp["Products"]))

In [ ]:
#***movecol*** function to **rearranging** the columns of a dataframe

def movecol(df, cols_to_move=[], ref_col='', place=''):
    cols = df.columns.tolist()
    if place == 'After':
        seg1 = cols[:list(cols).index(ref_col) + 1]
        seg2 = cols_to_move
    if place == 'Before':
        seg1 = cols[:list(cols).index(ref_col)]
        seg2 = cols_to_move + [ref_col]
    seg1 = [i for i in seg1 if i not in seg2]
    seg3 = [i for i in cols if i not in seg1 + seg2]
    
    return(df[seg1 + seg2 + seg3])

In [ ]:
cols=list(Sku_Opp.columns[0:12])
Sku_Opp[cols]=Sku_Opp[cols].apply(lambda x : x.str.strip())

**Selection**

In [ ]:
SKU_Facts_Mapping={
    '$':"Dollars",
     '$ / $MM ACV':"$ Sales/$MM ACV",
     '$ Chg YA':"Dollars YAG %Chg",
     '%ACV':"% Stores Selling",
     'Any Promo Unit Price':"RASP w/Any Promo",
     'No Promo Unit Price':"RASP w/No Promo",
     'Units':"Units",
     'Units % Chg YA':"Units YAG %Chg"
    }

Sku_Opp["Facts"]=Sku_Opp["Facts"].replace(SKU_Facts_Mapping)

In [ ]:
Sku_Opp_PTB=Sku_Opp[Sku_Opp["ShareBasis"]=="POWER"]

In [ ]:
Sku_Opp_PTB.info()

In [ ]:
Time_Period=list(Sku_Opp_PTB.columns[13:14])
print(Time_Period)

In [ ]:
Sku_Opp_PTB.columns

In [ ]:
Sku_Opp_PTB.rename(columns={'Markets':"MKT",'Products':'PROD'
                           },inplace=True)

In [ ]:
df1=pd.melt(Sku_Opp_PTB, id_vars =["MKT","PROD","ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-ADULT VS KIDS","CP-POWER TYPE","CP-MULTI","CP-SUBBRAND","CP-SUBBRAND VARIANT","PRODUCT CODE","Facts"], value_vars =Time_Period,var_name="PER")

df1["value"]=df1["value"].apply(pd.to_numeric)
df1.head()

In [ ]:
df2=df1.pivot_table(index=["MKT","PROD","ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-ADULT VS KIDS","CP-POWER TYPE","CP-MULTI","CP-SUBBRAND","CP-SUBBRAND VARIANT","PRODUCT CODE",'PER'],columns='Facts')

df2.columns=df2.columns.droplevel().rename(None)
df2.reset_index(inplace =True)

In [ ]:
# from pandas.api.types import CategoricalDtype

# Time_Period_order = CategoricalDtype(
#     Time_Period, 
#     ordered=True
# )

# df2['PER'] = df2['PER'].astype(Time_Period_order)

df2.sort_values(['MKT','PROD','PER'],inplace=True)

In [ ]:
df2.columns

In [ ]:


final_column_sorting=["MKT","PROD","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-ADULT VS KIDS",
                      "CP-POWER TYPE","CP-MULTI",'CP-SUBBRAND',"CP-SUBBRAND VARIANT","PRODUCT CODE","PER","% Stores Selling"
                      ,"Dollars","$ % Chg YA",
                      "Units","Units YAG %Chg","$ Sales/$MM ACV","RASP w/Any Promo","RASP w/No Promo"
                      ]
Sku_Opp_final=df2[final_column_sorting]

In [ ]:
Sku_Opp_final.head(3)

In [ ]:
Sku_Opp_final.rename(columns={'$ % Chg YA':"Dollars YAG %Chg"
                           },inplace=True)

In [ ]:
path_PTB= "//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/05. Output Data/5P Output/PTB/"

In [ ]:
Sku_Opp_final.to_csv(path_PTB+"SKU Opportunity_PTB.csv",index=False)

## MTB

In [ ]:
path = "//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/03. Raw Data/Connect Data/SKU Opportunity Data"
files = os.listdir(path)

Selecting only **excel files** from all the files available in the above path

In [ ]:
files_xls = [f for f in files if f[-8:] == "MTB.xlsx"]
print("Total number of files in the folder are ",len(files_xls))

In [ ]:
files_xls

**Appending the read files in rows and storing them in a single dataframe** named ***UPC_Monthly***.

Printing number of columns and number of facts in each file.
Also checking the execution time of the code

In [ ]:

Adult_Multi= pd.DataFrame()


Adult_Multi = pd.read_excel(path+"/"+'SKU Opportunity Adult Multi MTB.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Adult_Multi[["ShareBasis","CP-ADULT VS KIDS","CP-MULTI"]] = Adult_Multi['Products'].str.split('|',n=2,expand=True)

Adult_Multi[["ShareBasis","CP-ADULT VS KIDS","CP-MULTI"]]=Adult_Multi[["ShareBasis","CP-ADULT VS KIDS","CP-MULTI"]].fillna(value="")
        #Sku_Opp.head(3)


Adult_Multi['CP-MANUFACTURER']="CAT"
Adult_Multi['CP-SEGMENT']="MANUAL"

Adult_Multi = movecol(Adult_Multi, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-ADULT VS KIDS","CP-MULTI","CP-SEGMENT"], 
    ref_col='Markets',
    place='After')

Adult_Multi.head(5)

In [ ]:

Multi= pd.DataFrame()


Multi = pd.read_excel(path+"/"+'SKU Opportunity Multi MTB.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Multi[["ShareBasis","CP-MULTI"]] = Multi['Products'].str.split('|',n=1,expand=True)

Multi[["ShareBasis","CP-MULTI"]]=Multi[["ShareBasis","CP-MULTI"]].fillna(value="")
        #Sku_Opp.head(3)


Multi['CP-MANUFACTURER']="CAT"
Multi['CP-SEGMENT']="MANUAL"
Multi = movecol(Multi, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-MULTI","CP-SEGMENT"], 
    ref_col='Markets',
    place='After')
Multi.head(5)

In [ ]:

Adult_Kids= pd.DataFrame()


Adult_Kids = pd.read_excel(path+"/"+'SKU Opportunity Adult vs Kids MTB.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Adult_Kids[["ShareBasis","CP-ADULT VS KIDS"]] = Adult_Kids['Products'].str.split('|',n=1,expand=True)

Adult_Kids[["ShareBasis","CP-ADULT VS KIDS"]]=Adult_Kids[["ShareBasis","CP-ADULT VS KIDS"]].fillna(value="")
        #Sku_Opp.head(3)



Adult_Kids['CP-MANUFACTURER']="CAT"
Adult_Kids['CP-SEGMANT']="MANUAL"
Adult_Kids = movecol(Adult_Kids, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-ADULT VS KIDS","CP-SEGMANT"], 
    ref_col='Markets',
    place='After')
Adult_Kids.head(5)

In [ ]:

Price_Tier= pd.DataFrame()


Price_Tier = pd.read_excel(path+"/"+'SKU Opportunity Price Tier MTB.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Price_Tier[["ShareBasis","CP-PRICE TIER"]] = Price_Tier['Products'].str.split('|',n=1,expand=True)

Price_Tier[["ShareBasis","CP-PRICE TIER"]]=Price_Tier[["ShareBasis","CP-PRICE TIER"]].fillna(value="")
        #Sku_Opp.head(3)

        # Moving columns after "Market"
Price_Tier = movecol(Price_Tier, 
    cols_to_move=["ShareBasis","CP-PRICE TIER"], 
    ref_col='Markets',
    place='After')

Price_Tier['CP-MANUFACTURER']="CAT"
Price_Tier['CP-SEGMANT']="MANUAL"

Price_Tier = movecol(Price_Tier, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-PRICE TIER","CP-SEGMANT"], 
    ref_col='Markets',
    place='After')
Price_Tier.head(5)

In [ ]:

Price_Tier_Adult_Multi= pd.DataFrame()


Price_Tier_Adult_Multi = pd.read_excel(path+"/"+'SKU Opportunity Price Tier Adult Multi MTB.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Price_Tier_Adult_Multi[["ShareBasis","CP-PRICE TIER","CP-ADULT VS KIDS","CP-MULTI"]] = Price_Tier_Adult_Multi['Products'].str.split('|',n=3,expand=True)

Price_Tier_Adult_Multi[["ShareBasis","CP-PRICE TIER","CP-ADULT VS KIDS","CP-MULTI"]]=Price_Tier_Adult_Multi[["ShareBasis","CP-PRICE TIER","CP-ADULT VS KIDS","CP-MULTI"]].fillna(value="")
        #Sku_Opp.head(3)



Price_Tier_Adult_Multi['CP-MANUFACTURER']="CAT"
Price_Tier_Adult_Multi['CP-SEGMANT']="MANUAL"

Price_Tier_Adult_Multi = movecol(Price_Tier_Adult_Multi, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-PRICE TIER","CP-ADULT VS KIDS","CP-MULTI","CP-SEGMANT"], 
    ref_col='Markets',
    place='After')
Price_Tier_Adult_Multi.head(5)

In [ ]:

UPC_Level= pd.DataFrame()


UPC_Level = pd.read_excel(path+"/"+'SKU Opportunity MTB.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-PRICE TIER","CP-ADULT VS KIDS","CP-MULTI","CP-SUBBRAND","Products","PRODUCT CODE"]] = UPC_Level['Products'].str.split('|',n=9,expand=True)

UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-PRICE TIER","CP-ADULT VS KIDS","CP-MULTI","CP-SUBBRAND","Products","PRODUCT CODE"]]=UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-PRICE TIER","CP-ADULT VS KIDS","CP-MULTI","CP-SUBBRAND","Products","PRODUCT CODE"]].fillna(value="")
        #Sku_Opp.head(3)
UPC_Level['CP-SEGMANT']="MANUAL"
        # Moving columns after "Market"
UPC_Level = movecol(UPC_Level, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-PRICE TIER","CP-ADULT VS KIDS","CP-MULTI","CP-SUBBRAND","Products","PRODUCT CODE","CP-SEGMANT"], 
    ref_col='Markets',
    place='After')


UPC_Level.head(5)

In [ ]:
Sku_Opp=pd.DataFrame()
Sku_Opp = pd.concat([Sku_Opp,Adult_Multi,Multi,Adult_Kids,Price_Tier,Price_Tier_Adult_Multi,UPC_Level],axis=0,ignore_index=True)
Sku_Opp = movecol(Sku_Opp, 
             cols_to_move=["ShareBasis","Products","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-PRICE TIER","CP-ADULT VS KIDS","CP-MULTI","CP-SEGMANT","CP-SUBBRAND","PRODUCT CODE"], 
             ref_col='Markets',
             place='After')
Sku_Opp.fillna("",inplace=True)
Sku_Opp.head()

In [ ]:
# Relaceing in Periods(Facts)
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("$","temp")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("- temp -","-")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("temp","$")


Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP FORM","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP USE","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP LDL AND FOAM","CP CATEGORY")

Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP LDL AND FM X DISHAIDS/WPS/SPR","CP CATEGORY")

Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP MEGA CATEGORY","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP BATTERY AND HYBRID","CP CATEGORY")


# Market name replaced
Sku_Opp["Markets"]=Sku_Opp["Markets"].str.replace("Walgreens Corp Total TA","Walgreens Total TA")

#replacing NaN values with 0
Sku_Opp.fillna(value=0,inplace=True)

In [ ]:
##Removing unwanted characters from all the column names** and store them in a list ***new_col_names***

new_col_names=[]
for i in Sku_Opp.columns:
    x=len(i)
    if x<=17:
        new_col_names.append(i)
    elif i[:3]=='YTD':
        new_col_names.append(i[:-16].strip('- '))
    else:
        new_col_names.append(i[:-14].strip('- '))
        

## Checking the duplicacte column in** ***Sku_Opp***

if(len(new_col_names)!=len(set(new_col_names))):
    print("\033[1;31m"+"*******************************ERROR*******************************\n\t\t\tWe have duplicate columns\n\t\t\tPlease recheck raw data files\n*******************************ERROR*******************************")

##Renaming the column names of ***Sku_Opp***

# Sku_Opp.rename(columns=dict(zip(Sku_Opp.columns,new_col_names)),inplace=True)
Sku_Opp.columns=new_col_names

In [ ]:
new_col_names

In [ ]:
Sku_Opp.columns

In [ ]:
##**Time period mapping**



time_period_map= pd.DataFrame({'Connect Time Period':['Markets', 'Products', 'Periods','Cal Yr 2020','Cal Yr 2019','Cal Yr 2018','Cal Yr 2017','YTD','YTD YA','Latest 13 Wks','Latest 26 Wks','OND 21','JAS 21','AMJ 21','JFM 21','OND 20','JAS 20','AMJ 20','JFM 20','OND 19','JAS 19','AMJ 19','Dec 21','Nov 21','Oct 21','Sep 21','Aug 21','Jul 21','Jun 21','May 21','Apr 21','Mar 21','Feb 21','Jan 21','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20'],
                               'Final Name':['Markets', 'Products', 'Periods','FY 2020','FY 2019','FY 2018','FY 2017','YTD 2021','YTD 2020','Latest 13 Weeks','Latest 26 Weeks','Q4 2021','Q3 2021','Q2 2021','Q1 2021','Q4 2020','Q3 2020','Q2 2020','Q1 2020','Q4 2019','Q3 2019','Q2 2019','Dec 21','Nov 21','Oct 21','Sep 21','Aug 21','Jul 21','Jun 21','May 21','Apr 21','Mar 21','Feb 21','Jan 21','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20']
                              ,'Order':range(1,47)})

time_period_map.head(5)

##We need to **change column names** of ***Sku_Opp*** and **reorder** them based on the time_period_mapping

# assigning variables
LM_column= list(Sku_Opp.columns)
time_connect=list(time_period_map["Connect Time Period"])
time_final=list(time_period_map["Final Name"])

# changing column names based on time_period_mapping
new_column=[]
for i in range(0,len(LM_column)):
    for j in range(0,len(time_connect)):
        if LM_column[i]==time_connect[j]:
            new_column.append(time_final[j])
        

print(new_column)

print(len(new_column),len(Sku_Opp.columns))

Sku_Opp.columns

#assigning new column names
Sku_Opp.columns = new_column

# reordering column names
#my_list =time_period_map.iloc[:, 1]
#my_list1=Sku_Opp.columns
#result = [x for x in my_list if x in my_list1]
#Sku_Opp=Sku_Opp[result]

In [ ]:
##**Period Mapping**

Time_Mapping={
    "Nov 19":"4 W/E 11/23/19",
    "Dec 19":"5 W/E 12/28/19",
    "Jan 20":"4 W/E 01/25/20",
    "Feb 20":"4 W/E 02/22/20",
    "Mar 20":"5 W/E 03/28/20",
    "Apr 20":"4 W/E 04/25/20",
    "May 20":"4 W/E 05/23/20",
    "Jun 20":"5 W/E 06/27/20",
    "Jul 20":"4 W/E 07/25/20",
    "Aug 20":"4 W/E 08/22/20",
    "Sep 20":"5 W/E 09/26/20",
    "Oct 20":"4 W/E 10/24/20",
    "Nov 20":"4 W/E 11/21/20",
    "Dec 20":"5 W/E 12/26/20",
    "Jan 21":"4 W/E 01/23/21",
    "Feb 21":"4 W/E 02/20/21",
    "Mar 21":"5 W/E 03/27/21",
    "Apr 21":"4 W/E 04/24/21",
    "May 21":"4 W/E 05/22/21",
    "Jun 21":"5 W/E 06/26/21",
    "Jul 21":"4 W/E 07/24/21",
    "Aug 21":"4 W/E 08/21/21",
    "Sep 21":"5 W/E 09/25/21",
    "Oct 21":"4 W/E 10/23/21",
    "Nov 21":"4 W/E 11/20/21",
    "Dec 21":"5 W/E 12/25/21",
    "Jan 22":"4 W/E 01/22/22",
    "Feb 22":"4 W/E 02/19/22",
    "Mar 22":"5 W/E 03/26/22",
    "Apr 22":"4 W/E 04/23/22",
    "May 22":"5 W/E 05/21/22",
    "Jun 22":"4 W/E 06/25/22",
    "Jul 22":"4 W/E 07/23/22",
    "Aug 22":"5 W/E 08/20/22",
    "Sep 22":"4 W/E 09/24/22",
    "Oct 22":"4 W/E 10/22/22",
    "Nov 22":"5 W/E 11/19/22",
    "Dec 22":"4 W/E 12/24/22",
    "Jan 23":"4 W/E 01/21/23",
    "Feb 23":"5 W/E 02/18/23",
    "Mar 23":"4 W/E 03/25/23",
    "Apr 23":"4 W/E 04/22/23",
    "May 23":"5 W/E 05/20/23",
    "Jun 23":"4 W/E 06/24/23",
    "Jul 23":"4 W/E 07/22/23",
    "Aug 23":"5 W/E 08/19/23",
    "Sep 23":"4 W/E 09/23/23",
    "Oct 23":"5 W/E 10/21/23",
    "Nov 23":"4 W/E 11/18/23",
    "Dec 23":"4 W/E 12/23/23",
    "Jan 24":"5 W/E 01/20/24",
    "Feb 24":"4 W/E 02/17/24",
    "Mar 24":"4 W/E 03/23/24",
    "Apr 24":"5 W/E 04/20/24",
    "May 24":"4 W/E 05/18/24",
    "Jun 24":"4 W/E 06/22/24",
    "Jul 24":"5 W/E 07/20/24",
    "Aug 24":"4 W/E 08/17/24",
    "Sep 24":"4 W/E 09/21/24",
    "Oct 24":"5 W/E 10/19/24",
    "Nov 24":"4 W/E 11/16/24",
    "Dec 24":"4 W/E 12/21/24",
    "Jan 25":"5 W/E 01/18/25",
    "Feb 25":"4 W/E 02/15/25",
    "Mar 25":"5 W/E 03/22/25",
    "Apr 25":"4 W/E 04/19/25",
    "May 25":"4 W/E 05/17/25",
    "Jun 25":"5 W/E 06/21/25",
    "Jul 25":"4 W/E 07/19/25",
    "Aug 25":"4 W/E 08/16/25",
    "Sep 25":"5 W/E 09/20/25",
    "Oct 25":"4 W/E 10/18/25",
    "Nov 25":"4 W/E 11/15/25",
    "Dec 25":"5 W/E 12/20/25",
    "Jan 26":"4 W/E 01/17/26",
    "Feb 26":"4 W/E 02/14/26",
    "Mar 26":"5 W/E 03/21/26",
    "Apr 26":"4 W/E 04/18/26",
    "May 26":"4 W/E 05/16/26",
    "Jun 26":"5 W/E 06/20/26",
    "Jul 26":"4 W/E 07/18/26",
    "Aug 26":"5 W/E 08/15/26",
    "Sep 26":"4 W/E 09/19/26",
    "Oct 26":"4 W/E 10/17/26",
    "Nov 26":"5 W/E 11/14/26",
    "Dec 26":"4 W/E 12/19/26"
}


Sku_Opp.rename(columns=Time_Mapping,inplace=True)

In [ ]:
Market_Mapping={
    
     'ALBSCO Total Company TA':'Alb/Sfy',
     'Agency Grocery':'Agency Grocery',
     'Ahold USA Corp Total TA':"Ahold",
     'BJs Total TA':"BJs",
     'CLUB':"CLUB",
     'CVS Total Corp WO HI TA':"CVS",
     'Dol Gen Total TA':"Dollar General",
     'El Super Total TA':'El Super',
     'FDM':"FDM",
     'Family Dollar Total TA':"Family Dollar",
     'Fiesta Total TA':"Fiesta",
     'Giant Eagle Total TA':"Giant Eagle",
     'Kmart Total TA':"Kmart",
     'Meijer Total TA':"Meijer",
     'Publix Total TA':"Publix",
     'Rite Aid - Corp Total TA':"Rite Aid",
     "Sam's Total TA":"Sams",
     'ShopRite Total TA':"Shoprite",
     'Strategic Grocery':"Strategic Grocery",
     'TOTAL MASS':"TOTAL MASS",
     'Target Total BM/FF TA':"Target",
     'Total US Drug':"US Drug",
     'Total US Food':"US Food",
     'Total US xAOC':"US AOC",
     'VDC':"VDC",
     'Walgreens Total TA':"Walgreens",
     'Walmart Total US TA':"Walmart",
     'Wegmans Total TA':"Wegmans"
    }


Sku_Opp["Markets"].replace(Market_Mapping,inplace=True)

In [ ]:
#Changing Column Name

Sku_Opp.rename(columns={"Periods":"Facts"},inplace=True)

In [ ]:
##**Filter Condition**
#Taking only those products whose **Latest Month Dollar Share** is **greater than 0.07** for all the markets

# Sku_Opp.iloc[:,3:]= Sku_Opp.iloc[:,3:].apply(pd.to_numeric)

# Sku_Opp.info()

# df=Sku_Opp[(Sku_Opp['Facts'] == '$ Shr - CP CATEGORY') & ( Sku_Opp.iloc[:,19] > 0.07 )]

# # total number of unique Products 
# len(np.unique(list(df["Products"])))

# Sku_Opp=Sku_Opp[Sku_Opp['Products'].isin(list(df["Products"]))]
# Sku_Opp.head(3)

# len(set(Sku_Opp["Products"]))

In [ ]:
#***movecol*** function to **rearranging** the columns of a dataframe

def movecol(df, cols_to_move=[], ref_col='', place=''):
    cols = df.columns.tolist()
    if place == 'After':
        seg1 = cols[:list(cols).index(ref_col) + 1]
        seg2 = cols_to_move
    if place == 'Before':
        seg1 = cols[:list(cols).index(ref_col)]
        seg2 = cols_to_move + [ref_col]
    seg1 = [i for i in seg1 if i not in seg2]
    seg3 = [i for i in cols if i not in seg1 + seg2]
    
    return(df[seg1 + seg2 + seg3])

In [ ]:
cols=list(Sku_Opp.columns[0:12])
Sku_Opp[cols]=Sku_Opp[cols].apply(lambda x : x.str.strip())

**Selection**

In [ ]:
SKU_Facts_Mapping={
    '$':"Dollars",
     '$ / $MM ACV':"$ Sales/$MM ACV",
     '$ Chg YA':"Dollars YAG %Chg",
     '%ACV':"% Stores Selling",
     'Any Promo Unit Price':"RASP w/Any Promo",
     'No Promo Unit Price':"RASP w/No Promo",
     'Units':"Units",
     'Units % Chg YA':"Units YAG %Chg"
    }

Sku_Opp["Facts"]=Sku_Opp["Facts"].replace(SKU_Facts_Mapping)

In [ ]:
Sku_Opp.head()

In [ ]:
Sku_Opp_MTB=Sku_Opp[Sku_Opp["ShareBasis"]=="MANUAL"]

In [ ]:
Sku_Opp_MTB.info()

In [ ]:
Time_Period=list(Sku_Opp_MTB.columns[14:15])
print(Time_Period)

In [ ]:
Sku_Opp_MTB.columns

In [ ]:
Sku_Opp_MTB.rename(columns={'Markets':"MKT",'Products':"PROD"
                           },inplace=True)

In [ ]:
df1=pd.melt(Sku_Opp_MTB, id_vars =["MKT","ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-PRICE TIER","CP-ADULT VS KIDS","CP-MULTI","CP-SEGMANT","CP-SUBBRAND","PROD","PRODUCT CODE","Facts"], value_vars =Time_Period,var_name="PER")

df1["value"]=df1["value"].apply(pd.to_numeric)

In [ ]:
df1.head(2)

In [ ]:
df2=df1.pivot_table(index=["MKT","ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-PRICE TIER","CP-ADULT VS KIDS","CP-MULTI","CP-SEGMANT","CP-SUBBRAND","PROD","PRODUCT CODE",'PER'],columns='Facts')

df2.columns=df2.columns.droplevel().rename(None)
df2.reset_index(inplace =True)

In [ ]:
df2.head()

In [ ]:
# from pandas.api.types import CategoricalDtype

# Time_Period_order = CategoricalDtype(
#     Time_Period, 
#     ordered=True
# )

# df2['PER'] = df2['PER'].astype(Time_Period_order)

df2.sort_values(['MKT','PROD','PER'],inplace=True)

In [ ]:
df2.columns
df2["CP-SEGMANT"]="MANUAL"

In [ ]:


final_column_sorting=["MKT","PROD","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND",
                      "CP-PRICE TIER","CP-ADULT VS KIDS","CP-MULTI","CP-SEGMANT","CP-SUBBRAND","PRODUCT CODE",'PER'
                      ,"% Stores Selling","Dollars","$ % Chg YA",
                      "Units","Units YAG %Chg","$ Sales/$MM ACV","RASP w/Any Promo","RASP w/No Promo"
                      ]
Sku_Opp_final=df2[final_column_sorting]

In [ ]:
Sku_Opp_final.head(3)

In [ ]:
Sku_Opp_final.rename(columns={'$ % Chg YA':"Dollars YAG %Chg"
                           },inplace=True)

In [ ]:
path_MTB = "//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/05. Output Data/5P Output/MTB/"

In [ ]:
Sku_Opp_final.to_csv(path_MTB+"SKU Opportunity_MTB.csv",index=False)

## MW

In [4]:
path = "//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/03. Raw Data/Connect Data/SKU Opportunity Data"
files = os.listdir(path)

Selecting only **excel files** from all the files available in the above path

In [5]:
files_xls = [f for f in files if f[-7:] == "MW.xlsx"]
print("Total number of files in the folder are ",len(files_xls))

Total number of files in the folder are  7

In [6]:
files_xls

['SKU Opportunity Adult Global Segment MW.xlsx',
 'SKU Opportunity Adult Size Range MW.xlsx',
 'SKU Opportunity Adult vs Kids MW.xlsx',
 'SKU Opportunity MW.xlsx',
 'SKU Opportunity Price Tier Adult MW.xlsx',
 'SKU Opportunity Price Tier MW.xlsx',
 'SKU Opportunity Size Range MW.xlsx']

**Appending the read files in rows and storing them in a single dataframe** named ***UPC_Monthly***.

Printing number of columns and number of facts in each file.
Also checking the execution time of the code

In [7]:

Global_Segment= pd.DataFrame()


Global_Segment = pd.read_excel(path+"/"+'SKU Opportunity Adult Global Segment MW.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Global_Segment[["ShareBasis","CP-ADULT VS KIDS","CP-GLOBAL SEGMENT"]] = Global_Segment['Products'].str.split('|',n=2,expand=True)

Global_Segment[["ShareBasis","CP-ADULT VS KIDS","CP-GLOBAL SEGMENT"]]=Global_Segment[["ShareBasis","CP-ADULT VS KIDS","CP-GLOBAL SEGMENT"]].fillna(value="")
        #Sku_Opp.head(3)

        # Moving columns after "Market"
Global_Segment = movecol(Global_Segment, 
    cols_to_move=["ShareBasis","CP-ADULT VS KIDS","CP-GLOBAL SEGMENT"], 
    ref_col='Markets',
    place='After')

Global_Segment['CP-MANUFACTURER']="CAT"

Global_Segment = movecol(Global_Segment, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-ADULT VS KIDS","CP-GLOBAL SEGMENT"], 
    ref_col='Markets',
    place='After')
    
Global_Segment.head(5)

,Markets,ShareBasis,CP-MANUFACTURER,CP-ADULT VS KIDS,CP-GLOBAL SEGMENT,Products,Periods,Latest 26 Wks - w/e 02/27/21
0,Total US xAOC,MOUTHWASH,CAT,ADULT,ANTICAVITY,MOUTHWASH | ADULT | ANTICAVITY,%ACV,7.205500e+01
1,Total US xAOC,MOUTHWASH,CAT,ADULT,ANTICAVITY,MOUTHWASH | ADULT | ANTICAVITY,$ / $MM ACV,3.904000e+01
2,Total US xAOC,MOUTHWASH,CAT,ADULT,ANTICAVITY,MOUTHWASH | ADULT | ANTICAVITY,$,1.735231e+07
3,Total US xAOC,MOUTHWASH,CAT,ADULT,ANTICAVITY,MOUTHWASH | ADULT | ANTICAVITY,$ % Chg YA,-1.967000e+00
4,Total US xAOC,MOUTHWASH,CAT,ADULT,ANTICAVITY,MOUTHWASH | ADULT | ANTICAVITY,Units,4.224414e+06

In [8]:

Adult_Size= pd.DataFrame()


Adult_Size = pd.read_excel(path+"/"+'SKU Opportunity Adult Size Range MW.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Adult_Size[["ShareBasis","CP-ADULT VS KIDS","CP-SIZE RANGE"]] = Adult_Size['Products'].str.split('|',n=2,expand=True)

Adult_Size[["ShareBasis","CP-ADULT VS KIDS","CP-SIZE RANGE"]]=Adult_Size[["ShareBasis","CP-ADULT VS KIDS","CP-SIZE RANGE"]].fillna(value="")
        #Sku_Opp.head(3)

        # Moving columns after "Market"
Adult_Size = movecol(Adult_Size, 
    cols_to_move=["ShareBasis","CP-ADULT VS KIDS","CP-SIZE RANGE"], 
    ref_col='Markets',
    place='After')

Adult_Size['CP-MANUFACTURER']="CAT"

Adult_Size = movecol(Adult_Size, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-ADULT VS KIDS","CP-SIZE RANGE"], 
    ref_col='Markets',
    place='After')
Adult_Size.head(5)

,Markets,ShareBasis,CP-MANUFACTURER,CP-ADULT VS KIDS,CP-SIZE RANGE,Products,Periods,Latest 26 Wks - w/e 02/27/21
0,Total US xAOC,MOUTHWASH,CAT,ADULT,24-25.4 OZ,MOUTHWASH | ADULT | 24-25.4 OZ,%ACV,44.165
1,Total US xAOC,MOUTHWASH,CAT,ADULT,24-25.4 OZ,MOUTHWASH | ADULT | 24-25.4 OZ,$ / $MM ACV,19.296
2,Total US xAOC,MOUTHWASH,CAT,ADULT,24-25.4 OZ,MOUTHWASH | ADULT | 24-25.4 OZ,$,5256833.745
3,Total US xAOC,MOUTHWASH,CAT,ADULT,24-25.4 OZ,MOUTHWASH | ADULT | 24-25.4 OZ,$ % Chg YA,-9.894
4,Total US xAOC,MOUTHWASH,CAT,ADULT,24-25.4 OZ,MOUTHWASH | ADULT | 24-25.4 OZ,Units,1480569.360

In [9]:

Size_Range= pd.DataFrame()


Size_Range = pd.read_excel(path+"/"+'SKU Opportunity Size Range MW.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Size_Range[["ShareBasis","CP-SIZE RANGE"]] = Size_Range['Products'].str.split('|',n=1,expand=True)

Size_Range[["ShareBasis","CP-SIZE RANGE"]]=Size_Range[["ShareBasis","CP-SIZE RANGE"]].fillna(value="")
        #Sku_Opp.head(3)

        # Moving columns after "Market"
Size_Range = movecol(Size_Range, 
    cols_to_move=["ShareBasis","CP-SIZE RANGE"], 
    ref_col='Markets',
    place='After')


Size_Range['CP-MANUFACTURER']="CAT"

Size_Range = movecol(Size_Range, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-SIZE RANGE"], 
    ref_col='Markets',
    place='After')
Size_Range.head(5)

,Markets,ShareBasis,CP-MANUFACTURER,CP-SIZE RANGE,Products,Periods,Latest 26 Wks - w/e 02/27/21
0,Total US xAOC,MOUTHWASH,CAT,11-12 OZ,MOUTHWASH | 11-12 OZ,%ACV,0.001
1,Total US xAOC,MOUTHWASH,CAT,11-12 OZ,MOUTHWASH | 11-12 OZ,$ / $MM ACV,138.213
2,Total US xAOC,MOUTHWASH,CAT,11-12 OZ,MOUTHWASH | 11-12 OZ,$,1069.630
3,Total US xAOC,MOUTHWASH,CAT,11-12 OZ,MOUTHWASH | 11-12 OZ,$ % Chg YA,NaN
4,Total US xAOC,MOUTHWASH,CAT,11-12 OZ,MOUTHWASH | 11-12 OZ,Units,241.000

In [10]:

Adult_Kids= pd.DataFrame()


Adult_Kids = pd.read_excel(path+"/"+'SKU Opportunity Adult vs Kids MW.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Adult_Kids[["ShareBasis","CP-ADULT VS KIDS"]] = Adult_Kids['Products'].str.split('|',n=1,expand=True)

Adult_Kids[["ShareBasis","CP-ADULT VS KIDS"]]=Adult_Kids[["ShareBasis","CP-ADULT VS KIDS"]].fillna(value="")
        #Sku_Opp.head(3)

        # Moving columns after "Market"
Adult_Kids = movecol(Adult_Kids, 
    cols_to_move=["ShareBasis","CP-ADULT VS KIDS"], 
    ref_col='Markets',
    place='After')

Adult_Kids['CP-MANUFACTURER']="CAT"
Adult_Kids = movecol(Adult_Kids, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-ADULT VS KIDS"], 
    ref_col='Markets',
    place='After')
Adult_Kids.head(5)

,Markets,ShareBasis,CP-MANUFACTURER,CP-ADULT VS KIDS,Products,Periods,Latest 26 Wks - w/e 02/27/21
0,Total US xAOC,MOUTHWASH,CAT,ADULT,MOUTHWASH | ADULT,%ACV,9.924900e+01
1,Total US xAOC,MOUTHWASH,CAT,ADULT,MOUTHWASH | ADULT,$ / $MM ACV,1.237790e+03
2,Total US xAOC,MOUTHWASH,CAT,ADULT,MOUTHWASH | ADULT,$,7.578080e+08
3,Total US xAOC,MOUTHWASH,CAT,ADULT,MOUTHWASH | ADULT,$ % Chg YA,4.853000e+00
4,Total US xAOC,MOUTHWASH,CAT,ADULT,MOUTHWASH | ADULT,Units,1.484504e+08

In [11]:

Price_Tier= pd.DataFrame()


Price_Tier = pd.read_excel(path+"/"+'SKU Opportunity Price Tier MW.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Price_Tier[["ShareBasis","CP-PRICE TIER"]] = Price_Tier['Products'].str.split('|',n=1,expand=True)

Price_Tier[["ShareBasis","CP-PRICE TIER"]]=Price_Tier[["ShareBasis","CP-PRICE TIER"]].fillna(value="")
        #Sku_Opp.head(3)

        # Moving columns after "Market"
Price_Tier = movecol(Price_Tier, 
    cols_to_move=["ShareBasis","CP-PRICE TIER"], 
    ref_col='Markets',
    place='After')

Price_Tier['CP-MANUFACTURER']="CAT"

Price_Tier = movecol(Price_Tier, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-PRICE TIER"], 
    ref_col='Markets',
    place='After')
Price_Tier.head(5)

,Markets,ShareBasis,CP-MANUFACTURER,CP-PRICE TIER,Products,Periods,Latest 26 Wks - w/e 02/27/21
0,Total US xAOC,MOUTHWASH,CAT,HIGH SUPER PREMIUM,MOUTHWASH | HIGH SUPER PREMIUM,%ACV,9.006300e+01
1,Total US xAOC,MOUTHWASH,CAT,HIGH SUPER PREMIUM,MOUTHWASH | HIGH SUPER PREMIUM,$ / $MM ACV,2.016180e+02
2,Total US xAOC,MOUTHWASH,CAT,HIGH SUPER PREMIUM,MOUTHWASH | HIGH SUPER PREMIUM,$,1.120116e+08
3,Total US xAOC,MOUTHWASH,CAT,HIGH SUPER PREMIUM,MOUTHWASH | HIGH SUPER PREMIUM,$ % Chg YA,4.512000e+00
4,Total US xAOC,MOUTHWASH,CAT,HIGH SUPER PREMIUM,MOUTHWASH | HIGH SUPER PREMIUM,Units,1.937860e+07

In [12]:

Price_Tier_Adult= pd.DataFrame()


Price_Tier_Adult = pd.read_excel(path+"/"+'SKU Opportunity Price Tier Adult MW.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Price_Tier_Adult[["ShareBasis","CP-ADULT VS KIDS","CP-PRICE TIER"]] = Price_Tier_Adult['Products'].str.split('|',n=2,expand=True)

Price_Tier_Adult[["ShareBasis","CP-ADULT VS KIDS","CP-PRICE TIER"]]=Price_Tier_Adult[["ShareBasis","CP-ADULT VS KIDS","CP-PRICE TIER"]].fillna(value="")
        #Sku_Opp.head(3)

        # Moving columns after "Market"
Price_Tier_Adult = movecol(Price_Tier_Adult, 
    cols_to_move=["ShareBasis","CP-ADULT VS KIDS","CP-PRICE TIER"], 
    ref_col='Markets',
    place='After')


Price_Tier_Adult['CP-MANUFACTURER']="CAT"

Price_Tier_Adult = movecol(Price_Tier_Adult, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-ADULT VS KIDS","CP-PRICE TIER"], 
    ref_col='Markets',
    place='After')
Price_Tier_Adult.head(5)

,Markets,ShareBasis,CP-MANUFACTURER,CP-ADULT VS KIDS,CP-PRICE TIER,Products,Periods,Latest 26 Wks - w/e 02/27/21
0,Total US xAOC,MOUTHWASH,CAT,ADULT,LOW SUPER PREMIUM,MOUTHWASH | ADULT | LOW SUPER PREMIUM,%ACV,8.822800e+01
1,Total US xAOC,MOUTHWASH,CAT,ADULT,LOW SUPER PREMIUM,MOUTHWASH | ADULT | LOW SUPER PREMIUM,$ / $MM ACV,3.016320e+02
2,Total US xAOC,MOUTHWASH,CAT,ADULT,LOW SUPER PREMIUM,MOUTHWASH | ADULT | LOW SUPER PREMIUM,$,1.641626e+08
3,Total US xAOC,MOUTHWASH,CAT,ADULT,LOW SUPER PREMIUM,MOUTHWASH | ADULT | LOW SUPER PREMIUM,$ % Chg YA,-1.950000e-01
4,Total US xAOC,MOUTHWASH,CAT,ADULT,LOW SUPER PREMIUM,MOUTHWASH | ADULT | LOW SUPER PREMIUM,Units,2.808717e+07

In [16]:

UPC_Level= pd.DataFrame()


UPC_Level = pd.read_excel(path+"/"+'SKU Opportunity MW.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-PRICE TIER","CP-ADULT VS KIDS","CP-GLOBAL SEGMENT","CP-SIZE RANGE","CP-SUBBRAND","PROD","PRODUCT CODE"]] = UPC_Level['Products'].str.split('|',n=10,expand=True)

UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-PRICE TIER","CP-ADULT VS KIDS","CP-GLOBAL SEGMENT","CP-SIZE RANGE","CP-SUBBRAND","PROD","PRODUCT CODE"]]=UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-PRICE TIER","CP-ADULT VS KIDS","CP-GLOBAL SEGMENT","CP-SIZE RANGE","CP-SUBBRAND","PROD","PRODUCT CODE"]].fillna(value="")
        #Sku_Opp.head(3)

        # Moving columns after "Market"
UPC_Level = movecol(UPC_Level, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-PRICE TIER","CP-ADULT VS KIDS","CP-GLOBAL SEGMENT","CP-SIZE RANGE","CP-SUBBRAND","PROD","PRODUCT CODE"], 
    ref_col='Markets',
    place='After')

UPC_Level = movecol(UPC_Level, 
    cols_to_move=["PROD"], 
    ref_col='ShareBasis',
    place='After')

UPC_Level.head()

,Markets,ShareBasis,PROD,CP-MANUFACTURER,CP-FRANCHISE,CP-BRAND,CP-PRICE TIER,CP-ADULT VS KIDS,CP-GLOBAL SEGMENT,CP-SIZE RANGE,CP-SUBBRAND,PRODUCT CODE,Products,Periods,Latest 26 Wks - w/e 02/27/21
0,Total US xAOC,MOUTHWASH,COLGATE ENAMEL HEALTH MOUTHWASH ANTICAVITY SP...,COLGATE-PALMOLIVE,COLGATE,COLGATE ENAMEL HEALTH,HIGH SUPER PREMIUM,ADULT,ENAMEL EROSION,15-18 OZ,COLGATE ENAMEL HEALTH,035000671585,MOUTHWASH | COLGATE-PALMOLIVE | COLGATE | COLG...,%ACV,0.030
1,Total US xAOC,MOUTHWASH,COLGATE ENAMEL HEALTH MOUTHWASH ANTICAVITY SP...,COLGATE-PALMOLIVE,COLGATE,COLGATE ENAMEL HEALTH,HIGH SUPER PREMIUM,ADULT,ENAMEL EROSION,15-18 OZ,COLGATE ENAMEL HEALTH,035000671585,MOUTHWASH | COLGATE-PALMOLIVE | COLGATE | COLG...,$ / $MM ACV,49.486
2,Total US xAOC,MOUTHWASH,COLGATE ENAMEL HEALTH MOUTHWASH ANTICAVITY SP...,COLGATE-PALMOLIVE,COLGATE,COLGATE ENAMEL HEALTH,HIGH SUPER PREMIUM,ADULT,ENAMEL EROSION,15-18 OZ,COLGATE ENAMEL HEALTH,035000671585,MOUTHWASH | COLGATE-PALMOLIVE | COLGATE | COLG...,$,9041.849
3,Total US xAOC,MOUTHWASH,COLGATE ENAMEL HEALTH MOUTHWASH ANTICAVITY SP...,COLGATE-PALMOLIVE,COLGATE,COLGATE ENAMEL HEALTH,HIGH SUPER PREMIUM,ADULT,ENAMEL EROSION,15-18 OZ,COLGATE ENAMEL HEALTH,035000671585,MOUTHWASH | COLGATE-PALMOLIVE | COLGATE | COLG...,$ % Chg YA,99.276
4,Total US xAOC,MOUTHWASH,COLGATE ENAMEL HEALTH MOUTHWASH ANTICAVITY SP...,COLGATE-PALMOLIVE,COLGATE,COLGATE ENAMEL HEALTH,HIGH SUPER PREMIUM,ADULT,ENAMEL EROSION,15-18 OZ,COLGATE ENAMEL HEALTH,035000671585,MOUTHWASH | COLGATE-PALMOLIVE | COLGATE | COLG...,Units,1867.140

In [17]:
Sku_Opp=pd.DataFrame()
Sku_Opp = pd.concat([Sku_Opp,Global_Segment,Adult_Size,Size_Range,Adult_Kids,Price_Tier,Price_Tier_Adult,UPC_Level],axis=0,ignore_index=True)
Sku_Opp = movecol(Sku_Opp, 
             cols_to_move=["ShareBasis","PROD","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-PRICE TIER","CP-ADULT VS KIDS","CP-GLOBAL SEGMENT","CP-SIZE RANGE","CP-SUBBRAND","PRODUCT CODE"], 
             ref_col='Markets',
             place='After')
Sku_Opp.fillna("",inplace=True)
Sku_Opp.head()

,Markets,ShareBasis,PROD,CP-MANUFACTURER,CP-FRANCHISE,CP-BRAND,CP-PRICE TIER,CP-ADULT VS KIDS,CP-GLOBAL SEGMENT,CP-SIZE RANGE,CP-SUBBRAND,PRODUCT CODE,Products,Periods,Latest 26 Wks - w/e 02/27/21
0,Total US xAOC,MOUTHWASH,,CAT,,,,ADULT,ANTICAVITY,,,,MOUTHWASH | ADULT | ANTICAVITY,%ACV,72.055
1,Total US xAOC,MOUTHWASH,,CAT,,,,ADULT,ANTICAVITY,,,,MOUTHWASH | ADULT | ANTICAVITY,$ / $MM ACV,39.04
2,Total US xAOC,MOUTHWASH,,CAT,,,,ADULT,ANTICAVITY,,,,MOUTHWASH | ADULT | ANTICAVITY,$,1.73523e+07
3,Total US xAOC,MOUTHWASH,,CAT,,,,ADULT,ANTICAVITY,,,,MOUTHWASH | ADULT | ANTICAVITY,$ % Chg YA,-1.967
4,Total US xAOC,MOUTHWASH,,CAT,,,,ADULT,ANTICAVITY,,,,MOUTHWASH | ADULT | ANTICAVITY,Units,4.22441e+06

In [18]:
# Relaceing in Periods(Facts)
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("$","temp")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("- temp -","-")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("temp","$")


Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP FORM","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP USE","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP LDL AND FOAM","CP CATEGORY")

Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP LDL AND FM X DISHAIDS/WPS/SPR","CP CATEGORY")

Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP MEGA CATEGORY","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP BATTERY AND HYBRID","CP CATEGORY")


# Market name replaced
Sku_Opp["Markets"]=Sku_Opp["Markets"].str.replace("Walgreens Corp Total TA","Walgreens Total TA")

#replacing NaN values with 0
Sku_Opp.fillna(value=0,inplace=True)

In [19]:
##Removing unwanted characters from all the column names** and store them in a list ***new_col_names***

new_col_names=[]
for i in Sku_Opp.columns:
    x=len(i)
    if x<=17:
        new_col_names.append(i)
    elif i[:3]=='YTD':
        new_col_names.append(i[:-16].strip('- '))
    else:
        new_col_names.append(i[:-14].strip('- '))
        

## Checking the duplicacte column in** ***Sku_Opp***

if(len(new_col_names)!=len(set(new_col_names))):
    print("\033[1;31m"+"*******************************ERROR*******************************\n\t\t\tWe have duplicate columns\n\t\t\tPlease recheck raw data files\n*******************************ERROR*******************************")

##Renaming the column names of ***Sku_Opp***

# Sku_Opp.rename(columns=dict(zip(Sku_Opp.columns,new_col_names)),inplace=True)
Sku_Opp.columns=new_col_names

In [20]:
new_col_names

['Markets',
 'ShareBasis',
 'PROD',
 'CP-MANUFACTURER',
 'CP-FRANCHISE',
 'CP-BRAND',
 'CP-PRICE TIER',
 'CP-ADULT VS KIDS',
 'CP-GLOBAL SEGMENT',
 'CP-SIZE RANGE',
 'CP-SUBBRAND',
 'PRODUCT CODE',
 'Products',
 'Periods',
 'Latest 26 Wks']

In [21]:
Sku_Opp.columns

Index(['Markets', 'ShareBasis', 'PROD', 'CP-MANUFACTURER', 'CP-FRANCHISE',
       'CP-BRAND', 'CP-PRICE TIER', 'CP-ADULT VS KIDS', 'CP-GLOBAL SEGMENT',
       'CP-SIZE RANGE', 'CP-SUBBRAND', 'PRODUCT CODE', 'Products', 'Periods',
       'Latest 26 Wks'],
      dtype='object')

In [22]:
##**Time period mapping**



time_period_map= pd.DataFrame({'Connect Time Period':['Markets', 'Products', 'Periods','Cal Yr 2020','Cal Yr 2019','Cal Yr 2018','Cal Yr 2017','YTD','YTD YA','Latest 13 Wks','Latest 26 Wks','OND 21','JAS 21','AMJ 21','JFM 21','OND 20','JAS 20','AMJ 20','JFM 20','OND 19','JAS 19','AMJ 19','Dec 21','Nov 21','Oct 21','Sep 21','Aug 21','Jul 21','Jun 21','May 21','Apr 21','Mar 21','Feb 21','Jan 21','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20'],
                               'Final Name':['Markets', 'Products', 'Periods','FY 2020','FY 2019','FY 2018','FY 2017','YTD 2021','YTD 2020','Latest 13 Weeks','Latest 26 Weeks','Q4 2021','Q3 2021','Q2 2021','Q1 2021','Q4 2020','Q3 2020','Q2 2020','Q1 2020','Q4 2019','Q3 2019','Q2 2019','Dec 21','Nov 21','Oct 21','Sep 21','Aug 21','Jul 21','Jun 21','May 21','Apr 21','Mar 21','Feb 21','Jan 21','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20']
                              ,'Order':range(1,47)})

time_period_map.head(5)

##We need to **change column names** of ***Sku_Opp*** and **reorder** them based on the time_period_mapping

# assigning variables
LM_column= list(Sku_Opp.columns)
time_connect=list(time_period_map["Connect Time Period"])
time_final=list(time_period_map["Final Name"])

# changing column names based on time_period_mapping
new_column=[]
for i in range(0,len(LM_column)):
    for j in range(0,len(time_connect)):
        if LM_column[i]==time_connect[j]:
            new_column.append(time_final[j])
        

print(new_column)

print(len(new_column),len(Sku_Opp.columns))

Sku_Opp.columns

#assigning new column names
Sku_Opp.columns = new_column

# reordering column names
my_list =time_period_map.iloc[:, 1]
my_list1=Sku_Opp.columns
result = [x for x in my_list if x in my_list1]
Sku_Opp=Sku_Opp[result]

['Markets', 'Products', 'Periods', 'Latest 26 Weeks']
4 15

ValueError: Length mismatch: Expected axis has 15 elements, new values have 4 elements

In [23]:
##**Period Mapping**

Time_Mapping={
    "Nov 19":"4 W/E 11/23/19",
    "Dec 19":"5 W/E 12/28/19",
    "Jan 20":"4 W/E 01/25/20",
    "Feb 20":"4 W/E 02/22/20",
    "Mar 20":"5 W/E 03/28/20",
    "Apr 20":"4 W/E 04/25/20",
    "May 20":"4 W/E 05/23/20",
    "Jun 20":"5 W/E 06/27/20",
    "Jul 20":"4 W/E 07/25/20",
    "Aug 20":"4 W/E 08/22/20",
    "Sep 20":"5 W/E 09/26/20",
    "Oct 20":"4 W/E 10/24/20",
    "Nov 20":"4 W/E 11/21/20",
    "Dec 20":"5 W/E 12/26/20",
    "Jan 21":"4 W/E 01/23/21",
    "Feb 21":"4 W/E 02/20/21",
    "Mar 21":"5 W/E 03/27/21",
    "Apr 21":"4 W/E 04/24/21",
    "May 21":"4 W/E 05/22/21",
    "Jun 21":"5 W/E 06/26/21",
    "Jul 21":"4 W/E 07/24/21",
    "Aug 21":"4 W/E 08/21/21",
    "Sep 21":"5 W/E 09/25/21",
    "Oct 21":"4 W/E 10/23/21",
    "Nov 21":"4 W/E 11/20/21",
    "Dec 21":"5 W/E 12/25/21",
    "Jan 22":"4 W/E 01/22/22",
    "Feb 22":"4 W/E 02/19/22",
    "Mar 22":"5 W/E 03/26/22",
    "Apr 22":"4 W/E 04/23/22",
    "May 22":"5 W/E 05/21/22",
    "Jun 22":"4 W/E 06/25/22",
    "Jul 22":"4 W/E 07/23/22",
    "Aug 22":"5 W/E 08/20/22",
    "Sep 22":"4 W/E 09/24/22",
    "Oct 22":"4 W/E 10/22/22",
    "Nov 22":"5 W/E 11/19/22",
    "Dec 22":"4 W/E 12/24/22",
    "Jan 23":"4 W/E 01/21/23",
    "Feb 23":"5 W/E 02/18/23",
    "Mar 23":"4 W/E 03/25/23",
    "Apr 23":"4 W/E 04/22/23",
    "May 23":"5 W/E 05/20/23",
    "Jun 23":"4 W/E 06/24/23",
    "Jul 23":"4 W/E 07/22/23",
    "Aug 23":"5 W/E 08/19/23",
    "Sep 23":"4 W/E 09/23/23",
    "Oct 23":"5 W/E 10/21/23",
    "Nov 23":"4 W/E 11/18/23",
    "Dec 23":"4 W/E 12/23/23",
    "Jan 24":"5 W/E 01/20/24",
    "Feb 24":"4 W/E 02/17/24",
    "Mar 24":"4 W/E 03/23/24",
    "Apr 24":"5 W/E 04/20/24",
    "May 24":"4 W/E 05/18/24",
    "Jun 24":"4 W/E 06/22/24",
    "Jul 24":"5 W/E 07/20/24",
    "Aug 24":"4 W/E 08/17/24",
    "Sep 24":"4 W/E 09/21/24",
    "Oct 24":"5 W/E 10/19/24",
    "Nov 24":"4 W/E 11/16/24",
    "Dec 24":"4 W/E 12/21/24",
    "Jan 25":"5 W/E 01/18/25",
    "Feb 25":"4 W/E 02/15/25",
    "Mar 25":"5 W/E 03/22/25",
    "Apr 25":"4 W/E 04/19/25",
    "May 25":"4 W/E 05/17/25",
    "Jun 25":"5 W/E 06/21/25",
    "Jul 25":"4 W/E 07/19/25",
    "Aug 25":"4 W/E 08/16/25",
    "Sep 25":"5 W/E 09/20/25",
    "Oct 25":"4 W/E 10/18/25",
    "Nov 25":"4 W/E 11/15/25",
    "Dec 25":"5 W/E 12/20/25",
    "Jan 26":"4 W/E 01/17/26",
    "Feb 26":"4 W/E 02/14/26",
    "Mar 26":"5 W/E 03/21/26",
    "Apr 26":"4 W/E 04/18/26",
    "May 26":"4 W/E 05/16/26",
    "Jun 26":"5 W/E 06/20/26",
    "Jul 26":"4 W/E 07/18/26",
    "Aug 26":"5 W/E 08/15/26",
    "Sep 26":"4 W/E 09/19/26",
    "Oct 26":"4 W/E 10/17/26",
    "Nov 26":"5 W/E 11/14/26",
    "Dec 26":"4 W/E 12/19/26"
}


Sku_Opp.rename(columns=Time_Mapping,inplace=True)

In [24]:
Market_Mapping={
    
     'ALBSCO Total Company TA':'Alb/Sfy',
     'Agency Grocery':'Agency Grocery',
     'Ahold USA Corp Total TA':"Ahold",
     'BJs Total TA':"BJs",
     'CLUB':"CLUB",
     'CVS Total Corp WO HI TA':"CVS",
     'Dol Gen Total TA':"Dollar General",
     'El Super Total TA':'El Super',
     'FDM':"FDM",
     'Family Dollar Total TA':"Family Dollar",
     'Fiesta Total TA':"Fiesta",
     'Giant Eagle Total TA':"Giant Eagle",
     'Kmart Total TA':"Kmart",
     'Meijer Total TA':"Meijer",
     'Publix Total TA':"Publix",
     'Rite Aid - Corp Total TA':"Rite Aid",
     "Sam's Total TA":"Sams",
     'ShopRite Total TA':"Shoprite",
     'Strategic Grocery':"Strategic Grocery",
     'TOTAL MASS':"TOTAL MASS",
     'Target Total BM/FF TA':"Target",
     'Total US Drug':"US Drug",
     'Total US Food':"US Food",
     'Total US xAOC':"US AOC",
     'VDC':"VDC",
     'Walgreens Total TA':"Walgreens",
     'Walmart Total US TA':"Walmart",
     'Wegmans Total TA':"Wegmans"
    }


Sku_Opp["Markets"].replace(Market_Mapping,inplace=True)

In [25]:
#Changing Column Name

Sku_Opp.rename(columns={"Periods":"Facts"},inplace=True)

In [26]:
##**Filter Condition**
#Taking only those products whose **Latest Month Dollar Share** is **greater than 0.07** for all the markets

# Sku_Opp.iloc[:,3:]= Sku_Opp.iloc[:,3:].apply(pd.to_numeric)

# Sku_Opp.info()

# df=Sku_Opp[(Sku_Opp['Facts'] == '$ Shr - CP CATEGORY') & ( Sku_Opp.iloc[:,19] > 0.07 )]

# # total number of unique Products 
# len(np.unique(list(df["Products"])))

# Sku_Opp=Sku_Opp[Sku_Opp['Products'].isin(list(df["Products"]))]
# Sku_Opp.head(3)

# len(set(Sku_Opp["Products"]))

In [27]:
#***movecol*** function to **rearranging** the columns of a dataframe

def movecol(df, cols_to_move=[], ref_col='', place=''):
    cols = df.columns.tolist()
    if place == 'After':
        seg1 = cols[:list(cols).index(ref_col) + 1]
        seg2 = cols_to_move
    if place == 'Before':
        seg1 = cols[:list(cols).index(ref_col)]
        seg2 = cols_to_move + [ref_col]
    seg1 = [i for i in seg1 if i not in seg2]
    seg3 = [i for i in cols if i not in seg1 + seg2]
    
    return(df[seg1 + seg2 + seg3])

In [28]:
cols=list(Sku_Opp.columns[0:12])
Sku_Opp[cols]=Sku_Opp[cols].apply(lambda x : x.str.strip())

**Selection**

In [29]:
SKU_Facts_Mapping={
    '$':"Dollars",
     '$ / $MM ACV':"$ Sales/$MM ACV",
     '$ Chg YA':"Dollars YAG %Chg",
     '%ACV':"% Stores Selling",
     'Any Promo Unit Price':"RASP w/Any Promo",
     'No Promo Unit Price':"RASP w/No Promo",
     'Units':"Units",
     'Units % Chg YA':"Units YAG %Chg"
    }

Sku_Opp["Facts"]=Sku_Opp["Facts"].replace(SKU_Facts_Mapping)

In [30]:
Sku_Opp.head()

,Markets,ShareBasis,PROD,CP-MANUFACTURER,CP-FRANCHISE,CP-BRAND,CP-PRICE TIER,CP-ADULT VS KIDS,CP-GLOBAL SEGMENT,CP-SIZE RANGE,CP-SUBBRAND,PRODUCT CODE,Products,Facts,Latest 26 Wks
0,US AOC,MOUTHWASH,,CAT,,,,ADULT,ANTICAVITY,,,,MOUTHWASH | ADULT | ANTICAVITY,% Stores Selling,72.055
1,US AOC,MOUTHWASH,,CAT,,,,ADULT,ANTICAVITY,,,,MOUTHWASH | ADULT | ANTICAVITY,$ Sales/$MM ACV,39.04
2,US AOC,MOUTHWASH,,CAT,,,,ADULT,ANTICAVITY,,,,MOUTHWASH | ADULT | ANTICAVITY,Dollars,1.73523e+07
3,US AOC,MOUTHWASH,,CAT,,,,ADULT,ANTICAVITY,,,,MOUTHWASH | ADULT | ANTICAVITY,$ % Chg YA,-1.967
4,US AOC,MOUTHWASH,,CAT,,,,ADULT,ANTICAVITY,,,,MOUTHWASH | ADULT | ANTICAVITY,Units,4.22441e+06

In [31]:
Sku_Opp_MW=Sku_Opp[Sku_Opp["ShareBasis"]=="MOUTHWASH"]

In [32]:
Sku_Opp_MW.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8568 entries, 0 to 8567
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Markets            8568 non-null   object
 1   ShareBasis         8568 non-null   object
 2   PROD               8568 non-null   object
 3   CP-MANUFACTURER    8568 non-null   object
 4   CP-FRANCHISE       8568 non-null   object
 5   CP-BRAND           8568 non-null   object
 6   CP-PRICE TIER      8568 non-null   object
 7   CP-ADULT VS KIDS   8568 non-null   object
 8   CP-GLOBAL SEGMENT  8568 non-null   object
 9   CP-SIZE RANGE      8568 non-null   object
 10  CP-SUBBRAND        8568 non-null   object
 11  PRODUCT CODE       8568 non-null   object
 12  Products           8568 non-null   object
 13  Facts              8568 non-null   object
 14  Latest 26 Wks      8568 non-null   object
dtypes: object(15)
memory usage: 1.0+ MB

In [33]:
Time_Period=list(Sku_Opp_MW.columns[14:15])
print(Time_Period)

['Latest 26 Wks']

In [34]:
Sku_Opp_MW.columns

Index(['Markets', 'ShareBasis', 'PROD', 'CP-MANUFACTURER', 'CP-FRANCHISE',
       'CP-BRAND', 'CP-PRICE TIER', 'CP-ADULT VS KIDS', 'CP-GLOBAL SEGMENT',
       'CP-SIZE RANGE', 'CP-SUBBRAND', 'PRODUCT CODE', 'Products', 'Facts',
       'Latest 26 Wks'],
      dtype='object')

In [35]:
Sku_Opp_MW.rename(columns={'Markets':"MKT",
                           },inplace=True)

In [52]:
df1=pd.melt(Sku_Opp_MW, id_vars =["MKT","ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-PRICE TIER","CP-ADULT VS KIDS","CP-GLOBAL SEGMENT","CP-SIZE RANGE","CP-SUBBRAND","PROD","Products","PRODUCT CODE","Facts"], value_vars =Time_Period,var_name="PER")

df1["value"]=df1["value"].apply(pd.to_numeric)

In [53]:
df1.tail(2)

,MKT,ShareBasis,CP-MANUFACTURER,CP-FRANCHISE,CP-BRAND,CP-PRICE TIER,CP-ADULT VS KIDS,CP-GLOBAL SEGMENT,CP-SIZE RANGE,CP-SUBBRAND,PROD,Products,PRODUCT CODE,Facts,PER,value
8566,Walmart,MOUTHWASH,COLGATE-PALMOLIVE,TOMS,TOMS WHOLE CARE,HIGH SUPER PREMIUM,ADULT,ANTICAVITY,15-18 OZ,TOMS WHOLE CARE,TOM'S OF MAINE WHOLE CARE MOUTHWASH LIQUID FIG...,MOUTHWASH | COLGATE-PALMOLIVE | TOMS | TOMS WH...,007732645783,RASP w/Any Promo,Latest 26 Wks,3.067
8567,Walmart,MOUTHWASH,COLGATE-PALMOLIVE,TOMS,TOMS WHOLE CARE,HIGH SUPER PREMIUM,ADULT,ANTICAVITY,15-18 OZ,TOMS WHOLE CARE,TOM'S OF MAINE WHOLE CARE MOUTHWASH LIQUID FIG...,MOUTHWASH | COLGATE-PALMOLIVE | TOMS | TOMS WH...,007732645783,RASP w/No Promo,Latest 26 Wks,5.463

In [54]:
df2=df1.pivot_table(index=["MKT","ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-PRICE TIER","CP-ADULT VS KIDS","CP-GLOBAL SEGMENT","CP-SIZE RANGE","CP-SUBBRAND","PROD","Products","PRODUCT CODE",'PER'],columns='Facts')

df2.columns=df2.columns.droplevel().rename(None)
df2.reset_index(inplace =True)

In [55]:
df2.head(5)

,MKT,ShareBasis,CP-MANUFACTURER,CP-FRANCHISE,CP-BRAND,CP-PRICE TIER,CP-ADULT VS KIDS,CP-GLOBAL SEGMENT,CP-SIZE RANGE,CP-SUBBRAND,...,PRODUCT CODE,PER,$ % Chg YA,$ Sales/$MM ACV,% Stores Selling,Dollars,RASP w/Any Promo,RASP w/No Promo,Units,Units YAG %Chg
0,Ahold,MOUTHWASH,CAT,,,,,,15-18 OZ,,...,,Latest 26 Wks,4.445,360.453,99.916,5301210.26,4.920,5.491,1004416.0,2.245
1,Ahold,MOUTHWASH,CAT,,,,,,32-33.8 OZ,,...,,Latest 26 Wks,0.239,517.689,99.863,7609659.97,5.412,6.096,1304877.0,-0.547
2,Ahold,MOUTHWASH,CAT,,,,,,8-8.5 OZ,,...,,Latest 26 Wks,-19.377,35.953,97.328,515064.70,3.193,3.246,159420.0,-18.071
3,Ahold,MOUTHWASH,CAT,,,,,,REM SIZE RANGE,,...,,Latest 26 Wks,-43.400,17.336,93.026,237387.11,1.854,1.960,122566.0,-41.763
4,Ahold,MOUTHWASH,CAT,,,,ADULT,,,,...,,Latest 26 Wks,0.496,1008.688,99.962,14841646.40,5.170,5.684,2698067.0,-3.490

In [56]:
set(df2[df2["CP-MANUFACTURER"]=="CAT"]["Products"])

{'MOUTHWASH | 11-12 OZ',
 'MOUTHWASH | 15-18 OZ',
 'MOUTHWASH | 32-33.8 OZ',
 'MOUTHWASH | 40-42.3 OZ',
 'MOUTHWASH | 8-8.5 OZ',
 'MOUTHWASH | ADULT',
 'MOUTHWASH | ADULT | 24-25.4 OZ',
 'MOUTHWASH | ADULT | 50-50.7 OZ',
 'MOUTHWASH | ADULT | ANTICAVITY',
 'MOUTHWASH | ADULT | DRY MOUTH',
 'MOUTHWASH | ADULT | ENAMEL EROSION',
 'MOUTHWASH | ADULT | FRESHENING',
 'MOUTHWASH | ADULT | GUM PROTECTION',
 'MOUTHWASH | ADULT | HALITOSIS',
 'MOUTHWASH | ADULT | HERBAL/NATURAL',
 'MOUTHWASH | ADULT | LOW SUPER PREMIUM',
 'MOUTHWASH | ADULT | MIDTIER',
 'MOUTHWASH | ADULT | MULTI-BENEFIT',
 'MOUTHWASH | ADULT | SENSITIVE',
 'MOUTHWASH | ADULT | WHITENING',
 'MOUTHWASH | HIGH SUPER PREMIUM',
 'MOUTHWASH | KIDS',
 'MOUTHWASH | KIDS | KIDS/TEENS',
 'MOUTHWASH | PREMIUM',
 'MOUTHWASH | PRVT LBL',
 'MOUTHWASH | REM SIZE RANGE',
 'MOUTHWASH | SPECIALTY SUPER PREMIUM',
 'MOUTHWASH | VALUE'}

In [57]:
# from pandas.api.types import CategoricalDtype

# Time_Period_order = CategoricalDtype(
#     Time_Period, 
#     ordered=True
# )

# df2['PER'] = df2['PER'].astype(Time_Period_order)

df2.sort_values(['MKT','PROD','PER'],inplace=True)

In [58]:
df2.columns

Index(['MKT', 'ShareBasis', 'CP-MANUFACTURER', 'CP-FRANCHISE', 'CP-BRAND',
       'CP-PRICE TIER', 'CP-ADULT VS KIDS', 'CP-GLOBAL SEGMENT',
       'CP-SIZE RANGE', 'CP-SUBBRAND', 'PROD', 'Products', 'PRODUCT CODE',
       'PER', '$ % Chg YA', '$ Sales/$MM ACV', '% Stores Selling', 'Dollars',
       'RASP w/Any Promo', 'RASP w/No Promo', 'Units', 'Units YAG %Chg'],
      dtype='object')

In [59]:


final_column_sorting=["MKT","PROD","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-PRICE TIER","CP-ADULT VS KIDS","CP-GLOBAL SEGMENT",
                      "CP-SIZE RANGE","CP-SUBBRAND","PRODUCT CODE",'PER'
                      ,"% Stores Selling","Dollars","$ % Chg YA",
                      "Units","Units YAG %Chg","$ Sales/$MM ACV","RASP w/Any Promo","RASP w/No Promo"
                      ]
Sku_Opp_final=df2[final_column_sorting]

In [60]:
Sku_Opp_final.head(3)

,MKT,PROD,CP-MANUFACTURER,CP-FRANCHISE,CP-BRAND,CP-PRICE TIER,CP-ADULT VS KIDS,CP-GLOBAL SEGMENT,CP-SIZE RANGE,CP-SUBBRAND,PRODUCT CODE,PER,% Stores Selling,Dollars,$ % Chg YA,Units,Units YAG %Chg,$ Sales/$MM ACV,RASP w/Any Promo,RASP w/No Promo
0,Ahold,,CAT,,,,,,15-18 OZ,,,Latest 26 Wks,99.916,5301210.26,4.445,1004416.0,2.245,360.453,4.920,5.491
1,Ahold,,CAT,,,,,,32-33.8 OZ,,,Latest 26 Wks,99.863,7609659.97,0.239,1304877.0,-0.547,517.689,5.412,6.096
2,Ahold,,CAT,,,,,,8-8.5 OZ,,,Latest 26 Wks,97.328,515064.70,-19.377,159420.0,-18.071,35.953,3.193,3.246

In [61]:
Sku_Opp_final.rename(columns={'$ % Chg YA':"Dollars YAG %Chg"
                           },inplace=True)

In [62]:
path_MW = "//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/05. Output Data/5P Output/MW/"

In [63]:
Sku_Opp_final.to_csv(path_MW+"SKU Opportunity_MW.csv",index=False)

## BAR

In [ ]:
path = "//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/03. Raw Data/Connect Data/SKU Opportunity Data"
files = os.listdir(path)

Selecting only **excel files** from all the files available in the above path

In [ ]:
files_xls = [f for f in files if f[-8:] == "Bar.xlsx"]
print("Total number of files in the folder are ",len(files_xls))

In [ ]:
files_xls

In [ ]:

Segment= pd.DataFrame()


Segment = pd.read_excel(path+"/"+'SKU Opportunity Segment Bar.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Segment[["ShareBasis","CP-Segment"]] = Segment['Products'].str.split('|',n=1,expand=True)

Segment[["ShareBasis","CP-Segment"]]=Segment[["ShareBasis","CP-Segment"]].fillna(value="")
        #Sku_Opp.head(3)


Segment['CP-MANUFACTURER']="CAT"

Segment = movecol(Segment, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-Segment"], 
    ref_col='Markets',
    place='After')
Segment.head(5)

In [ ]:

Multi= pd.DataFrame()


Multi = pd.read_excel(path+"/"+'SKU Opportunity Multi Bar.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Multi[["ShareBasis","CP-MULTI"]] = Multi['Products'].str.split('|',n=1,expand=True)

Multi[["ShareBasis","CP-MULTI"]]=Multi[["ShareBasis","CP-MULTI"]].fillna(value="")
        #Sku_Opp.head(3)


Multi['CP-MANUFACTURER']="CAT"
Multi['CP-SEGMENT']="MANUAL"
Multi = movecol(Multi, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-MULTI","CP-SEGMENT"], 
    ref_col='Markets',
    place='After')
Multi.head(5)

In [ ]:

Size_Range= pd.DataFrame()


Size_Range = pd.read_excel(path+"/"+'SKU Opportunity Size Range BAR.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Size_Range[["ShareBasis","CP-Size Range"]] = Size_Range['Products'].str.split('|',n=1,expand=True)

Size_Range[["ShareBasis","CP-Size Range"]]=Size_Range[["ShareBasis","CP-Size Range"]].fillna(value="")
        #Sku_Opp.head(3)



Size_Range['CP-MANUFACTURER']="CAT"

Size_Range = movecol(Size_Range, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-Size Range"], 
    ref_col='Markets',
    place='After')
Size_Range.head(5)

In [ ]:

Price_Tier= pd.DataFrame()


Price_Tier = pd.read_excel(path+"/"+'SKU Opportunity Price Tier BAR.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Price_Tier[["ShareBasis","CP-PRICE TIER"]] = Price_Tier['Products'].str.split('|',n=1,expand=True)

Price_Tier[["ShareBasis","CP-PRICE TIER"]]=Price_Tier[["ShareBasis","CP-PRICE TIER"]].fillna(value="")
        #Sku_Opp.head(3)

        # Moving columns after "Market"
Price_Tier = movecol(Price_Tier, 
    cols_to_move=["ShareBasis","CP-PRICE TIER"], 
    ref_col='Markets',
    place='After')

Price_Tier['CP-MANUFACTURER']="CAT"


Price_Tier = movecol(Price_Tier, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-PRICE TIER"], 
    ref_col='Markets',
    place='After')
Price_Tier.head(5)

In [ ]:

Size_Range_Multi= pd.DataFrame()


Size_Range_Multi = pd.read_excel(path+"/"+'SKU Opportunity Size Range Multi BAR.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Size_Range_Multi[["ShareBasis","CP-SIZE RANGE","CP-MULTI"]] = Size_Range_Multi['Products'].str.split('|',n=3,expand=True)

Size_Range_Multi[["ShareBasis","CP-SIZE RANGE","CP-MULTI"]]=Size_Range_Multi[["ShareBasis","CP-SIZE RANGE","CP-MULTI"]].fillna(value="")
        #Sku_Opp.head(3)



Size_Range_Multi['CP-MANUFACTURER']="CAT"


Size_Range_Multi = movecol(Size_Range_Multi, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-SIZE RANGE","CP-MULTI"], 
    ref_col='Markets',
    place='After')
Size_Range_Multi.head(5)

In [ ]:

UPC_Level= pd.DataFrame()


UPC_Level = pd.read_excel(path+"/"+'SKU Opportunity BAR.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-SIZE RANGE","CP-SEGMENT","CP-PRICE TIER","CP-MULTI","CP-SUBBRAND","Products","PRODUCT CODE"]] = UPC_Level['Products'].str.split('|',n=10,expand=True)

UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-SIZE RANGE","CP-SEGMENT","CP-PRICE TIER","CP-MULTI","CP-SUBBRAND","Products","PRODUCT CODE"]]=UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-SIZE RANGE","CP-SEGMENT","CP-PRICE TIER","CP-MULTI","CP-SUBBRAND","Products","PRODUCT CODE"]].fillna(value="")
        #Sku_Opp.head(3)
UPC_Level['CP-SEGMANT']="MANUAL"
        # Moving columns after "Market"
UPC_Level = movecol(UPC_Level, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-SIZE RANGE","CP-SEGMENT","CP-PRICE TIER","CP-MULTI","CP-SUBBRAND","Products","PRODUCT CODE"], 
    ref_col='Markets',
    place='After')


UPC_Level.head(5)

In [ ]:
Sku_Opp=pd.DataFrame()
Sku_Opp = pd.concat([Sku_Opp,Multi,Segment,Price_Tier,Size_Range_Multi,UPC_Level],axis=0,ignore_index=True)
Sku_Opp = movecol(Sku_Opp, 
             cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-SIZE RANGE","CP-SEGMENT","CP-PRICE TIER","CP-MULTI","CP-SUBBRAND","Products","PRODUCT CODE"], 
             ref_col='Markets',
             place='After')
Sku_Opp.fillna("",inplace=True)
Sku_Opp.head()

In [ ]:
# Relaceing in Periods(Facts)
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("$","temp")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("- temp -","-")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("temp","$")


Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP FORM","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP USE","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP LDL AND FOAM","CP CATEGORY")

Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP LDL AND FM X DISHAIDS/WPS/SPR","CP CATEGORY")

Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP MEGA CATEGORY","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP BATTERY AND HYBRID","CP CATEGORY")


# Market name replaced
Sku_Opp["Markets"]=Sku_Opp["Markets"].str.replace("Walgreens Corp Total TA","Walgreens Total TA")

#replacing NaN values with 0
Sku_Opp.fillna(value=0,inplace=True)

In [ ]:
##Removing unwanted characters from all the column names** and store them in a list ***new_col_names***

new_col_names=[]
for i in Sku_Opp.columns:
    x=len(i)
    if x<=17:
        new_col_names.append(i)
    elif i[:3]=='YTD':
        new_col_names.append(i[:-16].strip('- '))
    else:
        new_col_names.append(i[:-14].strip('- '))
        

## Checking the duplicacte column in** ***Sku_Opp***

if(len(new_col_names)!=len(set(new_col_names))):
    print("\033[1;31m"+"*******************************ERROR*******************************\n\t\t\tWe have duplicate columns\n\t\t\tPlease recheck raw data files\n*******************************ERROR*******************************")

##Renaming the column names of ***Sku_Opp***

# Sku_Opp.rename(columns=dict(zip(Sku_Opp.columns,new_col_names)),inplace=True)
Sku_Opp.columns=new_col_names

In [ ]:
new_col_names

In [ ]:
Sku_Opp.columns

In [ ]:
##**Time period mapping**



time_period_map= pd.DataFrame({'Connect Time Period':['Markets', 'Products', 'Periods','Cal Yr 2020','Cal Yr 2019','Cal Yr 2018','Cal Yr 2017','YTD','YTD YA','Latest 13 Wks','Latest 26 Wks','OND 21','JAS 21','AMJ 21','JFM 21','OND 20','JAS 20','AMJ 20','JFM 20','OND 19','JAS 19','AMJ 19','Dec 21','Nov 21','Oct 21','Sep 21','Aug 21','Jul 21','Jun 21','May 21','Apr 21','Mar 21','Feb 21','Jan 21','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20'],
                               'Final Name':['Markets', 'Products', 'Periods','FY 2020','FY 2019','FY 2018','FY 2017','YTD 2021','YTD 2020','Latest 13 Weeks','Latest 26 Weeks','Q4 2021','Q3 2021','Q2 2021','Q1 2021','Q4 2020','Q3 2020','Q2 2020','Q1 2020','Q4 2019','Q3 2019','Q2 2019','Dec 21','Nov 21','Oct 21','Sep 21','Aug 21','Jul 21','Jun 21','May 21','Apr 21','Mar 21','Feb 21','Jan 21','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20']
                              ,'Order':range(1,47)})

time_period_map.head(5)

##We need to **change column names** of ***Sku_Opp*** and **reorder** them based on the time_period_mapping

# assigning variables
LM_column= list(Sku_Opp.columns)
time_connect=list(time_period_map["Connect Time Period"])
time_final=list(time_period_map["Final Name"])

# changing column names based on time_period_mapping
new_column=[]
for i in range(0,len(LM_column)):
    for j in range(0,len(time_connect)):
        if LM_column[i]==time_connect[j]:
            new_column.append(time_final[j])
        

print(new_column)

print(len(new_column),len(Sku_Opp.columns))

Sku_Opp.columns

#assigning new column names
Sku_Opp.columns = new_column

# reordering column names
#my_list =time_period_map.iloc[:, 1]
#my_list1=Sku_Opp.columns
#result = [x for x in my_list if x in my_list1]
#Sku_Opp=Sku_Opp[result]

In [ ]:
##**Period Mapping**

Time_Mapping={
    "Nov 19":"4 W/E 11/23/19",
    "Dec 19":"5 W/E 12/28/19",
    "Jan 20":"4 W/E 01/25/20",
    "Feb 20":"4 W/E 02/22/20",
    "Mar 20":"5 W/E 03/28/20",
    "Apr 20":"4 W/E 04/25/20",
    "May 20":"4 W/E 05/23/20",
    "Jun 20":"5 W/E 06/27/20",
    "Jul 20":"4 W/E 07/25/20",
    "Aug 20":"4 W/E 08/22/20",
    "Sep 20":"5 W/E 09/26/20",
    "Oct 20":"4 W/E 10/24/20",
    "Nov 20":"4 W/E 11/21/20",
    "Dec 20":"5 W/E 12/26/20",
    "Jan 21":"4 W/E 01/23/21",
    "Feb 21":"4 W/E 02/20/21",
    "Mar 21":"5 W/E 03/27/21",
    "Apr 21":"4 W/E 04/24/21",
    "May 21":"4 W/E 05/22/21",
    "Jun 21":"5 W/E 06/26/21",
    "Jul 21":"4 W/E 07/24/21",
    "Aug 21":"4 W/E 08/21/21",
    "Sep 21":"5 W/E 09/25/21",
    "Oct 21":"4 W/E 10/23/21",
    "Nov 21":"4 W/E 11/20/21",
    "Dec 21":"5 W/E 12/25/21",
    "Jan 22":"4 W/E 01/22/22",
    "Feb 22":"4 W/E 02/19/22",
    "Mar 22":"5 W/E 03/26/22",
    "Apr 22":"4 W/E 04/23/22",
    "May 22":"5 W/E 05/21/22",
    "Jun 22":"4 W/E 06/25/22",
    "Jul 22":"4 W/E 07/23/22",
    "Aug 22":"5 W/E 08/20/22",
    "Sep 22":"4 W/E 09/24/22",
    "Oct 22":"4 W/E 10/22/22",
    "Nov 22":"5 W/E 11/19/22",
    "Dec 22":"4 W/E 12/24/22",
    "Jan 23":"4 W/E 01/21/23",
    "Feb 23":"5 W/E 02/18/23",
    "Mar 23":"4 W/E 03/25/23",
    "Apr 23":"4 W/E 04/22/23",
    "May 23":"5 W/E 05/20/23",
    "Jun 23":"4 W/E 06/24/23",
    "Jul 23":"4 W/E 07/22/23",
    "Aug 23":"5 W/E 08/19/23",
    "Sep 23":"4 W/E 09/23/23",
    "Oct 23":"5 W/E 10/21/23",
    "Nov 23":"4 W/E 11/18/23",
    "Dec 23":"4 W/E 12/23/23",
    "Jan 24":"5 W/E 01/20/24",
    "Feb 24":"4 W/E 02/17/24",
    "Mar 24":"4 W/E 03/23/24",
    "Apr 24":"5 W/E 04/20/24",
    "May 24":"4 W/E 05/18/24",
    "Jun 24":"4 W/E 06/22/24",
    "Jul 24":"5 W/E 07/20/24",
    "Aug 24":"4 W/E 08/17/24",
    "Sep 24":"4 W/E 09/21/24",
    "Oct 24":"5 W/E 10/19/24",
    "Nov 24":"4 W/E 11/16/24",
    "Dec 24":"4 W/E 12/21/24",
    "Jan 25":"5 W/E 01/18/25",
    "Feb 25":"4 W/E 02/15/25",
    "Mar 25":"5 W/E 03/22/25",
    "Apr 25":"4 W/E 04/19/25",
    "May 25":"4 W/E 05/17/25",
    "Jun 25":"5 W/E 06/21/25",
    "Jul 25":"4 W/E 07/19/25",
    "Aug 25":"4 W/E 08/16/25",
    "Sep 25":"5 W/E 09/20/25",
    "Oct 25":"4 W/E 10/18/25",
    "Nov 25":"4 W/E 11/15/25",
    "Dec 25":"5 W/E 12/20/25",
    "Jan 26":"4 W/E 01/17/26",
    "Feb 26":"4 W/E 02/14/26",
    "Mar 26":"5 W/E 03/21/26",
    "Apr 26":"4 W/E 04/18/26",
    "May 26":"4 W/E 05/16/26",
    "Jun 26":"5 W/E 06/20/26",
    "Jul 26":"4 W/E 07/18/26",
    "Aug 26":"5 W/E 08/15/26",
    "Sep 26":"4 W/E 09/19/26",
    "Oct 26":"4 W/E 10/17/26",
    "Nov 26":"5 W/E 11/14/26",
    "Dec 26":"4 W/E 12/19/26"
}


Sku_Opp.rename(columns=Time_Mapping,inplace=True)

In [ ]:
Market_Mapping={
    
     'ALBSCO Total Company TA':'Alb/Sfy',
     'Agency Grocery':'Agency Grocery',
     'Ahold USA Corp Total TA':"Ahold",
     'BJs Total TA':"BJs",
     'CLUB':"CLUB",
     'CVS Total Corp WO HI TA':"CVS",
     'Dol Gen Total TA':"Dollar General",
     'El Super Total TA':'El Super',
     'FDM':"FDM",
     'Family Dollar Total TA':"Family Dollar",
     'Fiesta Total TA':"Fiesta",
     'Giant Eagle Total TA':"Giant Eagle",
     'Kmart Total TA':"Kmart",
     'Meijer Total TA':"Meijer",
     'Publix Total TA':"Publix",
     'Rite Aid - Corp Total TA':"Rite Aid",
     "Sam's Total TA":"Sams",
     'ShopRite Total TA':"Shoprite",
     'Strategic Grocery':"Strategic Grocery",
     'TOTAL MASS':"TOTAL MASS",
     'Target Total BM/FF TA':"Target",
     'Total US Drug':"US Drug",
     'Total US Food':"US Food",
     'Total US xAOC':"US AOC",
     'VDC':"VDC",
     'Walgreens Total TA':"Walgreens",
     'Walmart Total US TA':"Walmart",
     'Wegmans Total TA':"Wegmans"
    }


Sku_Opp["Markets"].replace(Market_Mapping,inplace=True)

In [ ]:
#Changing Column Name

Sku_Opp.rename(columns={"Periods":"Facts"},inplace=True)

In [ ]:
##**Filter Condition**
#Taking only those products whose **Latest Month Dollar Share** is **greater than 0.07** for all the markets

# Sku_Opp.iloc[:,3:]= Sku_Opp.iloc[:,3:].apply(pd.to_numeric)

# Sku_Opp.info()

# df=Sku_Opp[(Sku_Opp['Facts'] == '$ Shr - CP CATEGORY') & ( Sku_Opp.iloc[:,19] > 0.07 )]

# # total number of unique Products 
# len(np.unique(list(df["Products"])))

# Sku_Opp=Sku_Opp[Sku_Opp['Products'].isin(list(df["Products"]))]
# Sku_Opp.head(3)

# len(set(Sku_Opp["Products"]))

In [ ]:
#***movecol*** function to **rearranging** the columns of a dataframe

def movecol(df, cols_to_move=[], ref_col='', place=''):
    cols = df.columns.tolist()
    if place == 'After':
        seg1 = cols[:list(cols).index(ref_col) + 1]
        seg2 = cols_to_move
    if place == 'Before':
        seg1 = cols[:list(cols).index(ref_col)]
        seg2 = cols_to_move + [ref_col]
    seg1 = [i for i in seg1 if i not in seg2]
    seg3 = [i for i in cols if i not in seg1 + seg2]
    
    return(df[seg1 + seg2 + seg3])

In [ ]:
cols=list(Sku_Opp.columns[0:12])
Sku_Opp[cols]=Sku_Opp[cols].apply(lambda x : x.str.strip())

**Selection**

In [ ]:
SKU_Facts_Mapping={
    '$':"Dollars",
     '$ / $MM ACV':"$ Sales/$MM ACV",
     '$ Chg YA':"Dollars YAG %Chg",
     '%ACV':"% Stores Selling",
     'Any Promo Unit Price':"RASP w/Any Promo",
     'No Promo Unit Price':"RASP w/No Promo",
     'Units':"Units",
     'Units % Chg YA':"Units YAG %Chg"
    }

Sku_Opp["Facts"]=Sku_Opp["Facts"].replace(SKU_Facts_Mapping)

In [ ]:
Sku_Opp.head()

In [ ]:
Sku_Opp_BAR=Sku_Opp[Sku_Opp["ShareBasis"]=="BAR"]

In [ ]:
Sku_Opp_BAR.info()

In [ ]:
Time_Period=list(Sku_Opp_BAR.columns[13:14])
print(Time_Period)

In [ ]:
Sku_Opp_BAR.columns

In [ ]:
Sku_Opp_BAR.rename(columns={'Markets':"MKT",'Products':"PROD"
                           },inplace=True)

In [ ]:
df1=pd.melt(Sku_Opp_BAR, id_vars =["MKT","ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-SIZE RANGE","CP-SEGMENT","CP-PRICE TIER","CP-MULTI","CP-SUBBRAND","PROD","PRODUCT CODE","Facts"], value_vars =Time_Period,var_name="PER")

df1["value"]=df1["value"].apply(pd.to_numeric)

In [ ]:
df1.head(2)

In [ ]:
df2=df1.pivot_table(index=["MKT","ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-SIZE RANGE","CP-SEGMENT","CP-PRICE TIER","CP-MULTI","CP-SUBBRAND","PROD","PRODUCT CODE",'PER'],columns='Facts')

df2.columns=df2.columns.droplevel().rename(None)
df2.reset_index(inplace =True)

In [ ]:
df2.head()

In [ ]:
# from pandas.api.types import CategoricalDtype

# Time_Period_order = CategoricalDtype(
#     Time_Period, 
#     ordered=True
# )

# df2['PER'] = df2['PER'].astype(Time_Period_order)

df2.sort_values(['MKT','PROD','PER'],inplace=True)

In [ ]:
df2.columns

In [ ]:


final_column_sorting=["MKT","PROD","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND",
                      'CP-SIZE RANGE', 'CP-SEGMENT', 'CP-PRICE TIER', 'CP-MULTI',"CP-SUBBRAND","PRODUCT CODE",'PER'
                      ,"% Stores Selling","Dollars","$ % Chg YA",
                      "Units","Units YAG %Chg","$ Sales/$MM ACV","RASP w/Any Promo","RASP w/No Promo"
                      ]
Sku_Opp_final=df2[final_column_sorting]

In [ ]:
Sku_Opp_final.head(3)

In [ ]:
Sku_Opp_final.rename(columns={'$ % Chg YA':"Dollars YAG %Chg"
                           },inplace=True)

In [ ]:
path_BAR = "//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/05. Output Data/5P Output/BAR/"

In [ ]:
Sku_Opp_final.to_csv(path_BAR+"SKU Opportunity_BAR.csv",index=False)

## BW

In [ ]:
path = "//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/03. Raw Data/Connect Data/SKU Opportunity Data"
files = os.listdir(path)

Selecting only **excel files** from all the files available in the above path

In [ ]:
files_xls = [f for f in files if f[-7:] == "BW.xlsx"]
print("Total number of files in the folder are ",len(files_xls))

In [ ]:
files_xls

In [ ]:

Price_Tier= pd.DataFrame()


Price_Tier = pd.read_excel(path+"/"+'SKU Opportunity Price Tier BW.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Price_Tier[["ShareBasis","CP-PRICE TIER"]] = Price_Tier['Products'].str.split('|',n=1,expand=True)

Price_Tier[["ShareBasis","CP-PRICE TIER"]]=Price_Tier[["ShareBasis","CP-PRICE TIER"]].fillna(value="")
        #Sku_Opp.head(3)



Price_Tier['CP-MANUFACTURER']="CAT"


Price_Tier = movecol(Price_Tier, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-PRICE TIER"], 
    ref_col='Markets',
    place='After')
Price_Tier.head(5)

In [ ]:

Price_Tier_Seg= pd.DataFrame()


Price_Tier_Seg = pd.read_excel(path+"/"+'SKU Opportunity Price Tier Seg BW.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Price_Tier_Seg[["ShareBasis","CP-PRICE TIER","CP-SEGMENT"]] = Price_Tier_Seg['Products'].str.split('|',n=2,expand=True)

Price_Tier_Seg[["ShareBasis","CP-PRICE TIER","CP-SEGMENT"]]=Price_Tier_Seg[["ShareBasis","CP-PRICE TIER","CP-SEGMENT"]].fillna(value="")
        #Sku_Opp.head(3)


Price_Tier_Seg['CP-MANUFACTURER']="CAT"

Price_Tier_Seg = movecol(Price_Tier_Seg, 
    cols_to_move=["ShareBasis",'CP-MANUFACTURER',"CP-PRICE TIER","CP-SEGMENT"], 
    ref_col='Markets',
    place='After')
Price_Tier_Seg.head(5)

In [ ]:

Seg= pd.DataFrame()


Seg = pd.read_excel(path+"/"+'SKU Opportunity Seg BW.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Seg[["ShareBasis","CP-SEGMENT"]] = Seg['Products'].str.split('|',n=1,expand=True)

Seg[["ShareBasis","CP-SEGMENT"]]=Seg[["ShareBasis","CP-SEGMENT"]].fillna(value="")
        #Sku_Opp.head(3)



Seg['CP-MANUFACTURER']="CAT"


Seg = movecol(Seg, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-SEGMENT"], 
    ref_col='Markets',
    place='After')
Seg.head(5)

In [ ]:

Seg_Price_Tier= pd.DataFrame()


Seg_Price_Tier = pd.read_excel(path+"/"+'SKU Opportunity Seg Price Tier BW.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Seg_Price_Tier[["ShareBasis","CP-SEGMENT","CP-PRICE TIER"]] = Seg_Price_Tier['Products'].str.split('|',n=2,expand=True)

Seg_Price_Tier[["ShareBasis","CP-SEGMENT","CP-PRICE TIER"]]=Seg_Price_Tier[["ShareBasis","CP-SEGMENT","CP-PRICE TIER"]].fillna(value="")
        #Sku_Opp.head(3)


Seg_Price_Tier['CP-MANUFACTURER']="CAT"

Seg_Price_Tier = movecol(Seg_Price_Tier, 
    cols_to_move=["ShareBasis",'CP-MANUFACTURER',"CP-SEGMENT","CP-PRICE TIER"], 
    ref_col='Markets',
    place='After')
Seg_Price_Tier.head(5)

In [ ]:

Size= pd.DataFrame()


Size = pd.read_excel(path+"/"+'SKU Opportunity Price Tier BW.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Size[["ShareBasis","CP-SIZE"]] = Size['Products'].str.split('|',n=1,expand=True)

Size[["ShareBasis","CP-SIZE"]]=Size[["ShareBasis","CP-SIZE"]].fillna(value="")
        #Sku_Opp.head(3)



Size['CP-MANUFACTURER']="CAT"


Size = movecol(Size, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-SIZE"], 
    ref_col='Markets',
    place='After')
Size.head(5)

In [ ]:

Target_Gender= pd.DataFrame()


Target_Gender = pd.read_excel(path+"/"+'SKU Opportunity Target Gender BW.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Target_Gender[["ShareBasis","CP-TARGET GENDER"]] = Target_Gender['Products'].str.split('|',n=1,expand=True)

Target_Gender[["ShareBasis","CP-TARGET GENDER"]]=Target_Gender[["ShareBasis","CP-TARGET GENDER"]].fillna(value="")
        #Sku_Opp.head(3)



Target_Gender['CP-MANUFACTURER']="CAT"


Target_Gender = movecol(Target_Gender, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-TARGET GENDER"], 
    ref_col='Markets',
    place='After')
Target_Gender.head(5)

In [ ]:
Target_Gender_Seg= pd.DataFrame()


Target_Gender_Seg = pd.read_excel(path+"/"+'SKU Opportunity Target Gender Seg BW.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Target_Gender_Seg[["ShareBasis","CP-TARGET GENDER","CP-SEGMENT"]] = Target_Gender_Seg['Products'].str.split('|',n=2,expand=True)

Target_Gender_Seg[["ShareBasis","CP-TARGET GENDER","CP-SEGMENT"]]=Target_Gender_Seg[["ShareBasis","CP-TARGET GENDER","CP-SEGMENT"]].fillna(value="")
        #Sku_Opp.head(3)


Target_Gender_Seg['CP-MANUFACTURER']="CAT"

Target_Gender_Seg = movecol(Target_Gender_Seg, 
    cols_to_move=["ShareBasis",'CP-MANUFACTURER',"CP-TARGET GENDER","CP-SEGMENT"], 
    ref_col='Markets',
    place='After')
Target_Gender_Seg.head(5)

In [ ]:
Target_Gender_Seg_Price= pd.DataFrame()


Target_Gender_Seg_Price = pd.read_excel(path+"/"+'SKU Opportunity Target Gender Price Tier Seg BW.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Target_Gender_Seg_Price[["ShareBasis","CP-TARGET GENDER","CP-PRICE TIER","CP-SEGMENT"]] = Target_Gender_Seg_Price['Products'].str.split('|',n=3,expand=True)

Target_Gender_Seg_Price[["ShareBasis","CP-TARGET GENDER","CP-PRICE TIER","CP-SEGMENT"]]=Target_Gender_Seg_Price[["ShareBasis","CP-TARGET GENDER","CP-PRICE TIER","CP-SEGMENT"]].fillna(value="")
        #Sku_Opp.head(3)


Target_Gender_Seg_Price['CP-MANUFACTURER']="CAT"

Target_Gender_Seg_Price = movecol(Target_Gender_Seg_Price, 
    cols_to_move=["ShareBasis",'CP-MANUFACTURER',"CP-TARGET GENDER","CP-PRICE TIER","CP-SEGMENT"], 
    ref_col='Markets',
    place='After')
Target_Gender_Seg_Price.head(5)

In [ ]:

UPC_Level= pd.DataFrame()


UPC_Level = pd.read_excel(path+"/"+'SKU Opportunity BW.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-TARGET GENDER","CP-SIZE RANGE","CP-SEGMENT","CP-PRICE TIER","TARGET GROUP GENDER","Products","PRODUCT CODE"]] = UPC_Level['Products'].str.split('|',n=10,expand=True)

UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-TARGET GENDER","CP-SIZE RANGE","CP-SEGMENT","CP-PRICE TIER","TARGET GROUP GENDER","Products","PRODUCT CODE"]]=UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-TARGET GENDER","CP-SIZE RANGE","CP-SEGMENT","CP-PRICE TIER","TARGET GROUP GENDER","Products","PRODUCT CODE"]].fillna(value="")
        #Sku_Opp.head(3)

        # Moving columns after "Market"
UPC_Level = movecol(UPC_Level, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-TARGET GENDER","CP-SIZE RANGE","CP-SEGMENT","CP-PRICE TIER","TARGET GROUP GENDER","Products","PRODUCT CODE"], 
    ref_col='Markets',
    place='After')


UPC_Level.head(5)

In [ ]:
Sku_Opp=pd.DataFrame()
Sku_Opp = pd.concat([Sku_Opp,Target_Gender_Seg_Price,Seg,Price_Tier_Seg,Price_Tier,Seg_Price_Tier,Size,Target_Gender,Target_Gender_Seg,UPC_Level],axis=0,ignore_index=True)
Sku_Opp = movecol(Sku_Opp, 
             cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-TARGET GENDER","CP-SIZE RANGE","CP-SEGMENT","CP-PRICE TIER","TARGET GROUP GENDER","Products","PRODUCT CODE"], 
             ref_col='Markets',
             place='After')
Sku_Opp.fillna("",inplace=True)
Sku_Opp.head()

In [ ]:
# Relaceing in Periods(Facts)
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("$","temp")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("- temp -","-")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("temp","$")


Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP FORM","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP USE","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP LDL AND FOAM","CP CATEGORY")

Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP LDL AND FM X DISHAIDS/WPS/SPR","CP CATEGORY")

Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP MEGA CATEGORY","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP BATTERY AND HYBRID","CP CATEGORY")


# Market name replaced
Sku_Opp["Markets"]=Sku_Opp["Markets"].str.replace("Walgreens Corp Total TA","Walgreens Total TA")

#replacing NaN values with 0
Sku_Opp.fillna(value=0,inplace=True)

In [ ]:
##Removing unwanted characters from all the column names** and store them in a list ***new_col_names***

new_col_names=[]
for i in Sku_Opp.columns:
    x=len(i)
    if x<=19:
        new_col_names.append(i)
    elif i[:3]=='YTD':
        new_col_names.append(i[:-16].strip('- '))
    else:
        new_col_names.append(i[:-14].strip('- '))
        

## Checking the duplicacte column in** ***Sku_Opp***

if(len(new_col_names)!=len(set(new_col_names))):
    print("\033[1;31m"+"*******************************ERROR*******************************\n\t\t\tWe have duplicate columns\n\t\t\tPlease recheck raw data files\n*******************************ERROR*******************************")

##Renaming the column names of ***Sku_Opp***

# Sku_Opp.rename(columns=dict(zip(Sku_Opp.columns,new_col_names)),inplace=True)
Sku_Opp.columns=new_col_names

In [ ]:
new_col_names

In [ ]:
Sku_Opp.columns

In [ ]:
##**Time period mapping**



time_period_map= pd.DataFrame({'Connect Time Period':['Markets', 'Products', 'Periods','Cal Yr 2020','Cal Yr 2019','Cal Yr 2018','Cal Yr 2017','YTD','YTD YA','Latest 13 Wks','Latest 26 Wks','OND 21','JAS 21','AMJ 21','JFM 21','OND 20','JAS 20','AMJ 20','JFM 20','OND 19','JAS 19','AMJ 19','Dec 21','Nov 21','Oct 21','Sep 21','Aug 21','Jul 21','Jun 21','May 21','Apr 21','Mar 21','Feb 21','Jan 21','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20'],
                               'Final Name':['Markets', 'Products', 'Periods','FY 2020','FY 2019','FY 2018','FY 2017','YTD 2021','YTD 2020','Latest 13 Weeks','Latest 26 Weeks','Q4 2021','Q3 2021','Q2 2021','Q1 2021','Q4 2020','Q3 2020','Q2 2020','Q1 2020','Q4 2019','Q3 2019','Q2 2019','Dec 21','Nov 21','Oct 21','Sep 21','Aug 21','Jul 21','Jun 21','May 21','Apr 21','Mar 21','Feb 21','Jan 21','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20']
                              ,'Order':range(1,47)})

time_period_map.head(5)

##We need to **change column names** of ***Sku_Opp*** and **reorder** them based on the time_period_mapping

# assigning variables
LM_column= list(Sku_Opp.columns)
time_connect=list(time_period_map["Connect Time Period"])
time_final=list(time_period_map["Final Name"])

# changing column names based on time_period_mapping
new_column=[]
for i in range(0,len(LM_column)):
    for j in range(0,len(time_connect)):
        if LM_column[i]==time_connect[j]:
            new_column.append(time_final[j])
        

print(new_column)

print(len(new_column),len(Sku_Opp.columns))

Sku_Opp.columns

#assigning new column names
#Sku_Opp.columns = new_column

# reordering column names
#my_list =time_period_map.iloc[:, 1]
#my_list1=Sku_Opp.columns
#result = [x for x in my_list if x in my_list1]
#Sku_Opp=Sku_Opp[result]

In [ ]:
##**Period Mapping**

Time_Mapping={
    "Nov 19":"4 W/E 11/23/19",
    "Dec 19":"5 W/E 12/28/19",
    "Jan 20":"4 W/E 01/25/20",
    "Feb 20":"4 W/E 02/22/20",
    "Mar 20":"5 W/E 03/28/20",
    "Apr 20":"4 W/E 04/25/20",
    "May 20":"4 W/E 05/23/20",
    "Jun 20":"5 W/E 06/27/20",
    "Jul 20":"4 W/E 07/25/20",
    "Aug 20":"4 W/E 08/22/20",
    "Sep 20":"5 W/E 09/26/20",
    "Oct 20":"4 W/E 10/24/20",
    "Nov 20":"4 W/E 11/21/20",
    "Dec 20":"5 W/E 12/26/20",
    "Jan 21":"4 W/E 01/23/21",
    "Feb 21":"4 W/E 02/20/21",
    "Mar 21":"5 W/E 03/27/21",
    "Apr 21":"4 W/E 04/24/21",
    "May 21":"4 W/E 05/22/21",
    "Jun 21":"5 W/E 06/26/21",
    "Jul 21":"4 W/E 07/24/21",
    "Aug 21":"4 W/E 08/21/21",
    "Sep 21":"5 W/E 09/25/21",
    "Oct 21":"4 W/E 10/23/21",
    "Nov 21":"4 W/E 11/20/21",
    "Dec 21":"5 W/E 12/25/21",
    "Jan 22":"4 W/E 01/22/22",
    "Feb 22":"4 W/E 02/19/22",
    "Mar 22":"5 W/E 03/26/22",
    "Apr 22":"4 W/E 04/23/22",
    "May 22":"5 W/E 05/21/22",
    "Jun 22":"4 W/E 06/25/22",
    "Jul 22":"4 W/E 07/23/22",
    "Aug 22":"5 W/E 08/20/22",
    "Sep 22":"4 W/E 09/24/22",
    "Oct 22":"4 W/E 10/22/22",
    "Nov 22":"5 W/E 11/19/22",
    "Dec 22":"4 W/E 12/24/22",
    "Jan 23":"4 W/E 01/21/23",
    "Feb 23":"5 W/E 02/18/23",
    "Mar 23":"4 W/E 03/25/23",
    "Apr 23":"4 W/E 04/22/23",
    "May 23":"5 W/E 05/20/23",
    "Jun 23":"4 W/E 06/24/23",
    "Jul 23":"4 W/E 07/22/23",
    "Aug 23":"5 W/E 08/19/23",
    "Sep 23":"4 W/E 09/23/23",
    "Oct 23":"5 W/E 10/21/23",
    "Nov 23":"4 W/E 11/18/23",
    "Dec 23":"4 W/E 12/23/23",
    "Jan 24":"5 W/E 01/20/24",
    "Feb 24":"4 W/E 02/17/24",
    "Mar 24":"4 W/E 03/23/24",
    "Apr 24":"5 W/E 04/20/24",
    "May 24":"4 W/E 05/18/24",
    "Jun 24":"4 W/E 06/22/24",
    "Jul 24":"5 W/E 07/20/24",
    "Aug 24":"4 W/E 08/17/24",
    "Sep 24":"4 W/E 09/21/24",
    "Oct 24":"5 W/E 10/19/24",
    "Nov 24":"4 W/E 11/16/24",
    "Dec 24":"4 W/E 12/21/24",
    "Jan 25":"5 W/E 01/18/25",
    "Feb 25":"4 W/E 02/15/25",
    "Mar 25":"5 W/E 03/22/25",
    "Apr 25":"4 W/E 04/19/25",
    "May 25":"4 W/E 05/17/25",
    "Jun 25":"5 W/E 06/21/25",
    "Jul 25":"4 W/E 07/19/25",
    "Aug 25":"4 W/E 08/16/25",
    "Sep 25":"5 W/E 09/20/25",
    "Oct 25":"4 W/E 10/18/25",
    "Nov 25":"4 W/E 11/15/25",
    "Dec 25":"5 W/E 12/20/25",
    "Jan 26":"4 W/E 01/17/26",
    "Feb 26":"4 W/E 02/14/26",
    "Mar 26":"5 W/E 03/21/26",
    "Apr 26":"4 W/E 04/18/26",
    "May 26":"4 W/E 05/16/26",
    "Jun 26":"5 W/E 06/20/26",
    "Jul 26":"4 W/E 07/18/26",
    "Aug 26":"5 W/E 08/15/26",
    "Sep 26":"4 W/E 09/19/26",
    "Oct 26":"4 W/E 10/17/26",
    "Nov 26":"5 W/E 11/14/26",
    "Dec 26":"4 W/E 12/19/26"
}


Sku_Opp.rename(columns=Time_Mapping,inplace=True)

In [ ]:
Market_Mapping={
    
     'ALBSCO Total Company TA':'Alb/Sfy',
     'Agency Grocery':'Agency Grocery',
     'Ahold USA Corp Total TA':"Ahold",
     'BJs Total TA':"BJs",
     'CLUB':"CLUB",
     'CVS Total Corp WO HI TA':"CVS",
     'Dol Gen Total TA':"Dollar General",
     'El Super Total TA':'El Super',
     'FDM':"FDM",
     'Family Dollar Total TA':"Family Dollar",
     'Fiesta Total TA':"Fiesta",
     'Giant Eagle Total TA':"Giant Eagle",
     'Kmart Total TA':"Kmart",
     'Meijer Total TA':"Meijer",
     'Publix Total TA':"Publix",
     'Rite Aid - Corp Total TA':"Rite Aid",
     "Sam's Total TA":"Sams",
     'ShopRite Total TA':"Shoprite",
     'Strategic Grocery':"Strategic Grocery",
     'TOTAL MASS':"TOTAL MASS",
     'Target Total BM/FF TA':"Target",
     'Total US Drug':"US Drug",
     'Total US Food':"US Food",
     'Total US xAOC':"US AOC",
     'VDC':"VDC",
     'Walgreens Total TA':"Walgreens",
     'Walmart Total US TA':"Walmart",
     'Wegmans Total TA':"Wegmans"
    }


Sku_Opp["Markets"].replace(Market_Mapping,inplace=True)

In [ ]:
#Changing Column Name

Sku_Opp.rename(columns={"Periods":"Facts"},inplace=True)

In [ ]:
##**Filter Condition**
#Taking only those products whose **Latest Month Dollar Share** is **greater than 0.07** for all the markets

# Sku_Opp.iloc[:,3:]= Sku_Opp.iloc[:,3:].apply(pd.to_numeric)

# Sku_Opp.info()

# df=Sku_Opp[(Sku_Opp['Facts'] == '$ Shr - CP CATEGORY') & ( Sku_Opp.iloc[:,19] > 0.07 )]

# # total number of unique Products 
# len(np.unique(list(df["Products"])))

# Sku_Opp=Sku_Opp[Sku_Opp['Products'].isin(list(df["Products"]))]
# Sku_Opp.head(3)

# len(set(Sku_Opp["Products"]))

In [ ]:
#***movecol*** function to **rearranging** the columns of a dataframe

def movecol(df, cols_to_move=[], ref_col='', place=''):
    cols = df.columns.tolist()
    if place == 'After':
        seg1 = cols[:list(cols).index(ref_col) + 1]
        seg2 = cols_to_move
    if place == 'Before':
        seg1 = cols[:list(cols).index(ref_col)]
        seg2 = cols_to_move + [ref_col]
    seg1 = [i for i in seg1 if i not in seg2]
    seg3 = [i for i in cols if i not in seg1 + seg2]
    
    return(df[seg1 + seg2 + seg3])

In [ ]:
cols=list(Sku_Opp.columns[0:12])
Sku_Opp[cols]=Sku_Opp[cols].apply(lambda x : x.str.strip())

**Selection**

In [ ]:
SKU_Facts_Mapping={
    '$':"Dollars",
     '$ / $MM ACV':"$ Sales/$MM ACV",
     '$ Chg YA':"Dollars YAG %Chg",
     '%ACV':"% Stores Selling",
     'Any Promo Unit Price':"RASP w/Any Promo",
     'No Promo Unit Price':"RASP w/No Promo",
     'Units':"Units",
     'Units % Chg YA':"Units YAG %Chg"
    }

Sku_Opp["Facts"]=Sku_Opp["Facts"].replace(SKU_Facts_Mapping)

In [ ]:
Sku_Opp_BW=Sku_Opp[Sku_Opp["ShareBasis"]=="BODYWASH"]

In [ ]:
Sku_Opp_BW.info()

In [ ]:
Time_Period=list(Sku_Opp_BW.columns[13:14])
print(Time_Period)

In [ ]:
Sku_Opp_BW.columns

In [ ]:
Sku_Opp_BW.rename(columns={'Markets':"MKT",'Products':'PROD'
                           },inplace=True)

In [ ]:
df1=pd.melt(Sku_Opp_BW, id_vars =["MKT","ShareBasis","PROD","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-TARGET GENDER","CP-SIZE RANGE","CP-SEGMENT","CP-PRICE TIER","TARGET GROUP GENDER","PRODUCT CODE","Facts"], value_vars =Time_Period,var_name="PER")

df1["value"]=df1["value"].apply(pd.to_numeric)
df1.head()

In [ ]:
df2=df1.pivot_table(index=["MKT","ShareBasis","PROD","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-TARGET GENDER","CP-SIZE RANGE","CP-SEGMENT","CP-PRICE TIER","TARGET GROUP GENDER","PRODUCT CODE",'PER'],columns='Facts')

df2.columns=df2.columns.droplevel().rename(None)
df2.reset_index(inplace =True)

In [ ]:
# from pandas.api.types import CategoricalDtype

# Time_Period_order = CategoricalDtype(
#     Time_Period, 
#     ordered=True
# )

# df2['PER'] = df2['PER'].astype(Time_Period_order)

df2.sort_values(['MKT','PROD','PER'],inplace=True)

In [ ]:
df2.columns

In [ ]:


final_column_sorting=["MKT","PROD",'CP-MANUFACTURER', 'CP-FRANCHISE',
       'CP-BRAND', 'CP-TARGET GENDER', 'CP-SIZE RANGE', 'CP-SEGMENT',
       'CP-PRICE TIER', 'TARGET GROUP GENDER',"PRODUCT CODE","PER","% Stores Selling"
                      ,"Dollars","$ % Chg YA",
                      "Units","Units YAG %Chg","$ Sales/$MM ACV","RASP w/Any Promo","RASP w/No Promo"
                      ]
Sku_Opp_final=df2[final_column_sorting]

In [ ]:
Sku_Opp_final.head(3)

In [ ]:
path_BW= "//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/05. Output Data/5P Output/BW/"

In [ ]:
Sku_Opp_final.to_csv(path_BW+"SKU Opportunity_BW.csv",index=False)

## LHS

In [ ]:
path = "//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/03. Raw Data/Connect Data/SKU Opportunity Data"
files = os.listdir(path)

Selecting only **excel files** from all the files available in the above path

In [ ]:
files_xls = [f for f in files if f[-8:] == "LHS.xlsx"]
print("Total number of files in the folder are ",len(files_xls))

In [ ]:
files_xls

In [ ]:

Form= pd.DataFrame()


Form = pd.read_excel(path+"/"+'SKU Opportunity Form LHS.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Form[["ShareBasis","CP-FORM"]] = Form['Products'].str.split('|',n=1,expand=True)

Form[["ShareBasis","CP-FORM"]]=Form[["ShareBasis","CP-FORM"]].fillna(value="")
        #Sku_Opp.head(3)



Form['CP-MANUFACTURER']="CAT"


Form = movecol(Form, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-FORM"], 
    ref_col='Markets',
    place='After')
Form.head(5)

In [ ]:

Container= pd.DataFrame()


Container = pd.read_excel(path+"/"+'SKU Opportunity Container LHS.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Container[["ShareBasis","CP-CONTAINER"]] = Container['Products'].str.split('|',n=1,expand=True)

Container[["ShareBasis","CP-CONTAINER"]]=Container[["ShareBasis","CP-CONTAINER"]].fillna(value="")
        #Sku_Opp.head(3)


Container['CP-MANUFACTURER']="CAT"

Container = movecol(Container, 
    cols_to_move=["ShareBasis","CP-CONTAINER"], 
    ref_col='Markets',
    place='After')
Container.head(5)

In [ ]:

UPC_Level= pd.DataFrame()


UPC_Level = pd.read_excel(path+"/"+'SKU Opportunity LHS.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-CONTAINER","CP-PRICE TIER","CP-FORM","CP-SUBBRAND","CP-SUBBRAND VARIANT","Products","PRODUCT CODE"]] = UPC_Level['Products'].str.split('|',n=10,expand=True)

UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-CONTAINER","CP-PRICE TIER","CP-FORM","CP-SUBBRAND","CP-SUBBRAND VARIANT","Products","PRODUCT CODE"]]=UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-CONTAINER","CP-PRICE TIER","CP-FORM","CP-SUBBRAND","CP-SUBBRAND VARIANT","Products","PRODUCT CODE"]].fillna(value="")
        #Sku_Opp.head(3)

        # Moving columns after "Market"
UPC_Level = movecol(UPC_Level, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-CONTAINER","CP-PRICE TIER","CP-FORM","CP-SUBBRAND","CP-SUBBRAND VARIANT","Products","PRODUCT CODE"], 
    ref_col='Markets',
    place='After')


UPC_Level.head(5)

In [ ]:
Sku_Opp=pd.DataFrame()
Sku_Opp = pd.concat([Sku_Opp,Container,Form,UPC_Level],axis=0,ignore_index=True)
Sku_Opp = movecol(Sku_Opp, 
             cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-CONTAINER","CP-PRICE TIER","CP-FORM","CP-SUBBRAND","CP-SUBBRAND VARIANT","Products","PRODUCT CODE"], 
             ref_col='Markets',
             place='After')
Sku_Opp.fillna("",inplace=True)
Sku_Opp.head()

In [ ]:
# Relaceing in Periods(Facts)
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("$","temp")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("- temp -","-")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("temp","$")


Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP FORM","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP USE","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP LDL AND FOAM","CP CATEGORY")

Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP LDL AND FM X DISHAIDS/WPS/SPR","CP CATEGORY")

Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP MEGA CATEGORY","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP BATTERY AND HYBRID","CP CATEGORY")


# Market name replaced
Sku_Opp["Markets"]=Sku_Opp["Markets"].str.replace("Walgreens Corp Total TA","Walgreens Total TA")

#replacing NaN values with 0
Sku_Opp.fillna(value=0,inplace=True)

In [ ]:
##Removing unwanted characters from all the column names** and store them in a list ***new_col_names***

new_col_names=[]
for i in Sku_Opp.columns:
    x=len(i)
    if x<=19:
        new_col_names.append(i)
    elif i[:3]=='YTD':
        new_col_names.append(i[:-16].strip('- '))
    else:
        new_col_names.append(i[:-14].strip('- '))
        

## Checking the duplicacte column in** ***Sku_Opp***

if(len(new_col_names)!=len(set(new_col_names))):
    print("\033[1;31m"+"*******************************ERROR*******************************\n\t\t\tWe have duplicate columns\n\t\t\tPlease recheck raw data files\n*******************************ERROR*******************************")

##Renaming the column names of ***Sku_Opp***

# Sku_Opp.rename(columns=dict(zip(Sku_Opp.columns,new_col_names)),inplace=True)
Sku_Opp.columns=new_col_names

In [ ]:
new_col_names

In [ ]:
Sku_Opp.columns

In [ ]:
##**Time period mapping**



time_period_map= pd.DataFrame({'Connect Time Period':['Markets', 'Products', 'Periods','Cal Yr 2020','Cal Yr 2019','Cal Yr 2018','Cal Yr 2017','YTD','YTD YA','Latest 13 Wks','Latest 26 Wks','OND 21','JAS 21','AMJ 21','JFM 21','OND 20','JAS 20','AMJ 20','JFM 20','OND 19','JAS 19','AMJ 19','Dec 21','Nov 21','Oct 21','Sep 21','Aug 21','Jul 21','Jun 21','May 21','Apr 21','Mar 21','Feb 21','Jan 21','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20'],
                               'Final Name':['Markets', 'Products', 'Periods','FY 2020','FY 2019','FY 2018','FY 2017','YTD 2021','YTD 2020','Latest 13 Weeks','Latest 26 Weeks','Q4 2021','Q3 2021','Q2 2021','Q1 2021','Q4 2020','Q3 2020','Q2 2020','Q1 2020','Q4 2019','Q3 2019','Q2 2019','Dec 21','Nov 21','Oct 21','Sep 21','Aug 21','Jul 21','Jun 21','May 21','Apr 21','Mar 21','Feb 21','Jan 21','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20']
                              ,'Order':range(1,47)})

time_period_map.head(5)

##We need to **change column names** of ***Sku_Opp*** and **reorder** them based on the time_period_mapping

# assigning variables
LM_column= list(Sku_Opp.columns)
time_connect=list(time_period_map["Connect Time Period"])
time_final=list(time_period_map["Final Name"])

# changing column names based on time_period_mapping
new_column=[]
for i in range(0,len(LM_column)):
    for j in range(0,len(time_connect)):
        if LM_column[i]==time_connect[j]:
            new_column.append(time_final[j])
        

print(new_column)

print(len(new_column),len(Sku_Opp.columns))

Sku_Opp.columns

#assigning new column names
#Sku_Opp.columns = new_column

# reordering column names
#my_list =time_period_map.iloc[:, 1]
#my_list1=Sku_Opp.columns
#result = [x for x in my_list if x in my_list1]
#Sku_Opp=Sku_Opp[result]

In [ ]:
##**Period Mapping**

Time_Mapping={
    "Nov 19":"4 W/E 11/23/19",
    "Dec 19":"5 W/E 12/28/19",
    "Jan 20":"4 W/E 01/25/20",
    "Feb 20":"4 W/E 02/22/20",
    "Mar 20":"5 W/E 03/28/20",
    "Apr 20":"4 W/E 04/25/20",
    "May 20":"4 W/E 05/23/20",
    "Jun 20":"5 W/E 06/27/20",
    "Jul 20":"4 W/E 07/25/20",
    "Aug 20":"4 W/E 08/22/20",
    "Sep 20":"5 W/E 09/26/20",
    "Oct 20":"4 W/E 10/24/20",
    "Nov 20":"4 W/E 11/21/20",
    "Dec 20":"5 W/E 12/26/20",
    "Jan 21":"4 W/E 01/23/21",
    "Feb 21":"4 W/E 02/20/21",
    "Mar 21":"5 W/E 03/27/21",
    "Apr 21":"4 W/E 04/24/21",
    "May 21":"4 W/E 05/22/21",
    "Jun 21":"5 W/E 06/26/21",
    "Jul 21":"4 W/E 07/24/21",
    "Aug 21":"4 W/E 08/21/21",
    "Sep 21":"5 W/E 09/25/21",
    "Oct 21":"4 W/E 10/23/21",
    "Nov 21":"4 W/E 11/20/21",
    "Dec 21":"5 W/E 12/25/21",
    "Jan 22":"4 W/E 01/22/22",
    "Feb 22":"4 W/E 02/19/22",
    "Mar 22":"5 W/E 03/26/22",
    "Apr 22":"4 W/E 04/23/22",
    "May 22":"5 W/E 05/21/22",
    "Jun 22":"4 W/E 06/25/22",
    "Jul 22":"4 W/E 07/23/22",
    "Aug 22":"5 W/E 08/20/22",
    "Sep 22":"4 W/E 09/24/22",
    "Oct 22":"4 W/E 10/22/22",
    "Nov 22":"5 W/E 11/19/22",
    "Dec 22":"4 W/E 12/24/22",
    "Jan 23":"4 W/E 01/21/23",
    "Feb 23":"5 W/E 02/18/23",
    "Mar 23":"4 W/E 03/25/23",
    "Apr 23":"4 W/E 04/22/23",
    "May 23":"5 W/E 05/20/23",
    "Jun 23":"4 W/E 06/24/23",
    "Jul 23":"4 W/E 07/22/23",
    "Aug 23":"5 W/E 08/19/23",
    "Sep 23":"4 W/E 09/23/23",
    "Oct 23":"5 W/E 10/21/23",
    "Nov 23":"4 W/E 11/18/23",
    "Dec 23":"4 W/E 12/23/23",
    "Jan 24":"5 W/E 01/20/24",
    "Feb 24":"4 W/E 02/17/24",
    "Mar 24":"4 W/E 03/23/24",
    "Apr 24":"5 W/E 04/20/24",
    "May 24":"4 W/E 05/18/24",
    "Jun 24":"4 W/E 06/22/24",
    "Jul 24":"5 W/E 07/20/24",
    "Aug 24":"4 W/E 08/17/24",
    "Sep 24":"4 W/E 09/21/24",
    "Oct 24":"5 W/E 10/19/24",
    "Nov 24":"4 W/E 11/16/24",
    "Dec 24":"4 W/E 12/21/24",
    "Jan 25":"5 W/E 01/18/25",
    "Feb 25":"4 W/E 02/15/25",
    "Mar 25":"5 W/E 03/22/25",
    "Apr 25":"4 W/E 04/19/25",
    "May 25":"4 W/E 05/17/25",
    "Jun 25":"5 W/E 06/21/25",
    "Jul 25":"4 W/E 07/19/25",
    "Aug 25":"4 W/E 08/16/25",
    "Sep 25":"5 W/E 09/20/25",
    "Oct 25":"4 W/E 10/18/25",
    "Nov 25":"4 W/E 11/15/25",
    "Dec 25":"5 W/E 12/20/25",
    "Jan 26":"4 W/E 01/17/26",
    "Feb 26":"4 W/E 02/14/26",
    "Mar 26":"5 W/E 03/21/26",
    "Apr 26":"4 W/E 04/18/26",
    "May 26":"4 W/E 05/16/26",
    "Jun 26":"5 W/E 06/20/26",
    "Jul 26":"4 W/E 07/18/26",
    "Aug 26":"5 W/E 08/15/26",
    "Sep 26":"4 W/E 09/19/26",
    "Oct 26":"4 W/E 10/17/26",
    "Nov 26":"5 W/E 11/14/26",
    "Dec 26":"4 W/E 12/19/26"
}


Sku_Opp.rename(columns=Time_Mapping,inplace=True)

In [ ]:
Market_Mapping={
    
     'ALBSCO Total Company TA':'Alb/Sfy',
     'Agency Grocery':'Agency Grocery',
     'Ahold USA Corp Total TA':"Ahold",
     'BJs Total TA':"BJs",
     'CLUB':"CLUB",
     'CVS Total Corp WO HI TA':"CVS",
     'Dol Gen Total TA':"Dollar General",
     'El Super Total TA':'El Super',
     'FDM':"FDM",
     'Family Dollar Total TA':"Family Dollar",
     'Fiesta Total TA':"Fiesta",
     'Giant Eagle Total TA':"Giant Eagle",
     'Kmart Total TA':"Kmart",
     'Meijer Total TA':"Meijer",
     'Publix Total TA':"Publix",
     'Rite Aid - Corp Total TA':"Rite Aid",
     "Sam's Total TA":"Sams",
     'ShopRite Total TA':"Shoprite",
     'Strategic Grocery':"Strategic Grocery",
     'TOTAL MASS':"TOTAL MASS",
     'Target Total BM/FF TA':"Target",
     'Total US Drug':"US Drug",
     'Total US Food':"US Food",
     'Total US xAOC':"US AOC",
     'VDC':"VDC",
     'Walgreens Total TA':"Walgreens",
     'Walmart Total US TA':"Walmart",
     'Wegmans Total TA':"Wegmans"
    }


Sku_Opp["Markets"].replace(Market_Mapping,inplace=True)

In [ ]:
#Changing Column Name

Sku_Opp.rename(columns={"Periods":"Facts"},inplace=True)

In [ ]:
##**Filter Condition**
#Taking only those products whose **Latest Month Dollar Share** is **greater than 0.07** for all the markets

# Sku_Opp.iloc[:,3:]= Sku_Opp.iloc[:,3:].apply(pd.to_numeric)

# Sku_Opp.info()

# df=Sku_Opp[(Sku_Opp['Facts'] == '$ Shr - CP CATEGORY') & ( Sku_Opp.iloc[:,19] > 0.07 )]

# # total number of unique Products 
# len(np.unique(list(df["Products"])))

# Sku_Opp=Sku_Opp[Sku_Opp['Products'].isin(list(df["Products"]))]
# Sku_Opp.head(3)

# len(set(Sku_Opp["Products"]))

In [ ]:
#***movecol*** function to **rearranging** the columns of a dataframe

def movecol(df, cols_to_move=[], ref_col='', place=''):
    cols = df.columns.tolist()
    if place == 'After':
        seg1 = cols[:list(cols).index(ref_col) + 1]
        seg2 = cols_to_move
    if place == 'Before':
        seg1 = cols[:list(cols).index(ref_col)]
        seg2 = cols_to_move + [ref_col]
    seg1 = [i for i in seg1 if i not in seg2]
    seg3 = [i for i in cols if i not in seg1 + seg2]
    
    return(df[seg1 + seg2 + seg3])

In [ ]:
cols=list(Sku_Opp.columns[0:12])
Sku_Opp[cols]=Sku_Opp[cols].apply(lambda x : x.str.strip())

**Selection**

In [ ]:
SKU_Facts_Mapping={
    '$':"Dollars",
     '$ / $MM ACV':"$ Sales/$MM ACV",
     '$ Chg YA':"Dollars YAG %Chg",
     '%ACV':"% Stores Selling",
     'Any Promo Unit Price':"RASP w/Any Promo",
     'No Promo Unit Price':"RASP w/No Promo",
     'Units':"Units",
     'Units % Chg YA':"Units YAG %Chg"
    }

Sku_Opp["Facts"]=Sku_Opp["Facts"].replace(SKU_Facts_Mapping)

In [ ]:
Sku_Opp_LHS=Sku_Opp[Sku_Opp["ShareBasis"]=="LIQUID"]

In [ ]:
Sku_Opp_LHS.info()

In [ ]:
Time_Period=list(Sku_Opp_LHS.columns[13:14])
print(Time_Period)

In [ ]:
Sku_Opp_LHS.columns

In [ ]:
Sku_Opp_LHS.rename(columns={'Markets':"MKT",'Products':'PROD'
                           },inplace=True)

In [ ]:
df1=pd.melt(Sku_Opp_LHS, id_vars =["MKT","PROD","ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-CONTAINER","CP-PRICE TIER","CP-FORM","CP-SUBBRAND","CP-SUBBRAND VARIANT","PRODUCT CODE","Facts"], value_vars =Time_Period,var_name="PER")

df1["value"]=df1["value"].apply(pd.to_numeric)
df1.head()

In [ ]:
df2=df1.pivot_table(index=["MKT","PROD","ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-CONTAINER","CP-PRICE TIER","CP-FORM","CP-SUBBRAND","CP-SUBBRAND VARIANT","PRODUCT CODE",'PER'],columns='Facts')

df2.columns=df2.columns.droplevel().rename(None)
df2.reset_index(inplace =True)

In [ ]:
# from pandas.api.types import CategoricalDtype

# Time_Period_order = CategoricalDtype(
#     Time_Period, 
#     ordered=True
# )

# df2['PER'] = df2['PER'].astype(Time_Period_order)

df2.sort_values(['MKT','PROD','PER'],inplace=True)

In [ ]:
df2.columns

In [ ]:


final_column_sorting=["MKT","PROD","ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND",
                      "CP-CONTAINER","CP-PRICE TIER","CP-FORM","CP-SUBBRAND","CP-SUBBRAND VARIANT",
                      "PRODUCT CODE","PRODUCT CODE","PER","% Stores Selling"
                      ,"Dollars","$ % Chg YA",
                      "Units","Units YAG %Chg","$ Sales/$MM ACV","RASP w/Any Promo","RASP w/No Promo"
                      ]
Sku_Opp_final=df2[final_column_sorting]

In [ ]:
Sku_Opp_final.head(3)

In [ ]:
Sku_Opp_final.rename(columns={'$ % Chg YA':"Dollars YAG %Chg"
                           },inplace=True)

In [ ]:
path_LHS= "//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/05. Output Data/5P Output/LHS/"

In [ ]:
Sku_Opp_final.to_csv(path_LHS+"SKU Opportunity_LHS.csv",index=False)

## FS

In [ ]:
path = "//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/03. Raw Data/Connect Data/SKU Opportunity Data"
files = os.listdir(path)

Selecting only **excel files** from all the files available in the above path

In [ ]:
files_xls = [f for f in files if f[-7:] == "FS.xlsx"]
print("Total number of files in the folder are ",len(files_xls))

In [ ]:
files_xls

In [ ]:

Category = pd.DataFrame()


Category = pd.read_excel(path+"/"+'SKU Opportunity Category FS.xlsx')

Category['ShareBasis']=Category['Products']
Category['CP-CATEGORY']=Category['Products']
Category['CP-MANUFACTURER']="CAT"

Category = movecol(Category, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-CATEGORY"], 
    ref_col='Markets',
    place='After')
Category.head(5)

In [ ]:

Category_Form= pd.DataFrame()


Category_Form = pd.read_excel(path+"/"+'SKU Opportunity Category Form FS.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Category_Form[["ShareBasis","CP-FORM"]] = Category_Form['Products'].str.split('|',n=1,expand=True)

Category_Form[["ShareBasis","CP-FORM"]]=Category_Form[["ShareBasis","CP-FORM"]].fillna(value="")
        #Sku_Opp.head(3)


Category_Form['CP-CATEGORY']=Category_Form['Products']
Category_Form['CP-MANUFACTURER']="CAT"


Category_Form = movecol(Category_Form, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-FORM"], 
    ref_col='Markets',
    place='After')
Category_Form.head(5)

In [ ]:

Category_Size_Range= pd.DataFrame()


Category_Size_Range = pd.read_excel(path+"/"+'SKU Opportunity Category Size Range FS.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Category_Size_Range[["ShareBasis","CP-SIZE RANGE"]] = Category_Size_Range['Products'].str.split('|',n=2,expand=True)

Category_Size_Range[["ShareBasis","CP-SIZE RANGE"]]=Category_Size_Range[["ShareBasis","CP-SIZE RANGE"]].fillna(value="")
        #Sku_Opp.head(3)

Category_Size_Range['CP-MANUFACTURER']="CAT"
Category_Size_Range['CP-CATEGORY']=Category_Size_Range['Products']

Category_Size_Range = movecol(Category_Size_Range, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-SIZE RANGE"], 
    ref_col='Markets',
    place='After')
Category_Size_Range.head(5)

In [ ]:

UPC_Level= pd.DataFrame()


UPC_Level = pd.read_excel(path+"/"+'SKU Opportunity FS.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-CATEGORY","CP-SIZE RANGE","CP-FORM","CP-MULTI","CP-SIZE","Products","PRODUCT CODE"]] = UPC_Level['Products'].str.split('|',n=10,expand=True)

UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-CATEGORY","CP-SIZE RANGE","CP-FORM","CP-MULTI","CP-SIZE","Products","PRODUCT CODE"]]=UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-CATEGORY","CP-SIZE RANGE","CP-FORM","CP-MULTI","CP-SIZE","Products","PRODUCT CODE"]].fillna(value="")
        #Sku_Opp.head(3)

        # Moving columns after "Market"
UPC_Level = movecol(UPC_Level, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-CATEGORY","CP-SIZE RANGE","CP-FORM","CP-MULTI","CP-SIZE","Products","PRODUCT CODE"], 
    ref_col='Markets',
    place='After')


UPC_Level.head(5)

In [ ]:
Sku_Opp=pd.DataFrame()
Sku_Opp = pd.concat([Sku_Opp,Category_Form,Category,Category_Size_Range,UPC_Level],axis=0,ignore_index=True)
Sku_Opp = movecol(Sku_Opp, 
             cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-CATEGORY","CP-SIZE RANGE","CP-FORM","CP-MULTI","CP-SIZE","Products","PRODUCT CODE"], 
             ref_col='Markets',
             place='After')
Sku_Opp.fillna("",inplace=True)

Sku_Opp.head()

In [ ]:
# Relaceing in Periods(Facts)
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("$","temp")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("- temp -","-")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("temp","$")


Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP FORM","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP USE","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP LDL AND FOAM","CP CATEGORY")

Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP LDL AND FM X DISHAIDS/WPS/SPR","CP CATEGORY")

Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP MEGA CATEGORY","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP BATTERY AND HYBRID","CP CATEGORY")


# Market name replaced
Sku_Opp["Markets"]=Sku_Opp["Markets"].str.replace("Walgreens Corp Total TA","Walgreens Total TA")

#replacing NaN values with 0
Sku_Opp.fillna(value=0,inplace=True)

In [ ]:
##Removing unwanted characters from all the column names** and store them in a list ***new_col_names***

new_col_names=[]
for i in Sku_Opp.columns:
    x=len(i)
    if x<=17:
        new_col_names.append(i)
    elif i[:3]=='YTD':
        new_col_names.append(i[:-16].strip('- '))
    else:
        new_col_names.append(i[:-14].strip('- '))
        

## Checking the duplicacte column in** ***Sku_Opp***

if(len(new_col_names)!=len(set(new_col_names))):
    print("\033[1;31m"+"*******************************ERROR*******************************\n\t\t\tWe have duplicate columns\n\t\t\tPlease recheck raw data files\n*******************************ERROR*******************************")

##Renaming the column names of ***Sku_Opp***

# Sku_Opp.rename(columns=dict(zip(Sku_Opp.columns,new_col_names)),inplace=True)
Sku_Opp.columns=new_col_names

In [ ]:
new_col_names

In [ ]:
Sku_Opp.columns

In [ ]:
##**Time period mapping**



time_period_map= pd.DataFrame({'Connect Time Period':['Markets', 'Products', 'Periods','Cal Yr 2020','Cal Yr 2019','Cal Yr 2018','Cal Yr 2017','YTD','YTD YA','Latest 13 Wks','Latest 26 Wks','OND 21','JAS 21','AMJ 21','JFM 21','OND 20','JAS 20','AMJ 20','JFM 20','OND 19','JAS 19','AMJ 19','Dec 21','Nov 21','Oct 21','Sep 21','Aug 21','Jul 21','Jun 21','May 21','Apr 21','Mar 21','Feb 21','Jan 21','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20'],
                               'Final Name':['Markets', 'Products', 'Periods','FY 2020','FY 2019','FY 2018','FY 2017','YTD 2021','YTD 2020','Latest 13 Weeks','Latest 26 Weeks','Q4 2021','Q3 2021','Q2 2021','Q1 2021','Q4 2020','Q3 2020','Q2 2020','Q1 2020','Q4 2019','Q3 2019','Q2 2019','Dec 21','Nov 21','Oct 21','Sep 21','Aug 21','Jul 21','Jun 21','May 21','Apr 21','Mar 21','Feb 21','Jan 21','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20']
                              ,'Order':range(1,47)})

time_period_map.head(5)

##We need to **change column names** of ***Sku_Opp*** and **reorder** them based on the time_period_mapping

# assigning variables
LM_column= list(Sku_Opp.columns)
time_connect=list(time_period_map["Connect Time Period"])
time_final=list(time_period_map["Final Name"])

# changing column names based on time_period_mapping
new_column=[]
for i in range(0,len(LM_column)):
    for j in range(0,len(time_connect)):
        if LM_column[i]==time_connect[j]:
            new_column.append(time_final[j])
        

print(new_column)

print(len(new_column),len(Sku_Opp.columns))

Sku_Opp.columns

#assigning new column names
Sku_Opp.columns = new_column

# reordering column names
#my_list =time_period_map.iloc[:, 1]
#my_list1=Sku_Opp.columns
#result = [x for x in my_list if x in my_list1]
#Sku_Opp=Sku_Opp[result]

In [ ]:
##**Period Mapping**

Time_Mapping={
    "Nov 19":"4 W/E 11/23/19",
    "Dec 19":"5 W/E 12/28/19",
    "Jan 20":"4 W/E 01/25/20",
    "Feb 20":"4 W/E 02/22/20",
    "Mar 20":"5 W/E 03/28/20",
    "Apr 20":"4 W/E 04/25/20",
    "May 20":"4 W/E 05/23/20",
    "Jun 20":"5 W/E 06/27/20",
    "Jul 20":"4 W/E 07/25/20",
    "Aug 20":"4 W/E 08/22/20",
    "Sep 20":"5 W/E 09/26/20",
    "Oct 20":"4 W/E 10/24/20",
    "Nov 20":"4 W/E 11/21/20",
    "Dec 20":"5 W/E 12/26/20",
    "Jan 21":"4 W/E 01/23/21",
    "Feb 21":"4 W/E 02/20/21",
    "Mar 21":"5 W/E 03/27/21",
    "Apr 21":"4 W/E 04/24/21",
    "May 21":"4 W/E 05/22/21",
    "Jun 21":"5 W/E 06/26/21",
    "Jul 21":"4 W/E 07/24/21",
    "Aug 21":"4 W/E 08/21/21",
    "Sep 21":"5 W/E 09/25/21",
    "Oct 21":"4 W/E 10/23/21",
    "Nov 21":"4 W/E 11/20/21",
    "Dec 21":"5 W/E 12/25/21",
    "Jan 22":"4 W/E 01/22/22",
    "Feb 22":"4 W/E 02/19/22",
    "Mar 22":"5 W/E 03/26/22",
    "Apr 22":"4 W/E 04/23/22",
    "May 22":"5 W/E 05/21/22",
    "Jun 22":"4 W/E 06/25/22",
    "Jul 22":"4 W/E 07/23/22",
    "Aug 22":"5 W/E 08/20/22",
    "Sep 22":"4 W/E 09/24/22",
    "Oct 22":"4 W/E 10/22/22",
    "Nov 22":"5 W/E 11/19/22",
    "Dec 22":"4 W/E 12/24/22",
    "Jan 23":"4 W/E 01/21/23",
    "Feb 23":"5 W/E 02/18/23",
    "Mar 23":"4 W/E 03/25/23",
    "Apr 23":"4 W/E 04/22/23",
    "May 23":"5 W/E 05/20/23",
    "Jun 23":"4 W/E 06/24/23",
    "Jul 23":"4 W/E 07/22/23",
    "Aug 23":"5 W/E 08/19/23",
    "Sep 23":"4 W/E 09/23/23",
    "Oct 23":"5 W/E 10/21/23",
    "Nov 23":"4 W/E 11/18/23",
    "Dec 23":"4 W/E 12/23/23",
    "Jan 24":"5 W/E 01/20/24",
    "Feb 24":"4 W/E 02/17/24",
    "Mar 24":"4 W/E 03/23/24",
    "Apr 24":"5 W/E 04/20/24",
    "May 24":"4 W/E 05/18/24",
    "Jun 24":"4 W/E 06/22/24",
    "Jul 24":"5 W/E 07/20/24",
    "Aug 24":"4 W/E 08/17/24",
    "Sep 24":"4 W/E 09/21/24",
    "Oct 24":"5 W/E 10/19/24",
    "Nov 24":"4 W/E 11/16/24",
    "Dec 24":"4 W/E 12/21/24",
    "Jan 25":"5 W/E 01/18/25",
    "Feb 25":"4 W/E 02/15/25",
    "Mar 25":"5 W/E 03/22/25",
    "Apr 25":"4 W/E 04/19/25",
    "May 25":"4 W/E 05/17/25",
    "Jun 25":"5 W/E 06/21/25",
    "Jul 25":"4 W/E 07/19/25",
    "Aug 25":"4 W/E 08/16/25",
    "Sep 25":"5 W/E 09/20/25",
    "Oct 25":"4 W/E 10/18/25",
    "Nov 25":"4 W/E 11/15/25",
    "Dec 25":"5 W/E 12/20/25",
    "Jan 26":"4 W/E 01/17/26",
    "Feb 26":"4 W/E 02/14/26",
    "Mar 26":"5 W/E 03/21/26",
    "Apr 26":"4 W/E 04/18/26",
    "May 26":"4 W/E 05/16/26",
    "Jun 26":"5 W/E 06/20/26",
    "Jul 26":"4 W/E 07/18/26",
    "Aug 26":"5 W/E 08/15/26",
    "Sep 26":"4 W/E 09/19/26",
    "Oct 26":"4 W/E 10/17/26",
    "Nov 26":"5 W/E 11/14/26",
    "Dec 26":"4 W/E 12/19/26"
}


Sku_Opp.rename(columns=Time_Mapping,inplace=True)

In [ ]:
Market_Mapping={
    
     'ALBSCO Total Company TA':'Alb/Sfy',
     'Agency Grocery':'Agency Grocery',
     'Ahold USA Corp Total TA':"Ahold",
     'BJs Total TA':"BJs",
     'CLUB':"CLUB",
     'CVS Total Corp WO HI TA':"CVS",
     'Dol Gen Total TA':"Dollar General",
     'El Super Total TA':'El Super',
     'FDM':"FDM",
     'Family Dollar Total TA':"Family Dollar",
     'Fiesta Total TA':"Fiesta",
     'Giant Eagle Total TA':"Giant Eagle",
     'Kmart Total TA':"Kmart",
     'Meijer Total TA':"Meijer",
     'Publix Total TA':"Publix",
     'Rite Aid - Corp Total TA':"Rite Aid",
     "Sam's Total TA":"Sams",
     'ShopRite Total TA':"Shoprite",
     'Strategic Grocery':"Strategic Grocery",
     'TOTAL MASS':"TOTAL MASS",
     'Target Total BM/FF TA':"Target",
     'Total US Drug':"US Drug",
     'Total US Food':"US Food",
     'Total US xAOC':"US AOC",
     'VDC':"VDC",
     'Walgreens Total TA':"Walgreens",
     'Walmart Total US TA':"Walmart",
     'Wegmans Total TA':"Wegmans"
    }


Sku_Opp["Markets"].replace(Market_Mapping,inplace=True)

In [ ]:
#Changing Column Name

Sku_Opp.rename(columns={"Periods":"Facts"},inplace=True)

In [ ]:
##**Filter Condition**
#Taking only those products whose **Latest Month Dollar Share** is **greater than 0.07** for all the markets

# Sku_Opp.iloc[:,3:]= Sku_Opp.iloc[:,3:].apply(pd.to_numeric)

# Sku_Opp.info()

# df=Sku_Opp[(Sku_Opp['Facts'] == '$ Shr - CP CATEGORY') & ( Sku_Opp.iloc[:,19] > 0.07 )]

# # total number of unique Products 
# len(np.unique(list(df["Products"])))

# Sku_Opp=Sku_Opp[Sku_Opp['Products'].isin(list(df["Products"]))]
# Sku_Opp.head(3)

# len(set(Sku_Opp["Products"]))

In [ ]:
#***movecol*** function to **rearranging** the columns of a dataframe

def movecol(df, cols_to_move=[], ref_col='', place=''):
    cols = df.columns.tolist()
    if place == 'After':
        seg1 = cols[:list(cols).index(ref_col) + 1]
        seg2 = cols_to_move
    if place == 'Before':
        seg1 = cols[:list(cols).index(ref_col)]
        seg2 = cols_to_move + [ref_col]
    seg1 = [i for i in seg1 if i not in seg2]
    seg3 = [i for i in cols if i not in seg1 + seg2]
    
    return(df[seg1 + seg2 + seg3])

In [ ]:
cols=list(Sku_Opp.columns[0:12])
Sku_Opp[cols]=Sku_Opp[cols].apply(lambda x : x.str.strip())

**Selection**

In [ ]:
SKU_Facts_Mapping={
    '$':"Dollars",
     '$ / $MM ACV':"$ Sales/$MM ACV",
     '$ Chg YA':"Dollars YAG %Chg",
     '%ACV':"% Stores Selling",
     'Any Promo Unit Price':"RASP w/Any Promo",
     'No Promo Unit Price':"RASP w/No Promo",
     'Units':"Units",
     'Units % Chg YA':"Units YAG %Chg"
    }

Sku_Opp["Facts"]=Sku_Opp["Facts"].replace(SKU_Facts_Mapping)

In [ ]:
Sku_Opp.head()

In [ ]:
set(Sku_Opp['ShareBasis'])

In [ ]:
#Sku_Opp_HHC=Sku_Opp[Sku_Opp["ShareBasis"]=="APC+WW"]
Sku_Opp_FS=Sku_Opp

In [ ]:
Sku_Opp_FS.info()

In [ ]:
Time_Period=list(Sku_Opp_FS.columns[13:14])
print(Time_Period)

In [ ]:
Sku_Opp_FS.columns

In [ ]:
Sku_Opp_FS.rename(columns={'Markets':"MKT",'Products':"PROD"
                           },inplace=True)

In [ ]:
df1=pd.melt(Sku_Opp_FS, id_vars =["MKT","ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-CATEGORY","CP-SIZE RANGE","CP-FORM","CP-MULTI","CP-SIZE","PROD","PRODUCT CODE","Facts"], value_vars =Time_Period,var_name="PER")

df1["value"]=df1["value"].apply(pd.to_numeric)

In [ ]:
df1.head(2)

In [ ]:
df2=df1.pivot_table(index=["MKT","ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-CATEGORY","CP-SIZE RANGE","CP-FORM","CP-MULTI","CP-SIZE","PROD","PRODUCT CODE",'PER'],columns='Facts')

df2.columns=df2.columns.droplevel().rename(None)
df2.reset_index(inplace =True)

In [ ]:
df2.head()

In [ ]:
# from pandas.api.types import CategoricalDtype

# Time_Period_order = CategoricalDtype(
#     Time_Period, 
#     ordered=True
# )

# df2['PER'] = df2['PER'].astype(Time_Period_order)

df2.sort_values(['MKT','PROD','PER'],inplace=True)

In [ ]:
df2.columns

In [ ]:


final_column_sorting=["MKT","PROD","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND",
                      'CP-CATEGORY', 'CP-SIZE RANGE', 'CP-FORM', 'CP-MULTI', 'CP-SIZE',"PRODUCT CODE",'PER'
                      ,"% Stores Selling","Dollars","$ % Chg YA",
                      "Units","Units YAG %Chg","$ Sales/$MM ACV","RASP w/Any Promo","RASP w/No Promo"
                      ]
Sku_Opp_final=df2[final_column_sorting]

In [ ]:
Sku_Opp_final.head(3)

In [ ]:
Sku_Opp_final.rename(columns={'$ % Chg YA':"Dollars YAG %Chg"
                           },inplace=True)

In [ ]:
path_FS = "//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/05. Output Data/5P Output/FS/"

In [ ]:
Sku_Opp_final.to_csv(path_FS+"SKU Opportunity_FS.csv",index=False)

## HHC

In [ ]:
path = "//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/03. Raw Data/Connect Data/SKU Opportunity Data"
files = os.listdir(path)

Selecting only **excel files** from all the files available in the above path

In [ ]:
files_xls = [f for f in files if f[-8:] == "HHC.xlsx"]
print("Total number of files in the folder are ",len(files_xls))

In [ ]:
files_xls

In [ ]:

Form = pd.DataFrame()


Form = pd.read_excel(path+"/"+'SKU Opportunity Form HHC.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Form[["ShareBasis","CP-FORM"]] = Form['Products'].str.split('|',n=1,expand=True)

Form[["ShareBasis","CP-FORM"]]=Form[["ShareBasis","CP-FORM"]].fillna(value="")
        #Sku_Opp.head(3)


Form['CP-MANUFACTURER']="CAT"

Form = movecol(Form, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-FORM"], 
    ref_col='Markets',
    place='After')
Form.head(5)

In [ ]:

Use= pd.DataFrame()


Use = pd.read_excel(path+"/"+'SKU Opportunity Use HHC.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Use[["ShareBasis","CP-USE"]] = Use['Products'].str.split('|',n=1,expand=True)

Use[["ShareBasis","CP-USE"]]=Use[["ShareBasis","CP-USE"]].fillna(value="")
        #Sku_Opp.head(3)



Use['CP-MANUFACTURER']="CAT"


Use = movecol(Use, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-USE"], 
    ref_col='Markets',
    place='After')
Use.head(5)

In [ ]:

Form_Size_Range= pd.DataFrame()


Form_Size_Range = pd.read_excel(path+"/"+'SKU Opportunity Form Size Range HHC.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Form_Size_Range[["ShareBasis","CP-FORM","CP-SIZE RANGE"]] = Form_Size_Range['Products'].str.split('|',n=2,expand=True)

Form_Size_Range[["ShareBasis","CP-FORM","CP-SIZE RANGE"]]=Form_Size_Range[["ShareBasis","CP-FORM","CP-SIZE RANGE"]].fillna(value="")
        #Sku_Opp.head(3)

        # Moving columns after "Market"
Form_Size_Range = movecol(Form_Size_Range, 
    cols_to_move=["ShareBasis","CP-FORM","CP-SIZE RANGE"], 
    ref_col='Markets',
    place='After')

Form_Size_Range['CP-MANUFACTURER']="CAT"


Form_Size_Range = movecol(Form_Size_Range, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-FORM","CP-SIZE RANGE"], 
    ref_col='Markets',
    place='After')
Form_Size_Range.head(5)

In [ ]:

UPC_Level= pd.DataFrame()


UPC_Level = pd.read_excel(path+"/"+'SKU Opportunity HHC.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-FORM","CP-SIZE RANGE","CP-USE","CP-SUBBRAND","Products","PRODUCT CODE"]] = UPC_Level['Products'].str.split('|',n=9,expand=True)

UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-FORM","CP-SIZE RANGE","CP-USE","CP-SUBBRAND","Products","PRODUCT CODE"]]=UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-FORM","CP-SIZE RANGE","CP-USE","CP-SUBBRAND","Products","PRODUCT CODE"]].fillna(value="")
        #Sku_Opp.head(3)

        # Moving columns after "Market"
UPC_Level = movecol(UPC_Level, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-FORM","CP-SIZE RANGE","CP-USE","CP-SUBBRAND","Products","PRODUCT CODE"], 
    ref_col='Markets',
    place='After')


UPC_Level.head(5)

In [ ]:
Sku_Opp=pd.DataFrame()
Sku_Opp = pd.concat([Sku_Opp,Form,Use,Form_Size_Range,UPC_Level],axis=0,ignore_index=True)
Sku_Opp = movecol(Sku_Opp, 
             cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-FORM","CP-SIZE RANGE","CP-USE","CP-SUBBRAND","Products","PRODUCT CODE"], 
             ref_col='Markets',
             place='After')
Sku_Opp.fillna("",inplace=True)
Sku_Opp["CP-SUBBRAND"]="CHECK"
Sku_Opp.head()

In [ ]:
# Relaceing in Periods(Facts)
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("$","temp")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("- temp -","-")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("temp","$")


Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP FORM","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP USE","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP LDL AND FOAM","CP CATEGORY")

Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP LDL AND FM X DISHAIDS/WPS/SPR","CP CATEGORY")

Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP MEGA CATEGORY","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP BATTERY AND HYBRID","CP CATEGORY")


# Market name replaced
Sku_Opp["Markets"]=Sku_Opp["Markets"].str.replace("Walgreens Corp Total TA","Walgreens Total TA")

#replacing NaN values with 0
Sku_Opp.fillna(value=0,inplace=True)

In [ ]:
##Removing unwanted characters from all the column names** and store them in a list ***new_col_names***

new_col_names=[]
for i in Sku_Opp.columns:
    x=len(i)
    if x<=17:
        new_col_names.append(i)
    elif i[:3]=='YTD':
        new_col_names.append(i[:-16].strip('- '))
    else:
        new_col_names.append(i[:-14].strip('- '))
        

## Checking the duplicacte column in** ***Sku_Opp***

if(len(new_col_names)!=len(set(new_col_names))):
    print("\033[1;31m"+"*******************************ERROR*******************************\n\t\t\tWe have duplicate columns\n\t\t\tPlease recheck raw data files\n*******************************ERROR*******************************")

##Renaming the column names of ***Sku_Opp***

# Sku_Opp.rename(columns=dict(zip(Sku_Opp.columns,new_col_names)),inplace=True)
Sku_Opp.columns=new_col_names

In [ ]:
new_col_names

In [ ]:
Sku_Opp.columns

In [ ]:
##**Time period mapping**



time_period_map= pd.DataFrame({'Connect Time Period':['Markets', 'Products', 'Periods','Cal Yr 2020','Cal Yr 2019','Cal Yr 2018','Cal Yr 2017','YTD','YTD YA','Latest 13 Wks','Latest 26 Wks','OND 21','JAS 21','AMJ 21','JFM 21','OND 20','JAS 20','AMJ 20','JFM 20','OND 19','JAS 19','AMJ 19','Dec 21','Nov 21','Oct 21','Sep 21','Aug 21','Jul 21','Jun 21','May 21','Apr 21','Mar 21','Feb 21','Jan 21','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20'],
                               'Final Name':['Markets', 'Products', 'Periods','FY 2020','FY 2019','FY 2018','FY 2017','YTD 2021','YTD 2020','Latest 13 Weeks','Latest 26 Weeks','Q4 2021','Q3 2021','Q2 2021','Q1 2021','Q4 2020','Q3 2020','Q2 2020','Q1 2020','Q4 2019','Q3 2019','Q2 2019','Dec 21','Nov 21','Oct 21','Sep 21','Aug 21','Jul 21','Jun 21','May 21','Apr 21','Mar 21','Feb 21','Jan 21','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20']
                              ,'Order':range(1,47)})

time_period_map.head(5)

##We need to **change column names** of ***Sku_Opp*** and **reorder** them based on the time_period_mapping

# assigning variables
LM_column= list(Sku_Opp.columns)
time_connect=list(time_period_map["Connect Time Period"])
time_final=list(time_period_map["Final Name"])

# changing column names based on time_period_mapping
new_column=[]
for i in range(0,len(LM_column)):
    for j in range(0,len(time_connect)):
        if LM_column[i]==time_connect[j]:
            new_column.append(time_final[j])
        

print(new_column)

print(len(new_column),len(Sku_Opp.columns))

Sku_Opp.columns

#assigning new column names
Sku_Opp.columns = new_column

# reordering column names
#my_list =time_period_map.iloc[:, 1]
#my_list1=Sku_Opp.columns
#result = [x for x in my_list if x in my_list1]
#Sku_Opp=Sku_Opp[result]

In [ ]:
##**Period Mapping**

Time_Mapping={
    "Nov 19":"4 W/E 11/23/19",
    "Dec 19":"5 W/E 12/28/19",
    "Jan 20":"4 W/E 01/25/20",
    "Feb 20":"4 W/E 02/22/20",
    "Mar 20":"5 W/E 03/28/20",
    "Apr 20":"4 W/E 04/25/20",
    "May 20":"4 W/E 05/23/20",
    "Jun 20":"5 W/E 06/27/20",
    "Jul 20":"4 W/E 07/25/20",
    "Aug 20":"4 W/E 08/22/20",
    "Sep 20":"5 W/E 09/26/20",
    "Oct 20":"4 W/E 10/24/20",
    "Nov 20":"4 W/E 11/21/20",
    "Dec 20":"5 W/E 12/26/20",
    "Jan 21":"4 W/E 01/23/21",
    "Feb 21":"4 W/E 02/20/21",
    "Mar 21":"5 W/E 03/27/21",
    "Apr 21":"4 W/E 04/24/21",
    "May 21":"4 W/E 05/22/21",
    "Jun 21":"5 W/E 06/26/21",
    "Jul 21":"4 W/E 07/24/21",
    "Aug 21":"4 W/E 08/21/21",
    "Sep 21":"5 W/E 09/25/21",
    "Oct 21":"4 W/E 10/23/21",
    "Nov 21":"4 W/E 11/20/21",
    "Dec 21":"5 W/E 12/25/21",
    "Jan 22":"4 W/E 01/22/22",
    "Feb 22":"4 W/E 02/19/22",
    "Mar 22":"5 W/E 03/26/22",
    "Apr 22":"4 W/E 04/23/22",
    "May 22":"5 W/E 05/21/22",
    "Jun 22":"4 W/E 06/25/22",
    "Jul 22":"4 W/E 07/23/22",
    "Aug 22":"5 W/E 08/20/22",
    "Sep 22":"4 W/E 09/24/22",
    "Oct 22":"4 W/E 10/22/22",
    "Nov 22":"5 W/E 11/19/22",
    "Dec 22":"4 W/E 12/24/22",
    "Jan 23":"4 W/E 01/21/23",
    "Feb 23":"5 W/E 02/18/23",
    "Mar 23":"4 W/E 03/25/23",
    "Apr 23":"4 W/E 04/22/23",
    "May 23":"5 W/E 05/20/23",
    "Jun 23":"4 W/E 06/24/23",
    "Jul 23":"4 W/E 07/22/23",
    "Aug 23":"5 W/E 08/19/23",
    "Sep 23":"4 W/E 09/23/23",
    "Oct 23":"5 W/E 10/21/23",
    "Nov 23":"4 W/E 11/18/23",
    "Dec 23":"4 W/E 12/23/23",
    "Jan 24":"5 W/E 01/20/24",
    "Feb 24":"4 W/E 02/17/24",
    "Mar 24":"4 W/E 03/23/24",
    "Apr 24":"5 W/E 04/20/24",
    "May 24":"4 W/E 05/18/24",
    "Jun 24":"4 W/E 06/22/24",
    "Jul 24":"5 W/E 07/20/24",
    "Aug 24":"4 W/E 08/17/24",
    "Sep 24":"4 W/E 09/21/24",
    "Oct 24":"5 W/E 10/19/24",
    "Nov 24":"4 W/E 11/16/24",
    "Dec 24":"4 W/E 12/21/24",
    "Jan 25":"5 W/E 01/18/25",
    "Feb 25":"4 W/E 02/15/25",
    "Mar 25":"5 W/E 03/22/25",
    "Apr 25":"4 W/E 04/19/25",
    "May 25":"4 W/E 05/17/25",
    "Jun 25":"5 W/E 06/21/25",
    "Jul 25":"4 W/E 07/19/25",
    "Aug 25":"4 W/E 08/16/25",
    "Sep 25":"5 W/E 09/20/25",
    "Oct 25":"4 W/E 10/18/25",
    "Nov 25":"4 W/E 11/15/25",
    "Dec 25":"5 W/E 12/20/25",
    "Jan 26":"4 W/E 01/17/26",
    "Feb 26":"4 W/E 02/14/26",
    "Mar 26":"5 W/E 03/21/26",
    "Apr 26":"4 W/E 04/18/26",
    "May 26":"4 W/E 05/16/26",
    "Jun 26":"5 W/E 06/20/26",
    "Jul 26":"4 W/E 07/18/26",
    "Aug 26":"5 W/E 08/15/26",
    "Sep 26":"4 W/E 09/19/26",
    "Oct 26":"4 W/E 10/17/26",
    "Nov 26":"5 W/E 11/14/26",
    "Dec 26":"4 W/E 12/19/26"
}


Sku_Opp.rename(columns=Time_Mapping,inplace=True)

In [ ]:
Market_Mapping={
    
     'ALBSCO Total Company TA':'Alb/Sfy',
     'Agency Grocery':'Agency Grocery',
     'Ahold USA Corp Total TA':"Ahold",
     'BJs Total TA':"BJs",
     'CLUB':"CLUB",
     'CVS Total Corp WO HI TA':"CVS",
     'Dol Gen Total TA':"Dollar General",
     'El Super Total TA':'El Super',
     'FDM':"FDM",
     'Family Dollar Total TA':"Family Dollar",
     'Fiesta Total TA':"Fiesta",
     'Giant Eagle Total TA':"Giant Eagle",
     'Kmart Total TA':"Kmart",
     'Meijer Total TA':"Meijer",
     'Publix Total TA':"Publix",
     'Rite Aid - Corp Total TA':"Rite Aid",
     "Sam's Total TA":"Sams",
     'ShopRite Total TA':"Shoprite",
     'Strategic Grocery':"Strategic Grocery",
     'TOTAL MASS':"TOTAL MASS",
     'Target Total BM/FF TA':"Target",
     'Total US Drug':"US Drug",
     'Total US Food':"US Food",
     'Total US xAOC':"US AOC",
     'VDC':"VDC",
     'Walgreens Total TA':"Walgreens",
     'Walmart Total US TA':"Walmart",
     'Wegmans Total TA':"Wegmans"
    }


Sku_Opp["Markets"].replace(Market_Mapping,inplace=True)

In [ ]:
#Changing Column Name

Sku_Opp.rename(columns={"Periods":"Facts"},inplace=True)

In [ ]:
##**Filter Condition**
#Taking only those products whose **Latest Month Dollar Share** is **greater than 0.07** for all the markets

# Sku_Opp.iloc[:,3:]= Sku_Opp.iloc[:,3:].apply(pd.to_numeric)

# Sku_Opp.info()

# df=Sku_Opp[(Sku_Opp['Facts'] == '$ Shr - CP CATEGORY') & ( Sku_Opp.iloc[:,19] > 0.07 )]

# # total number of unique Products 
# len(np.unique(list(df["Products"])))

# Sku_Opp=Sku_Opp[Sku_Opp['Products'].isin(list(df["Products"]))]
# Sku_Opp.head(3)

# len(set(Sku_Opp["Products"]))

In [ ]:
#***movecol*** function to **rearranging** the columns of a dataframe

def movecol(df, cols_to_move=[], ref_col='', place=''):
    cols = df.columns.tolist()
    if place == 'After':
        seg1 = cols[:list(cols).index(ref_col) + 1]
        seg2 = cols_to_move
    if place == 'Before':
        seg1 = cols[:list(cols).index(ref_col)]
        seg2 = cols_to_move + [ref_col]
    seg1 = [i for i in seg1 if i not in seg2]
    seg3 = [i for i in cols if i not in seg1 + seg2]
    
    return(df[seg1 + seg2 + seg3])

In [ ]:
cols=list(Sku_Opp.columns[0:12])
Sku_Opp[cols]=Sku_Opp[cols].apply(lambda x : x.str.strip())

**Selection**

In [ ]:
SKU_Facts_Mapping={
    '$':"Dollars",
     '$ / $MM ACV':"$ Sales/$MM ACV",
     '$ Chg YA':"Dollars YAG %Chg",
     '%ACV':"% Stores Selling",
     'Any Promo Unit Price':"RASP w/Any Promo",
     'No Promo Unit Price':"RASP w/No Promo",
     'Units':"Units",
     'Units % Chg YA':"Units YAG %Chg"
    }

Sku_Opp["Facts"]=Sku_Opp["Facts"].replace(SKU_Facts_Mapping)

In [ ]:
Sku_Opp.head()

In [ ]:
set(Sku_Opp['ShareBasis'])

In [ ]:
Sku_Opp_HHC=Sku_Opp[Sku_Opp["ShareBasis"]=="APC+WW"]

In [ ]:
Sku_Opp_HHC.info()

In [ ]:
Time_Period=list(Sku_Opp_HHC.columns[12:13])
print(Time_Period)

In [ ]:
Sku_Opp_HHC.columns

In [ ]:
Sku_Opp_HHC.rename(columns={'Markets':"MKT",'Products':"PROD"
                           },inplace=True)

In [ ]:
df1=pd.melt(Sku_Opp_HHC, id_vars =["MKT","ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-FORM","CP-SIZE RANGE","CP-USE","CP-SUBBRAND","PROD","PRODUCT CODE","Facts"], value_vars =Time_Period,var_name="PER")

df1["value"]=df1["value"].apply(pd.to_numeric)

In [ ]:
df1.head(2)

In [ ]:
df2=df1.pivot_table(index=["MKT","ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-FORM","CP-SIZE RANGE","CP-USE","CP-SUBBRAND","PROD","PRODUCT CODE",'PER'],columns='Facts')

df2.columns=df2.columns.droplevel().rename(None)
df2.reset_index(inplace =True)

In [ ]:
df2.head()

In [ ]:
# from pandas.api.types import CategoricalDtype

# Time_Period_order = CategoricalDtype(
#     Time_Period, 
#     ordered=True
# )

# df2['PER'] = df2['PER'].astype(Time_Period_order)

df2.sort_values(['MKT','PROD','PER'],inplace=True)

In [ ]:
df2.columns

In [ ]:


final_column_sorting=["MKT","PROD","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND",
                      'CP-FORM', 'CP-SIZE RANGE', 'CP-USE',"CP-SUBBRAND","PRODUCT CODE",'PER'
                      ,"% Stores Selling","Dollars","$ % Chg YA",
                      "Units","Units YAG %Chg","$ Sales/$MM ACV","RASP w/Any Promo","RASP w/No Promo"
                      ]
Sku_Opp_final=df2[final_column_sorting]

In [ ]:
Sku_Opp_final.head(3)

In [ ]:
Sku_Opp_final.rename(columns={'$ % Chg YA':"Dollars YAG %Chg"
                           },inplace=True)

In [ ]:
path_HHC = "//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/05. Output Data/5P Output/HHC/"

In [ ]:
Sku_Opp_final.to_csv(path_HHC+"SKU Opportunity_HHC.csv",index=False)

## LDL

In [ ]:
path = "//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/03. Raw Data/Connect Data/SKU Opportunity Data"
files = os.listdir(path)

Selecting only **excel files** from all the files available in the above path

In [ ]:
files_xls = [f for f in files if f[-8:] == "LDL.xlsx"]
print("Total number of files in the folder are ",len(files_xls))

In [ ]:
files_xls

In [ ]:

Segment= pd.DataFrame()


Segment = pd.read_excel(path+"/"+'SKU Opportunity Segment LDL.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Segment[["ShareBasis","CP-SEGMENT"]] = Segment['Products'].str.split('|',n=1,expand=True)

Segment[["ShareBasis","CP-SEGMENT"]]=Segment[["ShareBasis","CP-SEGMENT"]].fillna(value="")
        #Sku_Opp.head(3)


Segment['CP-MANUFACTURER']="CAT"

Segment = movecol(Segment, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-SEGMENT"], 
    ref_col='Markets',
    place='After')
Segment.head(5)

In [ ]:

Size_Range= pd.DataFrame()


Size_Range = pd.read_excel(path+"/"+'SKU Opportunity Size Range LDL.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Size_Range[["ShareBasis","CP-SIZE RANGE"]] = Size_Range['Products'].str.split('|',n=1,expand=True)

Size_Range[["ShareBasis","CP-SIZE RANGE"]]=Size_Range[["ShareBasis","CP-SIZE RANGE"]].fillna(value="")
        #Sku_Opp.head(3)



Size_Range['CP-MANUFACTURER']="CAT"


Size_Range = movecol(Size_Range, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-SIZE RANGE"], 
    ref_col='Markets',
    place='After')
Size_Range.head(5)

In [ ]:

Price_Tier= pd.DataFrame()


Price_Tier = pd.read_excel(path+"/"+'SKU Opportunity Price Tier LDL.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Price_Tier[["ShareBasis","CP-PRICE TIER"]] = Price_Tier['Products'].str.split('|',n=1,expand=True)

Price_Tier[["ShareBasis","CP-PRICE TIER"]]=Price_Tier[["ShareBasis","CP-PRICE TIER"]].fillna(value="")
        #Sku_Opp.head(3)


Price_Tier['CP-MANUFACTURER']="CAT"
Price_Tier['Products']=Price_Tier["CP-PRICE TIER"]
Price_Tier["CP-PRICE TIER"]=""

Price_Tier = movecol(Price_Tier, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-PRICE TIER"], 
    ref_col='Markets',
    place='After')
Price_Tier.head(5)

In [ ]:

Concentration= pd.DataFrame()


Concentration = pd.read_excel(path+"/"+'SKU Opportunity Concentration LDL.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
Concentration[["ShareBasis","CP-CONCENTRATION"]] = Concentration['Products'].str.split('|',n=1,expand=True)

Concentration[["ShareBasis","CP-CONCENTRATION"]]=Concentration[["ShareBasis","CP-CONCENTRATION"]].fillna(value="")
        #Sku_Opp.head(3)

        # Moving columns after "Market"
Concentration = movecol(Concentration, 
    cols_to_move=["ShareBasis","CP-CONCENTRATION"], 
    ref_col='Markets',
    place='After')

Concentration['CP-MANUFACTURER']="CAT"


Concentration = movecol(Concentration, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-CONCENTRATION"], 
    ref_col='Markets',
    place='After')
Concentration.head(5)

In [ ]:

UPC_Level= pd.DataFrame()


UPC_Level = pd.read_excel(path+"/"+'SKU Opportunity LDL.xlsx')
#print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
#Sku_Opp = pd.concat([Sku_Opp,data],axis=0,ignore_index=True)
UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-CONCENTRATION","CP-SEGMENT","CP-SIZE RANGE","CP-PRICE TIER","CP-SUBBRAND","Products","PRODUCT CODE"]] = UPC_Level['Products'].str.split('|',n=10,expand=True)

UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-CONCENTRATION","CP-SEGMENT","CP-SIZE RANGE","CP-PRICE TIER","CP-SUBBRAND","Products","PRODUCT CODE"]]=UPC_Level[["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-CONCENTRATION","CP-SEGMENT","CP-SIZE RANGE","CP-PRICE TIER","CP-SUBBRAND","Products","PRODUCT CODE"]].fillna(value="")
        #Sku_Opp.head(3)

        # Moving columns after "Market"
UPC_Level = movecol(UPC_Level, 
    cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-CONCENTRATION","CP-SEGMENT","CP-SIZE RANGE","CP-PRICE TIER","CP-SUBBRAND","Products","PRODUCT CODE"], 
    ref_col='Markets',
    place='After')


UPC_Level.head(5)

In [ ]:
Sku_Opp=pd.DataFrame()
Sku_Opp = pd.concat([Sku_Opp,Size_Range,Segment,Price_Tier,Concentration,UPC_Level],axis=0,ignore_index=True)
Sku_Opp = movecol(Sku_Opp, 
             cols_to_move=["ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-CONCENTRATION","CP-SEGMENT","CP-SIZE RANGE","CP-PRICE TIER","CP-SUBBRAND","Products","PRODUCT CODE"], 
             ref_col='Markets',
             place='After')
Sku_Opp.fillna("",inplace=True)
Sku_Opp.head()

In [ ]:
# Relaceing in Periods(Facts)
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("$","temp")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("- temp -","-")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("temp","$")


Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP FORM","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP USE","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP LDL AND FOAM","CP CATEGORY")

Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP LDL AND FM X DISHAIDS/WPS/SPR","CP CATEGORY")

Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP MEGA CATEGORY","CP CATEGORY")
Sku_Opp["Periods"]=Sku_Opp["Periods"].str.replace("CP BATTERY AND HYBRID","CP CATEGORY")


# Market name replaced
Sku_Opp["Markets"]=Sku_Opp["Markets"].str.replace("Walgreens Corp Total TA","Walgreens Total TA")

#replacing NaN values with 0
Sku_Opp.fillna(value=0,inplace=True)

In [ ]:
##Removing unwanted characters from all the column names** and store them in a list ***new_col_names***

new_col_names=[]
for i in Sku_Opp.columns:
    x=len(i)
    if x<=17:
        new_col_names.append(i)
    elif i[:3]=='YTD':
        new_col_names.append(i[:-16].strip('- '))
    else:
        new_col_names.append(i[:-14].strip('- '))
        

## Checking the duplicacte column in** ***Sku_Opp***

if(len(new_col_names)!=len(set(new_col_names))):
    print("\033[1;31m"+"*******************************ERROR*******************************\n\t\t\tWe have duplicate columns\n\t\t\tPlease recheck raw data files\n*******************************ERROR*******************************")

##Renaming the column names of ***Sku_Opp***

# Sku_Opp.rename(columns=dict(zip(Sku_Opp.columns,new_col_names)),inplace=True)
Sku_Opp.columns=new_col_names

In [ ]:
new_col_names

In [ ]:
Sku_Opp.columns

In [ ]:
##**Time period mapping**



time_period_map= pd.DataFrame({'Connect Time Period':['Markets', 'Products', 'Periods','Cal Yr 2020','Cal Yr 2019','Cal Yr 2018','Cal Yr 2017','YTD','YTD YA','Latest 13 Wks','Latest 26 Wks','OND 21','JAS 21','AMJ 21','JFM 21','OND 20','JAS 20','AMJ 20','JFM 20','OND 19','JAS 19','AMJ 19','Dec 21','Nov 21','Oct 21','Sep 21','Aug 21','Jul 21','Jun 21','May 21','Apr 21','Mar 21','Feb 21','Jan 21','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20'],
                               'Final Name':['Markets', 'Products', 'Periods','FY 2020','FY 2019','FY 2018','FY 2017','YTD 2021','YTD 2020','Latest 13 Weeks','Latest 26 Weeks','Q4 2021','Q3 2021','Q2 2021','Q1 2021','Q4 2020','Q3 2020','Q2 2020','Q1 2020','Q4 2019','Q3 2019','Q2 2019','Dec 21','Nov 21','Oct 21','Sep 21','Aug 21','Jul 21','Jun 21','May 21','Apr 21','Mar 21','Feb 21','Jan 21','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20']
                              ,'Order':range(1,47)})

time_period_map.head(5)

##We need to **change column names** of ***Sku_Opp*** and **reorder** them based on the time_period_mapping

# assigning variables
LM_column= list(Sku_Opp.columns)
time_connect=list(time_period_map["Connect Time Period"])
time_final=list(time_period_map["Final Name"])

# changing column names based on time_period_mapping
new_column=[]
for i in range(0,len(LM_column)):
    for j in range(0,len(time_connect)):
        if LM_column[i]==time_connect[j]:
            new_column.append(time_final[j])
        

print(new_column)

print(len(new_column),len(Sku_Opp.columns))

Sku_Opp.columns

#assigning new column names
Sku_Opp.columns = new_column

# reordering column names
#my_list =time_period_map.iloc[:, 1]
#my_list1=Sku_Opp.columns
#result = [x for x in my_list if x in my_list1]
#Sku_Opp=Sku_Opp[result]

In [ ]:
##**Period Mapping**

Time_Mapping={
    "Nov 19":"4 W/E 11/23/19",
    "Dec 19":"5 W/E 12/28/19",
    "Jan 20":"4 W/E 01/25/20",
    "Feb 20":"4 W/E 02/22/20",
    "Mar 20":"5 W/E 03/28/20",
    "Apr 20":"4 W/E 04/25/20",
    "May 20":"4 W/E 05/23/20",
    "Jun 20":"5 W/E 06/27/20",
    "Jul 20":"4 W/E 07/25/20",
    "Aug 20":"4 W/E 08/22/20",
    "Sep 20":"5 W/E 09/26/20",
    "Oct 20":"4 W/E 10/24/20",
    "Nov 20":"4 W/E 11/21/20",
    "Dec 20":"5 W/E 12/26/20",
    "Jan 21":"4 W/E 01/23/21",
    "Feb 21":"4 W/E 02/20/21",
    "Mar 21":"5 W/E 03/27/21",
    "Apr 21":"4 W/E 04/24/21",
    "May 21":"4 W/E 05/22/21",
    "Jun 21":"5 W/E 06/26/21",
    "Jul 21":"4 W/E 07/24/21",
    "Aug 21":"4 W/E 08/21/21",
    "Sep 21":"5 W/E 09/25/21",
    "Oct 21":"4 W/E 10/23/21",
    "Nov 21":"4 W/E 11/20/21",
    "Dec 21":"5 W/E 12/25/21",
    "Jan 22":"4 W/E 01/22/22",
    "Feb 22":"4 W/E 02/19/22",
    "Mar 22":"5 W/E 03/26/22",
    "Apr 22":"4 W/E 04/23/22",
    "May 22":"5 W/E 05/21/22",
    "Jun 22":"4 W/E 06/25/22",
    "Jul 22":"4 W/E 07/23/22",
    "Aug 22":"5 W/E 08/20/22",
    "Sep 22":"4 W/E 09/24/22",
    "Oct 22":"4 W/E 10/22/22",
    "Nov 22":"5 W/E 11/19/22",
    "Dec 22":"4 W/E 12/24/22",
    "Jan 23":"4 W/E 01/21/23",
    "Feb 23":"5 W/E 02/18/23",
    "Mar 23":"4 W/E 03/25/23",
    "Apr 23":"4 W/E 04/22/23",
    "May 23":"5 W/E 05/20/23",
    "Jun 23":"4 W/E 06/24/23",
    "Jul 23":"4 W/E 07/22/23",
    "Aug 23":"5 W/E 08/19/23",
    "Sep 23":"4 W/E 09/23/23",
    "Oct 23":"5 W/E 10/21/23",
    "Nov 23":"4 W/E 11/18/23",
    "Dec 23":"4 W/E 12/23/23",
    "Jan 24":"5 W/E 01/20/24",
    "Feb 24":"4 W/E 02/17/24",
    "Mar 24":"4 W/E 03/23/24",
    "Apr 24":"5 W/E 04/20/24",
    "May 24":"4 W/E 05/18/24",
    "Jun 24":"4 W/E 06/22/24",
    "Jul 24":"5 W/E 07/20/24",
    "Aug 24":"4 W/E 08/17/24",
    "Sep 24":"4 W/E 09/21/24",
    "Oct 24":"5 W/E 10/19/24",
    "Nov 24":"4 W/E 11/16/24",
    "Dec 24":"4 W/E 12/21/24",
    "Jan 25":"5 W/E 01/18/25",
    "Feb 25":"4 W/E 02/15/25",
    "Mar 25":"5 W/E 03/22/25",
    "Apr 25":"4 W/E 04/19/25",
    "May 25":"4 W/E 05/17/25",
    "Jun 25":"5 W/E 06/21/25",
    "Jul 25":"4 W/E 07/19/25",
    "Aug 25":"4 W/E 08/16/25",
    "Sep 25":"5 W/E 09/20/25",
    "Oct 25":"4 W/E 10/18/25",
    "Nov 25":"4 W/E 11/15/25",
    "Dec 25":"5 W/E 12/20/25",
    "Jan 26":"4 W/E 01/17/26",
    "Feb 26":"4 W/E 02/14/26",
    "Mar 26":"5 W/E 03/21/26",
    "Apr 26":"4 W/E 04/18/26",
    "May 26":"4 W/E 05/16/26",
    "Jun 26":"5 W/E 06/20/26",
    "Jul 26":"4 W/E 07/18/26",
    "Aug 26":"5 W/E 08/15/26",
    "Sep 26":"4 W/E 09/19/26",
    "Oct 26":"4 W/E 10/17/26",
    "Nov 26":"5 W/E 11/14/26",
    "Dec 26":"4 W/E 12/19/26"
}


Sku_Opp.rename(columns=Time_Mapping,inplace=True)

In [ ]:
Market_Mapping={
    
     'ALBSCO Total Company TA':'Alb/Sfy',
     'Agency Grocery':'Agency Grocery',
     'Ahold USA Corp Total TA':"Ahold",
     'BJs Total TA':"BJs",
     'CLUB':"CLUB",
     'CVS Total Corp WO HI TA':"CVS",
     'Dol Gen Total TA':"Dollar General",
     'El Super Total TA':'El Super',
     'FDM':"FDM",
     'Family Dollar Total TA':"Family Dollar",
     'Fiesta Total TA':"Fiesta",
     'Giant Eagle Total TA':"Giant Eagle",
     'Kmart Total TA':"Kmart",
     'Meijer Total TA':"Meijer",
     'Publix Total TA':"Publix",
     'Rite Aid - Corp Total TA':"Rite Aid",
     "Sam's Total TA":"Sams",
     'ShopRite Total TA':"Shoprite",
     'Strategic Grocery':"Strategic Grocery",
     'TOTAL MASS':"TOTAL MASS",
     'Target Total BM/FF TA':"Target",
     'Total US Drug':"US Drug",
     'Total US Food':"US Food",
     'Total US xAOC':"US AOC",
     'VDC':"VDC",
     'Walgreens Total TA':"Walgreens",
     'Walmart Total US TA':"Walmart",
     'Wegmans Total TA':"Wegmans"
    }


Sku_Opp["Markets"].replace(Market_Mapping,inplace=True)

In [ ]:
#Changing Column Name

Sku_Opp.rename(columns={"Periods":"Facts"},inplace=True)

In [ ]:
##**Filter Condition**
#Taking only those products whose **Latest Month Dollar Share** is **greater than 0.07** for all the markets

# Sku_Opp.iloc[:,3:]= Sku_Opp.iloc[:,3:].apply(pd.to_numeric)

# Sku_Opp.info()

# df=Sku_Opp[(Sku_Opp['Facts'] == '$ Shr - CP CATEGORY') & ( Sku_Opp.iloc[:,19] > 0.07 )]

# # total number of unique Products 
# len(np.unique(list(df["Products"])))

# Sku_Opp=Sku_Opp[Sku_Opp['Products'].isin(list(df["Products"]))]
# Sku_Opp.head(3)

# len(set(Sku_Opp["Products"]))

In [ ]:
#***movecol*** function to **rearranging** the columns of a dataframe

def movecol(df, cols_to_move=[], ref_col='', place=''):
    cols = df.columns.tolist()
    if place == 'After':
        seg1 = cols[:list(cols).index(ref_col) + 1]
        seg2 = cols_to_move
    if place == 'Before':
        seg1 = cols[:list(cols).index(ref_col)]
        seg2 = cols_to_move + [ref_col]
    seg1 = [i for i in seg1 if i not in seg2]
    seg3 = [i for i in cols if i not in seg1 + seg2]
    
    return(df[seg1 + seg2 + seg3])

In [ ]:
cols=list(Sku_Opp.columns[0:12])
Sku_Opp[cols]=Sku_Opp[cols].apply(lambda x : x.str.strip())

**Selection**

In [ ]:
SKU_Facts_Mapping={
    '$':"Dollars",
     '$ / $MM ACV':"$ Sales/$MM ACV",
     '$ Chg YA':"Dollars YAG %Chg",
     '%ACV':"% Stores Selling",
     'Any Promo Unit Price':"RASP w/Any Promo",
     'No Promo Unit Price':"RASP w/No Promo",
     'Units':"Units",
     'Units % Chg YA':"Units YAG %Chg"
    }

Sku_Opp["Facts"]=Sku_Opp["Facts"].replace(SKU_Facts_Mapping)

In [ ]:
Sku_Opp.head()

## LDL

In [ ]:
Sku_Opp_LDL=Sku_Opp[Sku_Opp["ShareBasis"]=="LDL+FOAM"]

In [ ]:
Sku_Opp_LDL.info()

In [ ]:
Time_Period=list(Sku_Opp_LDL.columns[13:14])
print(Time_Period)

In [ ]:
Sku_Opp_LDL.head()

In [ ]:
Sku_Opp_LDL.rename(columns={'Markets':"MKT",'Products':"PROD"
                           },inplace=True)

In [ ]:
df1=pd.melt(Sku_Opp_LDL, id_vars =["MKT","ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-CONCENTRATION","CP-SEGMENT","CP-SIZE RANGE","CP-PRICE TIER","CP-SUBBRAND","PROD","PRODUCT CODE","Facts"], value_vars =Time_Period,var_name="PER")

df1["value"]=df1["value"].apply(pd.to_numeric)

In [ ]:
df1.head(2)

In [ ]:
df2=df1.pivot_table(index=["MKT","ShareBasis","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND","CP-CONCENTRATION","CP-SEGMENT","CP-SIZE RANGE","CP-PRICE TIER","CP-SUBBRAND","PROD","PRODUCT CODE",'PER'],columns='Facts')

df2.columns=df2.columns.droplevel().rename(None)
df2.reset_index(inplace =True)

In [ ]:
df2.head()

In [ ]:
# from pandas.api.types import CategoricalDtype

# Time_Period_order = CategoricalDtype(
#     Time_Period, 
#     ordered=True
# )

# df2['PER'] = df2['PER'].astype(Time_Period_order)

df2.sort_values(['MKT','PROD','PER'],inplace=True)

In [ ]:
df2.columns

In [ ]:


final_column_sorting=["MKT","PROD","CP-MANUFACTURER","CP-FRANCHISE","CP-BRAND",
                      'CP-CONCENTRATION', 'CP-SEGMENT', 'CP-SIZE RANGE', 'CP-PRICE TIER',"CP-SUBBRAND","PRODUCT CODE",'PER'
                      ,"% Stores Selling","Dollars","$ % Chg YA",
                      "Units","Units YAG %Chg","$ Sales/$MM ACV","RASP w/Any Promo","RASP w/No Promo"
                      ]
Sku_Opp_final=df2[final_column_sorting]

In [ ]:
Sku_Opp_final.head(3)

In [ ]:
Sku_Opp_final.rename(columns={'$ % Chg YA':"Dollars YAG %Chg"
                           },inplace=True)

In [ ]:
path_LDL = "//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/05. Output Data/5P Output/LDL/"

In [ ]:
Sku_Opp_final.to_csv(path_LDL+"SKU Opportunity_LDL.csv",index=False)