In [1]:
%autosave 120

Autosaving every 120 seconds

**Importing all the libraries**

In [2]:
import pandas as pd;
import numpy as np;
import os;
import time;
import datetime;
import warnings;
warnings.filterwarnings('ignore');
from pandas.api.types import CategoricalDtype;

Assigning path of the folder where **Line Monthly** data files are stored

In [3]:
path = "//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/03. Raw Data/Connect Data/Line Monthly/Archive"
# path = "//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/03. Raw Data/Connect Data/temp"
files = os.listdir(path)

Selecting only **excel files** from all the files available in the above path

In [4]:
files_xls = [f for f in files if ( f[-5:] == '.xlsx' )] 
#files_xls = [f for f in files if( f[:4] == "Wood" )| (f[:8] == 'Abrasive')|( f[:5] == "APCWW" )| (f[:4] == 'Pour')]
#files_xls = [f for f in files if( f[:7] == "TotalFS" )| (f[:6] == 'Sheets')|( f[:5] == "LiqFS" )| (f[:6] == 'ScentB')| (f[:5] == 'Beads')][::-1] 
print("Total number of files in the folder are ",len(files_xls))

Total number of files in the folder are  113

In [5]:
files_xls

['Abrasive_Line_Monthly_Part1.xlsx',
 'Abrasive_Line_Monthly_Part2.xlsx',
 'Abrasive_Line_Monthly_Part3.xlsx',
 'Abrasive_Line_Monthly_Part4.xlsx',
 'Abrasive_Line_Monthly_Part5.xlsx',
 'Abrasive_Line_Monthly_Part6.xlsx',
 'APCWW_Line_Monthly_Part1.xlsx',
 'APCWW_Line_Monthly_Part2.xlsx',
 'APCWW_Line_Monthly_Part3.xlsx',
 'APCWW_Line_Monthly_Part4.xlsx',
 'APCWW_Line_Monthly_Part5.xlsx',
 'Bar_Line_Monthly_Part1.xlsx',
 'Bar_Line_Monthly_Part2.xlsx',
 'Bar_Line_Monthly_Part3.xlsx',
 'Bar_Line_Monthly_Part4.xlsx',
 'Bar_Line_Monthly_Part5.xlsx',
 'Bar_Line_Monthly_Part6.xlsx',
 'BattHyb_Line_Monthly_Part1.xlsx',
 'BattHyb_Line_Monthly_Part2.xlsx',
 'BattHyb_Line_Monthly_Part3.xlsx',
 'BattHyb_Line_Monthly_Part4.xlsx',
 'BattHyb_line_Monthly_Part6.xlsx',
 'Beads_Line_Monthly_Part1.xlsx',
 'Beads_Line_Monthly_Part2.xlsx',
 'Beads_Line_Monthly_Part3.xlsx',
 'Beads_Line_Monthly_Part4.xlsx',
 'Beads_Line_Monthly_Part5.xlsx',
 'Beads_Line_Monthly_Part6.xlsx',
 'BW_Line_Monthly_Part1.xlsx',
 'BW_Line_Monthly_Part2.xlsx',
 'BW_Line_Monthly_Part3.xlsx',
 'BW_Line_Monthly_Part4.xlsx',
 'BW_Line_Monthly_Part5.xlsx',
 'BW_Line_Monthly_Part61.xlsx',
 'BW_Line_Monthly_Part62.xlsx',
 'BW_Line_Monthly_Part7.xlsx',
 'LDL_Line_Monthly_Part1_Total.xlsx',
 'LDL_Line_Monthly_Part2_Total.xlsx',
 'LDL_Line_Monthly_Part3_Total.xlsx',
 'LDL_Line_Monthly_Part4_Total.xlsx',
 'LDL_Line_Monthly_Part5_Total.xlsx',
 'LDL_Line_Monthly_Part6.xlsx',
 'LHS_Line_Monthly_Exec_Part1.xlsx',
 'LHS_Line_Monthly_Exec_Part2.xlsx',
 'LHS_Line_Monthly_Exec_Part3.xlsx',
 'LHS_Line_Monthly_Exec_Part4.xlsx',
 'LHS_Line_Monthly_Exec_Part5.xlsx',
 'LiqFS_Line_Monthly_Part1.xlsx',
 'LiqFS_Line_Monthly_Part2.xlsx',
 'LiqFS_Line_Monthly_Part3.xlsx',
 'LiqFS_Line_Monthly_Part4.xlsx',
 'LiqFS_Line_Monthly_Part5.xlsx',
 'LiqFS_Line_Monthly_Part6.xlsx',
 'LiqFS_Line_Monthly_Part7.xlsx',
 'MTB_Line_Monthly_Part1.xlsx',
 'MTB_Line_Monthly_Part2.xlsx',
 'MTB_Line_Monthly_Part3.xlsx',
 'MTB_Line_Monthly_Part4.xlsx',
 'MTB_Line_Monthly_Part5.xlsx',
 'MTB_line_Monthly_Part6.xlsx',
 'MW_Line_Monthly_Part1.xlsx',
 'MW_Line_Monthly_Part2.xlsx',
 'MW_Line_Monthly_Part3_11.21AM_IST_March12th2021.xlsx',
 'MW_Line_Monthly_Part4.xlsx',
 'MW_Line_Monthly_Part5.xlsx',
 'MW_Line_Monthly_Part61.xlsx',
 'MW_Line_Monthly_Part62.xlsx',
 'Portable_Line_Monthly_Part5.xlsx',
 'Pour_Line_Monthly_Part1.xlsx',
 'Pour_Line_Monthly_Part2.xlsx',
 'Pour_Line_Monthly_Part3.xlsx',
 'Pour_Line_Monthly_Part4.xlsx',
 'Pour_Line_Monthly_Part5.xlsx',
 'Pour_Line_Monthly_Part6.xlsx',
 'Power_Line_Monthly_Part1.xlsx',
 'Power_Line_Monthly_Part2.xlsx',
 'Power_Line_Monthly_Part3.xlsx',
 'Power_Line_Monthly_Part4.xlsx',
 'Power_Line_Monthly_Part5.xlsx',
 'Power_line_Monthly_Part6.xlsx',
 'ScentB_Line_Monthly_Part1.xlsx',
 'ScentB_Line_Monthly_Part2.xlsx',
 'ScentB_Line_Monthly_Part3.xlsx',
 'ScentB_Line_Monthly_Part4.xlsx',
 'ScentB_Line_Monthly_Part5.xlsx',
 'ScentB_Line_Monthly_Part6.xlsx',
 'Sheets_Line_Monthly_Part1.xlsx',
 'Sheets_Line_Monthly_Part2.xlsx',
 'Sheets_Line_Monthly_Part3.xlsx',
 'Sheets_Line_Monthly_Part4.xlsx',
 'Sheets_Line_Monthly_Part5.xlsx',
 'Sheets_Line_Monthly_Part6.xlsx',
 'Sheets_Line_Monthly_Part7.xlsx',
 'Toothpaste_Line_Monthly_Part1.xlsx',
 'Toothpaste_Line_Monthly_Part2.xlsx',
 'Toothpaste_Line_Monthly_Part3.xlsx',
 'Toothpaste_Line_Monthly_Part4.xlsx',
 'Toothpaste_Line_Monthly_Part5.xlsx',
 'Toothpaste_Line_Monthly_Part61.xlsx',
 'Toothpaste_Line_Monthly_Part62.xlsx',
 'TotalFS_Line_Monthly_Part1.xlsx',
 'TotalFS_Line_Monthly_Part2.xlsx',
 'TotalFS_Line_Monthly_Part3.xlsx',
 'TotalFS_Line_Monthly_Part4.xlsx',
 'TotalFS_Line_Monthly_Part5.xlsx',
 'TotalFS_Line_Monthly_Part6.xlsx',
 'TotalFS_Line_Monthly_Part7.xlsx',
 'Wood_Line_Monthly_Part1.xlsx',
 'Wood_Line_Monthly_Part2.xlsx',
 'Wood_Line_Monthly_Part3.xlsx',
 'Wood_Line_Monthly_Part4.xlsx',
 'Wood_Line_Monthly_Part5.xlsx',
 'Wood_Line_Monthly_Part6.xlsx']

**Appending the read files in rows and storing them in a single dataframe** named ***Line_Monthly***.

Printing number of columns and number of facts in each file.
Also checking the execution time of the code

In [6]:
time_start= time.time()

Line_Monthly= pd.DataFrame()

j=0
for f in files_xls:
    
    data = pd.read_excel(path+"/"+f)
    print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
    Line_Monthly = pd.concat([Line_Monthly,data],axis=0,ignore_index=True)
    j=j+1
    
time_end= time.time();

print("execution time is ", time_end-time_start)

Abrasive_Line_Monthly_Part1.xlsx :->
# of Facts are  57 		 # of columns are  30
Abrasive_Line_Monthly_Part2.xlsx :->
# of Facts are  57 		 # of columns are  30
Abrasive_Line_Monthly_Part3.xlsx :->
# of Facts are  57 		 # of columns are  30
Abrasive_Line_Monthly_Part4.xlsx :->
# of Facts are  57 		 # of columns are  30
Abrasive_Line_Monthly_Part5.xlsx :->
# of Facts are  20 		 # of columns are  30
Abrasive_Line_Monthly_Part6.xlsx :->
# of Facts are  29 		 # of columns are  30
APCWW_Line_Monthly_Part1.xlsx :->
# of Facts are  57 		 # of columns are  30
APCWW_Line_Monthly_Part2.xlsx :->
# of Facts are  57 		 # of columns are  30
APCWW_Line_Monthly_Part3.xlsx :->
# of Facts are  57 		 # of columns are  30
APCWW_Line_Monthly_Part4.xlsx :->
# of Facts are  57 		 # of columns are  30
APCWW_Line_Monthly_Part5.xlsx :->
# of Facts are  20 		 # of columns are  30
Bar_Line_Monthly_Part1.xlsx :->
# of Facts are  57 		 # of columns are  30
Bar_Line_Monthly_Part2.xlsx :->
# of Facts are  57 		 # of columns are  30
Bar_Line_Monthly_Part3.xlsx :->
# of Facts are  57 		 # of columns are  30
Bar_Line_Monthly_Part4.xlsx :->
# of Facts are  57 		 # of columns are  30
Bar_Line_Monthly_Part5.xlsx :->
# of Facts are  20 		 # of columns are  30
Bar_Line_Monthly_Part6.xlsx :->
# of Facts are  39 		 # of columns are  30
BattHyb_Line_Monthly_Part1.xlsx :->
# of Facts are  57 		 # of columns are  30
BattHyb_Line_Monthly_Part2.xlsx :->
# of Facts are  57 		 # of columns are  30
BattHyb_Line_Monthly_Part3.xlsx :->
# of Facts are  57 		 # of columns are  30
BattHyb_Line_Monthly_Part4.xlsx :->
# of Facts are  57 		 # of columns are  30
BattHyb_line_Monthly_Part6.xlsx :->
# of Facts are  36 		 # of columns are  30
Beads_Line_Monthly_Part1.xlsx :->
# of Facts are  57 		 # of columns are  17
Beads_Line_Monthly_Part2.xlsx :->
# of Facts are  57 		 # of columns are  17
Beads_Line_Monthly_Part3.xlsx :->
# of Facts are  57 		 # of columns are  17
Beads_Line_Monthly_Part4.xlsx :->
# of Facts are  57 		 # of columns are  17
Beads_Line_Monthly_Part5.xlsx :->
# of Facts are  20 		 # of columns are  17
Beads_Line_Monthly_Part6.xlsx :->
# of Facts are  37 		 # of columns are  17
BW_Line_Monthly_Part1.xlsx :->
# of Facts are  57 		 # of columns are  30
BW_Line_Monthly_Part2.xlsx :->
# of Facts are  57 		 # of columns are  30
BW_Line_Monthly_Part3.xlsx :->
# of Facts are  57 		 # of columns are  30
BW_Line_Monthly_Part4.xlsx :->
# of Facts are  57 		 # of columns are  30
BW_Line_Monthly_Part5.xlsx :->
# of Facts are  20 		 # of columns are  30
BW_Line_Monthly_Part61.xlsx :->
# of Facts are  39 		 # of columns are  30
BW_Line_Monthly_Part62.xlsx :->
# of Facts are  39 		 # of columns are  30
BW_Line_Monthly_Part7.xlsx :->
# of Facts are  96 		 # of columns are  30
LDL_Line_Monthly_Part1_Total.xlsx :->
# of Facts are  57 		 # of columns are  30
LDL_Line_Monthly_Part2_Total.xlsx :->
# of Facts are  57 		 # of columns are  30
LDL_Line_Monthly_Part3_Total.xlsx :->
# of Facts are  57 		 # of columns are  30
LDL_Line_Monthly_Part4_Total.xlsx :->
# of Facts are  57 		 # of columns are  30
LDL_Line_Monthly_Part5_Total.xlsx :->
# of Facts are  20 		 # of columns are  30
LDL_Line_Monthly_Part6.xlsx :->
# of Facts are  36 		 # of columns are  30
LHS_Line_Monthly_Exec_Part1.xlsx :->
# of Facts are  57 		 # of columns are  30
LHS_Line_Monthly_Exec_Part2.xlsx :->
# of Facts are  57 		 # of columns are  30
LHS_Line_Monthly_Exec_Part3.xlsx :->
# of Facts are  57 		 # of columns are  30
LHS_Line_Monthly_Exec_Part4.xlsx :->
# of Facts are  57 		 # of columns are  30
LHS_Line_Monthly_Exec_Part5.xlsx :->
# of Facts are  20 		 # of columns are  30
LiqFS_Line_Monthly_Part1.xlsx :->
# of Facts are  57 		 # of columns are  30
LiqFS_Line_Monthly_Part2.xlsx :->
# of Facts are  57 		 # of columns are  30
LiqFS_Line_Monthly_Part3.xlsx :->
# of Facts are  57 		 # of columns are  30
LiqFS_Line_Monthly_Part4.xlsx :->
# of Facts are  57 		 # of columns are  30
LiqFS_Line_Monthly_Part5.xlsx :->
# of Facts are  20 		 # of columns are  30
LiqFS_Line_Monthly_Part6.xlsx :->
# of Facts are  37 		 # of columns are  30
LiqFS_Line_Monthly_Part7.xlsx :->
# of Facts are  93 		 # of columns are  30
MTB_Line_Monthly_Part1.xlsx :->
# of Facts are  57 		 # of columns are  30
MTB_Line_Monthly_Part2.xlsx :->
# of Facts are  57 		 # of columns are  30
MTB_Line_Monthly_Part3.xlsx :->
# of Facts are  57 		 # of columns are  30
MTB_Line_Monthly_Part4.xlsx :->
# of Facts are  57 		 # of columns are  30
MTB_Line_Monthly_Part5.xlsx :->
# of Facts are  20 		 # of columns are  30
MTB_line_Monthly_Part6.xlsx :->
# of Facts are  43 		 # of columns are  30
MW_Line_Monthly_Part1.xlsx :->
# of Facts are  57 		 # of columns are  30
MW_Line_Monthly_Part2.xlsx :->
# of Facts are  57 		 # of columns are  30
MW_Line_Monthly_Part3_11.21AM_IST_March12th2021.xlsx :->
# of Facts are  57 		 # of columns are  30
MW_Line_Monthly_Part4.xlsx :->
# of Facts are  57 		 # of columns are  30
MW_Line_Monthly_Part5.xlsx :->
# of Facts are  20 		 # of columns are  30
MW_Line_Monthly_Part61.xlsx :->
# of Facts are  34 		 # of columns are  30
MW_Line_Monthly_Part62.xlsx :->
# of Facts are  34 		 # of columns are  30
Portable_Line_Monthly_Part5.xlsx :->
# of Facts are  20 		 # of columns are  30
Pour_Line_Monthly_Part1.xlsx :->
# of Facts are  57 		 # of columns are  30
Pour_Line_Monthly_Part2.xlsx :->
# of Facts are  57 		 # of columns are  30
Pour_Line_Monthly_Part3.xlsx :->
# of Facts are  57 		 # of columns are  30
Pour_Line_Monthly_Part4.xlsx :->
# of Facts are  57 		 # of columns are  30
Pour_Line_Monthly_Part5.xlsx :->
# of Facts are  20 		 # of columns are  30
Pour_Line_Monthly_Part6.xlsx :->
# of Facts are  36 		 # of columns are  30
Power_Line_Monthly_Part1.xlsx :->
# of Facts are  57 		 # of columns are  30
Power_Line_Monthly_Part2.xlsx :->
# of Facts are  57 		 # of columns are  30
Power_Line_Monthly_Part3.xlsx :->
# of Facts are  57 		 # of columns are  30
Power_Line_Monthly_Part4.xlsx :->
# of Facts are  57 		 # of columns are  30
Power_Line_Monthly_Part5.xlsx :->
# of Facts are  20 		 # of columns are  30
Power_line_Monthly_Part6.xlsx :->
# of Facts are  43 		 # of columns are  30
ScentB_Line_Monthly_Part1.xlsx :->
# of Facts are  57 		 # of columns are  30
ScentB_Line_Monthly_Part2.xlsx :->
# of Facts are  57 		 # of columns are  30
ScentB_Line_Monthly_Part3.xlsx :->
# of Facts are  57 		 # of columns are  30
ScentB_Line_Monthly_Part4.xlsx :->
# of Facts are  57 		 # of columns are  30
ScentB_Line_Monthly_Part5.xlsx :->
# of Facts are  16 		 # of columns are  30
ScentB_Line_Monthly_Part6.xlsx :->
# of Facts are  19 		 # of columns are  30
Sheets_Line_Monthly_Part1.xlsx :->
# of Facts are  57 		 # of columns are  30
Sheets_Line_Monthly_Part2.xlsx :->
# of Facts are  57 		 # of columns are  30
Sheets_Line_Monthly_Part3.xlsx :->
# of Facts are  57 		 # of columns are  30
Sheets_Line_Monthly_Part4.xlsx :->
# of Facts are  57 		 # of columns are  30
Sheets_Line_Monthly_Part5.xlsx :->
# of Facts are  16 		 # of columns are  30
Sheets_Line_Monthly_Part6.xlsx :->
# of Facts are  37 		 # of columns are  30
Sheets_Line_Monthly_Part7.xlsx :->
# of Facts are  93 		 # of columns are  30
Toothpaste_Line_Monthly_Part1.xlsx :->
# of Facts are  57 		 # of columns are  30
Toothpaste_Line_Monthly_Part2.xlsx :->
# of Facts are  57 		 # of columns are  30
Toothpaste_Line_Monthly_Part3.xlsx :->
# of Facts are  57 		 # of columns are  30

Toothpaste_Line_Monthly_Part4.xlsx :->
# of Facts are  57 		 # of columns are  30
Toothpaste_Line_Monthly_Part5.xlsx :->
# of Facts are  20 		 # of columns are  30
Toothpaste_Line_Monthly_Part61.xlsx :->
# of Facts are  36 		 # of columns are  30
Toothpaste_Line_Monthly_Part62.xlsx :->
# of Facts are  36 		 # of columns are  30
TotalFS_Line_Monthly_Part1.xlsx :->
# of Facts are  57 		 # of columns are  30
TotalFS_Line_Monthly_Part2.xlsx :->
# of Facts are  57 		 # of columns are  30
TotalFS_Line_Monthly_Part3.xlsx :->
# of Facts are  57 		 # of columns are  30
TotalFS_Line_Monthly_Part4.xlsx :->
# of Facts are  57 		 # of columns are  30
TotalFS_Line_Monthly_Part5.xlsx :->
# of Facts are  20 		 # of columns are  30
TotalFS_Line_Monthly_Part6.xlsx :->
# of Facts are  36 		 # of columns are  30
TotalFS_Line_Monthly_Part7.xlsx :->
# of Facts are  55 		 # of columns are  30
Wood_Line_Monthly_Part1.xlsx :->
# of Facts are  57 		 # of columns are  30
Wood_Line_Monthly_Part2.xlsx :->
# of Facts are  57 		 # of columns are  30
Wood_Line_Monthly_Part3.xlsx :->
# of Facts are  57 		 # of columns are  30
Wood_Line_Monthly_Part4.xlsx :->
# of Facts are  57 		 # of columns are  30
Wood_Line_Monthly_Part5.xlsx :->
# of Facts are  20 		 # of columns are  30
Wood_Line_Monthly_Part6.xlsx :->
# of Facts are  36 		 # of columns are  30
execution time is  2016.9245824813843

In [7]:
Line_Monthly.shape

(2823237, 30)

In [8]:
set(Line_Monthly["Markets"])

{'ALBSCO Total Company TA',
 'Ahold USA Corp Total TA',
 'BJs Total TA',
 'CLUB',
 'CVS Total Corp WO HI TA',
 'Dol Gen Total TA',
 'El Super Total TA',
 'FDM',
 'Family Dollar Total TA',
 'Fiesta Total TA',
 'Giant Eagle Total TA',
 'Kmart Total TA',
 'Meijer Total TA',
 'Publix Total TA',
 'REGIONAL GROCERY xLA',
 'RG xLA & MILITARY',
 'Rite Aid - Corp Total TA',
 "Sam's Total TA",
 'ShopRite Total TA',
 'Strategic Grocery',
 'TOTAL MASS',
 'Target Total BM/FF TA',
 'Total US Drug',
 'Total US Food',
 'Total US xAOC',
 'VDC',
 'Walgreens Corp Total TA',
 'Walgreens Total TA',
 'Walmart Total US TA',
 'Wegmans Total TA'}

**Replacing Facts names** (Here column "Periods" denotes the fact column)

In [9]:
set(Line_Monthly["Periods"])

{'$',
 '$ % Chg YA',
 '$ / $MM ACV',
 '$ / $MM ACV % Chg YA',
 '$ / $MM ACV Chg YA',
 '$ Chg YA',
 '$ Shr - CP BATTERY AND HYBRID',
 '$ Shr - CP CATEGORY',
 '$ Shr - CP FORM',
 '$ Shr - CP MEGA CATEGORY',
 '$ Shr - CP USE',
 '$ Shr Chg YA - CP BATTERY AND HYBRID',
 '$ Shr Chg YA - CP CATEGORY',
 '$ Shr Chg YA - CP FORM',
 '$ Shr Chg YA - CP MEGA CATEGORY',
 '$ Shr Chg YA - CP USE',
 '$ YA',
 '% $ Any Promo',
 '% $ Any Promo Chg YA',
 '% EQ Any Promo',
 '% EQ Any Promo Chg YA',
 '%ACV',
 '%ACV Chg YA',
 'Any Disp %ACV',
 'Any Disp %ACV Chg YA',
 'Any Disp %ACV YA',
 'Any Feat %ACV',
 'Any Feat %ACV Chg YA',
 'Any Feat %ACV YA',
 'Any Promo $',
 'Any Promo $ % Chg YA',
 'Any Promo $ Chg YA',
 'Any Promo $ Shr - CP BATTERY AND HYBRID',
 'Any Promo $ Shr - CP CATEGORY',
 'Any Promo $ Shr - CP FORM',
 'Any Promo $ Shr - CP MEGA CATEGORY',
 'Any Promo $ Shr - CP USE',
 'Any Promo $ Shr Chg YA - CP BATTERY AND HYBRID',
 'Any Promo $ Shr Chg YA - CP CATEGORY',
 'Any Promo $ Shr Chg YA - CP FORM',
 'Any Promo $ Shr Chg YA - CP MEGA CATEGORY',
 'Any Promo $ Shr Chg YA - CP USE',
 'Any Promo %ACV',
 'Any Promo %ACV Chg YA',
 'Any Promo EQ',
 'Any Promo EQ % Chg YA',
 'Any Promo EQ Chg YA',
 'Any Promo EQ Price',
 'Any Promo EQ Price Chg YA',
 'Avg # of Items',
 'Avg # of Items Chg YA',
 'Avg EQ Price',
 'Avg EQ Price % Chg YA',
 'Avg EQ Price Chg YA',
 'Avg EQ Price YA',
 'Avg Unit Price',
 'Avg Unit Price % Chg YA',
 'Avg Unit Price Chg YA',
 'Avg Unit Price YA',
 'Base $',
 'Base $ % Chg YA',
 'Base $ Chg YA',
 'Base $ Shr - $ - CP BATTERY AND HYBRID',
 'Base $ Shr - $ - CP CATEGORY',
 'Base $ Shr - $ - CP FORM',
 'Base $ Shr - $ - CP MEGA CATEGORY',
 'Base $ Shr - $ - CP USE',
 'Base $ Shr - CP CATEGORY',
 'Base $ Shr - CP FORM',
 'Base $ Shr - CP MEGA CATEGORY',
 'Base $ Shr - CP USE',
 'Base $ Shr Chg YA - $ - CP BATTERY AND HYBRID',
 'Base $ Shr Chg YA - $ - CP CATEGORY',
 'Base $ Shr Chg YA - $ - CP FORM',
 'Base $ Shr Chg YA - $ - CP MEGA CATEGORY',
 'Base $ Shr Chg YA - $ - CP USE',
 'Base $ Shr Chg YA - CP CATEGORY',
 'Base $ Shr Chg YA - CP FORM',
 'Base $ Shr Chg YA - CP MEGA CATEGORY',
 'Base $ Shr Chg YA - CP USE',
 'Base $ YA',
 'Base EQ',
 'Base EQ % Chg YA',
 'Base EQ Chg YA',
 'Base EQ Price',
 'Base EQ Price % Chg YA',
 'Base EQ Price Chg YA',
 'Base EQ Shr - CP BATTERY AND HYBRID',
 'Base EQ Shr - CP CATEGORY',
 'Base EQ Shr - CP FORM',
 'Base EQ Shr - CP MEGA CATEGORY',
 'Base EQ Shr - CP USE',
 'Base EQ Shr Chg YA - CP BATTERY AND HYBRID',
 'Base EQ Shr Chg YA - CP CATEGORY',
 'Base EQ Shr Chg YA - CP FORM',
 'Base EQ Shr Chg YA - CP MEGA CATEGORY',
 'Base EQ Shr Chg YA - CP USE',
 'Disp w/o Feat $',
 'Disp w/o Feat $ % Chg YA',
 'Disp w/o Feat $ Chg YA',
 'Disp w/o Feat %ACV',
 'Disp w/o Feat %ACV Chg YA',
 'EQ',
 'EQ % Chg YA',
 'EQ Chg YA',
 'EQ Shr - CP BATTERY AND HYBRID',
 'EQ Shr - CP CATEGORY',
 'EQ Shr - CP FORM',
 'EQ Shr - CP MEGA CATEGORY',
 'EQ Shr - CP USE',
 'EQ Shr Chg YA - CP BATTERY AND HYBRID',
 'EQ Shr Chg YA - CP CATEGORY',
 'EQ Shr Chg YA - CP FORM',
 'EQ Shr Chg YA - CP MEGA CATEGORY',
 'EQ Shr Chg YA - CP USE',
 'Feat & Disp $',
 'Feat & Disp $ % Chg YA',
 'Feat & Disp $ Chg YA',
 'Feat & Disp %ACV',
 'Feat & Disp %ACV Chg YA',
 'Feat & Disp %ACV YA',
 'Feat or Disp %ACV',
 'Feat or Disp %ACV Chg YA',
 'Feat w/o Disp $',
 'Feat w/o Disp $ % Chg YA',
 'Feat w/o Disp $ Chg YA',
 'Feat w/o Disp %ACV',
 'Feat w/o Disp %ACV Chg YA',
 'Incr $',
 'Incr $ % Chg YA',
 'Incr $ Chg YA',
 'Incr $ Shr - $ - CP BATTERY AND HYBRID',
 'Incr $ Shr - $ - CP CATEGORY',
 'Incr $ Shr - $ - CP FORM',
 'Incr $ Shr - $ - CP MEGA CATEGORY',
 'Incr $ Shr - $ - CP USE',
 'Incr $ Shr - CP CATEGORY',
 'Incr $ Shr - CP FORM',
 'Incr $ Shr - CP MEGA CATEGORY',
 'Incr $ Shr - CP USE',
 'Incr $ Shr Chg YA - $ - CP BATTERY AND HYBRID',
 'Incr $ Shr Chg YA - $ - CP CATEGORY',
 'Incr $ Shr Chg YA - $ - CP FORM',
 'Incr $ Shr Chg YA - $ - CP MEGA CATEGORY',
 'Incr $ Shr Chg YA - $ - CP USE',
 'Incr $ Shr Chg YA - CP CATEGORY',
 'Incr $ Shr Chg YA - CP FORM',
 'Incr $ Shr Chg YA - CP MEGA CATEGORY',
 'Incr $ Shr Chg YA - CP USE',
 'Incr $ YA',
 'Incr EQ',
 'Incr EQ % Chg YA',
 'Incr EQ Chg YA',
 'Incr EQ Shr - CP BATTERY AND HYBRID',
 'Incr EQ Shr - CP CATEGORY',
 'Incr EQ Shr - CP FORM',
 'Incr EQ Shr - CP MEGA CATEGORY',
 'Incr EQ Shr - CP USE',
 'Incr EQ Shr Chg YA - CP BATTERY AND HYBRID',
 'Incr EQ Shr Chg YA - CP CATEGORY',
 'Incr EQ Shr Chg YA - CP FORM',
 'Incr EQ Shr Chg YA - CP MEGA CATEGORY',
 'Incr EQ Shr Chg YA - CP USE',
 'No Promo Incr $',
 'No Promo Incr $ % Chg YA',
 'No Promo Incr $ Chg YA',
 'Price Decr Only $',
 'Price Decr Only $ % Chg YA',
 'Price Decr Only $ Chg YA',
 'Price Decr Only %ACV',
 'Price Decr Only %ACV Chg YA',
 'TDP',
 'TDP % Chg YA',
 'TDP Chg YA',
 'Units',
 'Units % Chg YA',
 'Units / $MM ACV',
 'Units / $MM ACV % Chg YA',
 'Units / $MM ACV Chg YA',
 'Units Chg YA'}

In [10]:
Line_Monthly["Periods"]=Line_Monthly["Periods"].str.replace("$","temp")
Line_Monthly["Periods"]=Line_Monthly["Periods"].str.replace("- temp -","-")
Line_Monthly["Periods"]=Line_Monthly["Periods"].str.replace("temp","$")


Line_Monthly["Periods"]=Line_Monthly["Periods"].str.replace("CP FORM","CP CATEGORY")
Line_Monthly["Periods"]=Line_Monthly["Periods"].str.replace("CP USE","CP CATEGORY")
Line_Monthly["Periods"]=Line_Monthly["Periods"].str.replace("CP LDL AND FOAM","CP CATEGORY")

Line_Monthly["Periods"]=Line_Monthly["Periods"].str.replace("CP LDL AND FM X DISHAIDS/WPS/SPR","CP CATEGORY")

Line_Monthly["Periods"]=Line_Monthly["Periods"].str.replace("CP MEGA CATEGORY","CP CATEGORY")
Line_Monthly["Periods"]=Line_Monthly["Periods"].str.replace("CP BATTERY AND HYBRID","CP CATEGORY")


# Line_Monthly["Periods"]=Line_Monthly["Periods"].str.replace("Base $ Shr Chg YA - $ - CP CATEGORY","Base $ Shr Chg YA - CP CATEGORY")
# Line_Monthly["Periods"]=Line_Monthly["Periods"].str.replace("Incr $ Shr Chg YA - $ - CP CATEGORY","Incr $ Shr Chg YA - CP CATEGORY")

# Line_Monthly["Periods"]=Line_Monthly["Periods"].str.replace("Base $ Shr - $ - CP CATEGORY","Base $ Shr - CP CATEGORY")
# Line_Monthly["Periods"]=Line_Monthly["Periods"].str.replace("Incr $ Shr - $ - CP CATEGORY","Incr $ Shr - CP CATEGORY")

# Market name replaced
Line_Monthly["Markets"]=Line_Monthly["Markets"].str.replace("Walgreens Corp Total TA","Walgreens Total TA")

In [11]:
set(Line_Monthly["Periods"])

{'$',
 '$ % Chg YA',
 '$ / $MM ACV',
 '$ / $MM ACV % Chg YA',
 '$ / $MM ACV Chg YA',
 '$ Chg YA',
 '$ Shr - CP CATEGORY',
 '$ Shr Chg YA - CP CATEGORY',
 '$ YA',
 '% $ Any Promo',
 '% $ Any Promo Chg YA',
 '% EQ Any Promo',
 '% EQ Any Promo Chg YA',
 '%ACV',
 '%ACV Chg YA',
 'Any Disp %ACV',
 'Any Disp %ACV Chg YA',
 'Any Disp %ACV YA',
 'Any Feat %ACV',
 'Any Feat %ACV Chg YA',
 'Any Feat %ACV YA',
 'Any Promo $',
 'Any Promo $ % Chg YA',
 'Any Promo $ Chg YA',
 'Any Promo $ Shr - CP CATEGORY',
 'Any Promo $ Shr Chg YA - CP CATEGORY',
 'Any Promo %ACV',
 'Any Promo %ACV Chg YA',
 'Any Promo EQ',
 'Any Promo EQ % Chg YA',
 'Any Promo EQ Chg YA',
 'Any Promo EQ Price',
 'Any Promo EQ Price Chg YA',
 'Avg # of Items',
 'Avg # of Items Chg YA',
 'Avg EQ Price',
 'Avg EQ Price % Chg YA',
 'Avg EQ Price Chg YA',
 'Avg EQ Price YA',
 'Avg Unit Price',
 'Avg Unit Price % Chg YA',
 'Avg Unit Price Chg YA',
 'Avg Unit Price YA',
 'Base $',
 'Base $ % Chg YA',
 'Base $ Chg YA',
 'Base $ Shr - CP CATEGORY',
 'Base $ Shr Chg YA - CP CATEGORY',
 'Base $ YA',
 'Base EQ',
 'Base EQ % Chg YA',
 'Base EQ Chg YA',
 'Base EQ Price',
 'Base EQ Price % Chg YA',
 'Base EQ Price Chg YA',
 'Base EQ Shr - CP CATEGORY',
 'Base EQ Shr Chg YA - CP CATEGORY',
 'Disp w/o Feat $',
 'Disp w/o Feat $ % Chg YA',
 'Disp w/o Feat $ Chg YA',
 'Disp w/o Feat %ACV',
 'Disp w/o Feat %ACV Chg YA',
 'EQ',
 'EQ % Chg YA',
 'EQ Chg YA',
 'EQ Shr - CP CATEGORY',
 'EQ Shr Chg YA - CP CATEGORY',
 'Feat & Disp $',
 'Feat & Disp $ % Chg YA',
 'Feat & Disp $ Chg YA',
 'Feat & Disp %ACV',
 'Feat & Disp %ACV Chg YA',
 'Feat & Disp %ACV YA',
 'Feat or Disp %ACV',
 'Feat or Disp %ACV Chg YA',
 'Feat w/o Disp $',
 'Feat w/o Disp $ % Chg YA',
 'Feat w/o Disp $ Chg YA',
 'Feat w/o Disp %ACV',
 'Feat w/o Disp %ACV Chg YA',
 'Incr $',
 'Incr $ % Chg YA',
 'Incr $ Chg YA',
 'Incr $ Shr - CP CATEGORY',
 'Incr $ Shr Chg YA - CP CATEGORY',
 'Incr $ YA',
 'Incr EQ',
 'Incr EQ % Chg YA',
 'Incr EQ Chg YA',
 'Incr EQ Shr - CP CATEGORY',
 'Incr EQ Shr Chg YA - CP CATEGORY',
 'No Promo Incr $',
 'No Promo Incr $ % Chg YA',
 'No Promo Incr $ Chg YA',
 'Price Decr Only $',
 'Price Decr Only $ % Chg YA',
 'Price Decr Only $ Chg YA',
 'Price Decr Only %ACV',
 'Price Decr Only %ACV Chg YA',
 'TDP',
 'TDP % Chg YA',
 'TDP Chg YA',
 'Units',
 'Units % Chg YA',
 'Units / $MM ACV',
 'Units / $MM ACV % Chg YA',
 'Units / $MM ACV Chg YA',
 'Units Chg YA'}

**Removing unwanted characters from all the column names** and store them in a list ***new_col_names***

In [12]:
new_col_names=[]
for i in Line_Monthly.columns:
    x=len(i)
    if x<=17:
        new_col_names.append(i)
    elif i[:3]=='YTD':
        new_col_names.append(i[:-16].strip('- '))
    else:
        new_col_names.append(i[:-14].strip('- '))

**Checking the duplicacte column in** ***Line_Monthly***

In [13]:
if(len(new_col_names)!=len(set(new_col_names))):
    print("\033[1;31m"+"*******************************ERROR*******************************\n\t\t\tWe have duplicate columns\n\t\t\tPlease recheck raw data files\n*******************************ERROR*******************************")

Renaming the column names of ***Line_Monthly***

In [14]:
# Line_Monthly.rename(columns=dict(zip(Line_Monthly.columns,new_col_names)),inplace=True)
Line_Monthly.columns=new_col_names

In [15]:
Line_Monthly.columns

Index(['Markets', 'Products', 'Periods', 'Jan 20', 'Feb 20', 'Mar 20',
       'Apr 20', 'May 20', 'Jun 20', 'Jul 20', 'Aug 20', 'Sep 20', 'Oct 20',
       'Nov 20', 'Dec 20', 'Jan 21', 'Feb 21', 'YTD', 'YTD YA',
       'Latest 13 Wks', 'Latest 26 Wks', 'Cal Yr 2020', 'Cal Yr 2019',
       'Cal Yr 2018', 'Cal Yr 2017', 'JFM 20', 'AMJ 20', 'JAS 20', 'OND 20',
       'JFM 21'],
      dtype='object')

**Adding Missing Quater**

In [16]:
# GETTING 20 DAYS BEFORE MONTHS AND YEAR VALUES
now=datetime.datetime.now()
delay= datetime.timedelta(days=20)
a= now - delay
month_number=a.month
year=str(a.year-2)[-2:]
print(month_number)
print(year)

3
19

In [17]:
if( month_number >= 1 & month_number <= 3):
    Line_Monthly['AMJ '+year]=""
    Line_Monthly['JAS '+year]=""
    Line_Monthly['OND '+year]=""
elif ( month_number >= 4 & month_number <= 6 ):
    Line_Monthly['JAS '+year]=""
    Line_Monthly['OND '+year]=""
elif ( month_number >= 7 & month_number <= 9  ):
    Line_Monthly['OND '+year]=""

**Time period mapping**

**Manual Step**

This mapping needs to be changed every year when new year data comes

In [18]:
# time_period_map_2020= pd.DataFrame({'Connect Time Period':['Markets', 'Products', 'Periods','Cal Yr 2020','Cal Yr 2019','Cal Yr 2018','Cal Yr 2017','YTD','YTD YA','Latest 13 Wks','Latest 26 Wks','OND 20','JAS 20','AMJ 20','JFM 20','OND 19','JAS 19','AMJ 19','JFM 19','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20','Dec 19','Nov 19','Oct 19','Sep 19','Aug 19','Jul 19','Jun 19','May 19','Apr 19','Mar 19','Feb 19','Jan 19'],
#                                'Final Name':['Markets', 'Products', 'Periods','FY 2020','FY 2019','FY 2018','FY 2017','YTD 2020','YTD 2019','Latest 13 Weeks','Latest 26 Weeks','Q4 2020','Q3 2020','Q2 2020','Q1 2020','Q4 2019','Q3 2019','Q2 2019','Q1 2019','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20','Dec 19','Nov 19','Oct 19','Sep 19','Aug 19','Jul 19','Jun 19','May 19','Apr 19','Mar 19','Feb 19','Jan 19']
#                               ,'Order':range(1,44)})

In [19]:
time_period_map= pd.DataFrame({'Connect Time Period':['Markets', 'Products', 'Periods','Cal Yr 2020','Cal Yr 2019','Cal Yr 2018','Cal Yr 2017','YTD','YTD YA','Latest 13 Wks','Latest 26 Wks','OND 21','JAS 21','AMJ 21','JFM 21','OND 20','JAS 20','AMJ 20','JFM 20','OND 19','JAS 19','AMJ 19','Dec 21','Nov 21','Oct 21','Sep 21','Aug 21','Jul 21','Jun 21','May 21','Apr 21','Mar 21','Feb 21','Jan 21','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20'],
                               'Final Name':['Markets', 'Products', 'Periods','FY 2020','FY 2019','FY 2018','FY 2017','YTD 2021','YTD 2020','Latest 13 Weeks','Latest 26 Weeks','Q4 2021','Q3 2021','Q2 2021','Q1 2021','Q4 2020','Q3 2020','Q2 2020','Q1 2020','Q4 2019','Q3 2019','Q2 2019','Dec 21','Nov 21','Oct 21','Sep 21','Aug 21','Jul 21','Jun 21','May 21','Apr 21','Mar 21','Feb 21','Jan 21','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20']
                              ,'Order':range(1,47)})

In [20]:
time_period_map.head(50)

   Connect Time Period       Final Name  Order
0              Markets          Markets      1
1             Products         Products      2
2              Periods          Periods      3
3          Cal Yr 2020          FY 2020      4
4          Cal Yr 2019          FY 2019      5
5          Cal Yr 2018          FY 2018      6
6          Cal Yr 2017          FY 2017      7
7                  YTD         YTD 2021      8
8               YTD YA         YTD 2020      9
9        Latest 13 Wks  Latest 13 Weeks     10
10       Latest 26 Wks  Latest 26 Weeks     11
11              OND 21          Q4 2021     12
12              JAS 21          Q3 2021     13
13              AMJ 21          Q2 2021     14
14              JFM 21          Q1 2021     15
15              OND 20          Q4 2020     16
16              JAS 20          Q3 2020     17
17              AMJ 20          Q2 2020     18
18              JFM 20          Q1 2020     19
19              OND 19          Q4 2019     20
20              JAS 19          Q3 2019     21
21              AMJ 19          Q2 2019     22
22              Dec 21           Dec 21     23
23              Nov 21           Nov 21     24
24              Oct 21           Oct 21     25
25              Sep 21           Sep 21     26
26              Aug 21           Aug 21     27
27              Jul 21           Jul 21     28
28              Jun 21           Jun 21     29
29              May 21           May 21     30
30              Apr 21           Apr 21     31
31              Mar 21           Mar 21     32
32              Feb 21           Feb 21     33
33              Jan 21           Jan 21     34
34              Dec 20           Dec 20     35
35              Nov 20           Nov 20     36
36              Oct 20           Oct 20     37
37              Sep 20           Sep 20     38
38              Aug 20           Aug 20     39
39              Jul 20           Jul 20     40
40              Jun 20           Jun 20     41
41              May 20           May 20     42
42              Apr 20           Apr 20     43
43              Mar 20           Mar 20     44
44              Feb 20           Feb 20     45
45              Jan 20           Jan 20     46

We need to **change column names** of ***Line_Monthly*** and **reorder** them based on the time_period_mapping

In [21]:
# assigning variables
LM_column= list(Line_Monthly.columns)
time_connect=list(time_period_map["Connect Time Period"])
time_final=list(time_period_map["Final Name"])

In [22]:
# changing column names based on time_period_mapping
new_column=[]
for i in range(0,len(LM_column)):
    for j in range(0,len(time_connect)):
        if LM_column[i]==time_connect[j]:
            new_column.append(time_final[j])

In [23]:
print(new_column)

['Markets', 'Products', 'Periods', 'Jan 20', 'Feb 20', 'Mar 20', 'Apr 20', 'May 20', 'Jun 20', 'Jul 20', 'Aug 20', 'Sep 20', 'Oct 20', 'Nov 20', 'Dec 20', 'Jan 21', 'Feb 21', 'YTD 2021', 'YTD 2020', 'Latest 13 Weeks', 'Latest 26 Weeks', 'FY 2020', 'FY 2019', 'FY 2018', 'FY 2017', 'Q1 2020', 'Q2 2020', 'Q3 2020', 'Q4 2020', 'Q1 2021', 'Q2 2019', 'Q3 2019', 'Q4 2019']

In [24]:
print(len(new_column),len(Line_Monthly.columns))

33 33

In [25]:
#assigning new column names
Line_Monthly.columns = new_column

In [26]:
# reordering column names
my_list =time_period_map.iloc[:, 1]
my_list1=Line_Monthly.columns
result = [x for x in my_list if x in my_list1]
Line_Monthly=Line_Monthly[result]

In [27]:
Line_Monthly.columns

Index(['Markets', 'Products', 'Periods', 'FY 2020', 'FY 2019', 'FY 2018',
       'FY 2017', 'YTD 2021', 'YTD 2020', 'Latest 13 Weeks', 'Latest 26 Weeks',
       'Q1 2021', 'Q4 2020', 'Q3 2020', 'Q2 2020', 'Q1 2020', 'Q4 2019',
       'Q3 2019', 'Q2 2019', 'Feb 21', 'Jan 21', 'Dec 20', 'Nov 20', 'Oct 20',
       'Sep 20', 'Aug 20', 'Jul 20', 'Jun 20', 'May 20', 'Apr 20', 'Mar 20',
       'Feb 20', 'Jan 20'],
      dtype='object')

In [28]:
Line_Monthly.head(3)

,Markets,Products,Periods,FY 2020,FY 2019,FY 2018,FY 2017,YTD 2021,YTD 2020,Latest 13 Weeks,...,Oct 20,Sep 20,Aug 20,Jul 20,Jun 20,May 20,Apr 20,Mar 20,Feb 20,Jan 20
0,Total US xAOC,ABRASIVE,% $ Any Promo,6.852,9.885,10.409,9.715,15.582,9.690,11.922,...,5.572,5.684,5.237,5.397,4.521,5.375,6.757,11.126,8.262,11.107
1,Total US xAOC,ABRASIVE,% $ Any Promo Chg YA,-3.033,-0.524,0.694,9.715,5.892,1.349,1.656,...,-3.446,-1.867,-3.987,-1.106,-5.830,-5.742,-4.454,-2.334,-0.137,2.827
2,Total US xAOC,ABRASIVE,% EQ Any Promo,7.001,10.203,10.539,9.832,16.528,12.653,11.941,...,4.613,5.203,4.318,6.266,4.726,5.051,5.970,11.970,10.971,14.294

**Line_Monthly_5p**

In [29]:
Data_5p=Line_Monthly.copy()

In [30]:
Data_5p.rename(columns={"Periods":"Facts"},inplace=True)

In [31]:
Data_5p.head(3)

,Markets,Products,Facts,FY 2020,FY 2019,FY 2018,FY 2017,YTD 2021,YTD 2020,Latest 13 Weeks,...,Oct 20,Sep 20,Aug 20,Jul 20,Jun 20,May 20,Apr 20,Mar 20,Feb 20,Jan 20
0,Total US xAOC,ABRASIVE,% $ Any Promo,6.852,9.885,10.409,9.715,15.582,9.690,11.922,...,5.572,5.684,5.237,5.397,4.521,5.375,6.757,11.126,8.262,11.107
1,Total US xAOC,ABRASIVE,% $ Any Promo Chg YA,-3.033,-0.524,0.694,9.715,5.892,1.349,1.656,...,-3.446,-1.867,-3.987,-1.106,-5.830,-5.742,-4.454,-2.334,-0.137,2.827
2,Total US xAOC,ABRASIVE,% EQ Any Promo,7.001,10.203,10.539,9.832,16.528,12.653,11.941,...,4.613,5.203,4.318,6.266,4.726,5.051,5.970,11.970,10.971,14.294

**Filter Condition**

Taking only those products whose **Latest Month Dollar Share** is **greater than 0.02** for all the markets

In [32]:
Data_5p.iloc[:,3:]= Data_5p.iloc[:,3:].apply(pd.to_numeric)

In [33]:
Data_5p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823237 entries, 0 to 2823236
Data columns (total 33 columns):
 #   Column           Dtype
---  ------           -----
 0   Markets          object
 1   Products         object
 2   Facts            object
 3   FY 2020          float64
 4   FY 2019          float64
 5   FY 2018          float64
 6   FY 2017          float64
 7   YTD 2021         float64
 8   YTD 2020         float64
 9   Latest 13 Weeks  float64
 10  Latest 26 Weeks  float64
 11  Q1 2021          float64
 12  Q4 2020          float64
 13  Q3 2020          float64
 14  Q2 2020          float64
 15  Q1 2020          float64
 16  Q4 2019          float64
 17  Q3 2019          float64
 18  Q2 2019          float64
 19  Feb 21           float64
 20  Jan 21           float64
 21  Dec 20           float64
 22  Nov 20           float64
 23  Oct 20           float64
 24  Sep 20           float64
 25  Aug 20           float64
 26  Jul 20           float64
 27  Jun 20           float64
 28  May 20           float64
 29  Apr 20           float64
 30  Mar 20           float64
 31  Feb 20           float64
 32  Jan 20           float64
dtypes: float64(30), object(3)
memory usage: 710.8+ MB

In [34]:
#df=Data_5p[(Data_5p['Facts'] == '$ Shr - CP CATEGORY') & (Data_5p.iloc[:,19]>0.02)]

In [35]:
df=Data_5p[(Data_5p['Facts'] == '$ Shr - CP CATEGORY') & (Data_5p.iloc[:,19]>0.02)]

df["Key"]=df["Markets"]+df["Products"]
Data_5p["Key"]=Data_5p["Markets"]+Data_5p["Products"]

Data_5p=Data_5p[Data_5p['Key'].isin(list(df["Key"]))]

In [36]:
# total number of unique Products 
len(np.unique(list(df["Products"])))

1873

In [37]:
Data_5p=Data_5p[Data_5p['Products'].isin(list(df["Products"]))]
Data_5p.head(3)

,Markets,Products,Facts,FY 2020,FY 2019,FY 2018,FY 2017,YTD 2021,YTD 2020,Latest 13 Weeks,...,Sep 20,Aug 20,Jul 20,Jun 20,May 20,Apr 20,Mar 20,Feb 20,Jan 20,Key
0,Total US xAOC,ABRASIVE,% $ Any Promo,6.852,9.885,10.409,9.715,15.582,9.690,11.922,...,5.684,5.237,5.397,4.521,5.375,6.757,11.126,8.262,11.107,Total US xAOCABRASIVE
1,Total US xAOC,ABRASIVE,% $ Any Promo Chg YA,-3.033,-0.524,0.694,9.715,5.892,1.349,1.656,...,-1.867,-3.987,-1.106,-5.830,-5.742,-4.454,-2.334,-0.137,2.827,Total US xAOCABRASIVE
2,Total US xAOC,ABRASIVE,% EQ Any Promo,7.001,10.203,10.539,9.832,16.528,12.653,11.941,...,5.203,4.318,6.266,4.726,5.051,5.970,11.970,10.971,14.294,Total US xAOCABRASIVE

In [38]:
len(set(Data_5p["Products"]))

1873

In [39]:
Data_5p.shape

(1734266, 34)

In [40]:
set(Data_5p["Markets"])

{'ALBSCO Total Company TA',
 'Ahold USA Corp Total TA',
 'BJs Total TA',
 'CLUB',
 'CVS Total Corp WO HI TA',
 'Dol Gen Total TA',
 'El Super Total TA',
 'FDM',
 'Family Dollar Total TA',
 'Fiesta Total TA',
 'Giant Eagle Total TA',
 'Kmart Total TA',
 'Meijer Total TA',
 'Publix Total TA',
 'REGIONAL GROCERY xLA',
 'RG xLA & MILITARY',
 'Rite Aid - Corp Total TA',
 "Sam's Total TA",
 'ShopRite Total TA',
 'Strategic Grocery',
 'TOTAL MASS',
 'Target Total BM/FF TA',
 'Total US Drug',
 'Total US Food',
 'Total US xAOC',
 'VDC',
 'Walgreens Total TA',
 'Walmart Total US TA',
 'Wegmans Total TA'}

**ShareBasis Split**

In [41]:
Data_5p["SubBrand"] = ""

In [42]:
Data_5p[['ShareBasis','Manufacturer','Franchise','Brand','SubBrand']] = Data_5p['Products'].str.split('|',n=4,expand=True)
Data_5p.head(3)

,Markets,Products,Facts,FY 2020,FY 2019,FY 2018,FY 2017,YTD 2021,YTD 2020,Latest 13 Weeks,...,Apr 20,Mar 20,Feb 20,Jan 20,Key,SubBrand,ShareBasis,Manufacturer,Franchise,Brand
0,Total US xAOC,ABRASIVE,% $ Any Promo,6.852,9.885,10.409,9.715,15.582,9.690,11.922,...,6.757,11.126,8.262,11.107,Total US xAOCABRASIVE,None,ABRASIVE,None,None,None
1,Total US xAOC,ABRASIVE,% $ Any Promo Chg YA,-3.033,-0.524,0.694,9.715,5.892,1.349,1.656,...,-4.454,-2.334,-0.137,2.827,Total US xAOCABRASIVE,None,ABRASIVE,None,None,None
2,Total US xAOC,ABRASIVE,% EQ Any Promo,7.001,10.203,10.539,9.832,16.528,12.653,11.941,...,5.970,11.970,10.971,14.294,Total US xAOCABRASIVE,None,ABRASIVE,None,None,None

In [43]:
Data_5p[["ShareBasis","Manufacturer","Franchise","Brand","SubBrand"]]=Data_5p[["ShareBasis","Manufacturer","Franchise","Brand","SubBrand"]].fillna(value="")
Data_5p.head(3)

,Markets,Products,Facts,FY 2020,FY 2019,FY 2018,FY 2017,YTD 2021,YTD 2020,Latest 13 Weeks,...,Apr 20,Mar 20,Feb 20,Jan 20,Key,SubBrand,ShareBasis,Manufacturer,Franchise,Brand
0,Total US xAOC,ABRASIVE,% $ Any Promo,6.852,9.885,10.409,9.715,15.582,9.690,11.922,...,6.757,11.126,8.262,11.107,Total US xAOCABRASIVE,,ABRASIVE,,,
1,Total US xAOC,ABRASIVE,% $ Any Promo Chg YA,-3.033,-0.524,0.694,9.715,5.892,1.349,1.656,...,-4.454,-2.334,-0.137,2.827,Total US xAOCABRASIVE,,ABRASIVE,,,
2,Total US xAOC,ABRASIVE,% EQ Any Promo,7.001,10.203,10.539,9.832,16.528,12.653,11.941,...,5.970,11.970,10.971,14.294,Total US xAOCABRASIVE,,ABRASIVE,,,

In [44]:
set(Data_5p["Products"])

{'BAR | UNILEVER | DOVE | DOVE',
 'BAR | P&G | SAFEGUARD | SAFEGUARD BASE | SAFEGUARD BASE',
 'APC+WW | P&G | HOME MADE SIMPLE | HOME MADE SIMPLE',
 'APC+WW | CLOROX | CLOROX | CLOROX SCENTIVA | CLOROX SCENTIVA TAHTN GRAPEFRT',
 'POWER | P&G | ORAL-B | ORAL-B PROFESSIONAL CARE | ORAL-B PRO CARE SMART SERIES',
 'BODYWASH | PRVT LBL | PRVT LBL | PRVT LBL | PRVT LBL',
 'LIQUID | CLOROX',
 'BAR | UNILEVER | DOVE | DOVE GO FRESH | DOVE GO FRESH',
 'LIQUID FS | P&G | GAIN',
 'POUR APC+WW | PRVT LBL | PRVT LBL',
 'ABRASIVE | COLGATE-PALMOLIVE | AJAX US | AJAX US | REM SUBBRAND VARIANT',
 'TOOTHPASTE | COLGATE-PALMOLIVE | COLGATE | COLGATE OPTIC WHITE | COLGATE OPTIC WHITE BASE',
 'LIQUID | COLGATE-PALMOLIVE | SOFTSOAP',
 'PORTABLE TB | COLGATE-PALMOLIVE | COLGATE | COLGATE WISP | COLGATE WISP BASE',
 'POWER | P&G | ORAL-B | ORAL-B PRO WHITE',
 'APC+WW | SC JOHNSON | PLEDGE | PLEDGE MULTI SRF | PLEDGE MULTI SRF WIPE',
 'MOUTHWASH | P&G | SCOPE | SCOPE ADVANCED | SCOPE ADVANCED',
 'WOOD',
 'APC+WW | CLOROX | PINE SOL | PINE-SOL SQUIRT&MOP',
 'APC+WW | CLOROX | CLOROX | CLOROX HEALTHCARE',
 'APC+WW | SC JOHNSON | PLEDGE | PLEDGE MULTI SRF | REM SUBBRAND VARIANT',
 'TOOTHPASTE | P&G | CREST | CREST BASE | CREST TC',
 'BODYWASH | UNILEVER | DOVE FEMALE | DOVE REM | DOVE REM',
 'MOUTHWASH | PRVT LBL | PRVT LBL | PRVT LBL KIDS/TEENS',
 'MOUTHWASH | COLGATE-PALMOLIVE | TOMS',
 'FABRIC SOFTENERS | P&G | DOWNY US | DOWNY DEFY DAMAGE',
 'APC+WW | P&G | NBD',
 'LIQUID | HAIN',
 'MOUTHWASH | J&J | LISTERINE',
 'LIQUID | SC JOHNSON | METHOD | METHOD FOAM | METHOD FOAM',
 'POUR APC+WW | CLOROX | CLOROX | CLOROX ALL PURP',
 'LDL/DISHAIDS/WPS/FM/SPRAYS | P&G | NBD | NBD',
 'BAR | COLGATE-PALMOLIVE | IRISH SPRING | 3 PK',
 'APC+WW | PRVT LBL | PRVT LBL',
 'BODYWASH | UNILEVER | SUAVE | GIFT SET | GIFT SET SB',
 'BATTERY+HYBRID | P&G | ORAL-B | ORAL-B PULSAR',
 'APC+WW | RECKITT/BENK | LYSOL | LYSOL W/BLEACH | REM SUBBRAND VARIANT',
 'BAR | UNILEVER | CARESS | CARESS PREM',
 'BEAD FS | P&G | DOWNY US | DOWNY DEFY DAMAGE',
 'POWER | COLGATE-PALMOLIVE | COLGATE | COLGATE HUM | COLGATE HUM BATTERY',
 'BODYWASH | SC JOHNSON | MRS MEYERS | MRS MEYERS',
 'APC+WW | ALEN | PINALEN | PINALEN | PINALEN FRESH',
 'BODYWASH | COLGATE-PALMOLIVE | SOFTSOAP | SOFTSOAP | SOFTSOAP EXP',
 'LIQUID FS | SC JOHNSON | MRS MEYERS | MRS MEYERS',
 'WOOD | BONA | BONA | BONA HARDWOOD FLOOR CLNR | BONA HW FLOOR CLNR POUR',
 'POUR APC+WW | COLGATE-PALMOLIVE | FABULOSO US | FABULOSO ANTIBACTERIAL',
 'POWER | CHURCH & DWIGHT | REM FRANCHISE | REM BRAND | A&H SPINBR CHARCOAL',
 'MOUTHWASH | COLGATE-PALMOLIVE',
 'MOUTHWASH | COLGATE-PALMOLIVE | COLGATE | COLGATE TOTAL | COLGATE TOTAL GUM HEALTH',
 'SHEETS | P&G | DOWNY US | DOWNY INFUSIONS',
 'BAR | HENKEL | DIAL | DIAL VALUE',
 'MOUTHWASH | COLGATE-PALMOLIVE | HELLO | HELLO | HELLO NATURAL',
 'APC+WW | BONA',
 'LDL/DISHAIDS/WPS/FM/SPRAYS | P&G | DAWN | DAWN PLATINUM',
 'WOOD | CHURCH & DWIGHT | ORANGE GLO',
 'LIQUID FS | UNILEVER',
 'APC+WW | RECKITT/BENK | LYSOL | LYSOL SMART',
 'TOOTHPASTE | GSK | AQUAFRESH | AQ-F KIDS',
 'BAR | HENKEL | DIAL | DIAL BASE',
 'BODYWASH | P&G | HERBAL ESSENCES',
 'SHEETS | HENKEL | SNUGGLE | SNUGGLE SUPER CARE',
 'BAR | UNILEVER | DOVE | DOVE ANTI-STRESS | DOVE ANTI-STRESS',
 'BODYWASH | P&G | HERBAL ESSENCES | GIFT SET',
 'APC+WW | CLOROX | PINE SOL | PINE-SOL | PINE SOL LEMON',
 'POWER | P&G | ORAL-B | ORAL-B PROFESSIONAL CARE | ORAL-B PRO CARE REFL',
 'APC+WW | COLGATE-PALMOLIVE | FABULOSO US | FABULOSO BASE | FABULOSO W/BLEACH ALT SPRNG FR',
 'BODYWASH | P&G | AUSSIE KIDS',
 'BODYWASH | FEMALE | DIAL',
 'BODYWASH | UNILEVER | DOVE FEMALE | DOVE',
 'MOUTHWASH | P&G | CREST | CREST',
 'MANUAL | COLGATE-PALMOLIVE | COLGATE | COLGATE TOTAL',
 'APC+WW | BONA | BONA | BONA HARDWOOD FLOOR CLNR | BONA HW FLOOR CLNR SPRAY',
 'APC+WW | RECKITT/BENK | LYSOL | LYSOL ALL PURPOSE | LYSOL ALL PURPOSE FRESH',
 'SCENT BOOSTERS | P&G | DOWNY US | DOWNY BASE',
 'BODYWASH | J&J | OGX | REM BRAND | REM SUBBRAND',
 'TOOTHPASTE | COLGATE-PALMOLIVE | TOMS | TOMS ANTICAVITY',
 'MANUAL | PRVT LBL | PRVT LBL | PRVT LBL | PRVT LBL ADULT',
 'APC+WW | COLGATE-PALMOLIVE | FABULOSO US | FABULOSO BASE | FABULOSO BSE SPRING IN BLOOM',
 'BODYWASH | UNILEVER | SEVENTH GEN',
 'LDL/DISHAIDS/WPS/FM/SPRAYS | COLGATE-PALMOLIVE | AXION',
 'BAR | HENKEL | DIAL | 12 PK',
 'APC+WW | CLOROX | FORMULA 409 | FORMULA 409 | FORMULA 409 ORIG',
 'MOUTHWASH | PRVT LBL | PRVT LBL | PRVT LBL FRESH | PRVT LBL FRESH BASE',
 'LIQUID | PRVT LBL | PUMP',
 'MOUTHWASH | PRVT LBL | PRVT LBL | PRVT LBL WHITENING | PRVT LBL LIST WHT VBRNT PRE BR',
 'FABRIC SOFTENERS | P&G | BOUNCE | BOUNCE WRINKLE GUARD',
 "BODYWASH | P&G | OLD SPICE | OLD SPICE PREM | OS GENTLEMAN'S BLEND",
 'POUR APC+WW | P&G | MR CLEAN',
 'SHEETS | SC JOHNSON',
 'POUR APC+WW | ALEN | PINALEN | PINALEN | REM SUBBRAND VARIANT',
 'MANUAL | COLGATE-PALMOLIVE | COLGATE | COLGATE KEEP',
 'BODYWASH | P&G',
 'MOUTHWASH | GSK | GSK REM',
 'APC+WW | SC JOHNSON | FANTASTIK FRN | FANTASTIK',
 'APC+WW | CLOROX | FORMULA 409 | FORMULA 409 | FORMULA 409 LEMON',
 'LDL/DISHAIDS/WPS/FM/SPRAYS | SC JOHNSON | SCJ REM FRN',
 'LIQUID | HENKEL | DIAL | DIAL GOOD',
 'FABRIC SOFTENERS | P&G | DOWNY US | ULTRA DOWNY',
 'SCENT BOOSTERS | CHURCH & DWIGHT | XTRA | XTRA SCENT SATIONS',
 'POWER | P&G | ORAL-B | ORAL-B KIDS | ORAL-B STAGES 3',
 'BODYWASH | COLGATE-PALMOLIVE | TOMS OF MAINE | TOMS PREBIOTIC',
 'LDL/DISHAIDS/WPS/FM/SPRAYS | P&G | IVORY | IVORY',
 'SHEETS | SC JOHNSON | MRS MEYERS | MRS MEYERS',
 'POUR APC+WW | BONA | BONA | BONA HARDWOOD FLOOR CLNR | BONA HW FLOOR CLNR POUR',
 'LIQUID FS | HENKEL',
 'BODYWASH | HENKEL | DIAL | GIFT SET | GIFT SET SB',
 'BAR | UNILEVER | LEVER 2000 | LEVER 2000 BASE | LEVER 2000 BASE',
 'APC+WW | P&G | MR CLEAN | MR CLEAN W/ FEBREZE | MR CLEAN W/FEBRZ PET ODOR DEF',
 'POWER | P&G | ORAL-B | ORAL-B GENIUS',
 'BAR | P&G | OLD SPICE | OLD SPICE | OS RED ZONE',
 'BODYWASH | UNILEVER | NUBIAN HERITAGE',
 'APC+WW | RECKITT/BENK | LYSOL | LYSOL KITCHEN',
 'FABRIC SOFTENERS | SC JOHNSON',
 'TOOTHPASTE | COLGATE-PALMOLIVE | TOMS | TOMS FLUORIDE FREE | TOMS FF PROPOLIS & MYRRH',
 'MOUTHWASH | PRVT LBL | PRVT LBL | PRVT LBL ANTICAVITY | PRVT LBL ACT RESTORING',
 'POWER | HIGH RIDGE BRANDS | DR FRESH | DR FRESH',
 'SCENT BOOSTERS | PRVT LBL',
 'TOOTHPASTE',
 'MANUAL | COLGATE-PALMOLIVE | COLGATE | COLGATE PLUS | COLGATE PLUS REM',
 'MANUAL | HIGH RIDGE BRANDS | REACH',
 'APC+WW | UNILEVER',
 'SHEETS | HENKEL | SNUGGLE | SNUGGLE EXHILARATIONS',
 'LIQUID | P&G | SAFEGUARD | SAFEGUARD',
 'MANUAL | COLGATE-PALMOLIVE | COLGATE | COLGATE PLUS',
 'TOOTHPASTE | COLGATE-PALMOLIVE | COLGATE | COLGATE RENEWAL | COLGATE RENEWAL ENAMEL FORTIFY',
 'LIQUID | COLGATE-PALMOLIVE | SOFTSOAP | SFTSP BEST',
 'POUR APC+WW | SC JOHNSON | PLEDGE | PLEDGE MULTI SRF',
 'LDL/DISHAIDS/WPS/FM/SPRAYS | P&G | DAWN | DAWN BOTANICALS',
 'LIQUID | HENKEL | DIAL | DIAL BETTER | DIAL LIQUID AB',
 'BATTERY+HYBRID | COLGATE-PALMOLIVE | COLGATE | COLGATE KIDS | COLGATE KIDS REM',
 'APC+WW | ALEN | ART OF GREEN | ART OF GREEN',
 'TOOTHPASTE | P&G | NATIVE',
 'LIQUID | HENKEL | DIAL',
 'APC+WW | CLOROX | CLOROX | CLOROX ALL PURP | CLOROX ALL PURP LEMON',
 'MANUAL | COLGATE-PALMOLIVE | COLGATE | COLGATE TRAVEL | COLGATE REM',
 'TOOTHPASTE | P&G | CREST | CREST 3D WHITE | CREST 3D WHITE BASE',
 'BAR | UNILEVER | DOVE | DOVE ORIG | DOVE ORG',
 'TOOTHPASTE | GSK | PARODONTAX | PARODONTAX',
 'BODYWASH | FEMALE | SUAVE',
 'BAR | UNILEVER | DOVE | DOVE ANTI-STRESS',
 'SCENT BOOSTERS | P&G | DREFT',
 'FABRIC SOFTENERS | P&G | DOWNY US | DOWNY INFUSIONS',
 'POWER | P&G',
 'TOOTHPASTE | COLGATE-PALMOLIVE | COLGATE | COLGATE MAX FRANCHISE',
 'FABRIC SOFTENERS | P&G | DOWNY US | DOWNY INTENSE',
 'BAR | HENKEL | DIAL | 3 PK',
 "WOOD | COLGATE-PALMOLIVE | MURPHY'S | MURPHY'S ORIG | MURPHY'S ORIG POUR",
 'TOOTHPASTE | DR BRONNERS | DR BRONNERS | DR BRONNERS',
 'BODYWASH | P&G | OLAY | OLAY BASE | OLAY DLY PFY',
 'BAR | P&G | NATIVE',
 'WOOD | P&G | SWIFFER | SWIFFER WET JET | REM SUBBRAND VARIANT',
 'MANUAL | PRVT LBL | PRVT LBL | PRVT LBL',
 'TOOTHPASTE | P&G | CREST | CREST COMPLETE',
 'BAR | HENKEL | DIAL | DIAL PREMIUM | DIAL COMPLETE',
 'BODYWASH | UNILEVER | DOVE FEMALE | DOVE | DOVE PURELY PAMPERING',
 'BODYWASH | J&J | AVEENO | GIFT SET',
 'APC+WW | CLOROX | CLOROX | CLOROX SCENTIVA | CLOROX SCENTIVA TUSC LAV & JAS',
 'MOUTHWASH | PRVT LBL | PRVT LBL | PRVT LBL ANTICAVITY',
 'TOOTHPASTE | COLGATE-PALMOLIVE | COLGATE | COLGATE ULTRA | COLGATE ULTRA PROTECT',
 'BODYWASH | HENKEL | DIAL | DIAL BASE | DIAL SKIN THERAPY',
 'FABRIC SOFTENERS | P&G | DOWNY US | DOWNY UNSTOPABLES',
 "APC+WW | UNILEVER | SCHMIDT'S | SCHMIDT'S CLEANING VINEGAR | SCHMIDT'S VNGR CITRS PLS MNRLS",
 'BAR | P&G | SAFEGUARD | SAFEGUARD BASE',
 'LDL/DISHAIDS/WPS/FM/SPRAYS | P&G | DAWN | DAWN ORG BLUE',
 'MANUAL | P&G | CREST | CREST REM | CREST REM',
 "APC+WW | COLGATE-PALMOLIVE | MURPHY'S | MURPHY'S ORIG | MURPHY'S ORIG WW",
 'TOOTHPASTE | COLGATE-PALMOLIVE | ULTRA BRITE',
 'MANUAL | P&G | ORAL-B | ORAL-B PRO-HEALTH | ORAL-B PRO-HEALTH BASE',
 'APC+WW | CLOROX | CLOROX',
 'BATTERY+HYBRID | SUNSTAR AMERICA | BUTLER',
 'WOOD | SC JOHNSON | PLEDGE | PLEDGE WOOD FLR | PLEDGE WOOD FLR CITRUS',
 'TOOTHPASTE | COLGATE-PALMOLIVE | COLGATE | COLGATE 2 IN 1 | COLGATE 2 IN 1 ADULT',
 'POWER | CHURCH & DWIGHT | WATERPIK | WATERPIK',
 'WOOD | SC JOHNSON | PLEDGE',
 'FABRIC SOFTENERS | P&G | HOME MADE SIMPLE',
 'APC+WW | CLOROX | PINE SOL | PINE-SOL | PINE SOL ORANGE ENERGY',
 'POUR APC+WW | COLGATE-PALMOLIVE | FABULOSO US | FABULOSO COMPLETE | FABULOSO COMPLETE SPRKLNG CTRS',
 'POUR APC+WW | P&G | MR CLEAN | MR CLEAN ANTIBACTERIAL',
 'BODYWASH | J&J | NEUTROGENA | GIFT SET',
 'MOUTHWASH | SANOFI | ACT',
 'BODYWASH | FEMALE | DOVE FEMALE',
 'SHEETS | P&G | BOUNCE | BOUNCE WRINKLE GUARD',
 'LDL/DISHAIDS/WPS/FM/SPRAYS | SC JOHNSON | BABYGANICS | BABYGANICS',
 'APC+WW | BONA | BONA | BONA STONE TILE LMNT CLNR | BONA STN TILE LMNT CLNR SPRAY',
 'LIQUID FS | P&G | DOWNY US | DOWNY WRINKLE GUARD',
 'WOOD | UNILEVER | SEVENTH GEN',
 'POUR APC+WW | CLOROX | CLOROX | CLOROX CLEAN UP',
 'LIQUID FS | UNILEVER | SEVENTH GEN',
 'POUR APC+WW | COLGATE-PALMOLIVE | FABULOSO US | FABULOSO BASE | FABULOSO BSE BKNG SD CITRS',
 'BODYWASH | SC JOHNSON | METHOD | METHOD | METHOD WOMENS',
 'BODYWASH | UNILEVER | SHEA MOISTURE | SHEA MOISTURE ADULT',
 'APC+WW | SC JOHNSON | METHOD',
 'POWER | PHILIPS | SONICARE | PHILIPS SONICARE ONE',
 'TOOTHPASTE | P&G | CREST | CREST COMPLETE | CREST PLUS PREMIUM ANTI-BACTERIAL',
 'BODYWASH | P&G | GILLETTE FOR MEN',
 'LIQUID | PRVT LBL',
 'LIQUID FS | COLGATE-PALMOLIVE | SUAVITEL US | SUAVITEL COMPLETE',
 'POWER | P&G | GLEEM | GLEEM',
 'TOOTHPASTE | COLGATE-PALMOLIVE | TOMS | TOMS KIDS CARE | TOMS ANTI CAVITY KIDS',
 'MOUTHWASH',
 'SCENT BOOSTERS | CHURCH & DWIGHT | A&H',
 'APC+WW | SC JOHNSON | FANTASTIK FRN | FANTASTIK | FANTASTIK BLEACH',
 'POUR APC+WW | RECKITT/BENK | LYSOL | LYSOL ALL PURPOSE | LYSOL ALL PURPOSE LAVENDR BRZ',
 'MOUTHWASH | GSK | BIOTENE | BIOTENE',
 'BATTERY+HYBRID | P&G | ORAL-B | ORAL-B PRO-HEALTH BATTERY',
 'BODYWASH | J&J | REM FRANCHISE | J&J KIDS',
 'BAR | COLGATE-PALMOLIVE | IRISH SPRING | IRISH SPRING BASE | IRISH SPRING BASE',
 'TOOTHPASTE | GSK | AQUAFRESH | AQ-F SENS',
 'APC+WW | COLGATE-PALMOLIVE | FABULOSO US | FABULOSO BASE | FABULOSO BSE LAVENDER',
 'APC+WW | P&G',
 'FABRIC SOFTENERS | P&G | DOWNY US | DOWNY ODOR PROTECT',
 'POUR APC+WW | ALEN | FLASH | FLASH',
 'MANUAL | HIGH RIDGE BRANDS | REACH | REACH CRYSTAL CLEAN',
 "TOOTHPASTE | UNILEVER | SCHMIDT'S",
 'LDL/DISHAIDS/WPS/FM/SPRAYS | SC JOHNSON | METHOD',
 'TOOTHPASTE | COLGATE-PALMOLIVE | COLGATE | COLGATE BASE | COLGATE BSPW',
 'SHEETS | P&G | REM FRANCHISE',
 'TOOTHPASTE | COLGATE-PALMOLIVE | COLGATE | COLGATE ENAMEL HEALTH | COLGATE ENAMEL HEALTH SENS',
 'FABRIC SOFTENERS | P&G | DOWNY US | DOWNY FRESH PROTECT',
 'LIQUID | BRYNWOOD PARTNERS',
 "MOUTHWASH | UNILEVER | SCHMIDT'S | SCHMIDT'S ADULT",
 'BAR | HENKEL | DIAL | 2 PK',
 'BAR | HENKEL',
 'BATTERY+HYBRID | COLGATE-PALMOLIVE | COLGATE | COLGATE KIDS',
 'POWER | PHILIPS | SONICARE | SONICARE DIAMOND CLEAN',
 'SCENT BOOSTERS | P&G',
 'WOOD | SC JOHNSON | PLEDGE | PLEDGE FURNITURE | PLEDGE FURNITURE LEMON',
 'TOOTHPASTE | COLGATE-PALMOLIVE | COLGATE | COLGATE SENS',
 'BAR | UNILEVER | CARESS | CARESS BASE | CARESS BASE',
 'LIQUID FS | ALEN',
 'MANUAL | P&G | ORAL-B | ORAL-B CAVITY DEFENSE',
 'LDL/DISHAIDS/WPS/FM/SPRAYS | P&G | HOME MADE SIMPLE',
 'TOOTHPASTE | GSK | SENSODYNE | SENSODYNE | SENSODYNE COMPLETE PROTECTION',
 'SHEETS | P&G | BOUNCE | BOUNCE PET HAIR & LINT GUARD',
 'POWER | SUNSTAR AMERICA',
 'LIQUID FS | P&G | DOWNY US | DOWNY INFUSIONS',
 'APC+WW | SC JOHNSON | WINDEX | WINDEX MULTI SRF',
 'SCENT BOOSTERS | PRVT LBL | REM FRANCHISE',
 'MOUTHWASH | J&J | LISTERINE | LISTERINE ANTISEPTIC',
 'LIQUID | HENKEL | DIAL | DIAL REM',
 'POWER | P&G | ORAL-B | ORAL-B PRO-HEALTH BATTERY | ORAL-B PRO-HEALTH PRC CLN',
 'APC+WW | RECKITT/BENK | LYSOL | LYSOL DISINFECTING WIPES',
 'SCENT BOOSTERS | SC JOHNSON | METHOD | METHOD',
 'BODYWASH | P&G | OLAY | OLAY BASE | OLAY AGE DEFY',
 'BAR | HENKEL | DIAL | 6 PK',
 'APC+WW | P&G | MR CLEAN | MR CLEAN | MR CLEAN MOONLIGHT BREEZE',
 'BAR | COLGATE-PALMOLIVE | TOMS OF MAINE',
 'WOOD | BONA | BONA | BONA HARDWOOD FLOOR POLISH | BONA HW FLOOR POLISH',
 'TOOTHPASTE | COLGATE-PALMOLIVE | COLGATE | COLGATE MAX FRANCHISE | COLGATE MX FR BASE',
 'LIQUID | COLGATE-PALMOLIVE | TOMS OF MAINE | TOMS PREBIOTIC',
 'POWER | P&G | ORAL-B | ORAL-B COMPLETE BATTERY',
 'BODYWASH | SC JOHNSON | METHOD',
 'POWER | COLGATE-PALMOLIVE | COLGATE | COLGATE 360 POWER | COLGATE 360 SONIC PWR',
 'LIQUID | REM MFG',
 'SHEETS | P&G | GAIN | GAIN BASE',
 'POWER | P&G | ORAL-B | ORAL-B 3D WHITE BATTERY | ORAL-B 3D WHITE ACTION BTRY',
 'LDL/DISHAIDS/WPS/FM/SPRAYS | SC JOHNSON',
 'BAR | UNILEVER | LOVE BEAUTY AND PLANET | LOVE BEAUTY AND PLANET',
 'WHITENING SYS | COLGATE-PALMOLIVE',
 'MOUTHWASH | GSK | GSK REM | POLIDENT',
 'LIQUID | UNILEVER | DOVE | DOVE LIQUID',
 'SCENT BOOSTERS | P&G | DREFT | DREFT BLISSFULS',
 'TOOTHPASTE | CHURCH & DWIGHT',
 'BATTERY+HYBRID | HIGH RIDGE BRANDS | DR FRESH | DR FRESH',
 'TOOTHPASTE | COLGATE-PALMOLIVE | COLGATE | COLGATE ULTRA',
 'POWER | P&G | ORAL-B | ORAL-B CHARCOAL | ORAL-B CHARCOAL REFILL',
 'POWER | P&G | ORAL-B | ORAL-B VITALITY | ORAL-B VITALITY FLOSS ACTION',
 'WOOD | P&G | SWIFFER',
 'ABRASIVE | HENKEL',
 'MOUTHWASH | PRVT LBL',
 'LIQUID | EO',
 'TOOTHPASTE | P&G | CREST | REM BRAND',
 'SCENT BOOSTERS | P&G | DOWNY US | DOWNY FRESH PROTECT',
 'POUR APC+WW | CLOROX | CLOROX | CLOROX CLEAN UP | REM SUBBRAND VARIANT',
 'POWER | P&G | ORAL-B | ORAL-B PRO-HEALTH BATTERY | ORAL-B PRO-HEALTH CLINICAL',
 'LDL/DISHAIDS/WPS/FM/SPRAYS | UNILEVER | LOVE HOME AND PLANET',
 'MOUTHWASH | COLGATE-PALMOLIVE | COLGATE | COLGATE TOTAL | COLGATE TOTAL ADVANCED',
 'POUR APC+WW | ALEN | PINALEN',
 'BATTERY+HYBRID | P&G | ORAL-B | ORAL-B COMPLETE BATTERY | ORAL-B CMP ACT PWR DEEP CLN',
 'MANUAL | HIGH RIDGE BRANDS | DR FRESH | TEK | TEK PROFESSIONAL',
 'POWER | P&G | ORAL-B | ORAL-B VITALITY | ORAL-B VITALITY DUAL CLN',
 'BATTERY+HYBRID | CHURCH & DWIGHT | REM FRANCHISE | REM BRAND | A&H SPINBR TRULY RADIANT',
 'FABRIC SOFTENERS | ALEN',
 'MOUTHWASH | PRVT LBL | PRVT LBL | REM BRAND',
 'MOUTHWASH | P&G | CREST | CREST PRO-HLTH | CREST PRO-HLTH MLT PRT',
 'LDL/DISHAIDS/WPS/FM/SPRAYS | P&G | GAIN | GAIN',
 'POWER | P&G | ORAL-B | ORAL-B CHARCOAL | ORAL-B CHARCOAL WHTNG THERAPY',
 'SHEETS | P&G | BOUNCE',
 'APC+WW | P&G | NBD | NBD | NBD YUZU AND ORANGE FLOWER',
 'BAR | UNILEVER | RIGHT TO SHOWER',
 'BAR | COLGATE-PALMOLIVE | IRISH SPRING | 6 PK',
 'SCENT BOOSTERS | PRVT LBL | REM FRANCHISE | REM BRAND',
 'BODYWASH | P&G | HERBAL ESSENCES | GIFT SET | GIFT SET SB',
 'POUR APC+WW | CLOROX | CLOROX | CLOROX FRAGANZIA',
 'LIQUID FS | P&G | HOME MADE SIMPLE',
 'BAR | SC JOHNSON | METHOD | METHOD REM BR | METHOD REM SBR',
 'WOOD | SC JOHNSON | SCJ REM FRN',
 'LIQUID FS | P&G | GAIN | GAIN BOTANICALS',
 'MOUTHWASH | P&G | CREST | CREST 3D',
 'WOOD | BONA',
 'POUR APC+WW | CLOROX | PINE SOL | PINE-SOL | PINE SOL RAIN CLEAN',
 'MOUTHWASH | GSK | BIOTENE',
 'BAR | HENKEL | TONE | TONE BASE',
 'POWER | P&G | ORAL-B | ORAL-B ELECTRIC BASE REM',
 'POWER | CHURCH & DWIGHT | WATERPIK | REM BRAND | REM SUBBRAND',
 'BAR | PRVT LBL | PRVT LBL | PRVT LBL | PRVT LBL',
 'BAR | P&G | NATIVE | NATIVE | NATIVE',
 'BODYWASH | MALE | DIAL',
 'SCENT BOOSTERS | PRVT LBL | PRVT LBL | PRVT LBL',
 'MANUAL | COLGATE-PALMOLIVE | COLGATE | COLGATE SLIM SOFT | COLGATE SLIM SOFT',
 'APC+WW | ALEN | ALEN REM | ALEN REM | REM SUBBRAND VARIANT',
 'TOOTHPASTE | UNILEVER',
 'TOOTHPASTE | DR BRONNERS | DR BRONNERS',
 'LIQUID | UNILEVER | DOVE | DOVE REM | DOVE REM',
 'BAR | UNILEVER | DOVE | DOVE MEN',
 'BATTERY+HYBRID | COLGATE-PALMOLIVE',
 'BODYWASH | P&G | OLAY | OLAY BASE | OLAY DAILY MST',
 'POWER | P&G | ORAL-B | ORAL-B 3D WHITE ELECTRIC',
 'LIQUID | LIVE CLEAN',
 'ABRASIVE | PRVT LBL | PRVT LBL | PRVT LBL | REM SUBBRAND VARIANT',
 'FABRIC SOFTENERS | HENKEL | SNUGGLE | SNUGGLE SCENT BOOSTERS',
 'TOOTHPASTE | COLGATE-PALMOLIVE | TOMS | TOMS ANTICAVITY | TOMS SEA SALT',
 'POWER | PHILIPS | SONICARE | SONICARE REFILL',
 'FABRIC SOFTENERS | COLGATE-PALMOLIVE | SUAVITEL US | SUAVITEL BASE',
 'POWER | P&G | ORAL-B | ORAL-B IO | ORAL-B IO SERIES 8',
 'BATTERY+HYBRID | COLGATE-PALMOLIVE | COLGATE | COLGATE 360 POWER',
 'BAR | P&G | SAFEGUARD',
 'SCENT BOOSTERS | SC JOHNSON | METHOD',
 'MOUTHWASH | COLGATE-PALMOLIVE | COLGATE | COLGATE SWISH | COLGATE SWISH',
 'LIQUID | P&G | NBD',
 'APC+WW | RECKITT/BENK | MOP & GLO',
 'MOUTHWASH | PRVT LBL | PRVT LBL | PRVT LBL KIDS/TEENS | PRVT LBL ANTCVT KIDS',
 'BATTERY+HYBRID | P&G | ORAL-B',
 'POWER | PHILIPS | SONICARE | SONICARE PLAQUE CONTROL | SONICARE BASE REM',
 'TOOTHPASTE | P&G | CREST | CREST 3D WHITE | CREST 3D WHITE LUXE',
 'SCENT BOOSTERS | P&G | GAIN | GAIN SCENT BLAST',
 'BODYWASH | COLGATE-PALMOLIVE | SOFTSOAP',
 'TOOTHPASTE | GSK | SENSODYNE | SENSODYNE | SENSODYNE BASE',
 'SCENT BOOSTERS | SC JOHNSON',
 'POUR APC+WW | P&G | MR CLEAN | MR CLEAN PROFESSIONAL | REM SUBBRAND VARIANT',
 'POWER | P&G | ORAL-B | ORAL-B PULSAR | ORAL-B PULSAR CHARCOAL',
 'MOUTHWASH | CHURCH & DWIGHT | ORAJEL',
 'MANUAL | COLGATE-PALMOLIVE | COLGATE | COLGATE 360 | COLGATE 360 PREMIUM',
 'WOOD | UNILEVER | SEVENTH GEN | SEVENTH GEN | REM SUBBRAND VARIANT',
 'APC+WW | SC JOHNSON | SCJ REM FRN',
 'TOOTHPASTE | COLGATE-PALMOLIVE | COLGATE | COLGATE FOR KIDS',
 'BODYWASH | UNILEVER | CARESS | CARESS BASE | CARESS ORIG',
 'BAR | COLGATE-PALMOLIVE | IRISH SPRING | 12 PK',
 'BATTERY+HYBRID | P&G | ORAL-B | ORAL-B PROADVANTAGE',
 'BAR | UNILEVER | CARESS',
 'LIQUID | COLGATE-PALMOLIVE | SOFTSOAP | SFTSP GOOD | SOFTSOAP GOOD MOISTURE',
 'MOUTHWASH | P&G | ORAL-B | ORAL-B SPECIAL CARE | ORAL-B BREATH THERAPY',
 'POUR APC+WW | SC JOHNSON | PLEDGE',
 'LIQUID',
 'TOOTHPASTE | P&G | CREST | CREST 3D WHITE',
 'MOUTHWASH | DR. HAROLD KTZ FRSH STRT LLC | THERA BREATH | THERA BREATH PERIO THRPY',
 'TOOTHPASTE | COLGATE-PALMOLIVE | COLGATE | COLGATE ZERO | COLGATE ZERO ADULT',
 'LIQUID | REM MFG | JR WATKINS | REM BRAND',
 'BATTERY+HYBRID | COLGATE-PALMOLIVE | COLGATE | COLGATE 360 POWER | COLGATE 360 SONIC PWR',
 'MANUAL | HIGH RIDGE BRANDS',
 'TOOTHPASTE | COLGATE-PALMOLIVE | COLGATE | COLGATE RENEWAL | COLGATE RENEWAL WHT RESTORATION',
 'APC+WW | P&G | 9 ELEMENTS | 9 ELEMENTS',
 'FABRIC SOFTENERS | P&G | BOUNCE | BOUNCE W/FEBREZE',
 'POWER | P&G | ORAL-B | ORAL-B CHARCOAL',
 'MOUTHWASH | P&G | CREST | CREST PRO-HLTH | CREST PRO-HLTH BACTERIA GUARD',
 "BAR | UNILEVER | SCHMIDT'S | SCHMIDT'S | SCHMIDT'S",
 'BODYWASH | UNILEVER | ST IVES | ST IVES BASE',
 'TOOTHPASTE | COLGATE-PALMOLIVE | COLGATE | COLGATE TOTAL',
 'APC+WW | P&G | 9 ELEMENTS | 9 ELEMENTS | REM SUBBRAND VARIANT',
 'BAR | P&G | IVORY | IVORY BASE | IVORY BASE',

***movecol*** function to **rearranging** the columns of a dataframe

In [45]:
def movecol(df, cols_to_move=[], ref_col='', place=''):
    cols = df.columns.tolist()
    if place == 'After':
        seg1 = cols[:list(cols).index(ref_col) + 1]
        seg2 = cols_to_move
    if place == 'Before':
        seg1 = cols[:list(cols).index(ref_col)]
        seg2 = cols_to_move + [ref_col]
    seg1 = [i for i in seg1 if i not in seg2]
    seg3 = [i for i in cols if i not in seg1 + seg2]
    
    return(df[seg1 + seg2 + seg3])

In [46]:
Data_5p = movecol(Data_5p, 
             cols_to_move=['ShareBasis','Manufacturer','Franchise','Brand','SubBrand'], 
             ref_col='Markets',
             place='After')
Data_5p.head(3)

,Markets,ShareBasis,Manufacturer,Franchise,Brand,SubBrand,Products,Facts,FY 2020,FY 2019,...,Sep 20,Aug 20,Jul 20,Jun 20,May 20,Apr 20,Mar 20,Feb 20,Jan 20,Key
0,Total US xAOC,ABRASIVE,,,,,ABRASIVE,% $ Any Promo,6.852,9.885,...,5.684,5.237,5.397,4.521,5.375,6.757,11.126,8.262,11.107,Total US xAOCABRASIVE
1,Total US xAOC,ABRASIVE,,,,,ABRASIVE,% $ Any Promo Chg YA,-3.033,-0.524,...,-1.867,-3.987,-1.106,-5.830,-5.742,-4.454,-2.334,-0.137,2.827,Total US xAOCABRASIVE
2,Total US xAOC,ABRASIVE,,,,,ABRASIVE,% EQ Any Promo,7.001,10.203,...,5.203,4.318,6.266,4.726,5.051,5.970,11.970,10.971,14.294,Total US xAOCABRASIVE

**Strip Columns**

Strip starting 8 columns

In [47]:
cols=list(Data_5p.columns[0:8])

In [48]:
Data_5p[cols]=Data_5p[cols].apply(lambda x : x.str.strip())

**Category Column**

In [49]:
df1= pd.DataFrame(Data_5p["ShareBasis"])

In [50]:
def fun_category(x):
    if x == 'TOOTHPASTE' or x == 'WHITENING SYS':
        return "TP"
    elif x=='POUR APC+WW' or x=="WOOD" or x== 'ABRASIVE' or x== "APC+WW" or x=='FLOOR WAX' or x=='OUTDOOR' or x=='DRY WIPES' or x=='SPRAY':
        return "HHC"
    elif x=='MANUAL':
        return 'MTB'
    elif x=='POWER' or x=='PORTABLE TB' or x == 'ELECTRIC' or x == 'BATTERY+HYBRID' or x == 'BATTERY':
        return "PTB"
    elif x=='BODYWASH':
        return "BW"
    elif x=='MOUTHWASH':
        return 'MW'
    elif x=='BAR':
        return "BAR"
    elif x=='LIQUID':
        return 'LHS'
    elif x=='FABRIC SOFTENERS' or x == 'BEAD FS' or x== 'LIQUID FS' or x == "SHEETS" or x=="SCENT BOOSTERS" or x == 'MFR Sun Products' :
        return "FS"
    elif x=='LDL+FOAM' or x == 'MFR Sun Products LDL' or x == "LDL/DISHAIDS/WPS/FM/SPRAYS":
        return 'LDL'
    else:
        return 'N/A'
    # Add elif statements....

df1['Category']= df1['ShareBasis'].apply(fun_category)
df1.head(3)

  ShareBasis Category
0   ABRASIVE      HHC
1   ABRASIVE      HHC
2   ABRASIVE      HHC

In [51]:
Data_5p['Category']=df1['Category']

In [52]:
#Moving column "Category" after column "ShareBasis"

Data_5p = movecol(Data_5p, 
             cols_to_move=['Category'], 
             ref_col='ShareBasis',
             place='After')
Data_5p.head(3)

,Markets,ShareBasis,Category,Manufacturer,Franchise,Brand,SubBrand,Products,Facts,FY 2020,...,Sep 20,Aug 20,Jul 20,Jun 20,May 20,Apr 20,Mar 20,Feb 20,Jan 20,Key
0,Total US xAOC,ABRASIVE,HHC,,,,,ABRASIVE,% $ Any Promo,6.852,...,5.684,5.237,5.397,4.521,5.375,6.757,11.126,8.262,11.107,Total US xAOCABRASIVE
1,Total US xAOC,ABRASIVE,HHC,,,,,ABRASIVE,% $ Any Promo Chg YA,-3.033,...,-1.867,-3.987,-1.106,-5.830,-5.742,-4.454,-2.334,-0.137,2.827,Total US xAOCABRASIVE
2,Total US xAOC,ABRASIVE,HHC,,,,,ABRASIVE,% EQ Any Promo,7.001,...,5.203,4.318,6.266,4.726,5.051,5.970,11.970,10.971,14.294,Total US xAOCABRASIVE

In [53]:
set(Data_5p["ShareBasis"])

{'ABRASIVE',
 'APC+WW',
 'BAR',
 'BATTERY+HYBRID',
 'BEAD FS',
 'BODYWASH',
 'FABRIC SOFTENERS',
 'LDL/DISHAIDS/WPS/FM/SPRAYS',
 'LIQUID',
 'LIQUID FS',
 'MANUAL',
 'MFR Sun Products',
 'MFR Sun Products LDL',
 'MOUTHWASH',
 'PORTABLE TB',
 'POUR APC+WW',
 'POWER',
 'SCENT BOOSTERS',
 'SHEETS',
 'SPRAY',
 'TOOTHPASTE',
 'WHITENING SYS',
 'WOOD'}

In [54]:
Time_Mapping={
    "Nov 19":"4 W/E 11/23/19",
    "Dec 19":"5 W/E 12/28/19",
    "Jan 20":"4 W/E 02/01/20",
    "Feb 20":"4 W/E 02/29/20",
    "Mar 20":"5 W/E 04/04/20",
    "Apr 20":"4 W/E 05/02/20",
    "May 20":"4 W/E 05/30/20",
    "Jun 20":"5 W/E 07/04/20",
    "Jul 20":"4 W/E 08/01/20",
    "Aug 20":"4 W/E 08/29/20",
    "Sep 20":"5 W/E 10/03/20",
    "Oct 20":"4 W/E 10/31/20",
    "Nov 20":"4 W/E 11/28/20",
    "Dec 20":"5 W/E 01/02/21",
    "Jan 21":"4 W/E 01/30/21",
    "Feb 21":"4 W/E 02/27/21",
    "Mar 21":"5 W/E 04/03/21",
    "Apr 21":"4 W/E 05/01/21",
    "May 21":"4 W/E 05/29/21",
    "Jun 21":"5 W/E 07/03/21",
    "Jul 21":"4 W/E 07/31/21",
    "Aug 21":"4 W/E 08/28/21",
    "Sep 21":"5 W/E 10/02/21",
    "Oct 21":"4 W/E 10/30/21",
    "Nov 21":"4 W/E 11/27/21",
    "Dec 21":"5 W/E 01/01/22",
    "Jan 22":"4 W/E 01/29/22",
    "Feb 22":"4 W/E 02/26/22",
    "Mar 22":"5 W/E 04/02/22",
    "Apr 22":"4 W/E 04/30/22",
    "May 22":"5 W/E 05/28/22",
    "Jun 22":"4 W/E 06/25/22",
    "Jul 22":"4 W/E 07/23/22",
    "Aug 22":"5 W/E 08/20/22",
    "Sep 22":"4 W/E 09/17/22",
    "Oct 22":"4 W/E 10/15/22",
    "Nov 22":"5 W/E 11/12/22",
    "Dec 22":"4 W/E 12/10/22",
    "Jan 23":"4 W/E 01/07/23",
    "Feb 23":"5 W/E 02/04/23",
    "Mar 23":"4 W/E 03/04/23",
    "Apr 23":"4 W/E 04/01/23",
    "May 23":"5 W/E 04/29/23",
    "Jun 23":"4 W/E 05/27/23",
    "Jul 23":"4 W/E 06/24/23",
    "Aug 23":"5 W/E 07/22/23",
    "Sep 23":"4 W/E 08/19/23",
    "Oct 23":"5 W/E 09/16/23",
    "Nov 23":"4 W/E 10/14/23",
    "Dec 23":"4 W/E 11/11/23",
    "Jan 24":"5 W/E 12/09/23",
    "Feb 24":"4 W/E 01/06/24",
    "Mar 24":"4 W/E 02/03/24",
    "Apr 24":"5 W/E 03/02/24",
    "May 24":"4 W/E 03/30/24",
    "Jun 24":"4 W/E 04/27/24",
    "Jul 24":"5 W/E 05/25/24",
    "Aug 24":"4 W/E 06/22/24",
    "Sep 24":"4 W/E 07/20/24",
    "Oct 24":"5 W/E 08/17/24",
    "Nov 24":"4 W/E 09/14/24",
    "Dec 24":"4 W/E 10/12/24",
    "Jan 25":"5 W/E 11/09/24",
    "Feb 25":"4 W/E 12/07/24",
    "Mar 25":"5 W/E 01/04/25",
    "Apr 25":"4 W/E 02/01/25",
    "May 25":"4 W/E 03/01/25",
    "Jun 25":"5 W/E 03/29/25",
    "Jul 25":"4 W/E 04/26/25",
    "Aug 25":"4 W/E 05/24/25",
    "Sep 25":"5 W/E 06/21/25",
    "Oct 25":"4 W/E 07/19/25",
    "Nov 25":"4 W/E 08/16/25",
    "Dec 25":"5 W/E 09/13/25",
    "Jan 26":"4 W/E 10/11/25",
    "Feb 26":"4 W/E 11/08/25",
    "Mar 26":"5 W/E 12/06/25",
    "Apr 26":"4 W/E 01/03/26",
    "May 26":"4 W/E 01/31/26",
    "Jun 26":"5 W/E 02/28/26",
    "Jul 26":"4 W/E 03/28/26",
    "Aug 26":"5 W/E 04/25/26",
    "Sep 26":"4 W/E 05/23/26",
    "Oct 26":"4 W/E 06/20/26",
    "Nov 26":"5 W/E 07/18/26",
    "Dec 26":"4 W/E 08/15/26"
}

In [55]:
Data_5p.rename(columns=Time_Mapping,inplace=True)

In [56]:
Market_Mapping={
    
     'ALBSCO Total Company TA':'Alb/Sfy',
     'Agency Grocery':'Agency Grocery',
     'Ahold USA Corp Total TA':"Ahold",
     'BJs Total TA':"BJs",
     'CLUB':"CLUB",
     'CVS Total Corp WO HI TA':"CVS",
     'Dol Gen Total TA':"Dollar General",
     'FDM':"FDM",
     'Family Dollar Total TA':"Family Dollar",
     'Fiesta Total TA':"Fiesta",
     'Giant Eagle Total TA':"Giant Eagle",
     'Kmart Total TA':"Kmart",
     'Meijer Total TA':"Meijer",
     'Publix Total TA':"Publix",
     'Rite Aid - Corp Total TA':"Rite Aid",
     "Sam's Total TA":"Sams",
     'ShopRite Total TA':"Shoprite",
     'Strategic Grocery':"Strategic Grocery",
     'TOTAL MASS':"TOTAL MASS",
     'Target Total BM/FF TA':"Target",
     'Total US Drug':"US Drug",
     'Total US Food':"US Food",
     'Total US xAOC':"US AOC",
     'VDC':"VDC",
     'Walgreens Total TA':"Walgreens",
     'Walmart Total US TA':"Walmart",
     'Wegmans Total TA':"Wegmans",
     "El Super Total TA" : "El Super"
    }

In [57]:
set(Data_5p["Markets"])

{'ALBSCO Total Company TA',
 'Ahold USA Corp Total TA',
 'BJs Total TA',
 'CLUB',
 'CVS Total Corp WO HI TA',
 'Dol Gen Total TA',
 'El Super Total TA',
 'FDM',
 'Family Dollar Total TA',
 'Fiesta Total TA',
 'Giant Eagle Total TA',
 'Kmart Total TA',
 'Meijer Total TA',
 'Publix Total TA',
 'REGIONAL GROCERY xLA',
 'RG xLA & MILITARY',
 'Rite Aid - Corp Total TA',
 "Sam's Total TA",
 'ShopRite Total TA',
 'Strategic Grocery',
 'TOTAL MASS',
 'Target Total BM/FF TA',
 'Total US Drug',
 'Total US Food',
 'Total US xAOC',
 'VDC',
 'Walgreens Total TA',
 'Walmart Total US TA',
 'Wegmans Total TA'}

In [58]:
Data_5p["Markets"].replace(Market_Mapping,inplace=True)

In [59]:
Data_5p.head(3)

,Markets,ShareBasis,Category,Manufacturer,Franchise,Brand,SubBrand,Products,Facts,FY 2020,...,5 W/E 10/03/20,4 W/E 08/29/20,4 W/E 08/01/20,5 W/E 07/04/20,4 W/E 05/30/20,4 W/E 05/02/20,5 W/E 04/04/20,4 W/E 02/29/20,4 W/E 02/01/20,Key
0,US AOC,ABRASIVE,HHC,,,,,ABRASIVE,% $ Any Promo,6.852,...,5.684,5.237,5.397,4.521,5.375,6.757,11.126,8.262,11.107,Total US xAOCABRASIVE
1,US AOC,ABRASIVE,HHC,,,,,ABRASIVE,% $ Any Promo Chg YA,-3.033,...,-1.867,-3.987,-1.106,-5.830,-5.742,-4.454,-2.334,-0.137,2.827,Total US xAOCABRASIVE
2,US AOC,ABRASIVE,HHC,,,,,ABRASIVE,% EQ Any Promo,7.001,...,5.203,4.318,6.266,4.726,5.051,5.970,11.970,10.971,14.294,Total US xAOCABRASIVE

In [60]:
set(Data_5p["ShareBasis"])

{'ABRASIVE',
 'APC+WW',
 'BAR',
 'BATTERY+HYBRID',
 'BEAD FS',
 'BODYWASH',
 'FABRIC SOFTENERS',
 'LDL/DISHAIDS/WPS/FM/SPRAYS',
 'LIQUID',
 'LIQUID FS',
 'MANUAL',
 'MFR Sun Products',
 'MFR Sun Products LDL',
 'MOUTHWASH',
 'PORTABLE TB',
 'POUR APC+WW',
 'POWER',
 'SCENT BOOSTERS',
 'SHEETS',
 'SPRAY',
 'TOOTHPASTE',
 'WHITENING SYS',
 'WOOD'}

**Promo Fact, Markets & Time Period Mapping**

In [61]:
Promo_Facts=["$ Shr - CP CATEGORY","$ Shr Chg YA - CP CATEGORY","% $ Any Promo","% $ Any Promo Chg YA","% EQ Any Promo",
             "% EQ Any Promo Chg YA","Feat & Disp %ACV","Feat w/o Disp %ACV","Feat w/o Disp %ACV Chg YA","Any Promo %ACV",
             "Any Promo %ACV Chg YA","Disp w/o Feat %ACV","Disp w/o Feat %ACV Chg YA","Price Decr Only %ACV",
             "Price Decr Only %ACV Chg YA","Base EQ Price","Base EQ Price Chg YA","Base $ Shr - CP CATEGORY",
             "Base $ Shr Chg YA - CP CATEGORY","Incr $ Shr - CP CATEGORY","Incr $ Shr Chg YA - CP CATEGORY",
             "Feat or Disp %ACV Chg YA","Any Promo EQ Price","Any Promo EQ Price Chg YA","Feat or Disp %ACV",
             "Feat & Disp %ACV Chg YA","Avg EQ Price","Avg EQ Price Chg YA","Any Promo $ Shr - CP CATEGORY",
             "Any Promo $ Shr Chg YA - CP CATEGORY"]

Promo_Markets=["US AOC","Ahold","Alb/Sfy","BJs","CVS","Dollar General","Family Dollar","Meijer","Publix",
         "Rite Aid","Sams","Shoprite","Target","US Drug","US Food","Walgreens","Walmart"]

# Time_Period is important. columns should be in the below order only
Promo_Time_Period=list(Data_5p.columns[0:1])+list(Data_5p.columns[7:8])+list(Data_5p.columns[1:7])+list(Data_5p.columns[8:9])+list(Data_5p.columns[25:26])+list(Data_5p.columns[15:17])+list(Data_5p.columns[13:14])+list(Data_5p.columns[9:10])+list(Data_5p.columns[26:38])[::-1]
print(Promo_Time_Period)

['Markets', 'Products', 'ShareBasis', 'Category', 'Manufacturer', 'Franchise', 'Brand', 'SubBrand', 'Facts', '4 W/E 02/27/21', 'Latest 13 Weeks', 'Latest 26 Weeks', 'YTD 2021', 'FY 2020', '4 W/E 02/29/20', '5 W/E 04/04/20', '4 W/E 05/02/20', '4 W/E 05/30/20', '5 W/E 07/04/20', '4 W/E 08/01/20', '4 W/E 08/29/20', '5 W/E 10/03/20', '4 W/E 10/31/20', '4 W/E 11/28/20', '5 W/E 01/02/21', '4 W/E 01/30/21']

In [62]:
set(Data_5p["Category"])

{'BAR', 'BW', 'FS', 'HHC', 'LDL', 'LHS', 'MTB', 'MW', 'PTB', 'TP'}

In [63]:
Promo_Fact_Mapping={
    "$ Shr - CP CATEGORY":"$ Share",
    "$ Shr Chg YA - CP CATEGORY":"$ Share YAG Chg",
    "% $ Any Promo":"% Dollars w/Any Promo",
    "% $ Any Promo Chg YA":"% Dollars w/Any Promo YAG Chg",
    "% EQ Any Promo":"% EQ Units w/Any Promo",
    "% EQ Any Promo Chg YA":"% EQ Units w/Any Promo YAG Chg",
    "Feat & Disp %ACV":"%ACV Any Ftr & Disp",
    "Feat w/o Disp %ACV":"%ACV Any Ftr w/o Disp",
    "Feat w/o Disp %ACV Chg YA":"%ACV Any Ftr w/o Disp YAG Chg",
    "Any Promo %ACV":"%ACV Any Promo",
    "Any Promo %ACV Chg YA":"%ACV Any Promo YAG Chg",
    "Disp w/o Feat %ACV":"%ACV Disp w/o Ftr",
    "Disp w/o Feat %ACV Chg YA":"%ACV Disp w/o Ftr YAG Chg",
    "Price Decr Only %ACV":"%ACV TPR",
    "Price Decr Only %ACV Chg YA":"%ACV TPR YAG Chg",
    "Base EQ Price":"Base RASP per Case",
    "Base EQ Price Chg YA":"Base RASP per Case YAG Chg",
    "Base $ Shr - CP CATEGORY":"Baseline $ Share",
    "Base $ Shr Chg YA - CP CATEGORY":"Baseline $ Share YAG Chg",
    "Incr $ Shr - CP CATEGORY":"Incr.$ Share",
    "Incr $ Shr Chg YA - CP CATEGORY":"Incr.$ Share YAG Chg",
  # "Feat & Disp %ACV Chg YA":"Prcnt_ACV_FD_Chg_cum",             #For TP
    "Feat & Disp %ACV Chg YA":"%ACV Any Ftr & Disp YAG Chg",        #For all others
    "Any Promo EQ Price":"Promo RASP per Case",
    "Any Promo EQ Price Chg YA":"Promo RASP per Case YAG Chg",
    "Feat or Disp %ACV":"Quality Support %ACV",
    "Feat or Disp %ACV Chg YA":"Quality Support %ACV YAG Chg",
    "Avg EQ Price":"RASP per Case",
    "Avg EQ Price Chg YA":"RASP per Case YAG Chg",
    "Any Promo $ Shr - CP CATEGORY":"Share_of_Promo_Doll",
    "Any Promo $ Shr Chg YA - CP CATEGORY":"Share_of_Promo_Doll_Chg"
}

In [64]:
set(Data_5p["Facts"])

{'$',
 '$ % Chg YA',
 '$ / $MM ACV',
 '$ / $MM ACV % Chg YA',
 '$ / $MM ACV Chg YA',
 '$ Chg YA',
 '$ Shr - CP CATEGORY',
 '$ Shr Chg YA - CP CATEGORY',
 '$ YA',
 '% $ Any Promo',
 '% $ Any Promo Chg YA',
 '% EQ Any Promo',
 '% EQ Any Promo Chg YA',
 '%ACV',
 '%ACV Chg YA',
 'Any Disp %ACV',
 'Any Disp %ACV Chg YA',
 'Any Disp %ACV YA',
 'Any Feat %ACV',
 'Any Feat %ACV Chg YA',
 'Any Feat %ACV YA',
 'Any Promo $',
 'Any Promo $ % Chg YA',
 'Any Promo $ Chg YA',
 'Any Promo $ Shr - CP CATEGORY',
 'Any Promo $ Shr Chg YA - CP CATEGORY',
 'Any Promo %ACV',
 'Any Promo %ACV Chg YA',
 'Any Promo EQ',
 'Any Promo EQ % Chg YA',
 'Any Promo EQ Chg YA',
 'Any Promo EQ Price',
 'Any Promo EQ Price Chg YA',
 'Avg # of Items',
 'Avg # of Items Chg YA',
 'Avg EQ Price',
 'Avg EQ Price % Chg YA',
 'Avg EQ Price Chg YA',
 'Avg EQ Price YA',
 'Avg Unit Price',
 'Avg Unit Price % Chg YA',
 'Avg Unit Price Chg YA',
 'Avg Unit Price YA',
 'Base $',
 'Base $ % Chg YA',
 'Base $ Chg YA',
 'Base $ Shr - CP CATEGORY',
 'Base $ Shr Chg YA - CP CATEGORY',
 'Base $ YA',
 'Base EQ',
 'Base EQ % Chg YA',
 'Base EQ Chg YA',
 'Base EQ Price',
 'Base EQ Price % Chg YA',
 'Base EQ Price Chg YA',
 'Base EQ Shr - CP CATEGORY',
 'Base EQ Shr Chg YA - CP CATEGORY',
 'Disp w/o Feat $',
 'Disp w/o Feat $ % Chg YA',
 'Disp w/o Feat $ Chg YA',
 'Disp w/o Feat %ACV',
 'Disp w/o Feat %ACV Chg YA',
 'EQ',
 'EQ % Chg YA',
 'EQ Chg YA',
 'EQ Shr - CP CATEGORY',
 'EQ Shr Chg YA - CP CATEGORY',
 'Feat & Disp $',
 'Feat & Disp $ % Chg YA',
 'Feat & Disp $ Chg YA',
 'Feat & Disp %ACV',
 'Feat & Disp %ACV Chg YA',
 'Feat & Disp %ACV YA',
 'Feat or Disp %ACV',
 'Feat or Disp %ACV Chg YA',
 'Feat w/o Disp $',
 'Feat w/o Disp $ % Chg YA',
 'Feat w/o Disp $ Chg YA',
 'Feat w/o Disp %ACV',
 'Feat w/o Disp %ACV Chg YA',
 'Incr $',
 'Incr $ % Chg YA',
 'Incr $ Chg YA',
 'Incr $ Shr - CP CATEGORY',
 'Incr $ Shr Chg YA - CP CATEGORY',
 'Incr $ YA',
 'Incr EQ',
 'Incr EQ % Chg YA',
 'Incr EQ Chg YA',
 'Incr EQ Shr - CP CATEGORY',
 'Incr EQ Shr Chg YA - CP CATEGORY',
 'No Promo Incr $',
 'No Promo Incr $ % Chg YA',
 'No Promo Incr $ Chg YA',
 'Price Decr Only $',
 'Price Decr Only $ % Chg YA',
 'Price Decr Only $ Chg YA',
 'Price Decr Only %ACV',
 'Price Decr Only %ACV Chg YA',
 'TDP',
 'TDP % Chg YA',
 'TDP Chg YA',
 'Units',
 'Units % Chg YA',
 'Units / $MM ACV',
 'Units / $MM ACV % Chg YA',
 'Units / $MM ACV Chg YA',
 'Units Chg YA'}

**Waterfall Mapppings**

In [65]:
Waterfall_Market_Mapping={
    "US AOC":"TOTAL US XAOC",
    "US Drug":"TOTAL US DRUG",
    "US Food":"TOTAL US FOOD",
    "Walmart":"TOTAL WALMART TOTAL US CTA",
    "Target":"TARGET TOTAL BM/FF CENSUS TA",
    "Walgreens":"WALGREENS CORP TOTAL CENSUS TA",
    "Rite Aid":"RITE AID - TOTAL CENSUS TA",
    "Shoprite":"SHOPRITE TOTAL CENSUS TRADING AREA",
    "Publix":"PUBLIX TOTAL CENSUS TRADING AREA",
    "Family Dollar":"FAMILY DOLLAR TOTAL CENSUS TRADING AREA",
    "Dollar General":"DOL GEN TOTAL CENSUS TA",
    "CVS":"CVS TOTAL CORP WO HI CENSUS TA",
    "Sams":"SAMS TOTAL CENSUS TRADING AREA",
    "BJs":"BJS TOTAL CENSUS TA",
    "Ahold":"AHOLD USA CORP TOTAL CTA",
    "Meijer":"MEIJER TOTAL CENSUS TRADING AREA",
    #"Meijer":"Meijer Total TA",
    "Alb/Sfy":"ALBSCO Total Company TA",
    "Kmart":"Kmart Total TA",
    "Wegmans":"Wegmans Total TA",
    "Giant Eagle":"Giant Eagle Total TA",
    #"Meijer":"MEIJER TOTAL TA",
    "El Super":"El Super Total TA",
    "Sams'":"SAMS TOTAL CENSUS TRADING AREA",
    "BJs'":"BJS TOTAL CENSUS TA",
    "Fiesta":"Fiesta Total TA"
}

In [66]:
Waterfall_Facts=["No Promo Incr $","Feat w/o Disp $","Disp w/o Feat $","Feat & Disp $","Price Decr Only $","$",
                 "$ Shr - CP CATEGORY","Base $"]

Waterfall_Markets=["TOTAL US XAOC","TOTAL US DRUG","TOTAL US FOOD","TOTAL WALMART TOTAL US CTA","TARGET TOTAL BM/FF CENSUS TA",
         "WALGREENS CORP TOTAL CENSUS TA","RITE AID - TOTAL CENSUS TA","SHOPRITE TOTAL CENSUS TRADING AREA",
         "PUBLIX TOTAL CENSUS TRADING AREA","FAMILY DOLLAR TOTAL CENSUS TRADING AREA","DOL GEN TOTAL CENSUS TA",
         "CVS TOTAL CORP WO HI CENSUS TA","SAMS TOTAL CENSUS TRADING AREA","BJS TOTAL CENSUS TA","ALBSCO Total Company TA"
         "AHOLD USA CORP TOTAL CTA","MEIJER TOTAL CENSUS TRADING AREA","Wegmans Total TA","Giant Eagle Total TA"
                   ]

# Time_Period is important. columns should be in the below order only
Waterfall_Time_Period=list(Data_5p.columns[0:1])+list(Data_5p.columns[7:8])+list(Data_5p.columns[3:7])+list(Data_5p.columns[8:9])+list(Data_5p.columns[13:15])+list(Data_5p.columns[25:26])+list(Data_5p.columns[37:38])
print(Waterfall_Time_Period)

['Markets', 'Products', 'Manufacturer', 'Franchise', 'Brand', 'SubBrand', 'Facts', 'YTD 2021', 'YTD 2020', '4 W/E 02/27/21', '4 W/E 02/29/20']

In [67]:
Waterfall_Fact_Mapping={
    "No Promo Incr $":"Incr.$ w/No Promo",
    "Feat w/o Disp $":"Incr.$ w/Ftr w/o Disp",
    "Disp w/o Feat $":"Incr.$ w/Disp w/o Ftr",
    "Feat & Disp $":"Incr.$ w/Ftr & Disp",
    "Price Decr Only $":"Incr.$ w/TPR",
    "$":"Dollars",
    "$ Shr - CP CATEGORY":"$ Share",
    "Base $":"Baseline $"
}

In [68]:
set(Data_5p["Markets"])

{'Ahold',
 'Alb/Sfy',
 'BJs',
 'CLUB',
 'CVS',
 'Dollar General',
 'El Super',
 'FDM',
 'Family Dollar',
 'Fiesta',
 'Giant Eagle',
 'Kmart',
 'Meijer',
 'Publix',
 'REGIONAL GROCERY xLA',
 'RG xLA & MILITARY',
 'Rite Aid',
 'Sams',
 'Shoprite',
 'Strategic Grocery',
 'TOTAL MASS',
 'Target',
 'US AOC',
 'US Drug',
 'US Food',
 'VDC',
 'Walgreens',
 'Walmart',
 'Wegmans'}

## TOOTHPASTE

In [69]:
# path to store Output files

path_TP="//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/05. Output Data/5P Output/TP/"

In [70]:
Data_5p_TP=Data_5p.copy()

**Filtering TP Data**

In [71]:
Data_5p_TP=Data_5p_TP.loc[Data_5p_TP["Category"]=="TP"]
Data_5p_TP=Data_5p_TP[Data_5p_TP["ShareBasis"]=="TOOTHPASTE"]

## Promotion Data TP

In [72]:
TP_Promo= Data_5p_TP.copy()

In [73]:
set(Promo_Facts) - set(TP_Promo['Facts'])

set()

In [74]:
# Filter Data based on Promo selection
TP_Promo= TP_Promo[TP_Promo["Facts"].isin(Promo_Facts)]
TP_Promo= TP_Promo[TP_Promo["Markets"].isin(Promo_Markets)]
TP_Promo=TP_Promo[Promo_Time_Period]

**Fact Name Change**

In [75]:
TP_Promo["Facts"].replace(Promo_Fact_Mapping,inplace=True)

In [76]:
TP_Promo["Facts"] = TP_Promo["Facts"].str.replace("%ACV Any Ftr & Disp YAG Chg", "Prcnt_ACV_FD_Chg_cum")

In [77]:
TP_Promo.shape

(56160, 26)

**Column name Change**

In [78]:
TP_Promo.rename(columns={"Markets":"MKT","ShareBasis":"CP_CATEGORY","Products":"PROD","Manufacturer":"CP_MANUFACTURER",
                                "Franchise":"CP_FRANCHISE","Brand":"CP_BRAND","SubBrand":"CP_SUBBRAND","Facts":"FCT"},inplace=True)

In [79]:
TP_Promo.head(2)

,MKT,PROD,CP_CATEGORY,Category,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND,FCT,4 W/E 02/27/21,...,4 W/E 05/02/20,4 W/E 05/30/20,5 W/E 07/04/20,4 W/E 08/01/20,4 W/E 08/29/20,5 W/E 10/03/20,4 W/E 10/31/20,4 W/E 11/28/20,5 W/E 01/02/21,4 W/E 01/30/21
2318727,US AOC,TOOTHPASTE,TOOTHPASTE,TP,,,,,% Dollars w/Any Promo,28.036,...,20.148,22.325,23.808,29.485,26.977,28.146,26.419,27.115,25.366,28.092
2318728,US AOC,TOOTHPASTE,TOOTHPASTE,TP,,,,,% Dollars w/Any Promo YAG Chg,-2.892,...,-8.286,-6.050,-2.713,-0.813,-4.114,-1.782,-3.261,-1.968,-4.096,-3.413

In [80]:
# del TP_Promo["ShareBasis"]
del TP_Promo["Category"]

In [81]:
#Fact_order_1 = ["Baseline $","Incr.$ w/No Promo","Incr.$ w/Ftr w/o Disp","Incr.$ w/Disp w/o Ftr","Incr.$ w/Ftr & Disp",
#             "Incr.$ w/TPR","Dollars","$ Share"]

Fact_order = CategoricalDtype(
    sorted(list(set(TP_Promo["FCT"]))), 
    ordered=True
)


TP_Promo['FCT'] = TP_Promo['FCT'].astype(Fact_order)

TP_Promo.sort_values(['MKT','PROD','FCT'],inplace=True)
#TP_Promo['FCT'] = TP_Promo[Fact_order]

In [82]:
set(TP_Promo["CP_CATEGORY"])

{'TOOTHPASTE'}

## **promo_category**

In [83]:
promo_category=TP_Promo.loc[(TP_Promo["CP_SUBBRAND"]=="") & (TP_Promo["CP_BRAND"]=="")&(TP_Promo["CP_FRANCHISE"]=="")&(TP_Promo["CP_MANUFACTURER"]=="")]

In [84]:
length= len(promo_category)
promo_category["Record_ID"]=range(1,length+1)

In [85]:
promo_category.head()

,MKT,PROD,CP_CATEGORY,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND,FCT,4 W/E 02/27/21,Latest 13 Weeks,...,4 W/E 05/30/20,5 W/E 07/04/20,4 W/E 08/01/20,4 W/E 08/29/20,5 W/E 10/03/20,4 W/E 10/31/20,4 W/E 11/28/20,5 W/E 01/02/21,4 W/E 01/30/21,Record_ID
2492700,Ahold,TOOTHPASTE,TOOTHPASTE,,,,,$ Share,100.000,100.000,...,100.000,100.000,100.000,100.000,100.000,100.000,100.000,100.000,100.000,1
2492701,Ahold,TOOTHPASTE,TOOTHPASTE,,,,,$ Share YAG Chg,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2
2492691,Ahold,TOOTHPASTE,TOOTHPASTE,,,,,% Dollars w/Any Promo,46.993,53.286,...,22.935,54.102,52.245,55.628,60.025,63.565,50.518,52.960,59.587,3
2492692,Ahold,TOOTHPASTE,TOOTHPASTE,,,,,% Dollars w/Any Promo YAG Chg,-14.721,-1.207,...,-24.288,-6.102,-12.933,0.410,-2.636,0.251,-5.474,8.326,0.770,4
2492693,Ahold,TOOTHPASTE,TOOTHPASTE,,,,,% EQ Units w/Any Promo,59.035,61.102,...,29.043,62.366,60.154,65.045,63.098,67.651,57.190,61.883,62.086,5

In [86]:
promo_category.to_csv(path_TP+"promo_category.csv",index=False)

## **promo_toplevel**

In [87]:
promo_toplevel=TP_Promo.loc[(TP_Promo["CP_SUBBRAND"]=="") & (TP_Promo["CP_BRAND"]=="")&(TP_Promo["CP_FRANCHISE"]=="")&(TP_Promo["CP_MANUFACTURER"]!="")]

In [88]:
# Blank row 0th position
df1=pd.DataFrame([[np.nan]*len(promo_toplevel.columns)],columns=promo_toplevel.columns)
promo_toplevel=df1.append(promo_toplevel,ignore_index=True)

In [89]:
length= len(promo_toplevel)
promo_toplevel["Record_ID"]=range(1,length+1)

In [90]:
promo_toplevel.head()

,MKT,PROD,CP_CATEGORY,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND,FCT,4 W/E 02/27/21,Latest 13 Weeks,...,4 W/E 05/30/20,5 W/E 07/04/20,4 W/E 08/01/20,4 W/E 08/29/20,5 W/E 10/03/20,4 W/E 10/31/20,4 W/E 11/28/20,5 W/E 01/02/21,4 W/E 01/30/21,Record_ID
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,Ahold,TOOTHPASTE | CHURCH & DWIGHT,TOOTHPASTE,CHURCH & DWIGHT,,,,$ Share,5.215,5.251,...,5.013,5.413,5.360,5.356,5.394,5.700,5.727,5.365,5.151,2
2,Ahold,TOOTHPASTE | CHURCH & DWIGHT,TOOTHPASTE,CHURCH & DWIGHT,,,,$ Share YAG Chg,0.279,0.118,...,-0.894,-0.220,-0.281,-0.019,-0.089,0.257,0.455,0.081,-0.005,3
3,Ahold,TOOTHPASTE | CHURCH & DWIGHT,TOOTHPASTE,CHURCH & DWIGHT,,,,% Dollars w/Any Promo,41.403,35.866,...,3.240,21.967,35.771,39.888,23.200,48.482,38.294,36.184,30.204,4
4,Ahold,TOOTHPASTE | CHURCH & DWIGHT,TOOTHPASTE,CHURCH & DWIGHT,,,,% Dollars w/Any Promo YAG Chg,25.870,20.452,...,-38.034,-12.799,-7.439,28.549,-11.513,13.323,1.090,19.832,16.042,5

In [91]:
promo_toplevel.to_csv(path_TP+"promo_toplevel.csv",index=False)

## **promo_franchise**

In [92]:
promo_franchise=TP_Promo.loc[(TP_Promo["CP_SUBBRAND"]=="") & (TP_Promo["CP_BRAND"]=="")&(TP_Promo["CP_FRANCHISE"]!="")]

In [93]:
length= len(promo_franchise)
promo_franchise["Record_ID"]=range(1,length+1)

In [94]:
promo_franchise.to_csv(path_TP+"promo_franchise.csv",index=False)

## **promo_brand_promo**

In [95]:
promo_brand_promo=TP_Promo.loc[(TP_Promo["CP_SUBBRAND"]=="") & (TP_Promo["CP_BRAND"]!="")]

In [96]:
length= len(promo_brand_promo)
promo_brand_promo["Record_ID"]=range(1,length+1)

In [97]:
promo_brand_promo.to_csv(path_TP+"promo_brand_promo.csv",index=False)

## **promo_subbrand_promo**

In [98]:
promo_subbrand_promo=TP_Promo.loc[(TP_Promo["CP_SUBBRAND"]!="")]

In [99]:
length= len(promo_subbrand_promo)
promo_subbrand_promo["Record_ID"]=range(1,length+1)

In [100]:
promo_subbrand_promo.to_csv(path_TP+"promo_subbrand_promo.csv",index=False)

## Waterfall

In [101]:
Waterfall_TP=Data_5p_TP.copy()

**Market Mapping**

In [102]:
Waterfall_TP["Markets"].replace(Waterfall_Market_Mapping,inplace=True)

**Facts, Markets, Time_Period Filter**

In [103]:
Waterfall_TP= Waterfall_TP[Waterfall_TP["Facts"].isin(Waterfall_Facts)]
Waterfall_TP= Waterfall_TP[Waterfall_TP["Markets"].isin(Waterfall_Markets)]
Waterfall_TP=Waterfall_TP[Waterfall_Time_Period]

In [104]:
Waterfall_TP.head(2)

,Markets,Products,Manufacturer,Franchise,Brand,SubBrand,Facts,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20
2318733,TOTAL US XAOC,TOOTHPASTE,,,,,$,4.637379e+08,4.843618e+08,2.235022e+08,2.453256e+08
2318736,TOTAL US XAOC,TOOTHPASTE,,,,,$ Shr - CP CATEGORY,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02

**Column name Change**

In [105]:
Waterfall_TP.rename(columns={"Markets":"MKT","Products":"PROD","Manufacturer":"CP.MANUFACTURER",
                                "Franchise":"CP.FRANCHISE","Brand":"CP.BRAND","SubBrand":"CP.SUBBRAND","Facts":"FCT"},inplace=True)

**Fact Name Change**

In [106]:
Waterfall_TP["FCT"].replace(Waterfall_Fact_Mapping,inplace=True)

In [107]:
Waterfall_TP.head(2)

,MKT,PROD,CP.MANUFACTURER,CP.FRANCHISE,CP.BRAND,CP.SUBBRAND,FCT,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20
2318733,TOTAL US XAOC,TOOTHPASTE,,,,,Dollars,4.637379e+08,4.843618e+08,2.235022e+08,2.453256e+08
2318736,TOTAL US XAOC,TOOTHPASTE,,,,,$ Share,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02

In [108]:
Fact_order_1 = ["Baseline $","Incr.$ w/No Promo","Incr.$ w/Ftr w/o Disp","Incr.$ w/Disp w/o Ftr","Incr.$ w/Ftr & Disp",
              "Incr.$ w/TPR","Dollars","$ Share"]

Fact_order = CategoricalDtype(
    Fact_order_1, 
    ordered=True
)
# Fact_order = CategoricalDtype(
#     sorted(list(set(Waterfall_TP["FCT"]))), 
#     ordered=True
# )

Waterfall_TP['FCT'] = Waterfall_TP['FCT'].astype(Fact_order)

Waterfall_TP.sort_values(['MKT','PROD','FCT'],inplace=True)

## **Waterfall_Manu**

In [109]:
Waterfall_Manu=Waterfall_TP.loc[(Waterfall_TP["CP.SUBBRAND"]=="") & (Waterfall_TP["CP.BRAND"]=="")&(Waterfall_TP["CP.FRANCHISE"]=="")&(Waterfall_TP["CP.MANUFACTURER"]!="")]

In [110]:
Waterfall_Manu["Record_ID"]=range(1,len(Waterfall_Manu)+1)

In [111]:
Waterfall_Manu.head()

,MKT,PROD,CP.MANUFACTURER,CP.FRANCHISE,CP.BRAND,CP.SUBBRAND,FCT,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20,Record_ID
2371026,BJS TOTAL CENSUS TA,TOOTHPASTE | CHURCH & DWIGHT,CHURCH & DWIGHT,,,,Baseline $,11958.320,281718.820,5850.750,133450.100,1
2560155,BJS TOTAL CENSUS TA,TOOTHPASTE | CHURCH & DWIGHT,CHURCH & DWIGHT,,,,Incr.$ w/No Promo,661.231,3887.351,598.999,3928.321,2
2560147,BJS TOTAL CENSUS TA,TOOTHPASTE | CHURCH & DWIGHT,CHURCH & DWIGHT,,,,Incr.$ w/Ftr w/o Disp,0.000,236483.680,0.000,0.000,3
2560137,BJS TOTAL CENSUS TA,TOOTHPASTE | CHURCH & DWIGHT,CHURCH & DWIGHT,,,,Incr.$ w/Disp w/o Ftr,0.000,11193.187,0.000,11142.087,4
2560142,BJS TOTAL CENSUS TA,TOOTHPASTE | CHURCH & DWIGHT,CHURCH & DWIGHT,,,,Incr.$ w/Ftr & Disp,0.000,22118.100,0.000,0.000,5

In [112]:
Waterfall_Manu.to_csv(path_TP+"Waterfall_Manu.csv",index=False)

## **Waterfall_Fran**

In [113]:
Waterfall_Fran=Waterfall_TP.loc[(Waterfall_TP["CP.SUBBRAND"]=="") & (Waterfall_TP["CP.BRAND"]=="")&(Waterfall_TP["CP.FRANCHISE"]!="")]

In [114]:
Waterfall_Fran["Record_ID"]=range(1,len(Waterfall_Fran)+1)

In [115]:
Waterfall_Fran.to_csv(path_TP+"Waterfall_Fran.csv",index=False)

## **Waterfall_Brand**

In [116]:
Waterfall_Cat=Waterfall_TP.loc[(Waterfall_TP["CP.SUBBRAND"]=="") & (Waterfall_TP["CP.BRAND"]=="")&(Waterfall_TP["CP.FRANCHISE"]=="")&(Waterfall_TP["CP.MANUFACTURER"]=="")]

In [117]:
Waterfall_Brand=Waterfall_TP.loc[(Waterfall_TP["CP.SUBBRAND"]=="") & (Waterfall_TP["CP.BRAND"]!="")]

In [118]:
Waterfall_Cat_Brand=pd.concat([Waterfall_Cat,Waterfall_Brand],axis=0)

In [119]:
Waterfall_Cat_Brand['FCT'] = Waterfall_Cat_Brand['FCT'].astype(Fact_order)

Waterfall_Cat_Brand.sort_values(['MKT','PROD','FCT'],inplace=True)

In [120]:
Waterfall_Cat_Brand["Record_ID"]=range(1,len(Waterfall_Cat_Brand)+1)

In [121]:
Waterfall_Cat_Brand.to_csv(path_TP+"Waterfall Brand.csv",index=False)

## Waterfall_SubBrand

In [122]:
Waterfall_SubBrand=Waterfall_TP.loc[(Waterfall_TP["CP.SUBBRAND"]!="")]

In [123]:
Waterfall_SubBrand["Record_ID"]=range(1,len(Waterfall_SubBrand)+1)

In [124]:
Waterfall_SubBrand.to_csv(path_TP+"Waterfall Sub_Brand.csv",index=False)

# Mouthwash

In [125]:
# path to store OuMWut files

path_MW="//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/05. Output Data/5P Output/MW/"

In [126]:
Data_5p_MW=Data_5p.copy()

**Filtering MW Data**

In [127]:
Data_5p_MW=Data_5p_MW.loc[Data_5p_MW["Category"]=="MW"]

## Promotion Data MW

In [128]:
MW_Promo= Data_5p_MW.copy()

In [129]:
set(Promo_Facts) - set(MW_Promo['Facts'])

set()

In [130]:
Promo_Markets=["US AOC","Ahold","Alb/Sfy","BJs","CVS","Dollar General","Family Dollar","Meijer","Publix",
         "Rite Aid","Sams","Shoprite","Target","US Drug","US Food","Walgreens","Walmart", "Kmart"]

In [131]:
# Filter Data based on Promo selection
MW_Promo= MW_Promo[MW_Promo["Facts"].isin(Promo_Facts)]
MW_Promo= MW_Promo[MW_Promo["Markets"].isin(Promo_Markets)]
MW_Promo=MW_Promo[Promo_Time_Period]

In [132]:
print(len(Promo_Markets), len(set(MW_Promo["Markets"])))

18 18

**Fact Name Change**

In [133]:
MW_Promo["Facts"].replace(Promo_Fact_Mapping,inplace=True)

In [134]:
print(len(Promo_Facts), len(set(MW_Promo["Facts"])))

30 30

In [135]:
set(MW_Promo["Facts"])

{'$ Share',
 '$ Share YAG Chg',
 '% Dollars w/Any Promo',
 '% Dollars w/Any Promo YAG Chg',
 '% EQ Units w/Any Promo',
 '% EQ Units w/Any Promo YAG Chg',
 '%ACV Any Ftr & Disp',
 '%ACV Any Ftr & Disp YAG Chg',
 '%ACV Any Ftr w/o Disp',
 '%ACV Any Ftr w/o Disp YAG Chg',
 '%ACV Any Promo',
 '%ACV Any Promo YAG Chg',
 '%ACV Disp w/o Ftr',
 '%ACV Disp w/o Ftr YAG Chg',
 '%ACV TPR',
 '%ACV TPR YAG Chg',
 'Base RASP per Case',
 'Base RASP per Case YAG Chg',
 'Baseline $ Share',
 'Baseline $ Share YAG Chg',
 'Incr.$ Share',
 'Incr.$ Share YAG Chg',
 'Promo RASP per Case',
 'Promo RASP per Case YAG Chg',
 'Quality Support %ACV',
 'Quality Support %ACV YAG Chg',
 'RASP per Case',
 'RASP per Case YAG Chg',
 'Share_of_Promo_Doll',
 'Share_of_Promo_Doll_Chg'}

In [136]:
MW_Promo.shape

(57390, 26)

**Column name Change**

In [137]:
MW_Promo.rename(columns={"Markets":"MKT","ShareBasis":"CP_CATEGORY","Products":"PROD","Manufacturer":"CP_MANUFACTURER",
                                "Franchise":"CP_FRANCHISE","Brand":"CP_BRAND","SubBrand":"CP_SUBBRAND","Facts":"FCT"},inplace=True)

In [138]:
MW_Promo.head(2)

,MKT,PROD,CP_CATEGORY,Category,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND,FCT,4 W/E 02/27/21,...,4 W/E 05/02/20,4 W/E 05/30/20,5 W/E 07/04/20,4 W/E 08/01/20,4 W/E 08/29/20,5 W/E 10/03/20,4 W/E 10/31/20,4 W/E 11/28/20,5 W/E 01/02/21,4 W/E 01/30/21
1514573,US AOC,MOUTHWASH,MOUTHWASH,MW,,,,,% Dollars w/Any Promo,18.982,...,19.575,18.842,17.857,23.029,23.014,19.785,22.383,21.278,22.009,16.760
1514574,US AOC,MOUTHWASH,MOUTHWASH,MW,,,,,% Dollars w/Any Promo YAG Chg,-5.816,...,-7.861,-7.654,-9.064,-5.003,-5.230,-5.284,-2.146,-3.415,-2.920,-11.881

In [139]:
# del MW_Promo["ShareBasis"]
del MW_Promo["Category"]

In [140]:
Fact_order = CategoricalDtype(
    sorted(list(set(MW_Promo["FCT"]))), 
    ordered=True
)

MW_Promo['FCT'] = MW_Promo['FCT'].astype(Fact_order)

MW_Promo.sort_values(['MKT','PROD','FCT'],inplace=True)

## **promo_category**

In [141]:
promo_category=MW_Promo.loc[(MW_Promo["CP_SUBBRAND"]=="") & (MW_Promo["CP_BRAND"]=="")&(MW_Promo["CP_FRANCHISE"]=="")&(MW_Promo["CP_MANUFACTURER"]=="")]

In [142]:
length= len(promo_category)
promo_category["Record_ID"]=range(1,length+1)

In [143]:
promo_category.head(2)

,MKT,PROD,CP_CATEGORY,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND,FCT,4 W/E 02/27/21,Latest 13 Weeks,...,4 W/E 05/30/20,5 W/E 07/04/20,4 W/E 08/01/20,4 W/E 08/29/20,5 W/E 10/03/20,4 W/E 10/31/20,4 W/E 11/28/20,5 W/E 01/02/21,4 W/E 01/30/21,Record_ID
1646632,Ahold,MOUTHWASH,MOUTHWASH,,,,,$ Share,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,1
1646631,Ahold,MOUTHWASH,MOUTHWASH,,,,,$ Share YAG Chg,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2

In [144]:
promo_category.to_csv(path_MW+"promo_category.csv",index=False)

## **promo_toplevel**

In [145]:
promo_toplevel=MW_Promo.loc[(MW_Promo["CP_SUBBRAND"]=="") & (MW_Promo["CP_BRAND"]=="")&(MW_Promo["CP_FRANCHISE"]=="")&(MW_Promo["CP_MANUFACTURER"]!="")]

In [146]:
# Blank row 0th position
df1=pd.DataFrame([[np.nan]*len(promo_toplevel.columns)],columns=promo_toplevel.columns)
promo_toplevel=df1.append(promo_toplevel,ignore_index=True)

In [147]:
length= len(promo_toplevel)
promo_toplevel["Record_ID"]=range(1,length+1)

In [148]:
promo_toplevel.to_csv(path_MW+"promo_toplevel.csv",index=False)

## **promo_franchise**

In [149]:
promo_franchise=MW_Promo.loc[(MW_Promo["CP_SUBBRAND"]=="") & (MW_Promo["CP_BRAND"]=="")&(MW_Promo["CP_FRANCHISE"]!="")]

In [150]:
length= len(promo_franchise)
promo_franchise["Record_ID"]=range(1,length+1)

In [151]:
promo_franchise.to_csv(path_MW+"promo_franchise.csv",index=False)

## **promo_brand_promo**

In [152]:
promo_brand_promo=MW_Promo.loc[(MW_Promo["CP_SUBBRAND"]=="") & (MW_Promo["CP_BRAND"]!="")]

In [153]:
length= len(promo_brand_promo)
promo_brand_promo["Record_ID"]=range(1,length+1)

In [154]:
promo_brand_promo.to_csv(path_MW+"promo_brand_promo.csv",index=False)

## **promo_subbrand_promo**

In [155]:
promo_subbrand_promo=MW_Promo.loc[(MW_Promo["CP_SUBBRAND"]!="")]

In [156]:
length= len(promo_subbrand_promo)
promo_subbrand_promo["Record_ID"]=range(1,length+1)

In [157]:
promo_subbrand_promo.to_csv(path_MW+"promo_subbrand_promo.csv",index=False)

## Waterfall

In [158]:
Waterfall_MW=Data_5p_MW.copy()

In [159]:
Waterfall_Markets=["TOTAL US XAOC","TOTAL US DRUG","TOTAL US FOOD","TOTAL WALMART TOTAL US CTA","TARGET TOTAL BM/FF CENSUS TA",
         "WALGREENS CORP TOTAL CENSUS TA","RITE AID - TOTAL CENSUS TA","SHOPRITE TOTAL CENSUS TRADING AREA",
         "PUBLIX TOTAL CENSUS TRADING AREA","FAMILY DOLLAR TOTAL CENSUS TRADING AREA","DOL GEN TOTAL CENSUS TA",
         "CVS TOTAL CORP WO HI CENSUS TA","SAMS TOTAL CENSUS TRADING AREA","BJS TOTAL CENSUS TA",
         "AHOLD USA CORP TOTAL CTA","MEIJER TOTAL CENSUS TRADING AREA","ALBSCO Total Company TA","Kmart Total TA" ]

**Market Mapping**

In [160]:
Waterfall_MW["Markets"].replace(Waterfall_Market_Mapping,inplace=True)

**Facts, Markets, Time_Period Filter**

In [161]:
Waterfall_MW= Waterfall_MW[Waterfall_MW["Facts"].isin(Waterfall_Facts)]
Waterfall_MW= Waterfall_MW[Waterfall_MW["Markets"].isin(Waterfall_Markets)]
Waterfall_MW=Waterfall_MW[Waterfall_Time_Period]

In [162]:
print(len(Waterfall_Markets), len(set(Waterfall_MW["Markets"])))

18 18

In [163]:
Waterfall_MW.head(2)

,Markets,Products,Manufacturer,Franchise,Brand,SubBrand,Facts,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20
1514579,TOTAL US XAOC,MOUTHWASH,,,,,$,2.434995e+08,2.370942e+08,1.177164e+08,1.197798e+08
1514582,TOTAL US XAOC,MOUTHWASH,,,,,$ Shr - CP CATEGORY,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02

**Column name Change**

In [164]:
Waterfall_MW.rename(columns={"Markets":"MKT","Products":"PROD","Manufacturer":"CP.MANUFACTURER",
                                "Franchise":"CP.FRANCHISE","Brand":"CP.BRAND","SubBrand":"CP.SUBBRAND","Facts":"FCT"},inplace=True)

**Fact Name Change**

In [165]:
Waterfall_MW["FCT"].replace(Waterfall_Fact_Mapping,inplace=True)

In [166]:
Waterfall_MW.head(2)

,MKT,PROD,CP.MANUFACTURER,CP.FRANCHISE,CP.BRAND,CP.SUBBRAND,FCT,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20
1514579,TOTAL US XAOC,MOUTHWASH,,,,,Dollars,2.434995e+08,2.370942e+08,1.177164e+08,1.197798e+08
1514582,TOTAL US XAOC,MOUTHWASH,,,,,$ Share,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02

In [167]:
Fact_order_1 = ["Baseline $","Incr.$ w/No Promo","Incr.$ w/Ftr w/o Disp","Incr.$ w/Disp w/o Ftr","Incr.$ w/Ftr & Disp",
              "Incr.$ w/TPR","Dollars","$ Share"]

Fact_order = CategoricalDtype(
    Fact_order_1, 
    ordered=True
)


Waterfall_MW['FCT'] = Waterfall_MW['FCT'].astype(Fact_order)

Waterfall_MW.sort_values(['MKT','PROD','FCT'],inplace=True)

## **Waterfall_Manu**

In [168]:
Waterfall_Manu=Waterfall_MW.loc[(Waterfall_MW["CP.SUBBRAND"]=="") & (Waterfall_MW["CP.BRAND"]=="")&(Waterfall_MW["CP.FRANCHISE"]=="")&(Waterfall_MW["CP.MANUFACTURER"]!="")]

In [169]:
Waterfall_Manu["Record_ID"]=range(1,len(Waterfall_Manu)+1)

In [170]:
Waterfall_Manu.to_csv(path_MW+"Waterfall_Manu.csv",index=False)

## **Waterfall_Fran**

In [171]:
Waterfall_Fran=Waterfall_MW.loc[(Waterfall_MW["CP.SUBBRAND"]=="") & (Waterfall_MW["CP.BRAND"]=="")&(Waterfall_MW["CP.FRANCHISE"]!="")]

In [172]:
Waterfall_Fran["Record_ID"]=range(1,len(Waterfall_Fran)+1)

In [173]:
Waterfall_Fran.to_csv(path_MW+"Waterfall_Fran.csv",index=False)

## **Waterfall_Brand**

In [174]:
Waterfall_Brand=Waterfall_MW.loc[(Waterfall_MW["CP.SUBBRAND"]=="") & (Waterfall_MW["CP.BRAND"]!="")]

In [175]:
Waterfall_Cat=Waterfall_MW.loc[(Waterfall_MW["CP.SUBBRAND"]=="") & (Waterfall_MW["CP.BRAND"]=="")&(Waterfall_MW["CP.FRANCHISE"]=="")&(Waterfall_MW["CP.MANUFACTURER"]=="")]

In [176]:
Waterfall_Cat_Brand=pd.concat([Waterfall_Cat,Waterfall_Brand],axis=0)

In [177]:
Waterfall_Cat_Brand['FCT'] = Waterfall_Cat_Brand['FCT'].astype(Fact_order)

Waterfall_Cat_Brand.sort_values(['MKT','PROD','FCT'],inplace=True)

In [178]:
Waterfall_Cat_Brand["Record_ID"]=range(1,len(Waterfall_Cat_Brand)+1)

In [179]:
Waterfall_Cat_Brand.to_csv(path_MW+"Waterfall Brand.csv",index=False)

## Waterfall_SubBrand

In [180]:
Waterfall_SubBrand=Waterfall_MW.loc[(Waterfall_MW["CP.SUBBRAND"]!="")]

In [181]:
Waterfall_SubBrand["Record_ID"]=range(1,len(Waterfall_SubBrand)+1)

In [182]:
Waterfall_SubBrand.to_csv(path_MW+"Waterfall Sub_Brand.csv",index=False)

# MTB

In [183]:
# path to store OuMWut files

path_MTB="//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/05. Output Data/5P Output/MTB/"

In [184]:
Data_5p_MTB=Data_5p.copy()

In [185]:
Data_5p.head(2)

,Markets,ShareBasis,Category,Manufacturer,Franchise,Brand,SubBrand,Products,Facts,FY 2020,...,5 W/E 10/03/20,4 W/E 08/29/20,4 W/E 08/01/20,5 W/E 07/04/20,4 W/E 05/30/20,4 W/E 05/02/20,5 W/E 04/04/20,4 W/E 02/29/20,4 W/E 02/01/20,Key
0,US AOC,ABRASIVE,HHC,,,,,ABRASIVE,% $ Any Promo,6.852,...,5.684,5.237,5.397,4.521,5.375,6.757,11.126,8.262,11.107,Total US xAOCABRASIVE
1,US AOC,ABRASIVE,HHC,,,,,ABRASIVE,% $ Any Promo Chg YA,-3.033,...,-1.867,-3.987,-1.106,-5.830,-5.742,-4.454,-2.334,-0.137,2.827,Total US xAOCABRASIVE

**Filtering MTB Data**

In [186]:
Data_5p_MTB=Data_5p.loc[Data_5p["Category"]=="MTB"]

## Promotion Data MTB

In [187]:
MTB_Promo= Data_5p_MTB.copy()

In [188]:
set(Promo_Facts) - set(MTB_Promo['Facts'])

set()

In [189]:
Promo_Markets=["US AOC","Ahold","Alb/Sfy","BJs","CVS","Dollar General","Family Dollar","Meijer","Publix",
         "Rite Aid","Sams","Shoprite","Target","US Drug","US Food","Walgreens","Walmart"]

In [190]:
# Filter Data based on Promo selection
MTB_Promo= MTB_Promo[MTB_Promo["Facts"].isin(Promo_Facts)]
MTB_Promo= MTB_Promo[MTB_Promo["Markets"].isin(Promo_Markets)]
MTB_Promo=MTB_Promo[Promo_Time_Period]

In [191]:
print(len(Promo_Markets), len(set(MTB_Promo["Markets"])))

17 17

In [192]:
Promo_Time_Period

['Markets',
 'Products',
 'ShareBasis',
 'Category',
 'Manufacturer',
 'Franchise',
 'Brand',
 'SubBrand',
 'Facts',
 '4 W/E 02/27/21',
 'Latest 13 Weeks',
 'Latest 26 Weeks',
 'YTD 2021',
 'FY 2020',
 '4 W/E 02/29/20',
 '5 W/E 04/04/20',
 '4 W/E 05/02/20',
 '4 W/E 05/30/20',
 '5 W/E 07/04/20',
 '4 W/E 08/01/20',
 '4 W/E 08/29/20',
 '5 W/E 10/03/20',
 '4 W/E 10/31/20',
 '4 W/E 11/28/20',
 '5 W/E 01/02/21',
 '4 W/E 01/30/21']

In [193]:
MTB_Promo['CP_SHARE_BASIS'] = 'Manual'

In [194]:
count = 0
str = 'FY'
for i in Promo_Time_Period:
    if(str in i):
        break
    count +=1
print(count)

13

**Fact Name Change**

In [195]:
MTB_Promo["Facts"].replace(Promo_Fact_Mapping,inplace=True)

In [196]:
MTB_Promo.shape

(37476, 27)

**Column name Change**

In [197]:
MTB_Promo.rename(columns={"Markets":"MKT","ShareBasis":"CP_CATEGORY","Products":"PROD","Manufacturer":"CP_MANUFACTURER",
                                "Franchise":"CP_FRANCHISE","Brand":"CP_BRAND","SubBrand":"CP_SUBBRAND","Facts":"FCT"},inplace=True)

In [198]:
MTB_Promo.head(2)

,MKT,PROD,CP_CATEGORY,Category,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND,FCT,4 W/E 02/27/21,...,4 W/E 05/30/20,5 W/E 07/04/20,4 W/E 08/01/20,4 W/E 08/29/20,5 W/E 10/03/20,4 W/E 10/31/20,4 W/E 11/28/20,5 W/E 01/02/21,4 W/E 01/30/21,CP_SHARE_BASIS
1289673,Meijer,MANUAL,MANUAL,MTB,,,,,% Dollars w/Any Promo,79.635,...,69.382,76.014,78.327,76.269,44.31,74.193,79.396,70.674,77.897,Manual
1289674,Meijer,MANUAL,MANUAL,MTB,,,,,% Dollars w/Any Promo YAG Chg,9.023,...,11.113,22.098,25.054,0.441,-4.68,20.453,19.275,-3.842,-1.731,Manual

In [199]:
# del MTB_Promo["ShareBasis"]
del MTB_Promo["Category"]

In [200]:
Fact_order = CategoricalDtype(
    sorted(list(set(MTB_Promo["FCT"]))), 
    ordered=True
)

MTB_Promo['FCT'] = MTB_Promo['FCT'].astype(Fact_order)

MTB_Promo.sort_values(['MKT','PROD','FCT'],inplace=True)

## **promo_category**

In [201]:
promo_category=MTB_Promo.loc[(MTB_Promo["CP_SUBBRAND"]=="") & (MTB_Promo["CP_BRAND"]=="")&(MTB_Promo["CP_FRANCHISE"]=="")&(MTB_Promo["CP_MANUFACTURER"]=="")]

In [202]:
promo_category.drop_duplicates(inplace=True)

In [203]:
length= len(promo_category)
promo_category["Record_ID"]=range(1,length+1)

In [204]:
column_names = list(promo_category.columns)
column_names.insert(count,"CP_SHARE_BASIS")
column_names.pop(-2)
print(column_names)

['MKT', 'PROD', 'CP_CATEGORY', 'CP_MANUFACTURER', 'CP_FRANCHISE', 'CP_BRAND', 'CP_SUBBRAND', 'FCT', '4 W/E 02/27/21', 'Latest 13 Weeks', 'Latest 26 Weeks', 'YTD 2021', 'FY 2020', 'CP_SHARE_BASIS', '4 W/E 02/29/20', '5 W/E 04/04/20', '4 W/E 05/02/20', '4 W/E 05/30/20', '5 W/E 07/04/20', '4 W/E 08/01/20', '4 W/E 08/29/20', '5 W/E 10/03/20', '4 W/E 10/31/20', '4 W/E 11/28/20', '5 W/E 01/02/21', '4 W/E 01/30/21', 'Record_ID']

In [205]:
promo_category = promo_category[column_names]

In [206]:
promo_category.head(2)

,MKT,PROD,CP_CATEGORY,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND,FCT,4 W/E 02/27/21,Latest 13 Weeks,...,4 W/E 05/30/20,5 W/E 07/04/20,4 W/E 08/01/20,4 W/E 08/29/20,5 W/E 10/03/20,4 W/E 10/31/20,4 W/E 11/28/20,5 W/E 01/02/21,4 W/E 01/30/21,Record_ID
1375581,Ahold,MANUAL,MANUAL,,,,,$ Share,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,1
1375582,Ahold,MANUAL,MANUAL,,,,,$ Share YAG Chg,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2

In [207]:
promo_category.to_csv(path_MTB+"promo_category.csv",index=False)

## **promo_toplevel**

In [208]:
promo_toplevel=MTB_Promo.loc[(MTB_Promo["CP_SUBBRAND"]=="") & (MTB_Promo["CP_BRAND"]=="")&(MTB_Promo["CP_FRANCHISE"]=="")&(MTB_Promo["CP_MANUFACTURER"]!="")]

In [209]:
# Blank row 0th position
df1=pd.DataFrame([[np.nan]*len(promo_toplevel.columns)],columns=promo_toplevel.columns)
promo_toplevel=df1.append(promo_toplevel,ignore_index=True)

In [210]:
promo_toplevel.drop_duplicates(inplace=True)

In [211]:
length= len(promo_toplevel)
promo_toplevel["Record_ID"]=range(1,length+1)

In [212]:
promo_toplevel.head(2)

,MKT,PROD,CP_CATEGORY,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND,FCT,4 W/E 02/27/21,Latest 13 Weeks,...,5 W/E 07/04/20,4 W/E 08/01/20,4 W/E 08/29/20,5 W/E 10/03/20,4 W/E 10/31/20,4 W/E 11/28/20,5 W/E 01/02/21,4 W/E 01/30/21,CP_SHARE_BASIS,Record_ID
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,Ahold,MANUAL | COLGATE-PALMOLIVE,MANUAL,COLGATE-PALMOLIVE,,,,$ Share,43.191,42.392,...,37.969,37.776,38.913,38.994,40.201,41.036,41.954,42.227,Manual,2

In [213]:
column_names = list(promo_toplevel.columns)
column_names.insert(count,"CP_SHARE_BASIS")
column_names.pop(-2)
promo_toplevel = promo_toplevel[column_names]

In [214]:
promo_toplevel.to_csv(path_MTB+"promo_toplevel.csv",index=False)

## **promo_franchise**

In [215]:
promo_franchise=MTB_Promo.loc[(MTB_Promo["CP_SUBBRAND"]=="") & (MTB_Promo["CP_BRAND"]=="")&(MTB_Promo["CP_FRANCHISE"]!="")]

In [216]:
promo_franchise.drop_duplicates(inplace=True)

In [217]:
length= len(promo_franchise)
promo_franchise["Record_ID"]=range(1,length+1)

In [218]:
column_names = list(promo_franchise.columns)
column_names.insert(count,"CP_SHARE_BASIS")
column_names.pop(-2)
promo_franchise = promo_franchise[column_names]

In [219]:
promo_franchise.to_csv(path_MTB+"promo_franchise.csv",index=False)

## **promo_brand_promo**

In [220]:
promo_brand_promo=MTB_Promo.loc[(MTB_Promo["CP_SUBBRAND"]=="") & (MTB_Promo["CP_BRAND"]!="")]

In [221]:
promo_brand_promo.drop_duplicates(inplace=True)

In [222]:
length= len(promo_brand_promo)
promo_brand_promo["Record_ID"]=range(1,length+1)

In [223]:
column_names = list(promo_brand_promo.columns)
column_names.insert(count,"CP_SHARE_BASIS")
column_names.pop(-2)
promo_brand_promo = promo_brand_promo[column_names]

In [224]:
promo_brand_promo.to_csv(path_MTB+"promo_brand_promo.csv",index=False)

## **promo_subbrand_promo**

In [225]:
promo_subbrand_promo=MTB_Promo.loc[(MTB_Promo["CP_SUBBRAND"]!="")]

In [226]:
promo_subbrand_promo.drop_duplicates(inplace=True)

In [227]:
length= len(promo_subbrand_promo)
promo_subbrand_promo["Record_ID"]=range(1,length+1)

In [228]:
column_names = list(promo_subbrand_promo.columns)
column_names.insert(count,"CP_SHARE_BASIS")
column_names.pop(-2)
promo_subbrand_promo = promo_subbrand_promo[column_names]

In [229]:
promo_subbrand_promo.to_csv(path_MTB+"promo_subbrand_promo.csv",index=False)

## Waterfall

In [230]:
Waterfall_MTB=Data_5p_MTB.copy()

In [231]:
# Waterfall_MTB['CP_SEGMENT'] = 'Manual'
# Waterfall_MTB['CP_MANUAL_CHEM'] = 'Manual'

**Market Mapping**

In [232]:
Waterfall_Markets=["US AOC","Ahold","Alb/Sfy","BJs","CVS","Dollar General","Family Dollar","Meijer","Publix",
         "Rite Aid","Sams","Shoprite","Target","US Drug","US Food","Walgreens","Walmart"]

In [233]:
Waterfall_Fact_Mapping={
    "No Promo Incr $":"Incr.$ w/No Promo",
    "Feat w/o Disp $":"Incr.$ w/Ftr w/o Disp",
    "Disp w/o Feat $":"Incr.$ w/Disp w/o Ftr",
    "Feat & Disp $":"Incr.$ w/Ftr & Disp",
    "Price Decr Only $":"Incr.$ w/TPR",
    "$":"Dollars",
    "$ Shr - CP CATEGORY":"Manual $ Share",
    "Base $":"Baseline $"
}

**Facts, Markets, Time_Period Filter**

In [234]:
Waterfall_MTB= Waterfall_MTB[Waterfall_MTB["Facts"].isin(Waterfall_Facts)]
Waterfall_MTB= Waterfall_MTB[Waterfall_MTB["Markets"].isin(Waterfall_Markets)]
Waterfall_MTB=Waterfall_MTB[Waterfall_Time_Period]

In [235]:
Waterfall_MTB["Markets"].replace(Waterfall_Market_Mapping,inplace=True)

In [236]:
print(len(Promo_Markets), len(set(Waterfall_MTB["Markets"])))

17 17

In [237]:
print(len(set(Waterfall_MTB['Facts'])))

8

In [238]:
Waterfall_MTB['CP_SEGMENT'] = 'Manual'
Waterfall_MTB['CP_MANUAL_CHEM'] = 'Manual'

In [239]:
Waterfall_MTB.head(2)

,Markets,Products,Manufacturer,Franchise,Brand,SubBrand,Facts,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20,CP_SEGMENT,CP_MANUAL_CHEM
1289679,MEIJER TOTAL CENSUS TRADING AREA,MANUAL,,,,,$,1462129.52,1482038.56,682784.44,743110.21,Manual,Manual
1289682,MEIJER TOTAL CENSUS TRADING AREA,MANUAL,,,,,$ Shr - CP CATEGORY,100.00,100.00,100.00,100.00,Manual,Manual

**Column name Change**

In [240]:
Waterfall_MTB.rename(columns={"Markets":"MKT","Products":"PROD","Manufacturer":"CP.MANUFACTURER",
                                "Franchise":"CP.FRANCHISE","Brand":"CP.BRAND","SubBrand":"CP.SUBBRAND","Facts":"FCT"},inplace=True)

**Fact Name Change**

In [241]:
Waterfall_MTB["FCT"].replace(Waterfall_Fact_Mapping,inplace=True)

In [242]:
#Waterfall_MTB["FCT"] = Waterfall_MTB["FCT"].str.replace("$ Share","Manual $ Share")

In [243]:
Waterfall_MTB.head(2)

,MKT,PROD,CP.MANUFACTURER,CP.FRANCHISE,CP.BRAND,CP.SUBBRAND,FCT,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20,CP_SEGMENT,CP_MANUAL_CHEM
1289679,MEIJER TOTAL CENSUS TRADING AREA,MANUAL,,,,,Dollars,1462129.52,1482038.56,682784.44,743110.21,Manual,Manual
1289682,MEIJER TOTAL CENSUS TRADING AREA,MANUAL,,,,,Manual $ Share,100.00,100.00,100.00,100.00,Manual,Manual

In [244]:
Fact_order_1 = ["Baseline $","Incr.$ w/No Promo","Incr.$ w/Ftr w/o Disp","Incr.$ w/Disp w/o Ftr","Incr.$ w/Ftr & Disp",
              "Incr.$ w/TPR","Dollars","Manual $ Share"]
Fact_order = CategoricalDtype(
    Fact_order_1, 
    ordered=True
)

Waterfall_MTB['FCT'] = Waterfall_MTB['FCT'].astype(Fact_order)

Waterfall_MTB.sort_values(['MKT','PROD','FCT'],inplace=True)

In [245]:
Waterfall_MTB.head(3)

,MKT,PROD,CP.MANUFACTURER,CP.FRANCHISE,CP.BRAND,CP.SUBBRAND,FCT,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20,CP_SEGMENT,CP_MANUAL_CHEM
1375602,AHOLD USA CORP TOTAL CTA,MANUAL,,,,,Baseline $,1227543.670,1219157.240,600543.550,601259.560,Manual,Manual
1489627,AHOLD USA CORP TOTAL CTA,MANUAL,,,,,Incr.$ w/No Promo,65196.534,21774.297,24554.565,11117.468,Manual,Manual
1489617,AHOLD USA CORP TOTAL CTA,MANUAL,,,,,Incr.$ w/Ftr w/o Disp,156648.830,316717.892,102114.820,177925.632,Manual,Manual

## **Waterfall_Manu**

In [246]:
Waterfall_Manu=Waterfall_MTB.loc[(Waterfall_MTB["CP.SUBBRAND"]=="") & (Waterfall_MTB["CP.BRAND"]=="")&(Waterfall_MTB["CP.FRANCHISE"]=="")&(Waterfall_MTB["CP.MANUFACTURER"]!="")]

In [247]:
Waterfall_Manu["Record_ID"]=range(1,len(Waterfall_Manu)+1)

In [248]:
column_names = list(Waterfall_Manu.columns)
column_names.insert(2,"CP_SEGMENT")
column_names.insert(7,"CP_MANUAL_CHEM")
column_names.pop(-2)
column_names.pop(-2)
Waterfall_Manu = Waterfall_Manu[column_names]

In [249]:
Waterfall_Manu.to_csv(path_MTB+"Waterfall_Manu.csv",index=False)

## **Waterfall_Fran**

In [250]:
Waterfall_Fran=Waterfall_MTB.loc[(Waterfall_MTB["CP.SUBBRAND"]=="") & (Waterfall_MTB["CP.BRAND"]=="")&(Waterfall_MTB["CP.FRANCHISE"]!="")]

In [251]:
Waterfall_Fran["Record_ID"]=range(1,len(Waterfall_Fran)+1)

In [252]:
column_names = list(Waterfall_Fran.columns)
column_names.insert(2,"CP_SEGMENT")
column_names.insert(7,"CP_MANUAL_CHEM")
column_names.pop(-2)
column_names.pop(-2)
Waterfall_Fran = Waterfall_Fran[column_names]

In [253]:
Waterfall_Fran.to_csv(path_MTB+"Waterfall_Fran.csv",index=False)

## **Waterfall_Brand**

In [254]:
Waterfall_Brand=Waterfall_MTB.loc[(Waterfall_MTB["CP.SUBBRAND"]=="") & (Waterfall_MTB["CP.BRAND"]!="")]

In [255]:
Waterfall_Cat=Waterfall_MTB.loc[(Waterfall_MTB["CP.SUBBRAND"]=="") & (Waterfall_MTB["CP.BRAND"]=="")&(Waterfall_MTB["CP.FRANCHISE"]=="")&(Waterfall_MTB["CP.MANUFACTURER"]=="")]

In [256]:
Waterfall_Cat_Brand=pd.concat([Waterfall_Cat,Waterfall_Brand],axis=0)

In [257]:
Waterfall_Cat_Brand['FCT'] = Waterfall_Cat_Brand['FCT'].astype(Fact_order)

Waterfall_Cat_Brand.sort_values(['MKT','PROD','FCT'],inplace=True)

In [258]:
Waterfall_Cat_Brand["Record_ID"]=range(1,len(Waterfall_Cat_Brand)+1)

In [259]:
column_names = list(Waterfall_Cat_Brand.columns)
column_names.insert(2,"CP_SEGMENT")
column_names.insert(7,"CP_MANUAL_CHEM")
column_names.pop(-2)
column_names.pop(-2)
Waterfall_Cat_Brand = Waterfall_Cat_Brand[column_names]

In [260]:
Waterfall_Cat_Brand.to_csv(path_MTB+"Waterfall Brand.csv",index=False)

## Waterfall_SubBrand

In [261]:
Waterfall_SubBrand=Waterfall_MTB.loc[(Waterfall_MTB["CP.SUBBRAND"]!="")]

In [262]:
Waterfall_SubBrand["Record_ID"]=range(1,len(Waterfall_SubBrand)+1)

In [263]:
column_names = list(Waterfall_SubBrand.columns)
column_names.insert(2,"CP_SEGMENT")
column_names.insert(7,"CP_MANUAL_CHEM")
column_names.pop(-2)
column_names.pop(-2)
Waterfall_SubBrand = Waterfall_SubBrand[column_names]

In [264]:
Waterfall_SubBrand.to_csv(path_MTB+"Waterfall Sub_Brand.csv",index=False)

## PTB

In [265]:
# path to store Output files

path_PTB="//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/05. Output Data/5P Output/PTB/"

In [266]:
Data_5p_PTB=Data_5p.loc[Data_5p["ShareBasis"].isin(["BATTERY+HYBRID", "POWER"])]

In [267]:
Data_5p_PTB.head(2)

,Markets,ShareBasis,Category,Manufacturer,Franchise,Brand,SubBrand,Products,Facts,FY 2020,...,5 W/E 10/03/20,4 W/E 08/29/20,4 W/E 08/01/20,5 W/E 07/04/20,4 W/E 05/30/20,4 W/E 05/02/20,5 W/E 04/04/20,4 W/E 02/29/20,4 W/E 02/01/20,Key
520845,Meijer,BATTERY+HYBRID,PTB,,,,,BATTERY+HYBRID,% $ Any Promo,69.410,...,44.134,71.179,74.368,77.223,66.561,51.355,60.076,70.854,78.677,Meijer Total TABATTERY+HYBRID
520846,Meijer,BATTERY+HYBRID,PTB,,,,,BATTERY+HYBRID,% $ Any Promo Chg YA,1.586,...,-3.637,-7.762,15.668,19.977,-0.258,-22.086,0.236,8.589,15.590,Meijer Total TABATTERY+HYBRID

In [268]:
set(Data_5p_PTB["ShareBasis"])

{'BATTERY+HYBRID', 'POWER'}

**Filtering PTB Data**

In [269]:
set(Data_5p_PTB["Markets"])

{'Ahold',
 'Alb/Sfy',
 'BJs',
 'CLUB',
 'CVS',
 'Dollar General',
 'FDM',
 'Family Dollar',
 'Kmart',
 'Meijer',
 'Publix',
 'REGIONAL GROCERY xLA',
 'Rite Aid',
 'Sams',
 'Shoprite',
 'Strategic Grocery',
 'TOTAL MASS',
 'Target',
 'US AOC',
 'US Drug',
 'US Food',
 'VDC',
 'Walgreens',
 'Walmart'}

## Promotion Data PTB

In [270]:
PTB_Promo= Data_5p_PTB.copy()

In [271]:
set(Promo_Facts) - set(PTB_Promo['Facts'])

set()

In [272]:
Promo_Markets=["US AOC","Ahold","Alb/Sfy","CVS","Dollar General","Family Dollar","Meijer","Publix",
         "Rite Aid","Shoprite","Target","US Drug","US Food","Walgreens","Walmart", "Kmart"]

In [273]:
# Filter Data based on Promo selection
PTB_Promo= PTB_Promo[PTB_Promo["Facts"].isin(Promo_Facts)]
PTB_Promo= PTB_Promo[PTB_Promo["Markets"].isin(Promo_Markets)]
PTB_Promo=PTB_Promo[Promo_Time_Period]

In [274]:
print(len(Promo_Markets), len(set(PTB_Promo["Markets"])))

16 16

**Fact Name Change**

In [275]:
PTB_Promo["Facts"].replace(Promo_Fact_Mapping,inplace=True)

In [276]:
PTB_Promo.shape

(61716, 26)

**Column name Change**

In [277]:
PTB_Promo["CP_CATEGORY"] = "POWER"

In [278]:
PTB_Promo.rename(columns={"Markets":"MKT","ShareBasis":"CP_BATTERY_HYBRID","Products":"PROD","Manufacturer":"CP_MANUFACTURER",
                                "Franchise":"CP_FRANCHISE","Brand":"CP_BRAND","SubBrand":"CP_SUBBRAND","Facts":"FCT"},inplace=True)

In [279]:
PTB_Promo = movecol(PTB_Promo, 
             cols_to_move=['CP_CATEGORY'], 
             ref_col='PROD',
             place='After')
PTB_Promo.head(3)

,MKT,PROD,CP_CATEGORY,CP_BATTERY_HYBRID,Category,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND,FCT,...,4 W/E 05/02/20,4 W/E 05/30/20,5 W/E 07/04/20,4 W/E 08/01/20,4 W/E 08/29/20,5 W/E 10/03/20,4 W/E 10/31/20,4 W/E 11/28/20,5 W/E 01/02/21,4 W/E 01/30/21
520845,Meijer,BATTERY+HYBRID,POWER,BATTERY+HYBRID,PTB,,,,,% Dollars w/Any Promo,...,51.355,66.561,77.223,74.368,71.179,44.134,67.387,82.520,77.704,79.136
520846,Meijer,BATTERY+HYBRID,POWER,BATTERY+HYBRID,PTB,,,,,% Dollars w/Any Promo YAG Chg,...,-22.086,-0.258,19.977,15.668,-7.762,-3.637,15.230,3.805,-9.520,0.459
520847,Meijer,BATTERY+HYBRID,POWER,BATTERY+HYBRID,PTB,,,,,% EQ Units w/Any Promo,...,52.330,61.639,72.199,68.289,74.226,44.722,63.149,84.446,78.172,79.496

In [280]:
PTB_Promo.columns

Index(['MKT', 'PROD', 'CP_CATEGORY', 'CP_BATTERY_HYBRID', 'Category',
       'CP_MANUFACTURER', 'CP_FRANCHISE', 'CP_BRAND', 'CP_SUBBRAND', 'FCT',
       '4 W/E 02/27/21', 'Latest 13 Weeks', 'Latest 26 Weeks', 'YTD 2021',
       'FY 2020', '4 W/E 02/29/20', '5 W/E 04/04/20', '4 W/E 05/02/20',
       '4 W/E 05/30/20', '5 W/E 07/04/20', '4 W/E 08/01/20', '4 W/E 08/29/20',
       '5 W/E 10/03/20', '4 W/E 10/31/20', '4 W/E 11/28/20', '5 W/E 01/02/21',
       '4 W/E 01/30/21'],
      dtype='object')

In [281]:
count = 1
str = 'FY'
lst = list(PTB_Promo.columns)
for i in lst:
    if(str in i):
        break
    count +=1
print(count)
print(i)
Ref = i

15
FY 2020

In [282]:
PTB_Promo = movecol(PTB_Promo, 
             cols_to_move=['CP_BATTERY_HYBRID'], 
             ref_col=Ref,
             place='After')
PTB_Promo.head(3)

,MKT,PROD,CP_CATEGORY,Category,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND,FCT,4 W/E 02/27/21,...,4 W/E 05/02/20,4 W/E 05/30/20,5 W/E 07/04/20,4 W/E 08/01/20,4 W/E 08/29/20,5 W/E 10/03/20,4 W/E 10/31/20,4 W/E 11/28/20,5 W/E 01/02/21,4 W/E 01/30/21
520845,Meijer,BATTERY+HYBRID,POWER,PTB,,,,,% Dollars w/Any Promo,75.565,...,51.355,66.561,77.223,74.368,71.179,44.134,67.387,82.520,77.704,79.136
520846,Meijer,BATTERY+HYBRID,POWER,PTB,,,,,% Dollars w/Any Promo YAG Chg,4.711,...,-22.086,-0.258,19.977,15.668,-7.762,-3.637,15.230,3.805,-9.520,0.459
520847,Meijer,BATTERY+HYBRID,POWER,PTB,,,,,% EQ Units w/Any Promo,77.963,...,52.330,61.639,72.199,68.289,74.226,44.722,63.149,84.446,78.172,79.496

In [283]:
PTB_power_mapping={
    "POWER":"TOTAL POWER"}
PTB_Promo["CP_BATTERY_HYBRID"].replace(PTB_power_mapping,inplace=True)

In [284]:
PTB_Promo.head(2)

,MKT,PROD,CP_CATEGORY,Category,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND,FCT,4 W/E 02/27/21,...,4 W/E 05/02/20,4 W/E 05/30/20,5 W/E 07/04/20,4 W/E 08/01/20,4 W/E 08/29/20,5 W/E 10/03/20,4 W/E 10/31/20,4 W/E 11/28/20,5 W/E 01/02/21,4 W/E 01/30/21
520845,Meijer,BATTERY+HYBRID,POWER,PTB,,,,,% Dollars w/Any Promo,75.565,...,51.355,66.561,77.223,74.368,71.179,44.134,67.387,82.520,77.704,79.136
520846,Meijer,BATTERY+HYBRID,POWER,PTB,,,,,% Dollars w/Any Promo YAG Chg,4.711,...,-22.086,-0.258,19.977,15.668,-7.762,-3.637,15.230,3.805,-9.520,0.459

In [285]:
# del PTB_Promo["ShareBasis"]
del PTB_Promo["Category"]

In [286]:
Fact_order = CategoricalDtype(
    sorted(list(set(PTB_Promo["FCT"]))), 
    ordered=True
)

PTB_Promo['FCT'] = PTB_Promo['FCT'].astype(Fact_order)

PTB_Promo.sort_values(['MKT','PROD','FCT'],inplace=True)

## **promo_category**

In [287]:
promo_category=PTB_Promo.loc[(PTB_Promo["CP_SUBBRAND"]=="") & (PTB_Promo["CP_BRAND"]=="")&(PTB_Promo["CP_FRANCHISE"]=="")&(PTB_Promo["CP_MANUFACTURER"]=="")]

In [288]:
promo_category.drop_duplicates(inplace=True)

In [289]:
length= len(promo_category)
promo_category["Record_ID"]=range(1,length+1)

In [290]:
promo_category.head(2)

,MKT,PROD,CP_CATEGORY,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND,FCT,4 W/E 02/27/21,Latest 13 Weeks,...,4 W/E 05/30/20,5 W/E 07/04/20,4 W/E 08/01/20,4 W/E 08/29/20,5 W/E 10/03/20,4 W/E 10/31/20,4 W/E 11/28/20,5 W/E 01/02/21,4 W/E 01/30/21,Record_ID
562635,Ahold,BATTERY+HYBRID,POWER,,,,,$ Share,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,1
562636,Ahold,BATTERY+HYBRID,POWER,,,,,$ Share YAG Chg,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2

In [291]:
promo_category.to_csv(path_PTB+"promo_category.csv",index=False)

## **promo_toplevel**

In [292]:
promo_toplevel=PTB_Promo.loc[(PTB_Promo["CP_SUBBRAND"]=="") & (PTB_Promo["CP_BRAND"]=="")&(PTB_Promo["CP_FRANCHISE"]=="")&(PTB_Promo["CP_MANUFACTURER"]!="")]

In [293]:
# Blank row 0th position
df1=pd.DataFrame([[np.nan]*len(promo_toplevel.columns)],columns=promo_toplevel.columns)
promo_toplevel=df1.append(promo_toplevel,ignore_index=True)

In [294]:
promo_toplevel.drop_duplicates(inplace=True)

In [295]:
length= len(promo_toplevel)
promo_toplevel["Record_ID"]=range(1,length+1)

In [296]:
promo_toplevel.to_csv(path_PTB+"promo_toplevel.csv",index=False)

## **promo_franchise**

In [297]:
promo_franchise=PTB_Promo.loc[(PTB_Promo["CP_SUBBRAND"]=="") & (PTB_Promo["CP_BRAND"]=="")&(PTB_Promo["CP_FRANCHISE"]!="")]

In [298]:
promo_franchise.drop_duplicates(inplace=True)

In [299]:
length= len(promo_franchise)
promo_franchise["Record_ID"]=range(1,length+1)

In [300]:
promo_franchise.to_csv(path_PTB+"promo_franchise.csv",index=False)

## **promo_brand_promo**

In [301]:
promo_brand_promo=PTB_Promo.loc[(PTB_Promo["CP_SUBBRAND"]=="") & (PTB_Promo["CP_BRAND"]!="")]

In [302]:
promo_brand_promo.drop_duplicates(inplace = True)

In [303]:
length= len(promo_brand_promo)
promo_brand_promo["Record_ID"]=range(1,length+1)

In [304]:
promo_brand_promo.to_csv(path_PTB+"promo_brand_promo.csv",index=False)

## **promo_subbrand_promo**

In [305]:
promo_subbrand_promo=PTB_Promo.loc[(PTB_Promo["CP_SUBBRAND"]!="")]

In [306]:
promo_subbrand_promo.drop_duplicates(inplace=True)

In [307]:
length= len(promo_subbrand_promo)
promo_subbrand_promo["Record_ID"]=range(1,length+1)

In [308]:
promo_subbrand_promo.to_csv(path_PTB+"promo_subbrand_promo.csv",index=False)

## Waterfall

In [309]:
Waterfall_PTB=Data_5p_PTB.copy()

In [310]:
set(Waterfall_PTB['Markets'])

{'Ahold',
 'Alb/Sfy',
 'BJs',
 'CLUB',
 'CVS',
 'Dollar General',
 'FDM',
 'Family Dollar',
 'Kmart',
 'Meijer',
 'Publix',
 'REGIONAL GROCERY xLA',
 'Rite Aid',
 'Sams',
 'Shoprite',
 'Strategic Grocery',
 'TOTAL MASS',
 'Target',
 'US AOC',
 'US Drug',
 'US Food',
 'VDC',
 'Walgreens',
 'Walmart'}

In [311]:
Waterfall_Markets=["TOTAL US XAOC","TOTAL US DRUG","TOTAL US FOOD","TOTAL WALMART TOTAL US CTA","TARGET TOTAL BM/FF CENSUS TA",
         "WALGREENS CORP TOTAL CENSUS TA","RITE AID - TOTAL CENSUS TA","SHOPRITE TOTAL CENSUS TRADING AREA",
         "PUBLIX TOTAL CENSUS TRADING AREA","FAMILY DOLLAR TOTAL CENSUS TRADING AREA","DOL GEN TOTAL CENSUS TA",
         "CVS TOTAL CORP WO HI CENSUS TA",
         "AHOLD USA CORP TOTAL CTA","MEIJER TOTAL CENSUS TRADING AREA","ALBSCO Total Company TA","Kmart Total TA" ]

**Market Mapping**

In [312]:
Waterfall_PTB["Markets"].replace(Waterfall_Market_Mapping,inplace=True)

In [313]:
Waterfall_PTB.columns

Index(['Markets', 'ShareBasis', 'Category', 'Manufacturer', 'Franchise',
       'Brand', 'SubBrand', 'Products', 'Facts', 'FY 2020', 'FY 2019',
       'FY 2018', 'FY 2017', 'YTD 2021', 'YTD 2020', 'Latest 13 Weeks',
       'Latest 26 Weeks', 'Q1 2021', 'Q4 2020', 'Q3 2020', 'Q2 2020',
       'Q1 2020', 'Q4 2019', 'Q3 2019', 'Q2 2019', '4 W/E 02/27/21',
       '4 W/E 01/30/21', '5 W/E 01/02/21', '4 W/E 11/28/20', '4 W/E 10/31/20',
       '5 W/E 10/03/20', '4 W/E 08/29/20', '4 W/E 08/01/20', '5 W/E 07/04/20',
       '4 W/E 05/30/20', '4 W/E 05/02/20', '5 W/E 04/04/20', '4 W/E 02/29/20',
       '4 W/E 02/01/20', 'Key'],
      dtype='object')

In [314]:
Data_5p.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1734266 entries, 0 to 2823236
Data columns (total 40 columns):
 #   Column           Dtype
---  ------           -----
 0   Markets          object
 1   ShareBasis       object
 2   Category         object
 3   Manufacturer     object
 4   Franchise        object
 5   Brand            object
 6   SubBrand         object
 7   Products         object
 8   Facts            object
 9   FY 2020          float64
 10  FY 2019          float64
 11  FY 2018          float64
 12  FY 2017          float64
 13  YTD 2021         float64
 14  YTD 2020         float64
 15  Latest 13 Weeks  float64
 16  Latest 26 Weeks  float64
 17  Q1 2021          float64
 18  Q4 2020          float64
 19  Q3 2020          float64
 20  Q2 2020          float64
 21  Q1 2020          float64
 22  Q4 2019          float64
 23  Q3 2019          float64
 24  Q2 2019          float64
 25  4 W/E 02/27/21   float64
 26  4 W/E 01/30/21   float64
 27  5 W/E 01/02/21   float64
 28  4 W/E 11/28/20   float64
 29  4 W/E 10/31/20   float64
 30  5 W/E 10/03/20   float64
 31  4 W/E 08/29/20   float64
 32  4 W/E 08/01/20   float64
 33  5 W/E 07/04/20   float64
 34  4 W/E 05/30/20   float64
 35  4 W/E 05/02/20   float64
 36  5 W/E 04/04/20   float64
 37  4 W/E 02/29/20   float64
 38  4 W/E 02/01/20   float64
 39  Key              object
dtypes: float64(30), object(10)
memory usage: 542.5+ MB

In [315]:
Waterfall_Time_Period_PTB=list(Data_5p.columns[0:2])+list(Data_5p.columns[7:8])+list(Data_5p.columns[3:7])+list(Data_5p.columns[8:9])+list(Data_5p.columns[13:15])+list(Data_5p.columns[25:26])+list(Data_5p.columns[37:38])
print(Waterfall_Time_Period_PTB)

['Markets', 'ShareBasis', 'Products', 'Manufacturer', 'Franchise', 'Brand', 'SubBrand', 'Facts', 'YTD 2021', 'YTD 2020', '4 W/E 02/27/21', '4 W/E 02/29/20']

**Facts, Markets, Time_Period Filter**

In [316]:
Waterfall_PTB= Waterfall_PTB[Waterfall_PTB["Facts"].isin(Waterfall_Facts)]
Waterfall_PTB= Waterfall_PTB[Waterfall_PTB["Markets"].isin(Waterfall_Markets)]
Waterfall_PTB=Waterfall_PTB[Waterfall_Time_Period_PTB]

In [317]:
print(len(Waterfall_Markets), len(set(Waterfall_PTB["Markets"])))

16 16

In [318]:
set(Waterfall_Markets)-set(Waterfall_PTB["Markets"])

set()

In [319]:
set(Waterfall_PTB["Markets"])

{'AHOLD USA CORP TOTAL CTA',
 'ALBSCO Total Company TA',
 'CVS TOTAL CORP WO HI CENSUS TA',
 'DOL GEN TOTAL CENSUS TA',
 'FAMILY DOLLAR TOTAL CENSUS TRADING AREA',
 'Kmart Total TA',
 'MEIJER TOTAL CENSUS TRADING AREA',
 'PUBLIX TOTAL CENSUS TRADING AREA',
 'RITE AID - TOTAL CENSUS TA',
 'SHOPRITE TOTAL CENSUS TRADING AREA',
 'TARGET TOTAL BM/FF CENSUS TA',
 'TOTAL US DRUG',
 'TOTAL US FOOD',
 'TOTAL US XAOC',
 'TOTAL WALMART TOTAL US CTA',
 'WALGREENS CORP TOTAL CENSUS TA'}

In [320]:
Waterfall_PTB.head(2)

,Markets,ShareBasis,Products,Manufacturer,Franchise,Brand,SubBrand,Facts,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20
520851,MEIJER TOTAL CENSUS TRADING AREA,BATTERY+HYBRID,BATTERY+HYBRID,,,,,$,726453.56,681029.84,358640.47,343681.9
520854,MEIJER TOTAL CENSUS TRADING AREA,BATTERY+HYBRID,BATTERY+HYBRID,,,,,$ Shr - CP CATEGORY,100.00,100.00,100.00,100.0

**Column name Change**

In [321]:
Waterfall_PTB.rename(columns={"Markets":"MKT","Products":"PROD","Manufacturer":"CP.MANUFACTURER","ShareBasis":"CP_BATTERY_HYBRID",
                                "Franchise":"CP.FRANCHISE","Brand":"CP.BRAND","SubBrand":"CP.SUBBRAND","Facts":"FCT"},inplace=True)

In [322]:
PTB_power_mapping={
    "POWER":"TOTAL POWER"}
Waterfall_PTB["CP_BATTERY_HYBRID"].replace(PTB_power_mapping,inplace=True)

In [323]:
Waterfall_PTB["CP_SEGMENT"] = "POWER"

In [324]:
count = 0
str = 'FY'
for i in Waterfall_PTB.columns:
    count +=1
print(count)
count+=1
print(count)

13
14

In [325]:
# column_names = list(Waterfall_PTB.columns)
# column_names.insert(count,"CP_SHARE_BASIS")
# column_names.pop(-2)
# print(column_names)

In [326]:
Waterfall_PTB = movecol(Waterfall_PTB, 
             cols_to_move=["CP_SEGMENT"], 
             ref_col='PROD',
             place='After')
Waterfall_PTB.head(3)

,MKT,CP_BATTERY_HYBRID,PROD,CP_SEGMENT,CP.MANUFACTURER,CP.FRANCHISE,CP.BRAND,CP.SUBBRAND,FCT,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20
520851,MEIJER TOTAL CENSUS TRADING AREA,BATTERY+HYBRID,BATTERY+HYBRID,POWER,,,,,$,726453.56,681029.84,358640.47,343681.90
520854,MEIJER TOTAL CENSUS TRADING AREA,BATTERY+HYBRID,BATTERY+HYBRID,POWER,,,,,$ Shr - CP CATEGORY,100.00,100.00,100.00,100.00
520875,MEIJER TOTAL CENSUS TRADING AREA,BATTERY+HYBRID,BATTERY+HYBRID,POWER,,,,,Base $,465692.26,399146.36,219421.96,201014.46

In [327]:
Waterfall_PTB.columns

Index(['MKT', 'CP_BATTERY_HYBRID', 'PROD', 'CP_SEGMENT', 'CP.MANUFACTURER',
       'CP.FRANCHISE', 'CP.BRAND', 'CP.SUBBRAND', 'FCT', 'YTD 2021',
       'YTD 2020', '4 W/E 02/27/21', '4 W/E 02/29/20'],
      dtype='object')

In [328]:
lst = Waterfall_PTB["CP_BATTERY_HYBRID"]
del Waterfall_PTB["CP_BATTERY_HYBRID"]
Waterfall_PTB["CP_BATTERY_HYBRID"] = lst
Waterfall_PTB.columns

Index(['MKT', 'PROD', 'CP_SEGMENT', 'CP.MANUFACTURER', 'CP.FRANCHISE',
       'CP.BRAND', 'CP.SUBBRAND', 'FCT', 'YTD 2021', 'YTD 2020',
       '4 W/E 02/27/21', '4 W/E 02/29/20', 'CP_BATTERY_HYBRID'],
      dtype='object')

In [329]:
Waterfall_PTB.head(3)

,MKT,PROD,CP_SEGMENT,CP.MANUFACTURER,CP.FRANCHISE,CP.BRAND,CP.SUBBRAND,FCT,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20,CP_BATTERY_HYBRID
520851,MEIJER TOTAL CENSUS TRADING AREA,BATTERY+HYBRID,POWER,,,,,$,726453.56,681029.84,358640.47,343681.90,BATTERY+HYBRID
520854,MEIJER TOTAL CENSUS TRADING AREA,BATTERY+HYBRID,POWER,,,,,$ Shr - CP CATEGORY,100.00,100.00,100.00,100.00,BATTERY+HYBRID
520875,MEIJER TOTAL CENSUS TRADING AREA,BATTERY+HYBRID,POWER,,,,,Base $,465692.26,399146.36,219421.96,201014.46,BATTERY+HYBRID

In [330]:
Waterfall_PTB["X"] = ""
for i in range(0,len(Waterfall_PTB)):
    if (Waterfall_PTB["CP_BATTERY_HYBRID"].iloc[i] == "BATTERY+HYBRID") & (Waterfall_PTB["FCT"].iloc[i] == "$ Shr - CP CATEGORY"):
        Waterfall_PTB["X"].iloc[i] = "Battery+Hybrid $ Share"
    elif (Waterfall_PTB["CP_BATTERY_HYBRID"].iloc[i] == "TOTAL POWER") & (Waterfall_PTB["FCT"].iloc[i] == "$ Shr - CP CATEGORY"):
        Waterfall_PTB["X"].iloc[i] = "Powered $ Share"
    else:
        Waterfall_PTB["X"].iloc[i] = Waterfall_PTB["FCT"].iloc[i]
    #Waterfall_PTB[""].iloc[i] = Waterfall_PTB["SubBrand"].iloc[i] +" "+Waterfall_PTB["Container"].iloc[i]
Waterfall_PTB.head(5)

,MKT,PROD,CP_SEGMENT,CP.MANUFACTURER,CP.FRANCHISE,CP.BRAND,CP.SUBBRAND,FCT,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20,CP_BATTERY_HYBRID,X
520851,MEIJER TOTAL CENSUS TRADING AREA,BATTERY+HYBRID,POWER,,,,,$,726453.560,681029.84,358640.470,343681.90,BATTERY+HYBRID,$
520854,MEIJER TOTAL CENSUS TRADING AREA,BATTERY+HYBRID,POWER,,,,,$ Shr - CP CATEGORY,100.000,100.00,100.000,100.00,BATTERY+HYBRID,Battery+Hybrid $ Share
520875,MEIJER TOTAL CENSUS TRADING AREA,BATTERY+HYBRID,POWER,,,,,Base $,465692.260,399146.36,219421.960,201014.46,BATTERY+HYBRID,Base $
520908,MEIJER TOTAL CENSUS TRADING AREA,BATTERY+HYBRID | COLGATE-PALMOLIVE,POWER,COLGATE-PALMOLIVE,,,,$,106683.990,153778.54,52393.960,75644.66,BATTERY+HYBRID,$
520911,MEIJER TOTAL CENSUS TRADING AREA,BATTERY+HYBRID | COLGATE-PALMOLIVE,POWER,COLGATE-PALMOLIVE,,,,$ Shr - CP CATEGORY,14.686,22.58,14.609,22.01,BATTERY+HYBRID,Battery+Hybrid $ Share

In [331]:
set(Waterfall_PTB["X"])

{'$',
 'Base $',
 'Battery+Hybrid $ Share',
 'Disp w/o Feat $',
 'Feat & Disp $',
 'Feat w/o Disp $',
 'No Promo Incr $',
 'Powered $ Share',
 'Price Decr Only $'}

In [332]:
Waterfall_PTB["FCT"] = Waterfall_PTB["X"]

In [333]:
del Waterfall_PTB["X"]

In [334]:
set(Waterfall_PTB["MKT"])

{'AHOLD USA CORP TOTAL CTA',
 'ALBSCO Total Company TA',
 'CVS TOTAL CORP WO HI CENSUS TA',
 'DOL GEN TOTAL CENSUS TA',
 'FAMILY DOLLAR TOTAL CENSUS TRADING AREA',
 'Kmart Total TA',
 'MEIJER TOTAL CENSUS TRADING AREA',
 'PUBLIX TOTAL CENSUS TRADING AREA',
 'RITE AID - TOTAL CENSUS TA',
 'SHOPRITE TOTAL CENSUS TRADING AREA',
 'TARGET TOTAL BM/FF CENSUS TA',
 'TOTAL US DRUG',
 'TOTAL US FOOD',
 'TOTAL US XAOC',
 'TOTAL WALMART TOTAL US CTA',
 'WALGREENS CORP TOTAL CENSUS TA'}

**Fact Name Change**

In [335]:
Waterfall_PTB["FCT"].replace(Waterfall_Fact_Mapping,inplace=True)

In [336]:
Waterfall_PTB.head(2)

,MKT,PROD,CP_SEGMENT,CP.MANUFACTURER,CP.FRANCHISE,CP.BRAND,CP.SUBBRAND,FCT,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20,CP_BATTERY_HYBRID
520851,MEIJER TOTAL CENSUS TRADING AREA,BATTERY+HYBRID,POWER,,,,,Dollars,726453.56,681029.84,358640.47,343681.9,BATTERY+HYBRID
520854,MEIJER TOTAL CENSUS TRADING AREA,BATTERY+HYBRID,POWER,,,,,Battery+Hybrid $ Share,100.00,100.00,100.00,100.0,BATTERY+HYBRID

In [337]:
Fact_order_1 = ["Baseline $","Incr.$ w/No Promo","Incr.$ w/Ftr w/o Disp","Incr.$ w/Disp w/o Ftr","Incr.$ w/Ftr & Disp",
              "Incr.$ w/TPR","Dollars","Battery+Hybrid $ Share","Powered $ Share"]

Fact_order = CategoricalDtype(
    Fact_order_1, 
    ordered=True
)


Waterfall_PTB['FCT'] = Waterfall_PTB['FCT'].astype(Fact_order)

Waterfall_PTB.sort_values(['MKT','PROD','FCT'],inplace=True)

## **Waterfall_Manu**

In [338]:
Waterfall_Manu=Waterfall_PTB.loc[(Waterfall_PTB["CP.SUBBRAND"]=="") & (Waterfall_PTB["CP.BRAND"]=="")&(Waterfall_PTB["CP.FRANCHISE"]=="")&(Waterfall_PTB["CP.MANUFACTURER"]!="")]

In [339]:
Waterfall_Manu["Record_ID"]=range(1,len(Waterfall_Manu)+1)

In [340]:
Waterfall_Manu.to_csv(path_PTB+"Waterfall_Manu.csv",index=False)

## **Waterfall_Fran**

In [341]:
Waterfall_Fran=Waterfall_PTB.loc[(Waterfall_PTB["CP.SUBBRAND"]=="") & (Waterfall_PTB["CP.BRAND"]=="")&(Waterfall_PTB["CP.FRANCHISE"]!="")]

In [342]:
Waterfall_Fran["Record_ID"]=range(1,len(Waterfall_Fran)+1)

In [343]:
Waterfall_Fran.to_csv(path_PTB+"Waterfall_Fran.csv",index=False)

## **Waterfall_Brand**

In [344]:
Waterfall_Brand=Waterfall_PTB.loc[(Waterfall_PTB["CP.SUBBRAND"]=="") & (Waterfall_PTB["CP.BRAND"]!="")]

In [345]:
Waterfall_Cat=Waterfall_PTB.loc[(Waterfall_PTB["CP.SUBBRAND"]=="") & (Waterfall_PTB["CP.BRAND"]=="")&(Waterfall_PTB["CP.FRANCHISE"]=="")&(Waterfall_PTB["CP.MANUFACTURER"]=="")]

In [346]:
Waterfall_Cat_Brand=pd.concat([Waterfall_Cat,Waterfall_Brand],axis=0)

In [347]:
Waterfall_Cat_Brand['FCT'] = Waterfall_Cat_Brand['FCT'].astype(Fact_order)

Waterfall_Cat_Brand.sort_values(['MKT','PROD','FCT'],inplace=True)

In [348]:
Waterfall_Cat_Brand["Record_ID"]=range(1,len(Waterfall_Cat_Brand)+1)

In [349]:
Waterfall_Cat_Brand.to_csv(path_PTB+"Waterfall Brand.csv",index=False)

## Waterfall_SubBrand

In [350]:
Waterfall_SubBrand=Waterfall_PTB.loc[(Waterfall_PTB["CP.SUBBRAND"]!="")]

In [351]:
Waterfall_SubBrand["Record_ID"]=range(1,len(Waterfall_SubBrand)+1)

In [352]:
Waterfall_SubBrand.to_csv(path_PTB+"Waterfall Sub_Brand.csv",index=False)

# BW

In [353]:
# path to store OuMWut files

path_BW="//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/05. Output Data/5P Output/BW/"

**Filtering BW Data**

In [354]:
Data_5p_BW=Data_5p.loc[Data_5p["Category"]=="BW"]

## Promotion Data BW

In [355]:
BW_Promo= Data_5p_BW.copy()

In [356]:
set(Promo_Facts) - set(BW_Promo['Facts'])

set()

In [357]:
Promo_Markets=["US AOC","Ahold","Alb/Sfy","BJs","CVS","Dollar General","Family Dollar","Meijer","Publix",
         "Rite Aid","Giant Eagle","Shoprite","Target","US Drug","US Food","Walgreens","Walmart", "Kmart", "Wegmans"]

In [358]:
# Filter Data based on Promo selection
BW_Promo= BW_Promo[BW_Promo["Facts"].isin(Promo_Facts)]
BW_Promo= BW_Promo[BW_Promo["Markets"].isin(Promo_Markets)]
BW_Promo=BW_Promo[Promo_Time_Period]

In [359]:
print(len(Promo_Markets), len(set(BW_Promo["Markets"])))

19 19

**Fact Name Change**

In [360]:
BW_Promo["Facts"].replace(Promo_Fact_Mapping,inplace=True)

In [361]:
BW_Promo.shape

(72120, 26)

**Column name Change**

In [362]:
BW_Promo.rename(columns={"Markets":"MKT","ShareBasis":"CP_CATEGORY","Products":"PROD","Manufacturer":"CP_MANUFACTURER",
                                "Franchise":"CP_FRANCHISE","Brand":"CP_BRAND","SubBrand":"CP_SUBBRAND","Facts":"FCT"},inplace=True)

In [363]:
BW_Promo.head(2)

,MKT,PROD,CP_CATEGORY,Category,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND,FCT,4 W/E 02/27/21,...,4 W/E 05/02/20,4 W/E 05/30/20,5 W/E 07/04/20,4 W/E 08/01/20,4 W/E 08/29/20,5 W/E 10/03/20,4 W/E 10/31/20,4 W/E 11/28/20,5 W/E 01/02/21,4 W/E 01/30/21
622295,US AOC,BODYWASH,BODYWASH,BW,,,,,% Dollars w/Any Promo,21.791,...,17.865,19.696,21.342,24.515,24.419,22.768,23.297,23.609,21.595,24.920
622296,US AOC,BODYWASH,BODYWASH,BW,,,,,% Dollars w/Any Promo YAG Chg,-6.037,...,-11.510,-12.818,-8.206,-4.487,-4.954,-4.358,-3.331,-4.699,-8.756,-6.345

In [364]:
# del BW_Promo["ShareBasis"]
del BW_Promo["Category"]

In [365]:
Fact_order = CategoricalDtype(
    sorted(list(set(BW_Promo["FCT"]))), 
    ordered=True
)

BW_Promo['FCT'] = BW_Promo['FCT'].astype(Fact_order)

BW_Promo.sort_values(['MKT','PROD','FCT'],inplace=True)

## **promo_category**

In [366]:
promo_category=BW_Promo.loc[(BW_Promo["CP_SUBBRAND"]=="") & (BW_Promo["CP_BRAND"]=="")&(BW_Promo["CP_FRANCHISE"]=="")&(BW_Promo["CP_MANUFACTURER"].isin(["MALE","FEMALE",""]))]

In [367]:
length= len(promo_category)
promo_category["Record_ID"]=range(1,length+1)

In [368]:
promo_category.head(2)

,MKT,PROD,CP_CATEGORY,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND,FCT,4 W/E 02/27/21,Latest 13 Weeks,...,4 W/E 05/30/20,5 W/E 07/04/20,4 W/E 08/01/20,4 W/E 08/29/20,5 W/E 10/03/20,4 W/E 10/31/20,4 W/E 11/28/20,5 W/E 01/02/21,4 W/E 01/30/21,Record_ID
757793,Ahold,BODYWASH,BODYWASH,,,,,$ Share,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,1
757794,Ahold,BODYWASH,BODYWASH,,,,,$ Share YAG Chg,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2

In [369]:
promo_category.to_csv(path_BW+"promo_category.csv",index=False)

## **promo_toplevel**

In [370]:
promo_toplevel=BW_Promo.loc[(BW_Promo["CP_SUBBRAND"]=="") & (BW_Promo["CP_BRAND"]=="")&(BW_Promo["CP_FRANCHISE"]=="")&(BW_Promo["CP_MANUFACTURER"]!="")]

In [371]:
# Blank row 0th position
df1=pd.DataFrame([[np.nan]*len(promo_toplevel.columns)],columns=promo_toplevel.columns)
promo_toplevel=df1.append(promo_toplevel,ignore_index=True)

In [372]:
length= len(promo_toplevel)
promo_toplevel["Record_ID"]=range(1,length+1)

In [373]:
promo_toplevel.to_csv(path_BW+"promo_toplevel.csv",index=False)

## **promo_franchise**

In [374]:
promo_franchise=BW_Promo.loc[(BW_Promo["CP_SUBBRAND"]=="") & (BW_Promo["CP_BRAND"]=="")&(BW_Promo["CP_FRANCHISE"]!="")]

In [375]:
length= len(promo_franchise)
promo_franchise["Record_ID"]=range(1,length+1)

In [376]:
promo_franchise.to_csv(path_BW+"promo_franchise.csv",index=False)

## **promo_brand_promo**

In [377]:
promo_brand_promo=BW_Promo.loc[(BW_Promo["CP_SUBBRAND"]=="") & (BW_Promo["CP_BRAND"]!="")]

In [378]:
length= len(promo_brand_promo)
promo_brand_promo["Record_ID"]=range(1,length+1)

In [379]:
promo_brand_promo.to_csv(path_BW+"promo_brand_promo.csv",index=False)

## **promo_subbrand_promo**

In [380]:
promo_subbrand_promo=BW_Promo.loc[(BW_Promo["CP_SUBBRAND"]!="")]

In [381]:
length= len(promo_subbrand_promo)
promo_subbrand_promo["Record_ID"]=range(1,length+1)

In [382]:
promo_subbrand_promo.to_csv(path_BW+"promo_subbrand_promo.csv",index=False)

## Waterfall

In [383]:
Waterfall_BW=Data_5p_BW.copy()

In [384]:
Waterfall_Markets = ["Ahold","Alb/Sfy","BJs","CVS","Dollar General","Family Dollar","Giant Eagle","Kmart","Meijer","Publix","Rite Aid","Shoprite","Target","US AOC","US Drug","US Food","Walgreens","Walmart","Wegmans"]

In [385]:
Waterfall_Fact_Mapping={
    "No Promo Incr $":"Incr.$ w/No Promo",
    "Feat w/o Disp $":"Incr.$ w/Ftr w/o Disp",
    "Disp w/o Feat $":"Incr.$ w/Disp w/o Ftr",
    "Feat & Disp $":"Incr.$ w/Ftr & Disp",
    "Price Decr Only $":"Incr.$ w/TPR",
    "$":"Dollars",
    "$ Shr - CP CATEGORY":"Bodywash $ Share",
    "Base $":"Baseline $"
}

**Facts, Markets, Time_Period Filter**

In [386]:
Waterfall_BW= Waterfall_BW[Waterfall_BW["Facts"].isin(Waterfall_Facts)]
Waterfall_BW= Waterfall_BW[Waterfall_BW["Markets"].isin(Waterfall_Markets)]
Waterfall_BW=Waterfall_BW[Waterfall_Time_Period]

**Market Mapping**

In [387]:
Waterfall_BW["Markets"].replace(Waterfall_Market_Mapping,inplace=True)

In [388]:
print(len(Waterfall_Markets), len(set(Waterfall_BW["Markets"])))

19 19

In [389]:
set(Waterfall_BW["Markets"])

{'AHOLD USA CORP TOTAL CTA',
 'ALBSCO Total Company TA',
 'BJS TOTAL CENSUS TA',
 'CVS TOTAL CORP WO HI CENSUS TA',
 'DOL GEN TOTAL CENSUS TA',
 'FAMILY DOLLAR TOTAL CENSUS TRADING AREA',
 'Giant Eagle Total TA',
 'Kmart Total TA',
 'MEIJER TOTAL CENSUS TRADING AREA',
 'PUBLIX TOTAL CENSUS TRADING AREA',
 'RITE AID - TOTAL CENSUS TA',
 'SHOPRITE TOTAL CENSUS TRADING AREA',
 'TARGET TOTAL BM/FF CENSUS TA',
 'TOTAL US DRUG',
 'TOTAL US FOOD',
 'TOTAL US XAOC',
 'TOTAL WALMART TOTAL US CTA',
 'WALGREENS CORP TOTAL CENSUS TA',
 'Wegmans Total TA'}

**Column name Change**

In [390]:
Waterfall_BW.rename(columns={"Markets":"MKT","Products":"PROD","Manufacturer":"CP.MANUFACTURER",
                                "Franchise":"CP.FRANCHISE","Brand":"CP.BRAND","SubBrand":"CP.SUBBRAND","Facts":"FCT"},inplace=True)

**Fact Name Change**

In [391]:
Waterfall_BW["FCT"].replace(Waterfall_Fact_Mapping,inplace=True)

In [392]:
set(Waterfall_BW["FCT"])

{'Baseline $',
 'Bodywash $ Share',
 'Dollars',
 'Incr.$ w/Disp w/o Ftr',
 'Incr.$ w/Ftr & Disp',
 'Incr.$ w/Ftr w/o Disp',
 'Incr.$ w/No Promo',
 'Incr.$ w/TPR'}

In [393]:
Waterfall_BW.head(2)

,MKT,PROD,CP.MANUFACTURER,CP.FRANCHISE,CP.BRAND,CP.SUBBRAND,FCT,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20
622301,TOTAL US XAOC,BODYWASH,,,,,Dollars,4.086469e+08,3.864052e+08,2.026828e+08,2.022988e+08
622304,TOTAL US XAOC,BODYWASH,,,,,Bodywash $ Share,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02

In [394]:
Fact_order_1 = ["Baseline $","Incr.$ w/No Promo","Incr.$ w/Ftr w/o Disp","Incr.$ w/Disp w/o Ftr","Incr.$ w/Ftr & Disp",
              "Incr.$ w/TPR","Dollars","Bodywash $ Share"]

Fact_order = CategoricalDtype(
    Fact_order_1, 
    ordered=True
)


Waterfall_BW['FCT'] = Waterfall_BW['FCT'].astype(Fact_order)

Waterfall_BW.sort_values(['MKT','PROD','FCT'],inplace=True)

## **Waterfall_Manu**

In [395]:
Waterfall_Manu=Waterfall_BW.loc[(Waterfall_BW["CP.SUBBRAND"]=="") & (Waterfall_BW["CP.BRAND"]=="")&(Waterfall_BW["CP.FRANCHISE"]=="")&(Waterfall_BW["CP.MANUFACTURER"]!="")]

In [396]:
Waterfall_Manu["Record_ID"]=range(1,len(Waterfall_Manu)+1)

In [397]:
Waterfall_Manu.to_csv(path_BW+"Waterfall_Manu.csv",index=False)

## **Waterfall_Fran**

In [398]:
Waterfall_Fran=Waterfall_BW.loc[(Waterfall_BW["CP.SUBBRAND"]=="") & (Waterfall_BW["CP.BRAND"]=="")&(Waterfall_BW["CP.FRANCHISE"]!="")]

In [399]:
Waterfall_Fran["Record_ID"]=range(1,len(Waterfall_Fran)+1)

In [400]:
Waterfall_Fran.to_csv(path_BW+"Waterfall_Fran.csv",index=False)

## **Waterfall_Brand**

In [401]:
Waterfall_Brand=Waterfall_BW.loc[(Waterfall_BW["CP.SUBBRAND"]=="") & (Waterfall_BW["CP.BRAND"]!="")]

In [402]:
Waterfall_Cat=Waterfall_BW.loc[(Waterfall_BW["CP.SUBBRAND"]=="") & (Waterfall_BW["CP.BRAND"]=="")&(Waterfall_BW["CP.FRANCHISE"]=="")&(Waterfall_BW["CP.MANUFACTURER"]=="")]

In [403]:
Waterfall_Cat_Brand=pd.concat([Waterfall_Cat,Waterfall_Brand],axis=0)

In [404]:
Waterfall_Cat_Brand['FCT'] = Waterfall_Cat_Brand['FCT'].astype(Fact_order)

Waterfall_Cat_Brand.sort_values(['MKT','PROD','FCT'],inplace=True)

In [405]:
Waterfall_Cat_Brand["Record_ID"]=range(1,len(Waterfall_Cat_Brand)+1)

In [406]:
Waterfall_Cat_Brand.to_csv(path_BW+"Waterfall Brand.csv",index=False)

## Waterfall_SubBrand

In [407]:
Waterfall_SubBrand=Waterfall_BW.loc[(Waterfall_BW["CP.SUBBRAND"]!="")]

In [408]:
Waterfall_SubBrand["Record_ID"]=range(1,len(Waterfall_SubBrand)+1)

In [409]:
Waterfall_SubBrand.to_csv(path_BW+"Waterfall Sub_Brand.csv",index=False)

# BAR

In [410]:
# path to store OuMWut files

path_BAR="//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/05. Output Data/5P Output/BAR/"

**Filtering MW Data**

In [411]:
Data_5p_BAR=Data_5p.loc[Data_5p["Category"]=="BAR"]

## Promotion Data BAR

In [412]:
BAR_Promo= Data_5p_BAR.copy()

In [413]:
set(Promo_Facts) - set(BAR_Promo['Facts'])

set()

In [414]:
Promo_Markets=["US AOC","Ahold","Alb/Sfy","BJs","CVS","Dollar General","Family Dollar","Publix",
         "Rite Aid","Sams","Shoprite","Target","US Drug","US Food","Walgreens","Walmart", "Kmart"]

In [415]:
# Filter Data based on Promo selection
BAR_Promo= BAR_Promo[BAR_Promo["Facts"].isin(Promo_Facts)]
BAR_Promo= BAR_Promo[BAR_Promo["Markets"].isin(Promo_Markets)]
BAR_Promo=BAR_Promo[Promo_Time_Period]

In [416]:
print(len(Promo_Markets), len(set(BAR_Promo["Markets"])))

17 17

**Fact Name Change**

In [417]:
BAR_Promo["Facts"].replace(Promo_Fact_Mapping,inplace=True)

In [418]:
BAR_Promo.shape

(32100, 26)

**Column name Change**

In [419]:
BAR_Promo.rename(columns={"Markets":"MKT","ShareBasis":"CP_CATEGORY","Products":"PROD","Manufacturer":"CP_MANUFACTURER",
                                "Franchise":"CP_FRANCHISE","Brand":"CP_BRAND","SubBrand":"CP_SUBBRAND","Facts":"FCT"},inplace=True)

In [420]:
BAR_Promo.head(2)

,MKT,PROD,CP_CATEGORY,Category,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND,FCT,4 W/E 02/27/21,...,4 W/E 05/02/20,4 W/E 05/30/20,5 W/E 07/04/20,4 W/E 08/01/20,4 W/E 08/29/20,5 W/E 10/03/20,4 W/E 10/31/20,4 W/E 11/28/20,5 W/E 01/02/21,4 W/E 01/30/21
320785,US AOC,BAR,BAR,BAR,,,,,% Dollars w/Any Promo,20.761,...,14.534,13.823,17.987,17.141,17.116,22.021,18.997,20.349,19.978,30.051
320786,US AOC,BAR,BAR,BAR,,,,,% Dollars w/Any Promo YAG Chg,-3.410,...,-7.732,-14.859,-4.994,-2.792,-8.459,-2.392,-1.936,-0.852,-1.481,2.084

In [421]:
# del BAR_Promo["ShareBasis"]
del BAR_Promo["Category"]

In [422]:
Fact_order = CategoricalDtype(
    sorted(list(set(BAR_Promo["FCT"]))), 
    ordered=True
)

BAR_Promo['FCT'] = BAR_Promo['FCT'].astype(Fact_order)

BAR_Promo.sort_values(['MKT','PROD','FCT'],inplace=True)

## **promo_category**

In [423]:
promo_category=BAR_Promo.loc[(BAR_Promo["CP_SUBBRAND"]=="") & (BAR_Promo["CP_BRAND"]=="")&(BAR_Promo["CP_FRANCHISE"]=="")&(BAR_Promo["CP_MANUFACTURER"]=="")]

In [424]:
length= len(promo_category)
promo_category["Record_ID"]=range(1,length+1)

In [425]:
promo_category.head(2)

,MKT,PROD,CP_CATEGORY,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND,FCT,4 W/E 02/27/21,Latest 13 Weeks,...,4 W/E 05/30/20,5 W/E 07/04/20,4 W/E 08/01/20,4 W/E 08/29/20,5 W/E 10/03/20,4 W/E 10/31/20,4 W/E 11/28/20,5 W/E 01/02/21,4 W/E 01/30/21,Record_ID
404641,Ahold,BAR,BAR,,,,,$ Share,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,1
404642,Ahold,BAR,BAR,,,,,$ Share YAG Chg,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2

In [426]:
promo_category.to_csv(path_BAR+"promo_category.csv",index=False)

## **promo_toplevel**

In [427]:
promo_toplevel=BAR_Promo.loc[(BAR_Promo["CP_SUBBRAND"]=="") & (BAR_Promo["CP_BRAND"]=="")&(BAR_Promo["CP_FRANCHISE"]=="")&(BAR_Promo["CP_MANUFACTURER"]!="")]

In [428]:
# Blank row 0th position
df1=pd.DataFrame([[np.nan]*len(promo_toplevel.columns)],columns=promo_toplevel.columns)
promo_toplevel=df1.append(promo_toplevel,ignore_index=True)

In [429]:
length= len(promo_toplevel)
promo_toplevel["Record_ID"]=range(1,length+1)

In [430]:
promo_toplevel.to_csv(path_BAR+"promo_toplevel.csv",index=False)

## **promo_franchise**

In [431]:
promo_franchise=BAR_Promo.loc[(BAR_Promo["CP_SUBBRAND"]=="") & (BAR_Promo["CP_BRAND"]=="")&(BAR_Promo["CP_FRANCHISE"]!="")]

In [432]:
length= len(promo_franchise)
promo_franchise["Record_ID"]=range(1,length+1)

In [433]:
promo_franchise.to_csv(path_BAR+"promo_franchise.csv",index=False)

## **promo_brand_promo**

In [434]:
promo_brand_promo=BAR_Promo.loc[(BAR_Promo["CP_SUBBRAND"]=="") & (BAR_Promo["CP_BRAND"]!="")]

In [435]:
length= len(promo_brand_promo)
promo_brand_promo["Record_ID"]=range(1,length+1)

In [436]:
promo_brand_promo.to_csv(path_BAR+"promo_brand_promo.csv",index=False)

## **promo_subbrand_promo**

In [437]:
promo_subbrand_promo=BAR_Promo.loc[(BAR_Promo["CP_SUBBRAND"]!="")]

In [438]:
length= len(promo_subbrand_promo)
promo_subbrand_promo["Record_ID"]=range(1,length+1)

In [439]:
promo_subbrand_promo.to_csv(path_BAR+"promo_subbrand_promo.csv",index=False)

## Waterfall

In [440]:
Waterfall_BAR=Data_5p_BAR.copy()

In [441]:
Waterfall_Markets=["TOTAL US XAOC","TOTAL US DRUG","TOTAL US FOOD","TOTAL WALMART TOTAL US CTA","TARGET TOTAL BM/FF CENSUS TA",
         "WALGREENS CORP TOTAL CENSUS TA","RITE AID - TOTAL CENSUS TA","SHOPRITE TOTAL CENSUS TRADING AREA",
         "PUBLIX TOTAL CENSUS TRADING AREA","FAMILY DOLLAR TOTAL CENSUS TRADING AREA","DOL GEN TOTAL CENSUS TA",
         "CVS TOTAL CORP WO HI CENSUS TA","SAMS TOTAL CENSUS TRADING AREA","BJS TOTAL CENSUS TA",
         "AHOLD USA CORP TOTAL CTA","ALBSCO Total Company TA","Kmart Total TA" ]

In [442]:
Waterfall_Fact_Mapping={
    "No Promo Incr $":"Incr.$ w/No Promo",
    "Feat w/o Disp $":"Incr.$ w/Ftr w/o Disp",
    "Disp w/o Feat $":"Incr.$ w/Disp w/o Ftr",
    "Feat & Disp $":"Incr.$ w/Ftr & Disp",
    "Price Decr Only $":"Incr.$ w/TPR",
    "$":"Dollars",
    "$ Shr - CP CATEGORY":"Bar $ Share",
    "Base $":"Baseline $"
}

**Market Mapping**

In [443]:
Waterfall_BAR["Markets"].replace(Waterfall_Market_Mapping,inplace=True)

**Facts, Markets, Time_Period Filter**

In [444]:
Waterfall_BAR= Waterfall_BAR[Waterfall_BAR["Facts"].isin(Waterfall_Facts)]
Waterfall_BAR= Waterfall_BAR[Waterfall_BAR["Markets"].isin(Waterfall_Markets)]
Waterfall_BAR=Waterfall_BAR[Waterfall_Time_Period]

In [445]:
print(len(Waterfall_Markets), len(set(Waterfall_BAR["Markets"])))

17 17

In [446]:
set(Waterfall_Markets) - set(Waterfall_BAR["Markets"])

set()

In [447]:
Waterfall_BAR.head(2)

,Markets,Products,Manufacturer,Franchise,Brand,SubBrand,Facts,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20
320791,TOTAL US XAOC,BAR,,,,,$,1.981806e+08,2.166501e+08,9.625412e+07,1.108802e+08
320794,TOTAL US XAOC,BAR,,,,,$ Shr - CP CATEGORY,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02

**Column name Change**

In [448]:
Waterfall_BAR.rename(columns={"Markets":"MKT","Products":"PROD","Manufacturer":"CP.MANUFACTURER",
                                "Franchise":"CP.FRANCHISE","Brand":"CP.BRAND","SubBrand":"CP.SUBBRAND","Facts":"FCT"},inplace=True)

**Fact Name Change**

In [449]:
Waterfall_BAR["FCT"].replace(Waterfall_Fact_Mapping,inplace=True)

In [450]:
set(Waterfall_BAR["FCT"])

{'Bar $ Share',
 'Baseline $',
 'Dollars',
 'Incr.$ w/Disp w/o Ftr',
 'Incr.$ w/Ftr & Disp',
 'Incr.$ w/Ftr w/o Disp',
 'Incr.$ w/No Promo',
 'Incr.$ w/TPR'}

In [451]:
Waterfall_BAR.head(2)

,MKT,PROD,CP.MANUFACTURER,CP.FRANCHISE,CP.BRAND,CP.SUBBRAND,FCT,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20
320791,TOTAL US XAOC,BAR,,,,,Dollars,1.981806e+08,2.166501e+08,9.625412e+07,1.108802e+08
320794,TOTAL US XAOC,BAR,,,,,Bar $ Share,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02

In [452]:
Fact_order_1 = ["Baseline $","Incr.$ w/No Promo","Incr.$ w/Ftr w/o Disp","Incr.$ w/Disp w/o Ftr","Incr.$ w/Ftr & Disp",
              "Incr.$ w/TPR","Dollars","Bar $ Share"]

Fact_order = CategoricalDtype(
    Fact_order_1, 
    ordered=True
)


Waterfall_BAR['FCT'] = Waterfall_BAR['FCT'].astype(Fact_order)

Waterfall_BAR.sort_values(['MKT','PROD','FCT'],inplace=True)

## **Waterfall_Manu**

In [453]:
Waterfall_Manu=Waterfall_BAR.loc[(Waterfall_BAR["CP.SUBBRAND"]=="") & (Waterfall_BAR["CP.BRAND"]=="")&(Waterfall_BAR["CP.FRANCHISE"]=="")&(Waterfall_BAR["CP.MANUFACTURER"]!="")]

In [454]:
Waterfall_Manu["Record_ID"]=range(1,len(Waterfall_Manu)+1)

In [455]:
Waterfall_Manu.to_csv(path_BAR+"Waterfall_Manu.csv",index=False)

## **Waterfall_Fran**

In [456]:
Waterfall_Fran=Waterfall_BAR.loc[(Waterfall_BAR["CP.SUBBRAND"]=="") & (Waterfall_BAR["CP.BRAND"]=="")&(Waterfall_BAR["CP.FRANCHISE"]!="")]

In [457]:
Waterfall_Fran["Record_ID"]=range(1,len(Waterfall_Fran)+1)

In [458]:
Waterfall_Fran.to_csv(path_BAR+"Waterfall_Fran.csv",index=False)

## **Waterfall_Brand**

In [459]:
Waterfall_Brand=Waterfall_BAR.loc[(Waterfall_BAR["CP.SUBBRAND"]=="") & (Waterfall_BAR["CP.BRAND"]!="")]

In [460]:
Waterfall_Cat=Waterfall_BAR.loc[(Waterfall_BAR["CP.SUBBRAND"]=="") & (Waterfall_BAR["CP.BRAND"]=="")&(Waterfall_BAR["CP.FRANCHISE"]=="")&(Waterfall_BAR["CP.MANUFACTURER"]=="")]

In [461]:
Waterfall_Cat_Brand=pd.concat([Waterfall_Cat,Waterfall_Brand],axis=0)

In [462]:
Waterfall_Cat_Brand['FCT'] = Waterfall_Cat_Brand['FCT'].astype(Fact_order)

Waterfall_Cat_Brand.sort_values(['MKT','PROD','FCT'],inplace=True)

In [463]:
Waterfall_Cat_Brand["Record_ID"]=range(1,len(Waterfall_Cat_Brand)+1)

In [464]:
Waterfall_Cat_Brand.to_csv(path_BAR+"Waterfall Brand.csv",index=False)

## Waterfall_SubBrand

In [465]:
Waterfall_SubBrand=Waterfall_BAR.loc[(Waterfall_BAR["CP.SUBBRAND"]!="")]

In [466]:
Waterfall_SubBrand["Record_ID"]=range(1,len(Waterfall_SubBrand)+1)

In [467]:
Waterfall_SubBrand.to_csv(path_BAR+"Waterfall Sub_Brand.csv",index=False)

# LHS

In [468]:
# path to store OuMWut files

path_LHS="//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/05. Output Data/5P Output/LHS/"

In [469]:
Data_5p_LHS=Data_5p.copy()

In [470]:
Data_5p.head(3)

,Markets,ShareBasis,Category,Manufacturer,Franchise,Brand,SubBrand,Products,Facts,FY 2020,...,5 W/E 10/03/20,4 W/E 08/29/20,4 W/E 08/01/20,5 W/E 07/04/20,4 W/E 05/30/20,4 W/E 05/02/20,5 W/E 04/04/20,4 W/E 02/29/20,4 W/E 02/01/20,Key
0,US AOC,ABRASIVE,HHC,,,,,ABRASIVE,% $ Any Promo,6.852,...,5.684,5.237,5.397,4.521,5.375,6.757,11.126,8.262,11.107,Total US xAOCABRASIVE
1,US AOC,ABRASIVE,HHC,,,,,ABRASIVE,% $ Any Promo Chg YA,-3.033,...,-1.867,-3.987,-1.106,-5.830,-5.742,-4.454,-2.334,-0.137,2.827,Total US xAOCABRASIVE
2,US AOC,ABRASIVE,HHC,,,,,ABRASIVE,% EQ Any Promo,7.001,...,5.203,4.318,6.266,4.726,5.051,5.970,11.970,10.971,14.294,Total US xAOCABRASIVE

**Filtering LHS Data**

In [471]:
Data_5p_LHS=Data_5p.loc[Data_5p["Category"]=="LHS"]

In [472]:
Data_5p_LHS.head(3)

,Markets,ShareBasis,Category,Manufacturer,Franchise,Brand,SubBrand,Products,Facts,FY 2020,...,5 W/E 10/03/20,4 W/E 08/29/20,4 W/E 08/01/20,5 W/E 07/04/20,4 W/E 05/30/20,4 W/E 05/02/20,5 W/E 04/04/20,4 W/E 02/29/20,4 W/E 02/01/20,Key
1089641,US AOC,LIQUID,LHS,,,,,LIQUID,% $ Any Promo,14.831,...,11.861,11.856,11.091,9.155,7.571,7.477,22.025,33.480,29.680,Total US xAOCLIQUID
1089642,US AOC,LIQUID,LHS,,,,,LIQUID,% $ Any Promo Chg YA,-16.836,...,-20.453,-22.546,-22.074,-19.502,-22.665,-25.559,-11.705,1.357,0.325,Total US xAOCLIQUID
1089643,US AOC,LIQUID,LHS,,,,,LIQUID,% EQ Any Promo,14.596,...,11.686,9.192,9.317,7.540,6.718,6.410,22.209,35.128,28.537,Total US xAOCLIQUID

In [473]:
Data_5p_LHS[['ShareBasis','Franchise','Container','Brand','SubBrand']] = Data_5p_LHS['Products'].str.split('|',n=4,expand=True)
Data_5p_LHS.head(3)

,Markets,ShareBasis,Category,Manufacturer,Franchise,Brand,SubBrand,Products,Facts,FY 2020,...,4 W/E 08/29/20,4 W/E 08/01/20,5 W/E 07/04/20,4 W/E 05/30/20,4 W/E 05/02/20,5 W/E 04/04/20,4 W/E 02/29/20,4 W/E 02/01/20,Key,Container
1089641,US AOC,LIQUID,LHS,,None,None,None,LIQUID,% $ Any Promo,14.831,...,11.856,11.091,9.155,7.571,7.477,22.025,33.480,29.680,Total US xAOCLIQUID,None
1089642,US AOC,LIQUID,LHS,,None,None,None,LIQUID,% $ Any Promo Chg YA,-16.836,...,-22.546,-22.074,-19.502,-22.665,-25.559,-11.705,1.357,0.325,Total US xAOCLIQUID,None
1089643,US AOC,LIQUID,LHS,,None,None,None,LIQUID,% EQ Any Promo,14.596,...,9.192,9.317,7.540,6.718,6.410,22.209,35.128,28.537,Total US xAOCLIQUID,None

In [474]:
Data_5p_LHS[["ShareBasis","Franchise","Brand","SubBrand","Container"]]=Data_5p_LHS[["ShareBasis","Franchise","Brand","SubBrand","Container"]].fillna(value="")
Data_5p_LHS.head(3)

,Markets,ShareBasis,Category,Manufacturer,Franchise,Brand,SubBrand,Products,Facts,FY 2020,...,4 W/E 08/29/20,4 W/E 08/01/20,5 W/E 07/04/20,4 W/E 05/30/20,4 W/E 05/02/20,5 W/E 04/04/20,4 W/E 02/29/20,4 W/E 02/01/20,Key,Container
1089641,US AOC,LIQUID,LHS,,,,,LIQUID,% $ Any Promo,14.831,...,11.856,11.091,9.155,7.571,7.477,22.025,33.480,29.680,Total US xAOCLIQUID,
1089642,US AOC,LIQUID,LHS,,,,,LIQUID,% $ Any Promo Chg YA,-16.836,...,-22.546,-22.074,-19.502,-22.665,-25.559,-11.705,1.357,0.325,Total US xAOCLIQUID,
1089643,US AOC,LIQUID,LHS,,,,,LIQUID,% EQ Any Promo,14.596,...,9.192,9.317,7.540,6.718,6.410,22.209,35.128,28.537,Total US xAOCLIQUID,

In [475]:
Data_5p_LHS = movecol(Data_5p_LHS, 
             cols_to_move=['Container'], 
             ref_col='Franchise',
             place='After')
Data_5p_LHS.head(3)

,Markets,ShareBasis,Category,Manufacturer,Franchise,Container,Brand,SubBrand,Products,Facts,...,5 W/E 10/03/20,4 W/E 08/29/20,4 W/E 08/01/20,5 W/E 07/04/20,4 W/E 05/30/20,4 W/E 05/02/20,5 W/E 04/04/20,4 W/E 02/29/20,4 W/E 02/01/20,Key
1089641,US AOC,LIQUID,LHS,,,,,,LIQUID,% $ Any Promo,...,11.861,11.856,11.091,9.155,7.571,7.477,22.025,33.480,29.680,Total US xAOCLIQUID
1089642,US AOC,LIQUID,LHS,,,,,,LIQUID,% $ Any Promo Chg YA,...,-20.453,-22.546,-22.074,-19.502,-22.665,-25.559,-11.705,1.357,0.325,Total US xAOCLIQUID
1089643,US AOC,LIQUID,LHS,,,,,,LIQUID,% EQ Any Promo,...,11.686,9.192,9.317,7.540,6.718,6.410,22.209,35.128,28.537,Total US xAOCLIQUID

In [476]:
cols=list(Data_5p_LHS.columns[0:9])
Data_5p_LHS[cols]=Data_5p_LHS[cols].apply(lambda x : x.str.strip())
set(Data_5p_LHS['Container'])

{'',
 'DIAL',
 'DOVE',
 'JR WATKINS',
 'LIFEBUOY',
 'LOVE BEAUTY AND PLANET',
 'METHOD',
 'MRS MEYERS',
 'NBD',
 'PRVT LBL',
 'PUMP',
 'REFILL',
 'SAFEGUARD',
 'SEVENTH GEN',
 'SOFTSOAP',
 'SUAVE',
 'TOMS OF MAINE'}

In [477]:
Data_5p_LHS = Data_5p_LHS[Data_5p_LHS["Container"].isin(["","PUMP","REFILL"])]
#Data_5p_LHS=Data_5p_LHS[Data_5p_LHS["Container"].isin(['','REFILL','PUMP'])]

In [478]:
# Data_5p_LHS['Container'] = " "+Data_5p_LHS['Container']
# #def func:
# Data_5p_LHS['Manufacturer'] = Data_5p_LHS['Franchise']
# count=0
# for i in Data_5p_LHS['Container']:
#     if(i==""):
#         Data_5p_LHS['Franchise']==""
#     else Data_5p_LHS['Franchise']=Data_5p_LHS['Franchise']+Data_5p_LHS['Container']

#     if(Data_5p_LHS['Brand']!=""):
#         Data_5p_LHS['Brand'] = Data_5p_LHS['Brand']+Data_5p_LHS['Container']

#     if(Data_5p_LHS['SubBrand']!=""):
#         Data_5p_LHS['SubBrand'] = Data_5p_LHS['SubBrand']+Data_5p_LHS['Container']


#Data_5p_LHS[cols]=Data_5p_LHS[cols].apply(lambda x : x.str.strip())

In [479]:
Data_5p_LHS["Frn"] = ""
for i in range(0,len(Data_5p_LHS)):
    if Data_5p_LHS["Container"].iloc[i] == "":
        Data_5p_LHS["Frn"].iloc[i] = ""
    else:
        Data_5p_LHS["Frn"].iloc[i] = Data_5p_LHS["Franchise"].iloc[i] +" "+Data_5p_LHS["Container"].iloc[i]

In [480]:
Data_5p_LHS["Brn"] = ""
for i in range(0,len(Data_5p_LHS)):
    if Data_5p_LHS["Brand"].iloc[i] == "":
        Data_5p_LHS["Brn"].iloc[i] = ""
    else:
        Data_5p_LHS["Brn"].iloc[i] = Data_5p_LHS["Brand"].iloc[i] +" "+Data_5p_LHS["Container"].iloc[i]

In [481]:
Data_5p_LHS["SubBrn"] = ""
for i in range(0,len(Data_5p_LHS)):
    if Data_5p_LHS["SubBrand"].iloc[i] == "":
        Data_5p_LHS["SubBrn"].iloc[i] = ""
    else:
        Data_5p_LHS["SubBrn"].iloc[i] = Data_5p_LHS["SubBrand"].iloc[i] +" "+Data_5p_LHS["Container"].iloc[i]

In [482]:
Data_5p_LHS['Manufacturer'] = Data_5p_LHS['Franchise']
Data_5p_LHS['Franchise'] = Data_5p_LHS['Frn']
Data_5p_LHS['Brand'] = Data_5p_LHS['Brn']
Data_5p_LHS['SubBrand'] = Data_5p_LHS['SubBrn']

In [483]:
del Data_5p_LHS["Frn"]

In [484]:
del Data_5p_LHS['Container']

In [485]:
Data_5p_LHS.head(3)

,Markets,ShareBasis,Category,Manufacturer,Franchise,Brand,SubBrand,Products,Facts,FY 2020,...,4 W/E 08/01/20,5 W/E 07/04/20,4 W/E 05/30/20,4 W/E 05/02/20,5 W/E 04/04/20,4 W/E 02/29/20,4 W/E 02/01/20,Key,Brn,SubBrn
1089641,US AOC,LIQUID,LHS,,,,,LIQUID,% $ Any Promo,14.831,...,11.091,9.155,7.571,7.477,22.025,33.480,29.680,Total US xAOCLIQUID,,
1089642,US AOC,LIQUID,LHS,,,,,LIQUID,% $ Any Promo Chg YA,-16.836,...,-22.074,-19.502,-22.665,-25.559,-11.705,1.357,0.325,Total US xAOCLIQUID,,
1089643,US AOC,LIQUID,LHS,,,,,LIQUID,% EQ Any Promo,14.596,...,9.317,7.540,6.718,6.410,22.209,35.128,28.537,Total US xAOCLIQUID,,

In [486]:
Data_5p_LHS.shape

(14699, 42)

## Promotion Data LHS

In [487]:
LHS_Promo= Data_5p_LHS.copy()

In [488]:
set(Promo_Facts) - set(LHS_Promo['Facts'])

{'Any Promo %ACV',
 'Any Promo %ACV Chg YA',
 'Disp w/o Feat %ACV',
 'Disp w/o Feat %ACV Chg YA',
 'Feat & Disp %ACV',
 'Feat & Disp %ACV Chg YA',
 'Feat w/o Disp %ACV',
 'Feat w/o Disp %ACV Chg YA'}

In [489]:
Promo_Markets=["US AOC","Ahold","Alb/Sfy","BJs","CVS","Dollar General","Family Dollar","Publix",
         "Rite Aid","Sams","Shoprite","Target","US Drug","US Food","Walgreens","Walmart", "Meijer"]

In [490]:
# Filter Data based on Promo selection
LHS_Promo= LHS_Promo[LHS_Promo["Facts"].isin(Promo_Facts)]
LHS_Promo= LHS_Promo[LHS_Promo["Markets"].isin(Promo_Markets)]
LHS_Promo=LHS_Promo[Promo_Time_Period]

In [491]:
print(len(Promo_Markets), len(set(LHS_Promo["Markets"])))

17 17

**Fact Name Change**

In [492]:
LHS_Promo["Facts"].replace(Promo_Fact_Mapping,inplace=True)

In [493]:
LHS_Promo.shape

(4862, 26)

**Column name Change**

In [494]:
LHS_Promo.rename(columns={"Markets":"MKT","ShareBasis":"CP_CATEGORY","Products":"PROD","Manufacturer":"CP_MANUFACTURER",
                                "Franchise":"CP_FRANCHISE","Brand":"CP_BRAND","SubBrand":"CP_SUBBRAND","Facts":"FCT"},inplace=True)

In [495]:
LHS_Promo.head(2)

,MKT,PROD,CP_CATEGORY,Category,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND,FCT,4 W/E 02/27/21,...,4 W/E 05/02/20,4 W/E 05/30/20,5 W/E 07/04/20,4 W/E 08/01/20,4 W/E 08/29/20,5 W/E 10/03/20,4 W/E 10/31/20,4 W/E 11/28/20,5 W/E 01/02/21,4 W/E 01/30/21
1089641,US AOC,LIQUID,LIQUID,LHS,,,,,% Dollars w/Any Promo,14.686,...,7.477,7.571,9.155,11.091,11.856,11.861,14.357,12.52,15.309,12.909
1089642,US AOC,LIQUID,LIQUID,LHS,,,,,% Dollars w/Any Promo YAG Chg,-18.794,...,-25.559,-22.665,-19.502,-22.074,-22.546,-20.453,-18.955,-18.79,-13.251,-16.771

In [496]:
# del LHS_Promo["ShareBasis"]
del LHS_Promo["Category"]

In [497]:
Fact_order = CategoricalDtype(
    sorted(list(set(LHS_Promo["FCT"]))), 
    ordered=True
)

LHS_Promo['FCT'] = LHS_Promo['FCT'].astype(Fact_order)

LHS_Promo.sort_values(['MKT','PROD','FCT'],inplace=True)

## **promo_category**

In [498]:
promo_category=LHS_Promo.loc[(LHS_Promo["CP_SUBBRAND"]=="") & (LHS_Promo["CP_BRAND"]=="")&(LHS_Promo["CP_FRANCHISE"]=="")&(LHS_Promo["CP_MANUFACTURER"]=="")]

In [499]:
length= len(promo_category)
promo_category["Record_ID"]=range(1,length+1)

In [500]:
promo_category.head(2)

,MKT,PROD,CP_CATEGORY,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND,FCT,4 W/E 02/27/21,Latest 13 Weeks,...,4 W/E 05/30/20,5 W/E 07/04/20,4 W/E 08/01/20,4 W/E 08/29/20,5 W/E 10/03/20,4 W/E 10/31/20,4 W/E 11/28/20,5 W/E 01/02/21,4 W/E 01/30/21,Record_ID
1163522,Ahold,LIQUID,LIQUID,,,,,$ Share,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,1
1163523,Ahold,LIQUID,LIQUID,,,,,$ Share YAG Chg,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2

In [501]:
promo_category.to_csv(path_LHS+"promo_category.csv",index=False)

## **promo_toplevel**

In [502]:
promo_toplevel=LHS_Promo.loc[(LHS_Promo["CP_SUBBRAND"]=="") & (LHS_Promo["CP_BRAND"]=="")&(LHS_Promo["CP_FRANCHISE"]=="")&(LHS_Promo["CP_MANUFACTURER"]!="")]

In [503]:
# Blank row 0th position
df1=pd.DataFrame([[np.nan]*len(promo_toplevel.columns)],columns=promo_toplevel.columns)
promo_toplevel=df1.append(promo_toplevel,ignore_index=True)

In [504]:
length= len(promo_toplevel)
promo_toplevel["Record_ID"]=range(1,length+1)

In [505]:
promo_toplevel.to_csv(path_LHS+"promo_toplevel.csv",index=False)

## **promo_franchise**

In [506]:
promo_franchise=LHS_Promo.loc[(LHS_Promo["CP_SUBBRAND"]=="") & (LHS_Promo["CP_BRAND"]=="")&(LHS_Promo["CP_FRANCHISE"]!="")]

In [507]:
length= len(promo_franchise)
promo_franchise["Record_ID"]=range(1,length+1)

In [508]:
promo_franchise.to_csv(path_LHS+"promo_franchise.csv",index=False)

## **promo_brand_promo**

In [509]:
promo_brand_promo=LHS_Promo.loc[(LHS_Promo["CP_SUBBRAND"]=="") & (LHS_Promo["CP_BRAND"]!="")]

In [510]:
length= len(promo_brand_promo)
promo_brand_promo["Record_ID"]=range(1,length+1)

In [511]:
promo_brand_promo.to_csv(path_LHS+"promo_brand_promo.csv",index=False)

## **promo_subbrand_promo**

In [512]:
promo_subbrand_promo=LHS_Promo.loc[(LHS_Promo["CP_SUBBRAND"]!="")]

In [513]:
length= len(promo_subbrand_promo)
promo_subbrand_promo["Record_ID"]=range(1,length+1)

In [514]:
promo_subbrand_promo.to_csv(path_LHS+"promo_subbrand_promo.csv",index=False)

## Waterfall

In [515]:
Waterfall_LHS=Data_5p_LHS.copy()

In [516]:
Waterfall_Markets=["TOTAL US XAOC","TOTAL US DRUG","TOTAL US FOOD","TOTAL WALMART TOTAL US CTA","TARGET TOTAL BM/FF CENSUS TA",
         "WALGREENS CORP TOTAL CENSUS TA","RITE AID - TOTAL CENSUS TA","SHOPRITE TOTAL CENSUS TRADING AREA",
         "PUBLIX TOTAL CENSUS TRADING AREA","FAMILY DOLLAR TOTAL CENSUS TRADING AREA","DOL GEN TOTAL CENSUS TA",
         "CVS TOTAL CORP WO HI CENSUS TA","SAMS TOTAL CENSUS TRADING AREA","BJS TOTAL CENSUS TA",
         "AHOLD USA CORP TOTAL CTA","ALBSCO Total Company TA","Meijer Total TA" ]

In [517]:
Waterfall_Fact_Mapping={
    "No Promo Incr $":"Incr.$ w/No Promo",
    "Feat w/o Disp $":"Incr.$ w/Ftr w/o Disp",
    "Disp w/o Feat $":"Incr.$ w/Disp w/o Ftr",
    "Feat & Disp $":"Incr.$ w/Ftr & Disp",
    "Price Decr Only $":"Incr.$ w/TPR",
    "$":"Dollars",
    "$ Shr - CP CATEGORY":"Liq $ Share",
    "Base $":"Baseline $"
}

**Market Mapping**

In [518]:
Waterfall_LHS["Markets"].replace(Waterfall_Market_Mapping,inplace=True)

**Facts, Markets, Time_Period Filter**

In [519]:
Waterfall_LHS= Waterfall_LHS[Waterfall_LHS["Facts"].isin(Waterfall_Facts)]
Waterfall_LHS= Waterfall_LHS[Waterfall_LHS["Markets"].isin(Waterfall_Markets)]
Waterfall_LHS=Waterfall_LHS[Waterfall_Time_Period]

In [520]:
print(len(Waterfall_Markets), len(set(Waterfall_LHS["Markets"])))

17 16

In [521]:
set(Waterfall_Markets) - set(Waterfall_LHS["Markets"])

{'Meijer Total TA'}

In [522]:
set(Waterfall_LHS["Markets"])

{'AHOLD USA CORP TOTAL CTA',
 'ALBSCO Total Company TA',
 'BJS TOTAL CENSUS TA',
 'CVS TOTAL CORP WO HI CENSUS TA',
 'DOL GEN TOTAL CENSUS TA',
 'FAMILY DOLLAR TOTAL CENSUS TRADING AREA',
 'PUBLIX TOTAL CENSUS TRADING AREA',
 'RITE AID - TOTAL CENSUS TA',
 'SAMS TOTAL CENSUS TRADING AREA',
 'SHOPRITE TOTAL CENSUS TRADING AREA',
 'TARGET TOTAL BM/FF CENSUS TA',
 'TOTAL US DRUG',
 'TOTAL US FOOD',
 'TOTAL US XAOC',
 'TOTAL WALMART TOTAL US CTA',
 'WALGREENS CORP TOTAL CENSUS TA'}

In [523]:
Waterfall_LHS.head(2)

,Markets,Products,Manufacturer,Franchise,Brand,SubBrand,Facts,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20
1089647,TOTAL US XAOC,LIQUID,,,,,$,1.482784e+08,1.251868e+08,7.059416e+07,6.684295e+07
1089650,TOTAL US XAOC,LIQUID,,,,,$ Shr - CP CATEGORY,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02

**Column name Change**

In [524]:
Waterfall_LHS.rename(columns={"Markets":"MKT","Products":"PROD","Manufacturer":"CP.MANUFACTURER",
                                "Franchise":"CP.FRANCHISE","Brand":"CP.BRAND","SubBrand":"CP.SUBBRAND","Facts":"FCT"},inplace=True)

**Fact Name Change**

In [525]:
Waterfall_LHS["FCT"].replace(Waterfall_Fact_Mapping,inplace=True)

In [526]:
Waterfall_LHS.head(2)

,MKT,PROD,CP.MANUFACTURER,CP.FRANCHISE,CP.BRAND,CP.SUBBRAND,FCT,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20
1089647,TOTAL US XAOC,LIQUID,,,,,Dollars,1.482784e+08,1.251868e+08,7.059416e+07,6.684295e+07
1089650,TOTAL US XAOC,LIQUID,,,,,Liq $ Share,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02

In [527]:
Fact_order_1 = ["Baseline $","Incr.$ w/No Promo","Incr.$ w/Ftr w/o Disp","Incr.$ w/Disp w/o Ftr","Incr.$ w/Ftr & Disp",
              "Incr.$ w/TPR","Dollars","Liq $ Share"]

Fact_order = CategoricalDtype(
    Fact_order_1, 
    ordered=True
)


Waterfall_LHS['FCT'] = Waterfall_LHS['FCT'].astype(Fact_order)

Waterfall_LHS.sort_values(['MKT','PROD','FCT'],inplace=True)

## **Waterfall_Manu**

In [528]:
Waterfall_Manu=Waterfall_LHS.loc[(Waterfall_LHS["CP.SUBBRAND"]=="") & (Waterfall_LHS["CP.BRAND"]=="")&(Waterfall_LHS["CP.FRANCHISE"]=="")&(Waterfall_LHS["CP.MANUFACTURER"]!="")]

In [529]:
Waterfall_Manu["Record_ID"]=range(1,len(Waterfall_Manu)+1)

In [530]:
Waterfall_Manu.to_csv(path_LHS+"Waterfall_Manu.csv",index=False)

## **Waterfall_Fran**

In [531]:
Waterfall_Fran=Waterfall_LHS.loc[(Waterfall_LHS["CP.SUBBRAND"]=="") & (Waterfall_LHS["CP.BRAND"]=="")&(Waterfall_LHS["CP.FRANCHISE"]!="")]

In [532]:
Waterfall_Fran["Record_ID"]=range(1,len(Waterfall_Fran)+1)

In [533]:
Waterfall_Fran.to_csv(path_LHS+"Waterfall_Fran.csv",index=False)

## **Waterfall_Brand**

In [534]:
Waterfall_Brand=Waterfall_LHS.loc[(Waterfall_LHS["CP.SUBBRAND"]=="") & (Waterfall_LHS["CP.BRAND"]!="")]

In [535]:
Waterfall_Cat=Waterfall_LHS.loc[(Waterfall_LHS["CP.SUBBRAND"]=="") & (Waterfall_LHS["CP.BRAND"]=="")&(Waterfall_LHS["CP.FRANCHISE"]=="")&(Waterfall_LHS["CP.MANUFACTURER"]=="")]

In [536]:
Waterfall_Cat_Brand=pd.concat([Waterfall_Cat,Waterfall_Brand],axis=0)

In [537]:
Waterfall_Cat_Brand['FCT'] = Waterfall_Cat_Brand['FCT'].astype(Fact_order)

Waterfall_Cat_Brand.sort_values(['MKT','PROD','FCT'],inplace=True)

In [538]:
Waterfall_Cat_Brand["Record_ID"]=range(1,len(Waterfall_Cat_Brand)+1)

In [539]:
Waterfall_Cat_Brand.to_csv(path_LHS+"Waterfall Brand.csv",index=False)

## Waterfall_SubBrand

In [540]:
Waterfall_SubBrand=Waterfall_LHS.loc[(Waterfall_LHS["CP.SUBBRAND"]!="")]

In [541]:
Waterfall_SubBrand["Record_ID"]=range(1,len(Waterfall_SubBrand)+1)

In [542]:
Waterfall_SubBrand.to_csv(path_LHS+"Waterfall Sub_Brand.csv",index=False)

# LDL

Assigning path of the folder where **LDL TOTAL** data files are stored

In [543]:
path = "//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/03. Raw Data/Connect Data/Line Monthly"
files = os.listdir(path)

Selecting only **excel files** from all the files available in the above path

In [544]:
files_xls = [f for f in files if f[:3] == "LDL"]
print("Total number of files in the folder are ",len(files_xls))

Total number of files in the folder are  0

In [545]:
files_xls

[]

**Appending the read files in rows and storing them in a single dataframe** named ***LDL TOTAL***.

Printing number of columns and number of facts in each file.
Also checking the execution time of the code

In [546]:
time_start= time.time()

LDL_TOTAL= pd.DataFrame()

j=0
for f in files_xls:
    
    data = pd.read_excel(path+"/"+f)
    print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
    LDL_TOTAL = pd.concat([LDL_TOTAL,data],axis=0,ignore_index=True)
    j=j+1
    
time_end= time.time();

print("execution time is ", time_end-time_start)

execution time is  0.002028226852416992

In [547]:
LDL_TOTAL["Periods"]=LDL_TOTAL["Periods"].str.replace("$","temp")
LDL_TOTAL["Periods"]=LDL_TOTAL["Periods"].str.replace("- temp -","-")
LDL_TOTAL["Periods"]=LDL_TOTAL["Periods"].str.replace("temp","$")

LDL_TOTAL["Periods"]=LDL_TOTAL["Periods"].str.replace("CP LDL AND FOAM","CP CATEGORY")

LDL_TOTAL["Periods"]=LDL_TOTAL["Periods"].str.replace("CP LDL AND FM X DISHAIDS/WPS/SPR","CP CATEGORY")

LDL_TOTAL["Periods"]=LDL_TOTAL["Periods"].str.replace("CP MEGA CATEGORY","CP CATEGORY")
LDL_TOTAL["Periods"]=LDL_TOTAL["Periods"].str.replace("CP BATTERY AND HYBRID","CP CATEGORY")

# Market name replaced
LDL_TOTAL["Markets"]=LDL_TOTAL["Markets"].str.replace("Walgreens Corp Total TA","Walgreens Total TA")

KeyError: 'Periods'

In [ ]:
# replace NaN Values with 0
LDL_TOTAL.fillna(value=0,inplace=True)

In [ ]:
set(LDL_TOTAL["Periods"])

**Removing unwanted characters from all the column names** and store them in a list ***new_col_names***

In [ ]:
new_col_names=[]
for i in LDL_TOTAL.columns:
    x=len(i)
    if x<=17:
        new_col_names.append(i)
    elif i[:3]=='YTD':
        new_col_names.append(i[:-16].strip('- '))
    else:
        new_col_names.append(i[:-14].strip('- '))

In [ ]:
LDL_TOTAL.columns

**Checking the duplicacte column in** ***LDL_TOTAL***

In [ ]:
if(len(new_col_names)!=len(set(new_col_names))):
    print("\033[1;31m"+"*******************************ERROR*******************************\n\t\t\tWe have duplicate columns\n\t\t\tPlease recheck raw data files\n*******************************ERROR*******************************")

Renaming the column names of ***LDL_TOTAL***

In [ ]:
# LDL_TOTAL.rename(columns=dict(zip(LDL_TOTAL.columns,new_col_names)),inplace=True)
LDL_TOTAL.columns=new_col_names

In [ ]:
LDL_TOTAL.columns

**Adding Missing Quater**

In [ ]:
# GETTING 20 DAYS BEFORE MONTHS AND YEAR VALUES
now=datetime.datetime.now()
delay= datetime.timedelta(days=20)
a= now - delay
month_number=a.month
year=str(a.year-2)[-2:]
print(month_number)
print(year)

In [ ]:
if( month_number >= 1 & month_number <= 3):
    LDL_TOTAL['AMJ '+year]=""
    LDL_TOTAL['JAS '+year]=""
    LDL_TOTAL['OND '+year]=""
elif ( month_number >= 4 & month_number <= 6 ):
    LDL_TOTAL['JAS '+year]=""
    LDL_TOTAL['OND '+year]=""
elif ( month_number >= 7 & month_number <= 9  ):
    LDL_TOTAL['OND '+year]=""

**Time period mapping**

**Manual Step**

This mapping needs to be changed every year when new year data comes

In [ ]:
# time_period_map_2020= pd.DataFrame({'Connect Time Period':['Markets', 'Products', 'Periods','Cal Yr 2020','Cal Yr 2019','Cal Yr 2018','Cal Yr 2017','YTD','YTD YA','Latest 13 Wks','Latest 26 Wks','OND 20','JAS 20','AMJ 20','JFM 20','OND 19','JAS 19','AMJ 19','JFM 19','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20','Dec 19','Nov 19','Oct 19','Sep 19','Aug 19','Jul 19','Jun 19','May 19','Apr 19','Mar 19','Feb 19','Jan 19'],
#                                'Final Name':['Markets', 'Products', 'Periods','FY 2020','FY 2019','FY 2018','FY 2017','YTD 2020','YTD 2019','Latest 13 Weeks','Latest 26 Weeks','Q4 2020','Q3 2020','Q2 2020','Q1 2020','Q4 2019','Q3 2019','Q2 2019','Q1 2019','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20','Dec 19','Nov 19','Oct 19','Sep 19','Aug 19','Jul 19','Jun 19','May 19','Apr 19','Mar 19','Feb 19','Jan 19']
#                               ,'Order':range(1,44)})

In [ ]:
time_period_map= pd.DataFrame({'Connect Time Period':['Markets', 'Products', 'Periods','Cal Yr 2020','Cal Yr 2019','Cal Yr 2018','Cal Yr 2017','YTD','YTD YA','Latest 13 Wks','Latest 26 Wks','OND 21','JAS 21','AMJ 21','JFM 21','OND 20','JAS 20','AMJ 20','JFM 20','OND 19','JAS 19','AMJ 19','Dec 21','Nov 21','Oct 21','Sep 21','Aug 21','Jul 21','Jun 21','May 21','Apr 21','Mar 21','Feb 21','Jan 21','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20'],
                               'Final Name':['Markets', 'Products', 'Periods','FY 2020','FY 2019','FY 2018','FY 2017','YTD 2021','YTD 2020','Latest 13 Weeks','Latest 26 Weeks','Q4 2021','Q3 2021','Q2 2021','Q1 2021','Q4 2020','Q3 2020','Q2 2020','Q1 2020','Q4 2019','Q3 2019','Q2 2019','Dec 21','Nov 21','Oct 21','Sep 21','Aug 21','Jul 21','Jun 21','May 21','Apr 21','Mar 21','Feb 21','Jan 21','Dec 20','Nov 20','Oct 20','Sep 20','Aug 20','Jul 20','Jun 20','May 20','Apr 20','Mar 20','Feb 20','Jan 20']
                              ,'Order':range(1,47)})

In [ ]:
time_period_map.head()

We need to **change column names** of ***LDL_TOTAL*** and **reorder** them based on the time_period_mapping

In [ ]:
# assigning variables
LM_column= list(LDL_TOTAL.columns)
time_connect=list(time_period_map["Connect Time Period"])
time_final=list(time_period_map["Final Name"])

In [ ]:
# changing column names based on time_period_mapping
new_column=[]
for i in range(0,len(LM_column)):
    for j in range(0,len(time_connect)):
        if LM_column[i]==time_connect[j]:
            new_column.append(time_final[j])

In [ ]:
print(new_column)

In [ ]:
print(len(new_column),len(LDL_TOTAL.columns))

In [ ]:
#assigning new column names
LDL_TOTAL.columns = new_column

In [ ]:
# reordering column names
my_list =time_period_map.iloc[:, 1]
my_list1=LDL_TOTAL.columns
result = [x for x in my_list if x in my_list1]
LDL_TOTAL=LDL_TOTAL[result]

In [ ]:
LDL_TOTAL.columns

In [ ]:
LDL_TOTAL.head(3)

In [ ]:
LDL_TOTAL.rename(columns={"Periods":"Facts"},inplace=True)

In [ ]:
LDL_TOTAL.head(3)

**Filter Condition**

Taking only those products whose **Latest Month Dollar Share** is **greater than 0.02** for all the markets

In [ ]:
LDL_TOTAL.iloc[:,3:]=LDL_TOTAL.iloc[:,3:].apply(pd.to_numeric)

In [ ]:
df=LDL_TOTAL[(LDL_TOTAL['Facts'] == '$ Shr - CP CATEGORY') & (LDL_TOTAL.iloc[:,19]>0.02)]

In [ ]:
# total number of unique Products 
len(np.unique(list(df["Products"])))

In [ ]:
LDL_TOTAL=LDL_TOTAL[LDL_TOTAL['Products'].isin(list(df["Products"]))]
LDL_TOTAL.head(3)

**ShareBasis Split**

In [ ]:
LDL_TOTAL[['ShareBasis','Manufacturer','Franchise','Brand']] = LDL_TOTAL['Products'].str.split('|',n=3,expand=True)
LDL_TOTAL.head(3)

In [ ]:
LDL_TOTAL[["ShareBasis","Manufacturer","Franchise","Brand"]]=LDL_TOTAL[["ShareBasis","Manufacturer","Franchise","Brand"]].fillna(value="")
LDL_TOTAL.head(3)

***movecol*** function to **rearranging** the columns of a dataframe

In [ ]:
def movecol(df, cols_to_move=[], ref_col='', place=''):
    cols = df.columns.tolist()
    if place == 'After':
        seg1 = cols[:list(cols).index(ref_col) + 1]
        seg2 = cols_to_move
    if place == 'Before':
        seg1 = cols[:list(cols).index(ref_col)]
        seg2 = cols_to_move + [ref_col]
    seg1 = [i for i in seg1 if i not in seg2]
    seg3 = [i for i in cols if i not in seg1 + seg2]
    
    return(df[seg1 + seg2 + seg3])

In [ ]:
LDL_TOTAL = movecol(LDL_TOTAL, 
             cols_to_move=['ShareBasis','Manufacturer','Franchise','Brand'], 
             ref_col='Markets',
             place='After')
LDL_TOTAL.head(3)

**Strip Columns**

In [ ]:
cols=list(LDL_TOTAL.columns[0:7])

In [ ]:
LDL_TOTAL[cols]=LDL_TOTAL[cols].apply(lambda x : x.str.strip())

**Need Franchise LEVEL**

In [ ]:
LDL_TOTAL=LDL_TOTAL[LDL_TOTAL["Manufacturer"] !=""]

In [ ]:
LDL_TOTAL["CP_CONCENTRATION"]="TOTAL (REGULAR+ULTRA+NA)"
LDL_TOTAL["Category"]="LDL"

In [ ]:
LDL_TOTAL.columns

In [ ]:
LDL_TOTAL.rename(columns={"Markets":"MKT","Products":"PROD","Manufacturer":"CP_MANUFACTURER","ShareBasis":"CP_MEGA_CATEGORY",
                                "Facts":"FCT","Franchise":"CP_FRANCHISE","Brand":"CP_BRAND"},inplace=True)

**Period & Market Mapping**

In [ ]:
LDL_TOTAL.rename(columns=Time_Mapping,inplace=True)
LDL_TOTAL["MKT"].replace(Market_Mapping,inplace=True)

### LDL without Total

In [ ]:
# path to store OuMWut files

path_LDL="//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/05. Output Data/5P Output/LDL/"

In [ ]:
Data_5p_LDL=Data_5p.copy()

In [ ]:
Data_5p_LDL=Data_5p.loc[Data_5p["Category"]=="LDL"]

In [ ]:
set(Data_5p_LDL["ShareBasis"])

In [ ]:
Data_5p_LDL = Data_5p_LDL[Data_5p_LDL["ShareBasis"]=='LDL/DISHAIDS/WPS/FM/SPRAYS']

**Column name Change**

In [ ]:
Data_5p_LDL.rename(columns={"Markets":"MKT","ShareBasis":"CP_MEGA_CATEGORY","Products":"PROD","Manufacturer":"CP_MANUFACTURER",
                                "Franchise":"CP_CONCENTRATION","Brand":"CP_FRANCHISE","SubBrand":"CP_BRAND","Facts":"FCT"},inplace=True)

In [ ]:
list(np.sort(list(LDL_TOTAL.columns)))==list(np.sort(list(Data_5p_LDL)))

In [ ]:
set(Data_5p_LDL.columns)- set(LDL_TOTAL.columns)

In [ ]:
set(Data_5p_LDL["CP_CONCENTRATION"])

**Concatting LDL Data**

In [ ]:
Data_5p_LDL_All=pd.concat([Data_5p_LDL,LDL_TOTAL],axis=0,ignore_index=True)

## Promotion Data LDL

In [ ]:
LDL_Promo= Data_5p_LDL_All.copy()

In [ ]:
set(Promo_Facts) - set(LDL_Promo['FCT'])

In [ ]:
LDL_Promo["CP_MEGA_CATEGORY"].replace({"LDL+FOAM" : "LDL/DISHAIDS/WPS/FM"}, inplace = True)

In [ ]:
LDL_Promo.columns

In [ ]:
Promo_Markets=["US AOC","Ahold","Alb/Sfy","BJs","CVS","Dollar General","Family Dollar","Meijer","Publix",
         "Rite Aid","Sams","Shoprite","Target","US Drug","US Food","Walgreens","Walmart", "Kmart"]

In [ ]:
Promo_Time_Period=list(LDL_Promo.columns[0:1])+list(LDL_Promo.columns[7:8])+list(LDL_Promo.columns[1:7])+list(LDL_Promo.columns[8:9])+list(LDL_Promo.columns[25:26])+list(LDL_Promo.columns[15:17])+list(LDL_Promo.columns[13:14])+list(LDL_Promo.columns[9:10])+list(LDL_Promo.columns[26:38])[::-1]
print(Promo_Time_Period)

In [ ]:
# Filter Data based on Promo selection
LDL_Promo= LDL_Promo[LDL_Promo["FCT"].isin(Promo_Facts)]
LDL_Promo= LDL_Promo[LDL_Promo["MKT"].isin(Promo_Markets)]
LDL_Promo=LDL_Promo[Promo_Time_Period]

In [ ]:
print(len(Promo_Markets), len(set(LDL_Promo["MKT"])))

**Fact Name Change**

In [ ]:
LDL_Promo["FCT"].replace(Promo_Fact_Mapping,inplace=True)

In [ ]:
LDL_Promo.shape

**Column name Change**

**Concat LDL's Dataframes**

In [ ]:
if list(np.sort(list(set(Data_5p_LDL.columns))))==list(np.sort(list(set(LDL_Promo.columns)))):
    print("Both Dataframes have same column names. We are ready to concat these dataframes.")
else:
    print("Dataframe column names are not same :(  Check Column name mapping.")

In [ ]:
set(Data_5p_LDL.columns)-set(LDL_Promo.columns)

In [ ]:
set(LDL_Promo.columns)-set(LDL_TOTAL.columns)

In [ ]:
LDL_Promo.head(2)

In [ ]:
# del LDL_Promo["ShareBasis"]
del LDL_Promo["Category"]

In [ ]:
LDL_Promo = movecol(LDL_Promo, 
             cols_to_move=["CP_CONCENTRATION"], 
             ref_col='CP_MANUFACTURER',
             place='Before')
LDL_Promo.head(3)

In [ ]:
LDL_Promo = movecol(LDL_Promo, 
             cols_to_move=["PROD"], 
             ref_col='MKT',
             place='After')
LDL_Promo.head(3)

In [ ]:
Fact_order = CategoricalDtype(
    sorted(list(set(LDL_Promo["FCT"]))), 
    ordered=True
)

LDL_Promo['FCT'] = LDL_Promo['FCT'].astype(Fact_order)

LDL_Promo.sort_values(['MKT','PROD','FCT'],inplace=True)

In [ ]:
LDL_Promo = LDL_Promo[LDL_Promo["CP_CONCENTRATION"].isin(["REGULAR","ULTRA","","TOTAL (REGULAR+ULTRA+NA)"])]

In [ ]:
LDL_Promo["Frn"]=""
for i in range(0,len(LDL_Promo)):
    if LDL_Promo["CP_FRANCHISE"].iloc[i]=="":
        LDL_Promo["Frn"].iloc[i]=LDL_Promo["CP_FRANCHISE"].iloc[i]
        
    elif (LDL_Promo["CP_CONCENTRATION"].iloc[i]=="TOTAL (REGULAR+ULTRA+NA)"):
        LDL_Promo["Frn"].iloc[i]=LDL_Promo["CP_FRANCHISE"].iloc[i]
    
    elif (LDL_Promo["CP_CONCENTRATION"].iloc[i]=="REGULAR") or (LDL_Promo["CP_CONCENTRATION"].iloc[i]=="ULTRA") :
        LDL_Promo["Frn"].iloc[i]=LDL_Promo["CP_FRANCHISE"].iloc[i]+" " +LDL_Promo["CP_CONCENTRATION"].iloc[i]

In [ ]:
LDL_Promo["Brn"]=""
for i in range(0,len(LDL_Promo)):
    if LDL_Promo["CP_BRAND"].iloc[i]=="":
        LDL_Promo["Brn"].iloc[i]=LDL_Promo["CP_BRAND"].iloc[i]
        
    elif (LDL_Promo["CP_CONCENTRATION"].iloc[i]=="TOTAL (REGULAR+ULTRA+NA)"):
        LDL_Promo["Brn"].iloc[i]=LDL_Promo["CP_BRAND"].iloc[i]
    
    elif (LDL_Promo["CP_CONCENTRATION"].iloc[i]=="REGULAR") or (LDL_Promo["CP_CONCENTRATION"].iloc[i]=="ULTRA") :
        LDL_Promo["Brn"].iloc[i]=LDL_Promo["CP_BRAND"].iloc[i]+" " +LDL_Promo["CP_CONCENTRATION"].iloc[i]

In [ ]:
LDL_Promo["CP_FRANCHISE"]=LDL_Promo["Frn"]
LDL_Promo["CP_BRAND"]=LDL_Promo["Brn"]

In [ ]:
del LDL_Promo["Frn"]
del LDL_Promo["Brn"]

In [ ]:
set(LDL_Promo["CP_MEGA_CATEGORY"])

In [ ]:
set(LDL_Promo["CP_CONCENTRATION"])

In [ ]:
set(LDL_Promo["FCT"])

## **promo_category**

In [ ]:
promo_category=LDL_Promo.loc[(LDL_Promo["CP_BRAND"]=="")&(LDL_Promo["CP_FRANCHISE"]=="")&(LDL_Promo["CP_CONCENTRATION"]=="")&(LDL_Promo["CP_MANUFACTURER"]=="")]

In [ ]:
promo_category.drop_duplicates(inplace = True)
#print(length)
promo_category.head(3)

In [ ]:
length= len(promo_category)
print(length)
promo_category["Record_ID"]=range(1,length+1)

In [ ]:
promo_category.to_csv(path_LDL+"promo_category.csv",index=False)

## **promo_toplevel**

In [ ]:
promo_toplevel=LDL_Promo.loc[(LDL_Promo["CP_BRAND"]=="")&(LDL_Promo["CP_FRANCHISE"]=="")&(LDL_Promo["CP_CONCENTRATION"]=="")&(LDL_Promo["CP_MANUFACTURER"]!="")]

In [ ]:
# Blank row 0th position
df1=pd.DataFrame([[np.nan]*len(promo_toplevel.columns)],columns=promo_toplevel.columns)
promo_toplevel=df1.append(promo_toplevel,ignore_index=True)

In [ ]:
promo_toplevel.drop_duplicates(inplace = True)
promo_toplevel.head()

In [ ]:
length= len(promo_toplevel)
promo_toplevel["Record_ID"]=range(1,length+1)

In [ ]:
promo_toplevel.to_csv(path_LDL+"promo_toplevel.csv",index=False)

## **promo_franchise**

In [ ]:
promo_franchise=LDL_Promo.loc[(LDL_Promo["CP_BRAND"]=="")&(LDL_Promo["CP_FRANCHISE"]!="")&(LDL_Promo["CP_CONCENTRATION"]!="")]

In [ ]:
promo_franchise.drop_duplicates(inplace = True)

In [ ]:
length= len(promo_franchise)
promo_franchise["Record_ID"]=range(1,length+1)

In [ ]:
promo_franchise.to_csv(path_LDL+"promo_franchise.csv",index=False)

## **promo_brand_promo**

In [ ]:
promo_brand_promo=LDL_Promo.loc[(LDL_Promo["CP_BRAND"]!="")]

In [ ]:
promo_brand_promo.drop_duplicates(inplace = True)

In [ ]:
length= len(promo_brand_promo)
promo_brand_promo["Record_ID"]=range(1,length+1)

In [ ]:
promo_brand_promo.to_csv(path_LDL+"promo_brand_promo.csv",index=False)

## Waterfall

In [ ]:
Waterfall_LDL=Data_5p_LDL_All.copy()

In [ ]:
Waterfall_LDL["CP_MEGA_CATEGORY"].replace({"LDL+FOAM" : "LDL/DISHAIDS/WPS/FM"}, inplace = True)

In [ ]:
set(Waterfall_LDL["CP_CONCENTRATION"])

In [ ]:
Waterfall_LDL.columns

In [ ]:
Waterfall_Markets=["TOTAL US XAOC","TOTAL US DRUG","TOTAL US FOOD","TOTAL WALMART TOTAL US CTA","TARGET TOTAL BM/FF CENSUS TA",
         "WALGREENS CORP TOTAL CENSUS TA","RITE AID - TOTAL CENSUS TA","SHOPRITE TOTAL CENSUS TRADING AREA",
         "PUBLIX TOTAL CENSUS TRADING AREA","FAMILY DOLLAR TOTAL CENSUS TRADING AREA","DOL GEN TOTAL CENSUS TA",
         "CVS TOTAL CORP WO HI CENSUS TA","SAMS TOTAL CENSUS TRADING AREA","BJS TOTAL CENSUS TA",
         "AHOLD USA CORP TOTAL CTA","MEIJER TOTAL CENSUS TRADING AREA","ALBSCO Total Company TA","Kmart Total TA" ]

In [ ]:
Waterfall_Fact_Mapping={
    "No Promo Incr $":"Incr.$ w/No Promo",
    "Feat w/o Disp $":"Incr.$ w/Ftr w/o Disp",
    "Disp w/o Feat $":"Incr.$ w/Disp w/o Ftr",
    "Feat & Disp $":"Incr.$ w/Ftr & Disp",
    "Price Decr Only $":"Incr.$ w/TPR",
    "$":"Dollars",
    "$ Shr - CP CATEGORY":"$ Share",
    "Base $":"Baseline $"
}

**Market Mapping**

In [ ]:
Waterfall_LDL["MKT"].replace(Waterfall_Market_Mapping,inplace=True)

**Facts, Markets, Time_Period Filter**

In [ ]:
Waterfall_Time_Period=list(Waterfall_LDL.columns[0:1])+list(Waterfall_LDL.columns[7:8])+list(Waterfall_LDL.columns[3:7])+list(Waterfall_LDL.columns[8:9])+list(Waterfall_LDL.columns[13:15])+list(Waterfall_LDL.columns[25:26])+list(Waterfall_LDL.columns[37:38])
print(Waterfall_Time_Period)

In [ ]:
Waterfall_LDL= Waterfall_LDL[Waterfall_LDL["FCT"].isin(Waterfall_Facts)]
Waterfall_LDL= Waterfall_LDL[Waterfall_LDL["MKT"].isin(Waterfall_Markets)]
Waterfall_LDL=Waterfall_LDL[Waterfall_Time_Period]

In [ ]:
print(len(Waterfall_Markets), len(set(Waterfall_LDL["MKT"])))

In [ ]:
set(Waterfall_Markets) - set(Waterfall_LDL["MKT"])

In [ ]:
Waterfall_LDL.columns

In [ ]:
set(Waterfall_LDL["MKT"])

In [ ]:
Waterfall_LDL.columns

**Column name Change**

In [ ]:
Waterfall_LDL.rename(columns={"Markets":"MKT","ShareBasis":"CP_MEGA_CATEGORY","Products":"PROD","CP_MANUFACTURER":"CP.MANUFACTURER",
                                "Franchise":"CP.CONCENTRATE","CP_FRANCHISE":"CP.FRANCHISE","CP_BRAND":"CP.BRAND","Facts":"FCT",
                             "CP_CONCENTRATION":"CP.CONCENTRATE"},inplace=True)

**Fact Name Change**

In [ ]:
Waterfall_LDL["FCT"].replace(Waterfall_Fact_Mapping,inplace=True)

In [ ]:
Waterfall_LDL.head(2)

In [ ]:
Fact_order_1 = ["Baseline $","Incr.$ w/No Promo","Incr.$ w/Ftr w/o Disp","Incr.$ w/Disp w/o Ftr","Incr.$ w/Ftr & Disp",
              "Incr.$ w/TPR","Dollars","$ Share"]

Fact_order = CategoricalDtype(
    Fact_order_1, 
    ordered=True
)


Waterfall_LDL['FCT'] = Waterfall_LDL['FCT'].astype(Fact_order)

Waterfall_LDL.sort_values(['MKT','PROD','FCT'],inplace=True)

In [ ]:
Waterfall_LDL.columns

In [ ]:
Waterfall_LDL = Waterfall_LDL[Waterfall_LDL["CP.CONCENTRATE"].isin(["ULTRA", "REGULAR","","TOTAL (REGULAR+ULTRA+NA)"])]

In [ ]:
Waterfall_LDL["Frn"]=""
for i in range(0,len(Waterfall_LDL)):
    if Waterfall_LDL["CP.FRANCHISE"].iloc[i]=="":
        Waterfall_LDL["Frn"].iloc[i]=Waterfall_LDL["CP.FRANCHISE"].iloc[i]
        
    elif (Waterfall_LDL["CP.CONCENTRATE"].iloc[i]=="TOTAL (REGULAR+ULTRA+NA)"):
        Waterfall_LDL["Frn"].iloc[i]=Waterfall_LDL["CP.FRANCHISE"].iloc[i]
    
    elif (Waterfall_LDL["CP.CONCENTRATE"].iloc[i]=="REGULAR") or (Waterfall_LDL["CP.CONCENTRATE"].iloc[i]=="ULTRA") :
        Waterfall_LDL["Frn"].iloc[i]=Waterfall_LDL["CP.FRANCHISE"].iloc[i]+" " +Waterfall_LDL["CP.CONCENTRATE"].iloc[i]

In [ ]:
Waterfall_LDL["Brn"]=""
for i in range(0,len(Waterfall_LDL)):
    if Waterfall_LDL["CP.BRAND"].iloc[i]=="":
        Waterfall_LDL["Brn"].iloc[i]=Waterfall_LDL["CP.BRAND"].iloc[i]
        
    elif (Waterfall_LDL["CP.CONCENTRATE"].iloc[i]=="TOTAL (REGULAR+ULTRA+NA)"):
        Waterfall_LDL["Brn"].iloc[i]=Waterfall_LDL["CP.BRAND"].iloc[i]
    
    elif (Waterfall_LDL["CP.CONCENTRATE"].iloc[i]=="REGULAR") or (Waterfall_LDL["CP.CONCENTRATE"].iloc[i]=="ULTRA") :
        Waterfall_LDL["Brn"].iloc[i]=Waterfall_LDL["CP.BRAND"].iloc[i]+" " +Waterfall_LDL["CP.CONCENTRATE"].iloc[i]

In [ ]:
Waterfall_LDL["CP.FRANCHISE"]=Waterfall_LDL["Frn"]
Waterfall_LDL["CP.BRAND"]=Waterfall_LDL["Brn"]

In [ ]:
del Waterfall_LDL["Frn"]
del Waterfall_LDL["Brn"]

In [ ]:
set(Waterfall_LDL["CP.CONCENTRATE"])

## **Waterfall_Manu**

In [ ]:
Waterfall_Manu=Waterfall_LDL.loc[(Waterfall_LDL["CP.CONCENTRATE"]=="")&(Waterfall_LDL["CP.BRAND"]=="")&(Waterfall_LDL["CP.FRANCHISE"]=="")&(Waterfall_LDL["CP.MANUFACTURER"]!="")]

In [ ]:
Waterfall_Manu.drop_duplicates(inplace = True)

In [ ]:
Waterfall_Manu["Record_ID"]=range(1,len(Waterfall_Manu)+1)

In [ ]:
Waterfall_Manu.to_csv(path_LDL+"Waterfall_Manu.csv",index=False)

## **Waterfall_Fran**

In [ ]:
Waterfall_Fran=Waterfall_LDL.loc[(Waterfall_LDL["CP.BRAND"]=="")&(Waterfall_LDL["CP.FRANCHISE"]!="")&(Waterfall_LDL["CP.CONCENTRATE"]!="")]

In [ ]:
Waterfall_Fran.drop_duplicates(inplace = True)

In [ ]:
Waterfall_Fran["Record_ID"]=range(1,len(Waterfall_Fran)+1)

In [ ]:
Waterfall_Fran.to_csv(path_LDL+"Waterfall_Fran.csv",index=False)

## **Waterfall_Brand**

In [ ]:
Waterfall_Brand=Waterfall_LDL.loc[(Waterfall_LDL["CP.BRAND"]!="")]

In [ ]:
Waterfall_Cat=Waterfall_LDL.loc[(Waterfall_LDL["CP.BRAND"]=="")&(Waterfall_LDL["CP.FRANCHISE"]=="")&(Waterfall_LDL["CP.MANUFACTURER"]=="")]

In [ ]:
Waterfall_Cat_Brand=pd.concat([Waterfall_Cat,Waterfall_Brand],axis=0)

In [ ]:
Waterfall_Cat_Brand['FCT'] = Waterfall_Cat_Brand['FCT'].astype(Fact_order)

Waterfall_Cat_Brand.sort_values(['MKT','PROD','FCT'],inplace=True)

In [ ]:
Waterfall_Cat_Brand.drop_duplicates(inplace = True)

In [ ]:
Waterfall_Cat_Brand["Record_ID"]=range(1,len(Waterfall_Cat_Brand)+1)

In [ ]:
Waterfall_Cat_Brand.to_csv(path_LDL+"Waterfall Brand.csv",index=False)

## FS

In [548]:
# path to store Output files

path_FS="//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/05. Output Data/5P Output/FS/"

In [549]:
Data_5p_FS=Data_5p[Data_5p["Category"] == "FS"]

In [550]:
Data_5p_FS.head(2)

,Markets,ShareBasis,Category,Manufacturer,Franchise,Brand,SubBrand,Products,Facts,FY 2020,...,5 W/E 10/03/20,4 W/E 08/29/20,4 W/E 08/01/20,5 W/E 07/04/20,4 W/E 05/30/20,4 W/E 05/02/20,5 W/E 04/04/20,4 W/E 02/29/20,4 W/E 02/01/20,Key
617007,US AOC,BEAD FS,FS,,,,,BEAD FS,% $ Any Promo,34.449,...,32.298,21.252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total US xAOCBEAD FS
617008,US AOC,BEAD FS,FS,,,,,BEAD FS,% $ Any Promo Chg YA,34.449,...,32.298,21.252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total US xAOCBEAD FS

In [551]:
set(Data_5p_FS["ShareBasis"])

{'BEAD FS',
 'FABRIC SOFTENERS',
 'LIQUID FS',
 'MFR Sun Products',
 'SCENT BOOSTERS',
 'SHEETS'}

In [552]:
Data_5p_FS = Data_5p_FS[Data_5p_FS["ShareBasis"] != "MFR Sun Products"]

In [553]:
Data_5p_FS["ShareBasis"].replace({"FABRIC SOFTENERS" : "TOTAL FS"}, inplace = True)

In [554]:
Data_5p_FS["Products"] = Data_5p_FS["Products"].str.replace("FABRIC SOFTENERS" , "TOTAL FS")

In [555]:
set(list(Data_5p_FS["ShareBasis"]))

{'BEAD FS', 'LIQUID FS', 'SCENT BOOSTERS', 'SHEETS', 'TOTAL FS'}

**Filtering FS Data**

In [556]:
#Data_5p_FS=Data_5p.loc[Data_5p["ShareBasis"].isin(["BATTERY+HYBRID", "POWER"])]

In [557]:
set(Data_5p_FS["Markets"])

{'Ahold',
 'Alb/Sfy',
 'BJs',
 'CLUB',
 'CVS',
 'Dollar General',
 'El Super',
 'FDM',
 'Family Dollar',
 'Kmart',
 'Meijer',
 'Publix',
 'REGIONAL GROCERY xLA',
 'Rite Aid',
 'Sams',
 'Shoprite',
 'Strategic Grocery',
 'TOTAL MASS',
 'Target',
 'US AOC',
 'US Drug',
 'US Food',
 'VDC',
 'Walgreens',
 'Walmart'}

## Promotion Data FS

In [558]:
FS_Promo= Data_5p_FS.copy()

In [559]:
set(Promo_Facts) - set(FS_Promo['Facts'])

set()

In [560]:
Promo_Markets=["US AOC","CVS","Dollar General","Family Dollar","Publix","BJs",
         "Rite Aid","Sams","Target","US Drug","US Food","Walgreens","Walmart", "Kmart", "El Super"]

In [561]:
# Filter Data based on Promo selection
FS_Promo= FS_Promo[FS_Promo["Facts"].isin(Promo_Facts)]
FS_Promo= FS_Promo[FS_Promo["Markets"].isin(Promo_Markets)]
FS_Promo=FS_Promo[Promo_Time_Period]

In [562]:
Promo_Time_Period

['Markets',
 'Products',
 'ShareBasis',
 'Category',
 'Manufacturer',
 'Franchise',
 'Brand',
 'SubBrand',
 'Facts',
 '4 W/E 02/27/21',
 'Latest 13 Weeks',
 'Latest 26 Weeks',
 'YTD 2021',
 'FY 2020',
 '4 W/E 02/29/20',
 '5 W/E 04/04/20',
 '4 W/E 05/02/20',
 '4 W/E 05/30/20',
 '5 W/E 07/04/20',
 '4 W/E 08/01/20',
 '4 W/E 08/29/20',
 '5 W/E 10/03/20',
 '4 W/E 10/31/20',
 '4 W/E 11/28/20',
 '5 W/E 01/02/21',
 '4 W/E 01/30/21']

In [563]:
print(len(Promo_Markets), len(set(FS_Promo["Markets"])))

15 15

In [564]:
set(Promo_Markets) - set(FS_Promo["Markets"])

set()

**Fact Name Change**

In [565]:
FS_Promo["Facts"].replace(Promo_Fact_Mapping,inplace=True)

In [566]:
FS_Promo.shape

(44865, 26)

**Column name Change**

In [567]:
FS_Promo["CP_CATEGORY"] = "FABRIC SOFTENERS"

In [568]:
FS_Promo.rename(columns={"Markets":"MKT","ShareBasis":"CP_SHARE_BASIS","Products":"PROD","Manufacturer":"CP_MANUFACTURER",
                                "Franchise":"CP_FRANCHISE","Brand":"CP_BRAND","SubBrand":"CP_SUBBRAND_VARIANT","Facts":"FCT"},inplace=True)

In [569]:
FS_Promo = movecol(FS_Promo, 
             cols_to_move=['CP_CATEGORY'], 
             ref_col='PROD',
             place='After')
FS_Promo.head(3)

,MKT,PROD,CP_CATEGORY,CP_SHARE_BASIS,Category,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND_VARIANT,FCT,...,4 W/E 05/02/20,4 W/E 05/30/20,5 W/E 07/04/20,4 W/E 08/01/20,4 W/E 08/29/20,5 W/E 10/03/20,4 W/E 10/31/20,4 W/E 11/28/20,5 W/E 01/02/21,4 W/E 01/30/21
617007,US AOC,BEAD FS,FABRIC SOFTENERS,BEAD FS,FS,,,,,% Dollars w/Any Promo,...,NaN,NaN,NaN,NaN,21.252,32.298,31.840,33.808,37.075,52.146
617008,US AOC,BEAD FS,FABRIC SOFTENERS,BEAD FS,FS,,,,,% Dollars w/Any Promo YAG Chg,...,NaN,NaN,NaN,NaN,21.252,32.298,31.840,33.808,37.075,52.146
617009,US AOC,BEAD FS,FABRIC SOFTENERS,BEAD FS,FS,,,,,% EQ Units w/Any Promo,...,NaN,NaN,NaN,NaN,22.093,35.399,34.033,36.493,39.684,53.807

In [570]:
# FS_Promo = FS_Promo[['MKT', 'PROD', 'CP_CATEGORY', 'CP_SHARE_BASIS', 'Category',
#        'CP_MANUFACTURER', 'CP_FRANCHISE', 'CP_BRAND',
#        'FCT', '4 W/E 01/23/21', 'Latest 13 Weeks', 'Latest 26 Weeks',
#        'YTD 2021', 'FY 2020', '4 W/E 01/25/20', '4 W/E 02/22/20',
#        '5 W/E 03/28/20', '4 W/E 04/25/20', '4 W/E 05/23/20', '5 W/E 06/27/20',
#        '4 W/E 07/25/20', '4 W/E 08/22/20', '5 W/E 09/26/20', '4 W/E 10/24/20',
#        '4 W/E 11/21/20', '5 W/E 12/26/20', 'CP_SUBBRAND_VARIANT']]

In [571]:
#FS_Promo["CP_SHARE_BASIS"].replace({"FABRIC SOFTENERS" : "TOTAL FS"}, inplace = True)

In [572]:
set(FS_Promo["CP_SHARE_BASIS"])
#FS_Promo.head(3)

{'BEAD FS', 'LIQUID FS', 'SCENT BOOSTERS', 'SHEETS', 'TOTAL FS'}

In [573]:
FS_Promo.columns

Index(['MKT', 'PROD', 'CP_CATEGORY', 'CP_SHARE_BASIS', 'Category',
       'CP_MANUFACTURER', 'CP_FRANCHISE', 'CP_BRAND', 'CP_SUBBRAND_VARIANT',
       'FCT', '4 W/E 02/27/21', 'Latest 13 Weeks', 'Latest 26 Weeks',
       'YTD 2021', 'FY 2020', '4 W/E 02/29/20', '5 W/E 04/04/20',
       '4 W/E 05/02/20', '4 W/E 05/30/20', '5 W/E 07/04/20', '4 W/E 08/01/20',
       '4 W/E 08/29/20', '5 W/E 10/03/20', '4 W/E 10/31/20', '4 W/E 11/28/20',
       '5 W/E 01/02/21', '4 W/E 01/30/21'],
      dtype='object')

In [574]:
count = 1
str = 'FY'
lst = list(FS_Promo.columns)
for i in lst:
    if(str in i):
        break
    count +=1
print(count)
print(i)
Ref = i

15
FY 2020

In [575]:
FS_Promo = movecol(FS_Promo, 
             cols_to_move=['CP_SHARE_BASIS'], 
             ref_col=Ref,
             place='After')
FS_Promo.head(3)

,MKT,PROD,CP_CATEGORY,Category,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND_VARIANT,FCT,4 W/E 02/27/21,...,4 W/E 05/02/20,4 W/E 05/30/20,5 W/E 07/04/20,4 W/E 08/01/20,4 W/E 08/29/20,5 W/E 10/03/20,4 W/E 10/31/20,4 W/E 11/28/20,5 W/E 01/02/21,4 W/E 01/30/21
617007,US AOC,BEAD FS,FABRIC SOFTENERS,FS,,,,,% Dollars w/Any Promo,55.645,...,NaN,NaN,NaN,NaN,21.252,32.298,31.840,33.808,37.075,52.146
617008,US AOC,BEAD FS,FABRIC SOFTENERS,FS,,,,,% Dollars w/Any Promo YAG Chg,55.645,...,NaN,NaN,NaN,NaN,21.252,32.298,31.840,33.808,37.075,52.146
617009,US AOC,BEAD FS,FABRIC SOFTENERS,FS,,,,,% EQ Units w/Any Promo,58.099,...,NaN,NaN,NaN,NaN,22.093,35.399,34.033,36.493,39.684,53.807

In [576]:
FS_Promo.columns

Index(['MKT', 'PROD', 'CP_CATEGORY', 'Category', 'CP_MANUFACTURER',
       'CP_FRANCHISE', 'CP_BRAND', 'CP_SUBBRAND_VARIANT', 'FCT',
       '4 W/E 02/27/21', 'Latest 13 Weeks', 'Latest 26 Weeks', 'YTD 2021',
       'FY 2020', 'CP_SHARE_BASIS', '4 W/E 02/29/20', '5 W/E 04/04/20',
       '4 W/E 05/02/20', '4 W/E 05/30/20', '5 W/E 07/04/20', '4 W/E 08/01/20',
       '4 W/E 08/29/20', '5 W/E 10/03/20', '4 W/E 10/31/20', '4 W/E 11/28/20',
       '5 W/E 01/02/21', '4 W/E 01/30/21'],
      dtype='object')

In [577]:
FS_Promo.head(2)

,MKT,PROD,CP_CATEGORY,Category,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND_VARIANT,FCT,4 W/E 02/27/21,...,4 W/E 05/02/20,4 W/E 05/30/20,5 W/E 07/04/20,4 W/E 08/01/20,4 W/E 08/29/20,5 W/E 10/03/20,4 W/E 10/31/20,4 W/E 11/28/20,5 W/E 01/02/21,4 W/E 01/30/21
617007,US AOC,BEAD FS,FABRIC SOFTENERS,FS,,,,,% Dollars w/Any Promo,55.645,...,NaN,NaN,NaN,NaN,21.252,32.298,31.84,33.808,37.075,52.146
617008,US AOC,BEAD FS,FABRIC SOFTENERS,FS,,,,,% Dollars w/Any Promo YAG Chg,55.645,...,NaN,NaN,NaN,NaN,21.252,32.298,31.84,33.808,37.075,52.146

In [578]:
# del FS_Promo["ShareBasis"]
del FS_Promo["Category"]

In [579]:
Fact_order = CategoricalDtype(
    sorted(list(set(FS_Promo["FCT"]))), 
    ordered=True
)

FS_Promo['FCT'] = FS_Promo['FCT'].astype(Fact_order)

FS_Promo.sort_values(['MKT','PROD','FCT'],inplace=True)

In [580]:
#FS_Promo = FS_Promo["PROD"].str.replace("FABRIC SOFTENERS" , "TOTAL FS")

In [581]:
del FS_Promo["CP_SUBBRAND_VARIANT"]

## **promo_category**

In [582]:
promo_category=FS_Promo.loc[(FS_Promo["CP_BRAND"]=="")&(FS_Promo["CP_FRANCHISE"]=="")&(FS_Promo["CP_MANUFACTURER"]=="")]

In [583]:
promo_category.drop_duplicates(inplace = True)

In [584]:
length= len(promo_category)
promo_category["Record_ID"]=range(1,length+1)

In [585]:
promo_category.head(2)

,MKT,PROD,CP_CATEGORY,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,FCT,4 W/E 02/27/21,Latest 13 Weeks,Latest 26 Weeks,...,4 W/E 05/30/20,5 W/E 07/04/20,4 W/E 08/01/20,4 W/E 08/29/20,5 W/E 10/03/20,4 W/E 10/31/20,4 W/E 11/28/20,5 W/E 01/02/21,4 W/E 01/30/21,Record_ID
1216924,BJs,LIQUID FS,FABRIC SOFTENERS,,,,$ Share,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,1
1216925,BJs,LIQUID FS,FABRIC SOFTENERS,,,,$ Share YAG Chg,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2

In [586]:
promo_category.to_csv(path_FS+"promo_category.csv",index=False)

## **promo_toplevel**

In [587]:
promo_toplevel=FS_Promo.loc[ (FS_Promo["CP_BRAND"]=="")&(FS_Promo["CP_FRANCHISE"]=="")&(FS_Promo["CP_MANUFACTURER"]!="")]

In [588]:
# Blank row 0th position
df1=pd.DataFrame([[np.nan]*len(promo_toplevel.columns)],columns=promo_toplevel.columns)
promo_toplevel=df1.append(promo_toplevel,ignore_index=True)

In [589]:
promo_toplevel.drop_duplicates(inplace = True)

In [590]:
length= len(promo_toplevel)
promo_toplevel["Record_ID"]=range(1,length+1)

In [591]:
promo_toplevel.to_csv(path_FS+"promo_toplevel.csv",index=False)

## **promo_franchise**

In [592]:
promo_franchise=FS_Promo.loc[(FS_Promo["CP_BRAND"]=="")&(FS_Promo["CP_FRANCHISE"]!="")]

In [593]:
promo_franchise.drop_duplicates(inplace = True)

In [594]:
length= len(promo_franchise)
promo_franchise["Record_ID"]=range(1,length+1)

In [595]:
promo_franchise.to_csv(path_FS+"promo_franchise.csv",index=False)

## **promo_brand_promo**

In [596]:
promo_brand_promo=FS_Promo.loc[(FS_Promo["CP_BRAND"]!="")]

In [597]:
promo_brand_promo.drop_duplicates(inplace = True)

In [598]:
length= len(promo_brand_promo)
promo_brand_promo["Record_ID"]=range(1,length+1)

In [599]:
promo_brand_promo.to_csv(path_FS+"promo_brand_promo.csv",index=False)

## Waterfall

In [600]:
Waterfall_FS=Data_5p_FS.copy()

In [601]:
set(Waterfall_FS['Markets'])

{'Ahold',
 'Alb/Sfy',
 'BJs',
 'CLUB',
 'CVS',
 'Dollar General',
 'El Super',
 'FDM',
 'Family Dollar',
 'Kmart',
 'Meijer',
 'Publix',
 'REGIONAL GROCERY xLA',
 'Rite Aid',
 'Sams',
 'Shoprite',
 'Strategic Grocery',
 'TOTAL MASS',
 'Target',
 'US AOC',
 'US Drug',
 'US Food',
 'VDC',
 'Walgreens',
 'Walmart'}

In [602]:
Waterfall_Markets=["TOTAL US XAOC","TOTAL US DRUG","TOTAL US FOOD","TOTAL WALMART TOTAL US CTA","TARGET TOTAL BM/FF CENSUS TA",
         "WALGREENS CORP TOTAL CENSUS TA","RITE AID - TOTAL CENSUS TA",
         "PUBLIX TOTAL CENSUS TRADING AREA","FAMILY DOLLAR TOTAL CENSUS TRADING AREA","DOL GEN TOTAL CENSUS TA",
         "CVS TOTAL CORP WO HI CENSUS TA","El Super Total TA","Kmart Total TA",
                   "SAMS TOTAL CENSUS TRADING AREA","BJS TOTAL CENSUS TA" ]

**Market Mapping**

In [603]:
set(Waterfall_FS["Markets"])

{'Ahold',
 'Alb/Sfy',
 'BJs',
 'CLUB',
 'CVS',
 'Dollar General',
 'El Super',
 'FDM',
 'Family Dollar',
 'Kmart',
 'Meijer',
 'Publix',
 'REGIONAL GROCERY xLA',
 'Rite Aid',
 'Sams',
 'Shoprite',
 'Strategic Grocery',
 'TOTAL MASS',
 'Target',
 'US AOC',
 'US Drug',
 'US Food',
 'VDC',
 'Walgreens',
 'Walmart'}

In [604]:
Waterfall_FS["Markets"].replace(Waterfall_Market_Mapping,inplace=True)

In [605]:
Waterfall_FS["Products"] = Waterfall_FS["Products"].str.replace("FABRIC SOFTENERS" , "TOTAL FS")

In [606]:
set(Waterfall_FS["Products"])

{'BEAD FS',
 'BEAD FS | P&G',
 'BEAD FS | P&G | DOWNY US',
 'BEAD FS | P&G | DOWNY US | DOWNY DEFY DAMAGE',
 'LIQUID FS',
 'LIQUID FS | ALEN',
 'LIQUID FS | ALEN | ENSUENO',
 'LIQUID FS | ALEN | ENSUENO | ENSUENO',
 'LIQUID FS | COLGATE-PALMOLIVE',
 'LIQUID FS | COLGATE-PALMOLIVE | SUAVITEL NON US',
 'LIQUID FS | COLGATE-PALMOLIVE | SUAVITEL NON US | SUAVITEL NON US',
 'LIQUID FS | COLGATE-PALMOLIVE | SUAVITEL US',
 'LIQUID FS | COLGATE-PALMOLIVE | SUAVITEL US | SUAVITEL BASE',
 'LIQUID FS | COLGATE-PALMOLIVE | SUAVITEL US | SUAVITEL COMPLETE',
 'LIQUID FS | COLGATE-PALMOLIVE | SUAVITEL US | SUAVITEL FAST DRY',
 'LIQUID FS | COLGATE-PALMOLIVE | SUAVITEL US | SUAVITEL NON CONCENTRATE',
 'LIQUID FS | HENKEL',
 'LIQUID FS | HENKEL | ALL',
 'LIQUID FS | HENKEL | ALL | ALL',
 'LIQUID FS | HENKEL | PUREX',
 'LIQUID FS | HENKEL | PUREX | PUREX BASE',
 'LIQUID FS | HENKEL | SNUGGLE',
 'LIQUID FS | HENKEL | SNUGGLE | SNUGGLE BASE',
 'LIQUID FS | HENKEL | SNUGGLE | SNUGGLE EXHILARATIONS',
 'LIQUID FS | HENKEL | SNUGGLE | SNUGGLE NON-CONCENTRATE',
 'LIQUID FS | HENKEL | SNUGGLE | SNUGGLE PLUS SUPER FRESH',
 'LIQUID FS | HENKEL | SNUGGLE | SNUGGLE SUPER CARE',
 'LIQUID FS | P&G',
 'LIQUID FS | P&G | DOWNY NON-US',
 'LIQUID FS | P&G | DOWNY NON-US | DOWNY NON US',
 'LIQUID FS | P&G | DOWNY US',
 'LIQUID FS | P&G | DOWNY US | DOWNY BASE',
 'LIQUID FS | P&G | DOWNY US | DOWNY INFUSIONS',
 'LIQUID FS | P&G | DOWNY US | DOWNY INTENSE',
 'LIQUID FS | P&G | DOWNY US | DOWNY NATURE BLENDS',
 'LIQUID FS | P&G | DOWNY US | DOWNY NON-CONCENTRATE',
 'LIQUID FS | P&G | DOWNY US | DOWNY ODOR PROTECT',
 'LIQUID FS | P&G | DOWNY US | DOWNY WRINKLE GUARD',
 'LIQUID FS | P&G | DOWNY US | ULTRA DOWNY',
 'LIQUID FS | P&G | GAIN',
 'LIQUID FS | P&G | GAIN | GAIN BASE',
 'LIQUID FS | P&G | GAIN | GAIN BOTANICALS',
 'LIQUID FS | P&G | GAIN | GAIN NON-CONCENTRATE',
 'LIQUID FS | P&G | GAIN | GAIN SCENT BLAST',
 'LIQUID FS | P&G | HOME MADE SIMPLE',
 'LIQUID FS | P&G | HOME MADE SIMPLE | HOME MADE SIMPLE',
 'LIQUID FS | P&G | NBD',
 'LIQUID FS | P&G | NBD | NBD',
 'LIQUID FS | PRVT LBL',
 'LIQUID FS | SC JOHNSON',
 'LIQUID FS | SC JOHNSON | METHOD',
 'LIQUID FS | SC JOHNSON | METHOD | METHOD',
 'LIQUID FS | SC JOHNSON | MRS MEYERS',
 'LIQUID FS | SC JOHNSON | MRS MEYERS | MRS MEYERS',
 'LIQUID FS | SC JOHNSON | REM FRANCHISE',
 'LIQUID FS | SC JOHNSON | REM FRANCHISE | REM BRAND',
 'LIQUID FS | SNUGGLE',
 'LIQUID FS | UNILEVER',
 'LIQUID FS | UNILEVER | SEVENTH GEN',
 'SCENT BOOSTERS',
 'SCENT BOOSTERS | CHURCH & DWIGHT',
 'SCENT BOOSTERS | CHURCH & DWIGHT | A&H',
 'SCENT BOOSTERS | CHURCH & DWIGHT | A&H | A&H CLEAN & SIMPLE',
 'SCENT BOOSTERS | CHURCH & DWIGHT | A&H | A&H CLEAN SCENTSATIONS',
 'SCENT BOOSTERS | CHURCH & DWIGHT | XTRA',
 'SCENT BOOSTERS | CHURCH & DWIGHT | XTRA | XTRA SCENT SATIONS',
 'SCENT BOOSTERS | HENKEL',
 'SCENT BOOSTERS | HENKEL | PUREX',
 'SCENT BOOSTERS | HENKEL | PUREX | PUREX CRYSTALS',
 'SCENT BOOSTERS | HENKEL | SNUGGLE',
 'SCENT BOOSTERS | HENKEL | SNUGGLE | SNUGGLE EXHILARATIONS',
 'SCENT BOOSTERS | HENKEL | SNUGGLE | SNUGGLE PLUS SUPER FRESH',
 'SCENT BOOSTERS | HENKEL | SNUGGLE | SNUGGLE SCENT BOOSTERS',
 'SCENT BOOSTERS | HENKEL | SNUGGLE | SNUGGLE SCENT SHAKES',
 'SCENT BOOSTERS | HENKEL | SNUGGLE | SNUGGLE SUPER CARE',
 'SCENT BOOSTERS | P&G',
 'SCENT BOOSTERS | P&G | DOWNY US',
 'SCENT BOOSTERS | P&G | DOWNY US | DOWNY BASE',
 'SCENT BOOSTERS | P&G | DOWNY US | DOWNY FRESH PROTECT',
 'SCENT BOOSTERS | P&G | DOWNY US | DOWNY INFUSIONS',
 'SCENT BOOSTERS | P&G | DOWNY US | DOWNY ODOR PROTECT',
 'SCENT BOOSTERS | P&G | DOWNY US | DOWNY UNSTOPABLES',
 'SCENT BOOSTERS | P&G | DREFT',
 'SCENT BOOSTERS | P&G | DREFT | DREFT BLISSFULS',
 'SCENT BOOSTERS | P&G | GAIN',
 'SCENT BOOSTERS | P&G | GAIN | GAIN FIREWORKS',
 'SCENT BOOSTERS | P&G | GAIN | GAIN SCENT BLAST',
 'SCENT BOOSTERS | PRVT LBL',
 'SCENT BOOSTERS | PRVT LBL | PRVT LBL',
 'SCENT BOOSTERS | PRVT LBL | PRVT LBL | PRVT LBL',
 'SCENT BOOSTERS | PRVT LBL | REM FRANCHISE',
 'SCENT BOOSTERS | PRVT LBL | REM FRANCHISE | REM BRAND',
 'SCENT BOOSTERS | SC JOHNSON',
 'SCENT BOOSTERS | SC JOHNSON | METHOD',
 'SCENT BOOSTERS | SC JOHNSON | METHOD | METHOD',
 'SCENT BOOSTERS | SC JOHNSON | MRS MEYERS',
 'SCENT BOOSTERS | SC JOHNSON | MRS MEYERS | MRS MEYERS',
 'SHEETS',
 'SHEETS | COLGATE-PALMOLIVE',
 'SHEETS | COLGATE-PALMOLIVE | SUAVITEL US',
 'SHEETS | COLGATE-PALMOLIVE | SUAVITEL US | SUAVITEL BASE',
 'SHEETS | COLGATE-PALMOLIVE | SUAVITEL US | SUAVITEL COMPLETE',
 'SHEETS | HENKEL',
 'SHEETS | HENKEL | ALL',
 'SHEETS | HENKEL | ALL | ALL',
 'SHEETS | HENKEL | PUREX',
 'SHEETS | HENKEL | PUREX | PUREX BASE',
 'SHEETS | HENKEL | SNUGGLE',
 'SHEETS | HENKEL | SNUGGLE | SNUGGLE BASE',
 'SHEETS | HENKEL | SNUGGLE | SNUGGLE EXHILARATIONS',
 'SHEETS | HENKEL | SNUGGLE | SNUGGLE PLUS SUPER FRESH',
 'SHEETS | HENKEL | SNUGGLE | SNUGGLE SUPER CARE',
 'SHEETS | HENKEL | SUN CUDDLE SOFT',
 'SHEETS | HENKEL | SUN CUDDLE SOFT | SUN CUDDLE SOFT',
 'SHEETS | P&G',
 'SHEETS | P&G | BOUNCE',
 'SHEETS | P&G | BOUNCE | BOUNCE BASE',
 'SHEETS | P&G | BOUNCE | BOUNCE PET HAIR & LINT GUARD',
 'SHEETS | P&G | BOUNCE | BOUNCE W/FEBREZE',
 'SHEETS | P&G | BOUNCE | BOUNCE WRINKLE GUARD',
 'SHEETS | P&G | DOWNY NON-US',
 'SHEETS | P&G | DOWNY NON-US | DOWNY NON US',
 'SHEETS | P&G | DOWNY US',
 'SHEETS | P&G | DOWNY US | DOWNY BASE',
 'SHEETS | P&G | DOWNY US | DOWNY INFUSIONS',
 'SHEETS | P&G | DOWNY US | DOWNY WRINKLE GUARD',
 'SHEETS | P&G | GAIN',
 'SHEETS | P&G | GAIN | GAIN BASE',
 'SHEETS | P&G | REM FRANCHISE',
 'SHEETS | P&G | REM FRANCHISE | REM BRAND',
 'SHEETS | SC JOHNSON',
 'SHEETS | SC JOHNSON | METHOD',
 'SHEETS | SC JOHNSON | METHOD | METHOD',
 'SHEETS | SC JOHNSON | MRS MEYERS',
 'SHEETS | SC JOHNSON | MRS MEYERS | MRS MEYERS',
 'TOTAL FS',
 'TOTAL FS | ALEN',
 'TOTAL FS | ALEN | ENSUENO',
 'TOTAL FS | ALEN | ENSUENO | ENSUENO',
 'TOTAL FS | COLGATE-PALMOLIVE',
 'TOTAL FS | COLGATE-PALMOLIVE | SUAVITEL NON US',
 'TOTAL FS | COLGATE-PALMOLIVE | SUAVITEL NON US | SUAVITEL NON US',
 'TOTAL FS | COLGATE-PALMOLIVE | SUAVITEL US',
 'TOTAL FS | COLGATE-PALMOLIVE | SUAVITEL US | SUAVITEL BASE',
 'TOTAL FS | COLGATE-PALMOLIVE | SUAVITEL US | SUAVITEL COMPLETE',
 'TOTAL FS | COLGATE-PALMOLIVE | SUAVITEL US | SUAVITEL FAST DRY',
 'TOTAL FS | COLGATE-PALMOLIVE | SUAVITEL US | SUAVITEL NON CONCENTRATE',
 'TOTAL FS | HENKEL',
 'TOTAL FS | HENKEL | ALL',
 'TOTAL FS | HENKEL | ALL | ALL',
 'TOTAL FS | HENKEL | PUREX',
 'TOTAL FS | HENKEL | PUREX | PUREX BASE',
 'TOTAL FS | HENKEL | PUREX | PUREX CRYSTALS',
 'TOTAL FS | HENKEL | SNUGGLE',
 'TOTAL FS | HENKEL | SNUGGLE | SNUGGLE BASE',
 'TOTAL FS | HENKEL | SNUGGLE | SNUGGLE EXHILARATIONS',
 'TOTAL FS | HENKEL | SNUGGLE | SNUGGLE NON-CONCENTRATE',
 'TOTAL FS | HENKEL | SNUGGLE | SNUGGLE PLUS SUPER FRESH',
 'TOTAL FS | HENKEL | SNUGGLE | SNUGGLE SCENT BOOSTERS',
 'TOTAL FS | HENKEL | SNUGGLE | SNUGGLE SCENT SHAKES',
 'TOTAL FS | HENKEL | SNUGGLE | SNUGGLE SUPER CARE',
 'TOTAL FS | HENKEL | SUN CUDDLE SOFT',
 'TOTAL FS | HENKEL | SUN CUDDLE SOFT | SUN CUDDLE SOFT',
 'TOTAL FS | P&G',
 'TOTAL FS | P&G | BOUNCE',
 'TOTAL FS | P&G | BOUNCE | BOUNCE BASE',
 'TOTAL FS | P&G | BOUNCE | BOUNCE PET HAIR & LINT GUARD',
 'TOTAL FS | P&G | BOUNCE | BOUNCE W/FEBREZE',
 'TOTAL FS | P&G | BOUNCE | BOUNCE WRINKLE GUARD',
 'TOTAL FS | P&G | DOWNY NON-US',
 'TOTAL FS | P&G | DOWNY NON-US | DOWNY NON US',
 'TOTAL FS | P&G | DOWNY US',
 'TOTAL FS | P&G | DOWNY US | DOWNY BASE',
 'TOTAL FS | P&G | DOWNY US | DOWNY DEFY DAMAGE',
 'TOTAL FS | P&G | DOWNY US | DOWNY FRESH PROTECT',
 'TOTAL FS | P&G | DOWNY US | DOWNY INFUSIONS',
 'TOTAL FS | P&G | DOWNY US | DOWNY INTENSE',
 'TOTAL FS | P&G | DOWNY US | DOWNY NATURE BLENDS',
 'TOTAL FS | P&G | DOWNY US | DOWNY NON-CONCENTRATE',
 'TOTAL FS | P&G | DOWNY US | DOWNY ODOR PROTECT',
 'TOTAL FS | P&G | DOWNY US | DOWNY UNSTOPABLES',
 'TOTAL FS | P&G | DOWNY US | DOWNY WRINKLE GUARD',
 'TOTAL FS | P&G | DOWNY US | ULTRA DOWNY',
 'TOTAL FS | P&G | DREFT',
 'TOTAL FS | P&G | DREFT | DREFT BLISSFULS',
 'TOTAL FS | P&G | GAIN',
 'TOTAL FS | P&G | GAIN | GAIN BASE',
 'TOTAL FS | P&G | GAIN | GAIN BOTANICALS',
 'TOTAL FS | P&G | GAIN | GAIN FIREWORKS',
 'TOTAL FS | P&G | GAIN | GAIN NON-CONCENTRATE',
 'TOTAL FS | P&G | GAIN | GAIN SCENT BLAST',
 'TOTAL FS | P&G | HOME MADE SIMPLE',
 'TOTAL FS | P&G | HOME MADE SIMPLE | HOME MADE SIMPLE',
 'TOTAL FS | P&G | NBD',
 'TOTAL FS | P&G | NBD | NBD',
 'TOTAL FS | PRVT LBL',
 'TOTAL FS | SC JOHNSON',
 'TOTAL FS | SC JOHNSON | METHOD',
 'TOTAL FS | SC JOHNSON | METHOD | METHOD',
 'TOTAL FS | SC JOHNSON | MRS MEYERS',
 'TOTAL FS | SC JOHNSON | MRS MEYERS | MRS MEYERS'}

In [607]:
Waterfall_FS.columns

Index(['Markets', 'ShareBasis', 'Category', 'Manufacturer', 'Franchise',
       'Brand', 'SubBrand', 'Products', 'Facts', 'FY 2020', 'FY 2019',
       'FY 2018', 'FY 2017', 'YTD 2021', 'YTD 2020', 'Latest 13 Weeks',
       'Latest 26 Weeks', 'Q1 2021', 'Q4 2020', 'Q3 2020', 'Q2 2020',
       'Q1 2020', 'Q4 2019', 'Q3 2019', 'Q2 2019', '4 W/E 02/27/21',
       '4 W/E 01/30/21', '5 W/E 01/02/21', '4 W/E 11/28/20', '4 W/E 10/31/20',
       '5 W/E 10/03/20', '4 W/E 08/29/20', '4 W/E 08/01/20', '5 W/E 07/04/20',
       '4 W/E 05/30/20', '4 W/E 05/02/20', '5 W/E 04/04/20', '4 W/E 02/29/20',
       '4 W/E 02/01/20', 'Key'],
      dtype='object')

In [608]:
Data_5p.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1734266 entries, 0 to 2823236
Data columns (total 40 columns):
 #   Column           Dtype
---  ------           -----
 0   Markets          object
 1   ShareBasis       object
 2   Category         object
 3   Manufacturer     object
 4   Franchise        object
 5   Brand            object
 6   SubBrand         object
 7   Products         object
 8   Facts            object
 9   FY 2020          float64
 10  FY 2019          float64
 11  FY 2018          float64
 12  FY 2017          float64
 13  YTD 2021         float64
 14  YTD 2020         float64
 15  Latest 13 Weeks  float64
 16  Latest 26 Weeks  float64
 17  Q1 2021          float64
 18  Q4 2020          float64
 19  Q3 2020          float64
 20  Q2 2020          float64
 21  Q1 2020          float64
 22  Q4 2019          float64
 23  Q3 2019          float64
 24  Q2 2019          float64
 25  4 W/E 02/27/21   float64
 26  4 W/E 01/30/21   float64
 27  5 W/E 01/02/21   float64
 28  4 W/E 11/28/20   float64
 29  4 W/E 10/31/20   float64
 30  5 W/E 10/03/20   float64
 31  4 W/E 08/29/20   float64
 32  4 W/E 08/01/20   float64
 33  5 W/E 07/04/20   float64
 34  4 W/E 05/30/20   float64
 35  4 W/E 05/02/20   float64
 36  5 W/E 04/04/20   float64
 37  4 W/E 02/29/20   float64
 38  4 W/E 02/01/20   float64
 39  Key              object
dtypes: float64(30), object(10)
memory usage: 542.5+ MB

In [609]:
Waterfall_Time_Period_FS=list(Data_5p.columns[0:2])+list(Data_5p.columns[7:8])+list(Data_5p.columns[3:7])+list(Data_5p.columns[8:9])+list(Data_5p.columns[13:15])+list(Data_5p.columns[25:26])+list(Data_5p.columns[37:38])
print(Waterfall_Time_Period_FS)

['Markets', 'ShareBasis', 'Products', 'Manufacturer', 'Franchise', 'Brand', 'SubBrand', 'Facts', 'YTD 2021', 'YTD 2020', '4 W/E 02/27/21', '4 W/E 02/29/20']

**Facts, Markets, Time_Period Filter**

In [610]:
set(Waterfall_FS["Markets"])

{'AHOLD USA CORP TOTAL CTA',
 'ALBSCO Total Company TA',
 'BJS TOTAL CENSUS TA',
 'CLUB',
 'CVS TOTAL CORP WO HI CENSUS TA',
 'DOL GEN TOTAL CENSUS TA',
 'El Super Total TA',
 'FAMILY DOLLAR TOTAL CENSUS TRADING AREA',
 'FDM',
 'Kmart Total TA',
 'MEIJER TOTAL CENSUS TRADING AREA',
 'PUBLIX TOTAL CENSUS TRADING AREA',
 'REGIONAL GROCERY xLA',
 'RITE AID - TOTAL CENSUS TA',
 'SAMS TOTAL CENSUS TRADING AREA',
 'SHOPRITE TOTAL CENSUS TRADING AREA',
 'Strategic Grocery',
 'TARGET TOTAL BM/FF CENSUS TA',
 'TOTAL MASS',
 'TOTAL US DRUG',
 'TOTAL US FOOD',
 'TOTAL US XAOC',
 'TOTAL WALMART TOTAL US CTA',
 'VDC',
 'WALGREENS CORP TOTAL CENSUS TA'}

In [611]:
Waterfall_FS= Waterfall_FS[Waterfall_FS["Facts"].isin(Waterfall_Facts)]
Waterfall_FS= Waterfall_FS[Waterfall_FS["Markets"].isin(Waterfall_Markets)]
Waterfall_FS=Waterfall_FS[Waterfall_Time_Period_FS]

In [612]:
print(len(Waterfall_Markets), len(set(Waterfall_FS["Markets"])))

15 15

In [613]:
set(Waterfall_Markets)-set(Waterfall_FS["Markets"])

set()

In [614]:
Waterfall_FS.head(2)

,Markets,ShareBasis,Products,Manufacturer,Franchise,Brand,SubBrand,Facts,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20
617013,TOTAL US XAOC,BEAD FS,BEAD FS,,,,,$,2324992.347,NaN,1085867.541,NaN
617016,TOTAL US XAOC,BEAD FS,BEAD FS,,,,,$ Shr - CP CATEGORY,100.000,NaN,100.000,NaN

**Column name Change**

In [615]:
Waterfall_FS.rename(columns={"Markets":"MKT","Products":"PROD","Manufacturer":"CP_MANUFACTURER","ShareBasis":"CP_SHARE_BASIS",
                                "Franchise":"CP_FRANCHISE","Brand":"CP_BRAND","SubBrand":"CP_SUBBRAND","Facts":"FCT"},inplace=True)

In [616]:
Waterfall_FS.columns

Index(['MKT', 'CP_SHARE_BASIS', 'PROD', 'CP_MANUFACTURER', 'CP_FRANCHISE',
       'CP_BRAND', 'CP_SUBBRAND', 'FCT', 'YTD 2021', 'YTD 2020',
       '4 W/E 02/27/21', '4 W/E 02/29/20'],
      dtype='object')

In [617]:
Waterfall_FS["CP_CATEGORY"] = "FABRIC SOFTENERS"

In [618]:
# column_names = list(Waterfall_FS.columns)
# column_names.insert(count,"CP_SHARE_BASIS")
# column_names.pop(-2)
# print(column_names)

In [619]:
Waterfall_FS = movecol(Waterfall_FS, 
             cols_to_move=["CP_CATEGORY"], 
             ref_col='PROD',
             place='After')
Waterfall_FS.head(3)

,MKT,CP_SHARE_BASIS,PROD,CP_CATEGORY,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND,FCT,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20
617013,TOTAL US XAOC,BEAD FS,BEAD FS,FABRIC SOFTENERS,,,,,$,2324992.347,NaN,1085867.541,NaN
617016,TOTAL US XAOC,BEAD FS,BEAD FS,FABRIC SOFTENERS,,,,,$ Shr - CP CATEGORY,100.000,NaN,100.000,NaN
617037,TOTAL US XAOC,BEAD FS,BEAD FS,FABRIC SOFTENERS,,,,,Base $,1548583.127,NaN,657336.641,NaN

In [620]:
Waterfall_FS = movecol(Waterfall_FS, 
             cols_to_move=["CP_SHARE_BASIS"], 
             ref_col='MKT',
             place='Before')
Waterfall_FS.head(3)

,CP_SHARE_BASIS,MKT,PROD,CP_CATEGORY,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND,FCT,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20
617013,BEAD FS,TOTAL US XAOC,BEAD FS,FABRIC SOFTENERS,,,,,$,2324992.347,NaN,1085867.541,NaN
617016,BEAD FS,TOTAL US XAOC,BEAD FS,FABRIC SOFTENERS,,,,,$ Shr - CP CATEGORY,100.000,NaN,100.000,NaN
617037,BEAD FS,TOTAL US XAOC,BEAD FS,FABRIC SOFTENERS,,,,,Base $,1548583.127,NaN,657336.641,NaN

In [621]:
Waterfall_FS.columns

Index(['CP_SHARE_BASIS', 'MKT', 'PROD', 'CP_CATEGORY', 'CP_MANUFACTURER',
       'CP_FRANCHISE', 'CP_BRAND', 'CP_SUBBRAND', 'FCT', 'YTD 2021',
       'YTD 2020', '4 W/E 02/27/21', '4 W/E 02/29/20'],
      dtype='object')

In [622]:
del Waterfall_FS["CP_SUBBRAND"]

In [623]:
set(Waterfall_FS["CP_SHARE_BASIS"])

{'BEAD FS', 'LIQUID FS', 'SCENT BOOSTERS', 'SHEETS', 'TOTAL FS'}

In [624]:
#Waterfall_FS["CP_SHARE_BASIS"].replace({"FABRIC SOFTENERS" : "TOTAL FS"}, inplace = True)

In [625]:
Waterfall_FS.head(3)

,CP_SHARE_BASIS,MKT,PROD,CP_CATEGORY,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,FCT,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20
617013,BEAD FS,TOTAL US XAOC,BEAD FS,FABRIC SOFTENERS,,,,$,2324992.347,NaN,1085867.541,NaN
617016,BEAD FS,TOTAL US XAOC,BEAD FS,FABRIC SOFTENERS,,,,$ Shr - CP CATEGORY,100.000,NaN,100.000,NaN
617037,BEAD FS,TOTAL US XAOC,BEAD FS,FABRIC SOFTENERS,,,,Base $,1548583.127,NaN,657336.641,NaN

In [626]:
Waterfall_FS["X"] = ""
for i in range(0,len(Waterfall_FS)):
    if (Waterfall_FS["CP_SHARE_BASIS"].iloc[i] == "BEAD FS") & (Waterfall_FS["FCT"].iloc[i] == "$ Shr - CP CATEGORY"):
        Waterfall_FS["X"].iloc[i] = "Bead FS $ Share"
    elif (Waterfall_FS["CP_SHARE_BASIS"].iloc[i] == "TOTAL FS") & (Waterfall_FS["FCT"].iloc[i] == "$ Shr - CP CATEGORY"):
        Waterfall_FS["X"].iloc[i] = "FS $ Share"
    elif (Waterfall_FS["CP_SHARE_BASIS"].iloc[i] == "LIQUID FS") & (Waterfall_FS["FCT"].iloc[i] == "$ Shr - CP CATEGORY"):
        Waterfall_FS["X"].iloc[i] = "Liq $ Share"
    elif (Waterfall_FS["CP_SHARE_BASIS"].iloc[i] == "SCENT BOOSTERS") & (Waterfall_FS["FCT"].iloc[i] == "$ Shr - CP CATEGORY"):
        Waterfall_FS["X"].iloc[i] = "Scent Booster $ Share"
    elif (Waterfall_FS["CP_SHARE_BASIS"].iloc[i] == "SHEETS") & (Waterfall_FS["FCT"].iloc[i] == "$ Shr - CP CATEGORY"):
        Waterfall_FS["X"].iloc[i] = "Sheets $ Share"
    else:
        Waterfall_FS["X"].iloc[i] = Waterfall_FS["FCT"].iloc[i]
    #Waterfall_FS[""].iloc[i] = Waterfall_FS["SubBrand"].iloc[i] +" "+Waterfall_FS["Container"].iloc[i]
Waterfall_FS.head(5)

,CP_SHARE_BASIS,MKT,PROD,CP_CATEGORY,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,FCT,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20,X
617013,BEAD FS,TOTAL US XAOC,BEAD FS,FABRIC SOFTENERS,,,,$,2324992.347,NaN,1085867.541,NaN,$
617016,BEAD FS,TOTAL US XAOC,BEAD FS,FABRIC SOFTENERS,,,,$ Shr - CP CATEGORY,100.000,NaN,100.000,NaN,Bead FS $ Share
617037,BEAD FS,TOTAL US XAOC,BEAD FS,FABRIC SOFTENERS,,,,Base $,1548583.127,NaN,657336.641,NaN,Base $
617070,BEAD FS,TOTAL US XAOC,BEAD FS | P&G,FABRIC SOFTENERS,P&G,,,$,2324992.347,NaN,1085867.541,NaN,$
617073,BEAD FS,TOTAL US XAOC,BEAD FS | P&G,FABRIC SOFTENERS,P&G,,,$ Shr - CP CATEGORY,100.000,NaN,100.000,NaN,Bead FS $ Share

In [627]:
set(Waterfall_FS["X"])

{'$',
 'Base $',
 'Bead FS $ Share',
 'Disp w/o Feat $',
 'FS $ Share',
 'Feat & Disp $',
 'Feat w/o Disp $',
 'Liq $ Share',
 'No Promo Incr $',
 'Price Decr Only $',
 'Scent Booster $ Share',
 'Sheets $ Share'}

In [628]:
Waterfall_FS["FCT"] = Waterfall_FS["X"]

In [629]:
del Waterfall_FS["X"]

In [630]:
set(Waterfall_FS["MKT"])

{'BJS TOTAL CENSUS TA',
 'CVS TOTAL CORP WO HI CENSUS TA',
 'DOL GEN TOTAL CENSUS TA',
 'El Super Total TA',
 'FAMILY DOLLAR TOTAL CENSUS TRADING AREA',
 'Kmart Total TA',
 'PUBLIX TOTAL CENSUS TRADING AREA',
 'RITE AID - TOTAL CENSUS TA',
 'SAMS TOTAL CENSUS TRADING AREA',
 'TARGET TOTAL BM/FF CENSUS TA',
 'TOTAL US DRUG',
 'TOTAL US FOOD',
 'TOTAL US XAOC',
 'TOTAL WALMART TOTAL US CTA',
 'WALGREENS CORP TOTAL CENSUS TA'}

**Fact Name Change**

In [631]:
Waterfall_FS["FCT"].replace(Waterfall_Fact_Mapping,inplace=True)

In [632]:
Waterfall_FS.head(2)

,CP_SHARE_BASIS,MKT,PROD,CP_CATEGORY,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,FCT,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20
617013,BEAD FS,TOTAL US XAOC,BEAD FS,FABRIC SOFTENERS,,,,Dollars,2324992.347,NaN,1085867.541,NaN
617016,BEAD FS,TOTAL US XAOC,BEAD FS,FABRIC SOFTENERS,,,,Bead FS $ Share,100.000,NaN,100.000,NaN

In [633]:
set(Waterfall_FS["CP_SHARE_BASIS"])

{'BEAD FS', 'LIQUID FS', 'SCENT BOOSTERS', 'SHEETS', 'TOTAL FS'}

In [634]:
Fact_order_1 = ["Baseline $","Incr.$ w/No Promo","Incr.$ w/Ftr w/o Disp","Incr.$ w/Disp w/o Ftr","Incr.$ w/Ftr & Disp",
              "Incr.$ w/TPR","Dollars","Liq $ Share","Scent Booster $ Share", "Sheets $ Share", "FS $ Share", "Bead FS $ Share"]

Fact_order = CategoricalDtype(
    Fact_order_1, 
    ordered=True
)


Waterfall_FS['FCT'] = Waterfall_FS['FCT'].astype(Fact_order)

Waterfall_FS.sort_values(['MKT','PROD','FCT'],inplace=True)

## **Waterfall_Manu**

In [635]:
Waterfall_Manu=Waterfall_FS.loc[(Waterfall_FS["CP_BRAND"]=="")&(Waterfall_FS["CP_FRANCHISE"]=="")&(Waterfall_FS["CP_MANUFACTURER"]!="")]

In [636]:
Waterfall_Manu["Record_ID"]=range(1,len(Waterfall_Manu)+1)

In [637]:
Waterfall_Manu.to_csv(path_FS+"promo_waterfall_manu.csv",index=False)

## **Waterfall_Fran**

In [638]:
Waterfall_Fran=Waterfall_FS.loc[(Waterfall_FS["CP_BRAND"]=="")&(Waterfall_FS["CP_FRANCHISE"]!="")]

In [639]:
Waterfall_Fran["Record_ID"]=range(1,len(Waterfall_Fran)+1)

In [640]:
Waterfall_Fran.to_csv(path_FS+"promo_waterfall_fran.csv",index=False)

## **Waterfall_Brand**

In [641]:
Waterfall_Brand=Waterfall_FS.loc[(Waterfall_FS["CP_BRAND"]!="")]

In [642]:
Waterfall_Cat=Waterfall_FS.loc[(Waterfall_FS["CP_BRAND"]=="")&(Waterfall_FS["CP_FRANCHISE"]=="")&(Waterfall_FS["CP_MANUFACTURER"]=="")]

In [643]:
Waterfall_Cat_Brand=pd.concat([Waterfall_Cat,Waterfall_Brand],axis=0)

In [644]:
Waterfall_Cat_Brand['FCT'] = Waterfall_Cat_Brand['FCT'].astype(Fact_order)

Waterfall_Cat_Brand.sort_values(['MKT','PROD','FCT'],inplace=True)

In [645]:
Waterfall_Cat_Brand.drop_duplicates(inplace = True)

In [646]:
Waterfall_Cat_Brand["Record_ID"]=range(1,len(Waterfall_Cat_Brand)+1)

In [647]:
Waterfall_Cat_Brand.to_csv(path_FS+"promo_waterfall_brand.csv",index=False)

## HHC

In [648]:
# path to store Output files

path_HHC="//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/05. Output Data/5P Output/HHC/"

In [649]:
Data_5p_HHC=Data_5p[Data_5p["Category"] == "HHC"]

In [650]:
Data_5p_HHC.head(2)

,Markets,ShareBasis,Category,Manufacturer,Franchise,Brand,SubBrand,Products,Facts,FY 2020,...,5 W/E 10/03/20,4 W/E 08/29/20,4 W/E 08/01/20,5 W/E 07/04/20,4 W/E 05/30/20,4 W/E 05/02/20,5 W/E 04/04/20,4 W/E 02/29/20,4 W/E 02/01/20,Key
0,US AOC,ABRASIVE,HHC,,,,,ABRASIVE,% $ Any Promo,6.852,...,5.684,5.237,5.397,4.521,5.375,6.757,11.126,8.262,11.107,Total US xAOCABRASIVE
1,US AOC,ABRASIVE,HHC,,,,,ABRASIVE,% $ Any Promo Chg YA,-3.033,...,-1.867,-3.987,-1.106,-5.830,-5.742,-4.454,-2.334,-0.137,2.827,Total US xAOCABRASIVE

In [651]:
set(Data_5p_HHC["ShareBasis"])

{'ABRASIVE', 'APC+WW', 'POUR APC+WW', 'SPRAY', 'WOOD'}

In [652]:
Data_5p_HHC = Data_5p_HHC[Data_5p_HHC["ShareBasis"] == "POUR APC+WW"]

In [653]:
Data_5p_HHC["ShareBasis"].replace({"POUR APC+WW" : "POUR"}, inplace = True)

In [654]:
Data_5p_HHC["Products"] = Data_5p_HHC["Products"].str.replace("POUR APC+WW" , "POUR APC")

In [655]:
set(list(Data_5p_HHC["ShareBasis"]))

{'POUR'}

**Filtering HHC Data**

In [656]:
#Data_5p_HHC=Data_5p.loc[Data_5p["ShareBasis"].isin(["BATTERY+HYBRID", "POWER"])]

In [657]:
set(Data_5p_HHC["Markets"])

{'Ahold',
 'Alb/Sfy',
 'BJs',
 'CLUB',
 'CVS',
 'Dollar General',
 'FDM',
 'Family Dollar',
 'Fiesta',
 'Kmart',
 'Meijer',
 'Publix',
 'REGIONAL GROCERY xLA',
 'Rite Aid',
 'Sams',
 'Shoprite',
 'Strategic Grocery',
 'TOTAL MASS',
 'Target',
 'US AOC',
 'US Drug',
 'US Food',
 'VDC',
 'Walgreens',
 'Walmart'}

## Promotion Data HHC

In [658]:
HHC_Promo= Data_5p_HHC.copy()

In [659]:
set(Promo_Facts) - set(HHC_Promo['Facts'])

set()

In [660]:
Promo_Markets=["US AOC","CVS","Dollar General","Family Dollar","Publix","BJs",
         "Rite Aid","Sams","Target","US Drug","US Food","Walgreens","Walmart", "Kmart", "Fiesta"]

In [661]:
# Filter Data based on Promo selection
HHC_Promo= HHC_Promo[HHC_Promo["Facts"].isin(Promo_Facts)]
HHC_Promo= HHC_Promo[HHC_Promo["Markets"].isin(Promo_Markets)]
HHC_Promo=HHC_Promo[Promo_Time_Period]

In [662]:
Promo_Time_Period

['Markets',
 'Products',
 'ShareBasis',
 'Category',
 'Manufacturer',
 'Franchise',
 'Brand',
 'SubBrand',
 'Facts',
 '4 W/E 02/27/21',
 'Latest 13 Weeks',
 'Latest 26 Weeks',
 'YTD 2021',
 'FY 2020',
 '4 W/E 02/29/20',
 '5 W/E 04/04/20',
 '4 W/E 05/02/20',
 '4 W/E 05/30/20',
 '5 W/E 07/04/20',
 '4 W/E 08/01/20',
 '4 W/E 08/29/20',
 '5 W/E 10/03/20',
 '4 W/E 10/31/20',
 '4 W/E 11/28/20',
 '5 W/E 01/02/21',
 '4 W/E 01/30/21']

In [663]:
print(len(Promo_Markets), len(set(HHC_Promo["Markets"])))

15 15

In [664]:
set(Promo_Markets) - set(HHC_Promo["Markets"])

set()

**Fact Name Change**

In [665]:
HHC_Promo["Facts"].replace(Promo_Fact_Mapping,inplace=True)

In [666]:
HHC_Promo.shape

(23190, 26)

**Column name Change**

In [667]:
HHC_Promo["CP_CATEGORY"] = "HH CLEANERS"

In [668]:
HHC_Promo.rename(columns={"Markets":"MKT","ShareBasis":"CP_SHARE_BASIS","Products":"PROD","Manufacturer":"CP_MANUFACTURER",
                                "Franchise":"CP_FRANCHISE","Brand":"CP_BRAND","SubBrand":"CP_SUBBRAND_VARIANT","Facts":"FCT"},inplace=True)

In [669]:
HHC_Promo = movecol(HHC_Promo, 
             cols_to_move=['CP_CATEGORY'], 
             ref_col='PROD',
             place='After')
HHC_Promo.head(3)

,MKT,PROD,CP_CATEGORY,CP_SHARE_BASIS,Category,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND_VARIANT,FCT,...,4 W/E 05/02/20,4 W/E 05/30/20,5 W/E 07/04/20,4 W/E 08/01/20,4 W/E 08/29/20,5 W/E 10/03/20,4 W/E 10/31/20,4 W/E 11/28/20,5 W/E 01/02/21,4 W/E 01/30/21
1784306,US AOC,POUR APC+WW,HH CLEANERS,POUR,HHC,,,,,% Dollars w/Any Promo,...,8.348,6.954,8.908,9.711,10.851,7.786,7.770,9.059,7.303,7.293
1784307,US AOC,POUR APC+WW,HH CLEANERS,POUR,HHC,,,,,% Dollars w/Any Promo YAG Chg,...,-10.118,-9.243,-8.083,-6.930,-8.201,-8.406,-9.178,-7.625,-5.227,-7.934
1784308,US AOC,POUR APC+WW,HH CLEANERS,POUR,HHC,,,,,% EQ Units w/Any Promo,...,8.349,7.309,9.584,10.592,12.191,7.933,9.100,10.002,7.407,7.815

In [670]:
#HHC_Promo["CP_SHARE_BASIS"].replace({"FABRIC SOFTENERS" : "TOTAL HHC"}, inplace = True)

In [671]:
set(HHC_Promo["CP_SHARE_BASIS"])
#HHC_Promo.head(3)

{'POUR'}

In [672]:
HHC_Promo.columns

Index(['MKT', 'PROD', 'CP_CATEGORY', 'CP_SHARE_BASIS', 'Category',
       'CP_MANUFACTURER', 'CP_FRANCHISE', 'CP_BRAND', 'CP_SUBBRAND_VARIANT',
       'FCT', '4 W/E 02/27/21', 'Latest 13 Weeks', 'Latest 26 Weeks',
       'YTD 2021', 'FY 2020', '4 W/E 02/29/20', '5 W/E 04/04/20',
       '4 W/E 05/02/20', '4 W/E 05/30/20', '5 W/E 07/04/20', '4 W/E 08/01/20',
       '4 W/E 08/29/20', '5 W/E 10/03/20', '4 W/E 10/31/20', '4 W/E 11/28/20',
       '5 W/E 01/02/21', '4 W/E 01/30/21'],
      dtype='object')

In [673]:
HHC_Promo.head(2)

,MKT,PROD,CP_CATEGORY,CP_SHARE_BASIS,Category,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND_VARIANT,FCT,...,4 W/E 05/02/20,4 W/E 05/30/20,5 W/E 07/04/20,4 W/E 08/01/20,4 W/E 08/29/20,5 W/E 10/03/20,4 W/E 10/31/20,4 W/E 11/28/20,5 W/E 01/02/21,4 W/E 01/30/21
1784306,US AOC,POUR APC+WW,HH CLEANERS,POUR,HHC,,,,,% Dollars w/Any Promo,...,8.348,6.954,8.908,9.711,10.851,7.786,7.770,9.059,7.303,7.293
1784307,US AOC,POUR APC+WW,HH CLEANERS,POUR,HHC,,,,,% Dollars w/Any Promo YAG Chg,...,-10.118,-9.243,-8.083,-6.930,-8.201,-8.406,-9.178,-7.625,-5.227,-7.934

In [674]:
# del HHC_Promo["ShareBasis"]
del HHC_Promo["Category"]

In [675]:
Fact_order = CategoricalDtype(
    sorted(list(set(HHC_Promo["FCT"]))), 
    ordered=True
)

HHC_Promo['FCT'] = HHC_Promo['FCT'].astype(Fact_order)

HHC_Promo.sort_values(['MKT','PROD','FCT'],inplace=True)

## **promo_category**

In [676]:
promo_category=HHC_Promo.loc[(HHC_Promo["CP_SUBBRAND_VARIANT"]=="") & (HHC_Promo["CP_BRAND"]=="")&(HHC_Promo["CP_FRANCHISE"]=="")&(HHC_Promo["CP_MANUFACTURER"]=="")]

In [677]:
promo_category.drop_duplicates(inplace = True)

In [678]:
length= len(promo_category)
promo_category["Record_ID"]=range(1,length+1)

In [679]:
promo_category.head(2)

,MKT,PROD,CP_CATEGORY,CP_SHARE_BASIS,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND_VARIANT,FCT,4 W/E 02/27/21,...,4 W/E 05/30/20,5 W/E 07/04/20,4 W/E 08/01/20,4 W/E 08/29/20,5 W/E 10/03/20,4 W/E 10/31/20,4 W/E 11/28/20,5 W/E 01/02/21,4 W/E 01/30/21,Record_ID
1812473,BJs,POUR APC+WW,HH CLEANERS,POUR,,,,,$ Share,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,1
1812474,BJs,POUR APC+WW,HH CLEANERS,POUR,,,,,$ Share YAG Chg,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2

In [680]:
promo_category.to_csv(path_HHC+"promo_category.csv",index=False)

## **promo_toplevel**

In [681]:
promo_toplevel=HHC_Promo.loc[(HHC_Promo["CP_SUBBRAND_VARIANT"]=="") & (HHC_Promo["CP_BRAND"]=="")&(HHC_Promo["CP_FRANCHISE"]=="")&(HHC_Promo["CP_MANUFACTURER"]!="")]

In [682]:
# Blank row 0th position
df1=pd.DataFrame([[np.nan]*len(promo_toplevel.columns)],columns=promo_toplevel.columns)
promo_toplevel=df1.append(promo_toplevel,ignore_index=True)

In [683]:
promo_toplevel.drop_duplicates(inplace = True)

In [684]:
length= len(promo_toplevel)
promo_toplevel["Record_ID"]=range(1,length+1)

In [685]:
promo_toplevel.to_csv(path_HHC+"promo_toplevel.csv",index=False)

## **promo_franchise**

In [686]:
promo_franchise=HHC_Promo.loc[(HHC_Promo["CP_SUBBRAND_VARIANT"]=="") & (HHC_Promo["CP_BRAND"]=="")&(HHC_Promo["CP_FRANCHISE"]!="")]

In [687]:
promo_franchise.drop_duplicates(inplace = True)

In [688]:
length= len(promo_franchise)
promo_franchise["Record_ID"]=range(1,length+1)

In [689]:
promo_franchise.to_csv(path_HHC+"promo_franchise.csv",index=False)

## **promo_brand_promo**

In [690]:
promo_brand_promo=HHC_Promo.loc[(HHC_Promo["CP_SUBBRAND_VARIANT"]=="") & (HHC_Promo["CP_BRAND"]!="")]

In [691]:
promo_brand_promo.drop_duplicates(inplace = True)

In [692]:
length= len(promo_brand_promo)
promo_brand_promo["Record_ID"]=range(1,length+1)

In [693]:
promo_brand_promo.to_csv(path_HHC+"promo_brand_promo.csv",index=False)

## **promo_subbrand_promo**

In [694]:
promo_subbrand_promo=HHC_Promo.loc[(HHC_Promo["CP_SUBBRAND_VARIANT"]!="")]

In [695]:
promo_subbrand_promo.drop_duplicates(inplace = True)

In [696]:
length= len(promo_subbrand_promo)
promo_subbrand_promo["Record_ID"]=range(1,length+1)

In [697]:
promo_subbrand_promo.to_csv(path_HHC+"promo_subbrand_promo.csv",index=False)

## Waterfall

In [698]:
Waterfall_HHC=Data_5p_HHC.copy()

In [699]:
set(Waterfall_HHC['Markets'])

{'Ahold',
 'Alb/Sfy',
 'BJs',
 'CLUB',
 'CVS',
 'Dollar General',
 'FDM',
 'Family Dollar',
 'Fiesta',
 'Kmart',
 'Meijer',
 'Publix',
 'REGIONAL GROCERY xLA',
 'Rite Aid',
 'Sams',
 'Shoprite',
 'Strategic Grocery',
 'TOTAL MASS',
 'Target',
 'US AOC',
 'US Drug',
 'US Food',
 'VDC',
 'Walgreens',
 'Walmart'}

In [700]:
Waterfall_Markets=["TOTAL US XAOC","TOTAL US DRUG","TOTAL US FOOD","TOTAL WALMART TOTAL US CTA","TARGET TOTAL BM/FF CENSUS TA",
         "WALGREENS CORP TOTAL CENSUS TA","RITE AID - TOTAL CENSUS TA",
         "PUBLIX TOTAL CENSUS TRADING AREA","FAMILY DOLLAR TOTAL CENSUS TRADING AREA","DOL GEN TOTAL CENSUS TA",
         "CVS TOTAL CORP WO HI CENSUS TA","Fiesta Total TA","Kmart Total TA",
                   "SAMS TOTAL CENSUS TRADING AREA","BJS TOTAL CENSUS TA" ]

**Market Mapping**

In [701]:
set(Waterfall_HHC["Markets"])

{'Ahold',
 'Alb/Sfy',
 'BJs',
 'CLUB',
 'CVS',
 'Dollar General',
 'FDM',
 'Family Dollar',
 'Fiesta',
 'Kmart',
 'Meijer',
 'Publix',
 'REGIONAL GROCERY xLA',
 'Rite Aid',
 'Sams',
 'Shoprite',
 'Strategic Grocery',
 'TOTAL MASS',
 'Target',
 'US AOC',
 'US Drug',
 'US Food',
 'VDC',
 'Walgreens',
 'Walmart'}

In [702]:
Waterfall_HHC["Markets"].replace(Waterfall_Market_Mapping,inplace=True)

In [703]:
Waterfall_HHC["Products"] = Waterfall_HHC["Products"].str.replace("POUR APC+WW" , "POUR APC")

In [704]:
set(Waterfall_HHC["Products"])

{'POUR APC+WW',
 'POUR APC+WW | ALEN',
 'POUR APC+WW | ALEN | ALEN REM',
 'POUR APC+WW | ALEN | ALEN REM | ALEN REM',
 'POUR APC+WW | ALEN | ALEN REM | ALEN REM | REM SUBBRAND VARIANT',
 'POUR APC+WW | ALEN | FLASH',
 'POUR APC+WW | ALEN | FLASH | FLASH',
 'POUR APC+WW | ALEN | FLASH | FLASH | FLASH LAVENDER',
 'POUR APC+WW | ALEN | FLASH | FLASH | REM SUBBRAND VARIANT',
 'POUR APC+WW | ALEN | PINALEN',
 'POUR APC+WW | ALEN | PINALEN | PINALEN',
 'POUR APC+WW | ALEN | PINALEN | PINALEN | PINALEN FLORAL',
 'POUR APC+WW | ALEN | PINALEN | PINALEN | PINALEN FRUIT BLOSSOM',
 'POUR APC+WW | ALEN | PINALEN | PINALEN | PINALEN LAVENDER',
 'POUR APC+WW | ALEN | PINALEN | PINALEN | PINALEN LEMON',
 'POUR APC+WW | ALEN | PINALEN | PINALEN | PINALEN OCEAN BREEZE',
 'POUR APC+WW | ALEN | PINALEN | PINALEN | REM SUBBRAND VARIANT',
 'POUR APC+WW | ALEN | XTRA',
 'POUR APC+WW | ALEN | XTRA | XTRA',
 'POUR APC+WW | ALEN | XTRA | XTRA | REM SUBBRAND VARIANT',
 'POUR APC+WW | BONA',
 'POUR APC+WW | BONA | BONA',
 'POUR APC+WW | BONA | BONA | BONA HARDWOOD FLOOR CLNR',
 'POUR APC+WW | BONA | BONA | BONA HARDWOOD FLOOR CLNR | BONA HW FLOOR CLNR POUR',
 'POUR APC+WW | BONA | BONA | BONA STONE TILE LMNT CLNR',
 'POUR APC+WW | BONA | BONA | BONA STONE TILE LMNT CLNR | BONA STN TILE LMNT CLNR POUR',
 'POUR APC+WW | CLOROX',
 'POUR APC+WW | CLOROX | CLOROX',
 'POUR APC+WW | CLOROX | CLOROX REM',
 'POUR APC+WW | CLOROX | CLOROX REM | CLOROX REM BRAND',
 'POUR APC+WW | CLOROX | CLOROX REM | CLOROX REM BRAND | REM SUBBRAND VARIANT',
 'POUR APC+WW | CLOROX | CLOROX | CLOROX ALL PURP',
 'POUR APC+WW | CLOROX | CLOROX | CLOROX ALL PURP | REM SUBBRAND VARIANT',
 'POUR APC+WW | CLOROX | CLOROX | CLOROX CLEAN UP',
 'POUR APC+WW | CLOROX | CLOROX | CLOROX CLEAN UP | REM SUBBRAND VARIANT',
 'POUR APC+WW | CLOROX | CLOROX | CLOROX FRAGANZIA',
 'POUR APC+WW | CLOROX | CLOROX | CLOROX FRAGANZIA | CLOROX FRAGANZIA MORNING SKY',
 'POUR APC+WW | CLOROX | CLOROX | CLOROX FRAGANZIA | CLOROX FRAGANZIA SPRING',
 'POUR APC+WW | CLOROX | FORMULA 409',
 'POUR APC+WW | CLOROX | FORMULA 409 | FORMULA 409',
 'POUR APC+WW | CLOROX | FORMULA 409 | FORMULA 409 | FORMULA 409 ORIG',
 'POUR APC+WW | CLOROX | PINE SOL',
 'POUR APC+WW | CLOROX | PINE SOL | PINE-SOL',
 'POUR APC+WW | CLOROX | PINE SOL | PINE-SOL | PINE SOL LAVENDER',
 'POUR APC+WW | CLOROX | PINE SOL | PINE-SOL | PINE SOL LEMON',
 'POUR APC+WW | CLOROX | PINE SOL | PINE-SOL | PINE SOL ORANGE ENERGY',
 'POUR APC+WW | CLOROX | PINE SOL | PINE-SOL | PINE SOL PINE/ORIG',
 'POUR APC+WW | CLOROX | PINE SOL | PINE-SOL | PINE SOL RAIN CLEAN',
 'POUR APC+WW | CLOROX | PINE SOL | PINE-SOL | PINE SOL SPARKLING WAVE',
 'POUR APC+WW | CLOROX | PINE SOL | PINE-SOL | PINE SOL TROPICAL FLOWERS',
 'POUR APC+WW | COLGATE-PALMOLIVE',
 'POUR APC+WW | COLGATE-PALMOLIVE | AJAX US',
 'POUR APC+WW | COLGATE-PALMOLIVE | AJAX US | AJAX MULTI PURPOSE',
 'POUR APC+WW | COLGATE-PALMOLIVE | AJAX US | AJAX MULTI PURPOSE | AJAX MLTI PRPS LIME BKNG SODA',
 'POUR APC+WW | COLGATE-PALMOLIVE | AJAX US | AJAX MULTI PURPOSE | AJAX MLTI PRPS ORANGE',
 'POUR APC+WW | COLGATE-PALMOLIVE | FABULOSO IMPORT',
 'POUR APC+WW | COLGATE-PALMOLIVE | FABULOSO IMPORT | FABULOSO IMPORT',
 'POUR APC+WW | COLGATE-PALMOLIVE | FABULOSO IMPORT | FABULOSO IMPORT | REM SUBBRAND VARIANT',
 'POUR APC+WW | COLGATE-PALMOLIVE | FABULOSO US',
 'POUR APC+WW | COLGATE-PALMOLIVE | FABULOSO US | FABULOSO ANTIBACTERIAL',
 'POUR APC+WW | COLGATE-PALMOLIVE | FABULOSO US | FABULOSO ANTIBACTERIAL | FABULOSO ANTIBAC SPRKLNG CTRS',
 'POUR APC+WW | COLGATE-PALMOLIVE | FABULOSO US | FABULOSO BASE',
 'POUR APC+WW | COLGATE-PALMOLIVE | FABULOSO US | FABULOSO BASE | FABULOSO BSE APPLE VINEGAR',
 'POUR APC+WW | COLGATE-PALMOLIVE | FABULOSO US | FABULOSO BASE | FABULOSO BSE BKNG SD CITRS',
 'POUR APC+WW | COLGATE-PALMOLIVE | FABULOSO US | FABULOSO BASE | FABULOSO BSE BKNG SD ORANGE',
 'POUR APC+WW | COLGATE-PALMOLIVE | FABULOSO US | FABULOSO BASE | FABULOSO BSE LAVENDER',
 'POUR APC+WW | COLGATE-PALMOLIVE | FABULOSO US | FABULOSO BASE | FABULOSO BSE OCEAN PARADISE',
 'POUR APC+WW | COLGATE-PALMOLIVE | FABULOSO US | FABULOSO BASE | FABULOSO BSE PASSION OF FRUITS',
 'POUR APC+WW | COLGATE-PALMOLIVE | FABULOSO US | FABULOSO BASE | FABULOSO BSE REFRESHING LEMON',
 'POUR APC+WW | COLGATE-PALMOLIVE | FABULOSO US | FABULOSO BASE | FABULOSO BSE SPRING IN BLOOM',
 'POUR APC+WW | COLGATE-PALMOLIVE | FABULOSO US | FABULOSO BASE | FABULOSO MAXIMUM CLEAN FRESH',
 'POUR APC+WW | COLGATE-PALMOLIVE | FABULOSO US | FABULOSO BASE | FABULOSO W/BLEACH ALT SPRNG FR',
 'POUR APC+WW | COLGATE-PALMOLIVE | FABULOSO US | FABULOSO COMPLETE',
 'POUR APC+WW | COLGATE-PALMOLIVE | FABULOSO US | FABULOSO COMPLETE | FABULOSO COMPLETE COOL MIST',
 'POUR APC+WW | COLGATE-PALMOLIVE | FABULOSO US | FABULOSO COMPLETE | FABULOSO COMPLETE FLORAL BURST',
 'POUR APC+WW | COLGATE-PALMOLIVE | FABULOSO US | FABULOSO COMPLETE | FABULOSO COMPLETE FRESH BLAST',
 'POUR APC+WW | COLGATE-PALMOLIVE | FABULOSO US | FABULOSO COMPLETE | FABULOSO COMPLETE SPRKLNG CTRS',
 'POUR APC+WW | COLGATE-PALMOLIVE | FABULOSO US | FABULOSO PROFESSIONAL',
 'POUR APC+WW | COLGATE-PALMOLIVE | FABULOSO US | FABULOSO PROFESSIONAL | FABULOSO PROFESSIONAL LAVENDER',
 "POUR APC+WW | COLGATE-PALMOLIVE | MURPHY'S",
 "POUR APC+WW | COLGATE-PALMOLIVE | MURPHY'S | MURPHY'S ORIG",
 "POUR APC+WW | COLGATE-PALMOLIVE | MURPHY'S | MURPHY'S ORIG | MURPHY'S ORIG POUR",
 "POUR APC+WW | COLGATE-PALMOLIVE | MURPHY'S | MURPHY'S PROFESSIONAL",
 "POUR APC+WW | COLGATE-PALMOLIVE | MURPHY'S | MURPHY'S PROFESSIONAL | MURPHY'S PROFESSIONAL ORG POUR",
 'POUR APC+WW | P&G',
 'POUR APC+WW | P&G | MR CLEAN',
 'POUR APC+WW | P&G | MR CLEAN | MR CLEAN',
 'POUR APC+WW | P&G | MR CLEAN | MR CLEAN ANTIBACTERIAL',
 'POUR APC+WW | P&G | MR CLEAN | MR CLEAN ANTIBACTERIAL | MR CLEAN AB SUMMER CITRUS',
 'POUR APC+WW | P&G | MR CLEAN | MR CLEAN PROFESSIONAL',
 'POUR APC+WW | P&G | MR CLEAN | MR CLEAN PROFESSIONAL | REM SUBBRAND VARIANT',
 'POUR APC+WW | P&G | MR CLEAN | MR CLEAN W/ FEBREZE',
 'POUR APC+WW | P&G | MR CLEAN | MR CLEAN W/ FEBREZE | MR CLEAN W/FEBRZ LINEN & SKY',
 'POUR APC+WW | P&G | MR CLEAN | MR CLEAN W/ FEBREZE | MR CLEAN W/FEBRZ MEADOWS&RAIN',
 'POUR APC+WW | P&G | MR CLEAN | MR CLEAN W/ FEBREZE | MR CLEAN W/FEBRZ PET ODOR DEF',
 'POUR APC+WW | P&G | MR CLEAN | MR CLEAN | MR CLEAN MOONLIGHT BREEZE',
 'POUR APC+WW | P&G | MR CLEAN | MR CLEAN | MR CLEAN OCEAN WATER SPARKLE',
 'POUR APC+WW | P&G | MR CLEAN | MR CLEAN | REM SUBBRAND VARIANT',
 'POUR APC+WW | PRVT LBL',
 'POUR APC+WW | PRVT LBL | PRVT LBL',
 'POUR APC+WW | PRVT LBL | PRVT LBL | PRVT LBL',
 'POUR APC+WW | PRVT LBL | PRVT LBL | PRVT LBL | REM SUBBRAND VARIANT',
 'POUR APC+WW | RECKITT/BENK',
 'POUR APC+WW | RECKITT/BENK | LYSOL',
 'POUR APC+WW | RECKITT/BENK | LYSOL | LYSOL ALL PURPOSE',
 'POUR APC+WW | RECKITT/BENK | LYSOL | LYSOL ALL PURPOSE | LYSOL ALL PRPS CLN FRS PEONY',
 'POUR APC+WW | RECKITT/BENK | LYSOL | LYSOL ALL PURPOSE | LYSOL ALL PRPS CLN FRS SPK LEM',
 'POUR APC+WW | RECKITT/BENK | LYSOL | LYSOL ALL PURPOSE | LYSOL ALL PURPOSE ADIRONDK AIR',
 'POUR APC+WW | RECKITT/BENK | LYSOL | LYSOL ALL PURPOSE | LYSOL ALL PURPOSE LAVENDR BRZ',
 'POUR APC+WW | RECKITT/BENK | LYSOL | LYSOL ALL PURPOSE | LYSOL ALL PURPOSE LEMON',
 'POUR APC+WW | RECKITT/BENK | LYSOL | LYSOL ALL PURPOSE | LYSOL ALL PURPOSE PACIFIC FRSH',
 'POUR APC+WW | RECKITT/BENK | LYSOL | LYSOL ALL PURPOSE | LYSOL ALL PURPOSE REM SCENT',
 'POUR APC+WW | SC JOHNSON',
 'POUR APC+WW | SC JOHNSON | MRS MEYERS',
 'POUR APC+WW | SC JOHNSON | MRS MEYERS | MRS MEYERS',
 'POUR APC+WW | SC JOHNSON | MRS MEYERS | MRS MEYERS | REM SUBBRAND VARIANT',
 'POUR APC+WW | SC JOHNSON | PLEDGE',
 'POUR APC+WW | SC JOHNSON | PLEDGE | PLEDGE MULTI SRF',
 'POUR APC+WW | SC JOHNSON | PLEDGE | PLEDGE MULTI SRF | REM SUBBRAND VARIANT'}

In [705]:
Waterfall_HHC.columns

Index(['Markets', 'ShareBasis', 'Category', 'Manufacturer', 'Franchise',
       'Brand', 'SubBrand', 'Products', 'Facts', 'FY 2020', 'FY 2019',
       'FY 2018', 'FY 2017', 'YTD 2021', 'YTD 2020', 'Latest 13 Weeks',
       'Latest 26 Weeks', 'Q1 2021', 'Q4 2020', 'Q3 2020', 'Q2 2020',
       'Q1 2020', 'Q4 2019', 'Q3 2019', 'Q2 2019', '4 W/E 02/27/21',
       '4 W/E 01/30/21', '5 W/E 01/02/21', '4 W/E 11/28/20', '4 W/E 10/31/20',
       '5 W/E 10/03/20', '4 W/E 08/29/20', '4 W/E 08/01/20', '5 W/E 07/04/20',
       '4 W/E 05/30/20', '4 W/E 05/02/20', '5 W/E 04/04/20', '4 W/E 02/29/20',
       '4 W/E 02/01/20', 'Key'],
      dtype='object')

In [706]:
Data_5p.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1734266 entries, 0 to 2823236
Data columns (total 40 columns):
 #   Column           Dtype
---  ------           -----
 0   Markets          object
 1   ShareBasis       object
 2   Category         object
 3   Manufacturer     object
 4   Franchise        object
 5   Brand            object
 6   SubBrand         object
 7   Products         object
 8   Facts            object
 9   FY 2020          float64
 10  FY 2019          float64
 11  FY 2018          float64
 12  FY 2017          float64
 13  YTD 2021         float64
 14  YTD 2020         float64
 15  Latest 13 Weeks  float64
 16  Latest 26 Weeks  float64
 17  Q1 2021          float64
 18  Q4 2020          float64
 19  Q3 2020          float64
 20  Q2 2020          float64
 21  Q1 2020          float64
 22  Q4 2019          float64
 23  Q3 2019          float64
 24  Q2 2019          float64
 25  4 W/E 02/27/21   float64
 26  4 W/E 01/30/21   float64
 27  5 W/E 01/02/21   float64
 28  4 W/E 11/28/20   float64
 29  4 W/E 10/31/20   float64
 30  5 W/E 10/03/20   float64
 31  4 W/E 08/29/20   float64
 32  4 W/E 08/01/20   float64
 33  5 W/E 07/04/20   float64
 34  4 W/E 05/30/20   float64
 35  4 W/E 05/02/20   float64
 36  5 W/E 04/04/20   float64
 37  4 W/E 02/29/20   float64
 38  4 W/E 02/01/20   float64
 39  Key              object
dtypes: float64(30), object(10)
memory usage: 542.5+ MB

In [707]:
Waterfall_Time_Period_HHC=list(Data_5p.columns[0:2])+list(Data_5p.columns[7:8])+list(Data_5p.columns[3:7])+list(Data_5p.columns[8:9])+list(Data_5p.columns[13:15])+list(Data_5p.columns[25:26])+list(Data_5p.columns[37:38])
print(Waterfall_Time_Period_HHC)

['Markets', 'ShareBasis', 'Products', 'Manufacturer', 'Franchise', 'Brand', 'SubBrand', 'Facts', 'YTD 2021', 'YTD 2020', '4 W/E 02/27/21', '4 W/E 02/29/20']

**Facts, Markets, Time_Period Filter**

In [708]:
set(Waterfall_HHC["Markets"])

{'AHOLD USA CORP TOTAL CTA',
 'ALBSCO Total Company TA',
 'BJS TOTAL CENSUS TA',
 'CLUB',
 'CVS TOTAL CORP WO HI CENSUS TA',
 'DOL GEN TOTAL CENSUS TA',
 'FAMILY DOLLAR TOTAL CENSUS TRADING AREA',
 'FDM',
 'Fiesta Total TA',
 'Kmart Total TA',
 'MEIJER TOTAL CENSUS TRADING AREA',
 'PUBLIX TOTAL CENSUS TRADING AREA',
 'REGIONAL GROCERY xLA',
 'RITE AID - TOTAL CENSUS TA',
 'SAMS TOTAL CENSUS TRADING AREA',
 'SHOPRITE TOTAL CENSUS TRADING AREA',
 'Strategic Grocery',
 'TARGET TOTAL BM/FF CENSUS TA',
 'TOTAL MASS',
 'TOTAL US DRUG',
 'TOTAL US FOOD',
 'TOTAL US XAOC',
 'TOTAL WALMART TOTAL US CTA',
 'VDC',
 'WALGREENS CORP TOTAL CENSUS TA'}

In [709]:
Waterfall_HHC= Waterfall_HHC[Waterfall_HHC["Facts"].isin(Waterfall_Facts)]
Waterfall_HHC= Waterfall_HHC[Waterfall_HHC["Markets"].isin(Waterfall_Markets)]
Waterfall_HHC=Waterfall_HHC[Waterfall_Time_Period_HHC]

In [710]:
print(len(Waterfall_Markets), len(set(Waterfall_HHC["Markets"])))

15 15

In [711]:
set(Waterfall_Markets)-set(Waterfall_HHC["Markets"])

set()

In [712]:
Waterfall_HHC.head(2)

,Markets,ShareBasis,Products,Manufacturer,Franchise,Brand,SubBrand,Facts,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20
1784312,TOTAL US XAOC,POUR,POUR APC+WW,,,,,$,1.087839e+08,9.613721e+07,5.209000e+07,4.901795e+07
1784315,TOTAL US XAOC,POUR,POUR APC+WW,,,,,$ Shr - CP CATEGORY,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02

**Column name Change**

In [713]:
Waterfall_HHC.rename(columns={"Markets":"MKT","Products":"PROD","Manufacturer":"CP_MANUFACTURER","ShareBasis":"CP_SHARE_BASIS",
                                "Franchise":"CP_FRANCHISE","Brand":"CP_BRAND","SubBrand":"CP_SUBBRAND_VARIANT","Facts":"FCT"},inplace=True)

In [714]:
Waterfall_HHC.columns

Index(['MKT', 'CP_SHARE_BASIS', 'PROD', 'CP_MANUFACTURER', 'CP_FRANCHISE',
       'CP_BRAND', 'CP_SUBBRAND_VARIANT', 'FCT', 'YTD 2021', 'YTD 2020',
       '4 W/E 02/27/21', '4 W/E 02/29/20'],
      dtype='object')

In [715]:
Waterfall_HHC["CP_CATEGORY"] = "HH CLEANERS"

In [716]:
Waterfall_HHC = movecol(Waterfall_HHC, 
             cols_to_move=["CP_CATEGORY"], 
             ref_col='PROD',
             place='After')
Waterfall_HHC.head(3)

,MKT,CP_SHARE_BASIS,PROD,CP_CATEGORY,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND_VARIANT,FCT,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20
1784312,TOTAL US XAOC,POUR,POUR APC+WW,HH CLEANERS,,,,,$,1.087839e+08,9.613721e+07,5.209000e+07,4.901795e+07
1784315,TOTAL US XAOC,POUR,POUR APC+WW,HH CLEANERS,,,,,$ Shr - CP CATEGORY,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02
1784336,TOTAL US XAOC,POUR,POUR APC+WW,HH CLEANERS,,,,,Base $,1.029793e+08,8.899442e+07,4.961569e+07,4.491058e+07

In [717]:
Waterfall_HHC = movecol(Waterfall_HHC, 
             cols_to_move=["CP_SHARE_BASIS"], 
             ref_col='MKT',
             place='Before')
Waterfall_HHC.head(3)

,CP_SHARE_BASIS,MKT,PROD,CP_CATEGORY,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND_VARIANT,FCT,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20
1784312,POUR,TOTAL US XAOC,POUR APC+WW,HH CLEANERS,,,,,$,1.087839e+08,9.613721e+07,5.209000e+07,4.901795e+07
1784315,POUR,TOTAL US XAOC,POUR APC+WW,HH CLEANERS,,,,,$ Shr - CP CATEGORY,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02
1784336,POUR,TOTAL US XAOC,POUR APC+WW,HH CLEANERS,,,,,Base $,1.029793e+08,8.899442e+07,4.961569e+07,4.491058e+07

In [718]:
Waterfall_HHC.columns

Index(['CP_SHARE_BASIS', 'MKT', 'PROD', 'CP_CATEGORY', 'CP_MANUFACTURER',
       'CP_FRANCHISE', 'CP_BRAND', 'CP_SUBBRAND_VARIANT', 'FCT', 'YTD 2021',
       'YTD 2020', '4 W/E 02/27/21', '4 W/E 02/29/20'],
      dtype='object')

In [719]:
lst = Waterfall_HHC["CP_SHARE_BASIS"]
del Waterfall_HHC["CP_SHARE_BASIS"]
Waterfall_HHC["CP_SHARE_BASIS"] = lst

In [720]:
set(Waterfall_HHC["CP_SHARE_BASIS"])

{'POUR'}

In [721]:
#Waterfall_HHC["CP_SHARE_BASIS"].replace({"FABRIC SOFTENERS" : "TOTAL HHC"}, inplace = True)

In [722]:
Waterfall_HHC.head(3)

,MKT,PROD,CP_CATEGORY,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND_VARIANT,FCT,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20,CP_SHARE_BASIS
1784312,TOTAL US XAOC,POUR APC+WW,HH CLEANERS,,,,,$,1.087839e+08,9.613721e+07,5.209000e+07,4.901795e+07,POUR
1784315,TOTAL US XAOC,POUR APC+WW,HH CLEANERS,,,,,$ Shr - CP CATEGORY,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,POUR
1784336,TOTAL US XAOC,POUR APC+WW,HH CLEANERS,,,,,Base $,1.029793e+08,8.899442e+07,4.961569e+07,4.491058e+07,POUR

In [723]:
Waterfall_HHC["FCT"].replace({"$ Shr - CP CATEGORY" : "APC POUR $ Share"}, inplace = True)

In [724]:
set(Waterfall_HHC["FCT"])

{'$',
 'APC POUR $ Share',
 'Base $',
 'Disp w/o Feat $',
 'Feat & Disp $',
 'Feat w/o Disp $',
 'No Promo Incr $',
 'Price Decr Only $'}

In [725]:
set(Waterfall_HHC["MKT"])

{'BJS TOTAL CENSUS TA',
 'CVS TOTAL CORP WO HI CENSUS TA',
 'DOL GEN TOTAL CENSUS TA',
 'FAMILY DOLLAR TOTAL CENSUS TRADING AREA',
 'Fiesta Total TA',
 'Kmart Total TA',
 'PUBLIX TOTAL CENSUS TRADING AREA',
 'RITE AID - TOTAL CENSUS TA',
 'SAMS TOTAL CENSUS TRADING AREA',
 'TARGET TOTAL BM/FF CENSUS TA',
 'TOTAL US DRUG',
 'TOTAL US FOOD',
 'TOTAL US XAOC',
 'TOTAL WALMART TOTAL US CTA',
 'WALGREENS CORP TOTAL CENSUS TA'}

**Fact Name Change**

In [726]:
Waterfall_HHC["FCT"].replace(Waterfall_Fact_Mapping,inplace=True)

In [727]:
Waterfall_HHC.head(2)

,MKT,PROD,CP_CATEGORY,CP_MANUFACTURER,CP_FRANCHISE,CP_BRAND,CP_SUBBRAND_VARIANT,FCT,YTD 2021,YTD 2020,4 W/E 02/27/21,4 W/E 02/29/20,CP_SHARE_BASIS
1784312,TOTAL US XAOC,POUR APC+WW,HH CLEANERS,,,,,Dollars,1.087839e+08,9.613721e+07,5.209000e+07,4.901795e+07,POUR
1784315,TOTAL US XAOC,POUR APC+WW,HH CLEANERS,,,,,APC POUR $ Share,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,POUR

In [728]:
set(Waterfall_HHC["CP_SHARE_BASIS"])

{'POUR'}

In [729]:
Fact_order_1 = ["Baseline $","Incr.$ w/No Promo","Incr.$ w/Ftr w/o Disp","Incr.$ w/Disp w/o Ftr","Incr.$ w/Ftr & Disp",
              "Incr.$ w/TPR","Dollars","APC POUR $ Share"]

Fact_order = CategoricalDtype(
    Fact_order_1, 
    ordered=True
)


Waterfall_HHC['FCT'] = Waterfall_HHC['FCT'].astype(Fact_order)

Waterfall_HHC.sort_values(['MKT','PROD','FCT'],inplace=True)

## **Waterfall_Manu**

In [730]:
Waterfall_Manu=Waterfall_HHC.loc[(Waterfall_HHC["CP_BRAND"]=="")&(Waterfall_HHC["CP_FRANCHISE"]=="")&(Waterfall_HHC["CP_MANUFACTURER"]!="")]

In [731]:
Waterfall_Manu["Record_ID"]=range(1,len(Waterfall_Manu)+1)

In [732]:
Waterfall_Manu.to_csv(path_HHC+"promo_waterfall_manu.csv",index=False)

## **Waterfall_Fran**

In [733]:
Waterfall_Fran=Waterfall_HHC.loc[(Waterfall_HHC["CP_BRAND"]=="")&(Waterfall_HHC["CP_FRANCHISE"]!="")]

In [734]:
Waterfall_Fran["Record_ID"]=range(1,len(Waterfall_Fran)+1)

In [735]:
Waterfall_Fran.to_csv(path_HHC+"promo_waterfall_fran.csv",index=False)

## **Waterfall_Brand**

In [736]:
Waterfall_Brand=Waterfall_HHC.loc[(Waterfall_HHC["CP_BRAND"]!="")]

In [737]:
Waterfall_Cat=Waterfall_HHC.loc[(Waterfall_HHC["CP_SUBBRAND_VARIANT"]=="") & (Waterfall_HHC["CP_BRAND"]=="")&(Waterfall_HHC["CP_FRANCHISE"]=="")&(Waterfall_HHC["CP_MANUFACTURER"]=="")]

In [738]:
Waterfall_Cat_Brand=pd.concat([Waterfall_Cat,Waterfall_Brand],axis=0)

In [739]:
Waterfall_Cat_Brand['FCT'] = Waterfall_Cat_Brand['FCT'].astype(Fact_order)

Waterfall_Cat_Brand.sort_values(['MKT','PROD','FCT'],inplace=True)

In [740]:
Waterfall_Cat_Brand["Record_ID"]=range(1,len(Waterfall_Cat_Brand)+1)

In [741]:
Waterfall_Cat_Brand.to_csv(path_HHC+"promo_waterfall_brand.csv",index=False)

## Waterfall_SubBrand

In [742]:
Waterfall_SubBrand=Waterfall_HHC.loc[(Waterfall_HHC["CP_SUBBRAND_VARIANT"]!="")]

In [743]:
Waterfall_SubBrand["Record_ID"]=range(1,len(Waterfall_SubBrand)+1)

In [744]:
Waterfall_SubBrand.to_csv(path_HHC+"promo_waterfall_subbrand.csv",index=False)