In [1]:
import pandas as pd;
import numpy as np;
import os;
import time;
import datetime;
import warnings;
warnings.filterwarnings('ignore');

In [2]:
path = "//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/04. Executive Toolkits/Quarterly Summary/Data Files"
files = os.listdir(path)

In [3]:
files_xls=[f for f in files if (f[0:9]=="Quarterly")]
print("Total number of files in the folder are ",len(files_xls))

Total number of files in the folder are  13

In [4]:
files_xls

['Quarterly_ADD.xlsx',
 'Quarterly_Bar.xlsx',
 'Quarterly_BW.xlsx',
 'Quarterly_FS_Category.xlsx',
 'Quarterly_FS_MegaCategory.xlsx',
 'Quarterly_HHC.xlsx',
 'Quarterly_LDL.xlsx',
 'Quarterly_LHS.xlsx',
 'Quarterly_Manual.xlsx',
 'Quarterly_MW.xlsx',
 'Quarterly_PTB.xlsx',
 'Quarterly_TP.xlsx',
 'Quarterly_UAP.xlsx']

**Appending the read files in rows and storing them in a single dataframe** named ***UPC_Monthly***.

Printing number of columns and number of facts in each file.
Also checking the execution time of the code

In [5]:
now=datetime.datetime.now()
delay= datetime.timedelta(days=20)
a= now - delay
month_number=a.month
year=str(a.year-2)[-2:]
print(month_number)
print(year)

3
19

In [6]:
time_start= time.time()

Quarterly= pd.DataFrame()

j=0
for f in files_xls:
    
    data = pd.read_excel(path+"/"+f) 
        
    print("\033[1m" + files_xls[j] + "\033[0m",":->\n# of Facts are ",len(set(data["Periods"])),"\t\t # of columns are ",len(data.columns))  
    Quarterly = pd.concat([Quarterly,data],axis=0,ignore_index=True)
    j=j+1
    
time_end= time.time();

print("execution time is ", time_end-time_start)

Quarterly_ADD.xlsx :->
# of Facts are  3 		 # of columns are  9
Quarterly_Bar.xlsx :->
# of Facts are  3 		 # of columns are  9
Quarterly_BW.xlsx :->
# of Facts are  3 		 # of columns are  9
Quarterly_FS_Category.xlsx :->
# of Facts are  3 		 # of columns are  9
Quarterly_FS_MegaCategory.xlsx :->
# of Facts are  3 		 # of columns are  9
Quarterly_HHC.xlsx :->
# of Facts are  3 		 # of columns are  9
Quarterly_LDL.xlsx :->
# of Facts are  3 		 # of columns are  9
Quarterly_LHS.xlsx :->
# of Facts are  3 		 # of columns are  9
Quarterly_Manual.xlsx :->
# of Facts are  3 		 # of columns are  9
Quarterly_MW.xlsx :->
# of Facts are  3 		 # of columns are  9
Quarterly_PTB.xlsx :->
# of Facts are  3 		 # of columns are  9
Quarterly_TP.xlsx :->
# of Facts are  3 		 # of columns are  9
Quarterly_UAP.xlsx :->
# of Facts are  3 		 # of columns are  9
execution time is  0.38096189498901367

In [7]:
Quarterly.head()

,Markets,Products,Periods,Cal Yr 2019 - w/e 01/04/20,Cal Yr 2020 - w/e 01/02/21,YTD,YTD YA,OND 19 - w/e 01/04/20,OND 20 - w/e 01/02/21
0,Total US xAOC,MFR COLGATE-PALMOLIVE AUTODISH,$ % Chg YA,-3.488,5.462,-21.386,13.548,-7.877,-6.666
1,Total US xAOC,MFR COLGATE-PALMOLIVE AUTODISH,$ Shr - Category,1.423,1.212,1.106,1.317,1.363,1.080
2,Total US xAOC,MFR COLGATE-PALMOLIVE AUTODISH,$ Shr Chg YA - Category,-0.078,-0.211,-0.211,-0.141,-0.160,-0.283
3,Total US xAOC,TTL AUTODISH,$ % Chg YA,1.827,23.858,-6.414,25.691,2.905,17.769
4,Total US xAOC,TTL AUTODISH,$ Shr - Category,100.000,100.000,100.000,100.000,100.000,100.000

In [8]:
Quarterly.rename(columns={"Periods":"Facts"},inplace=True)

In [9]:
Quarterly["Key"] = Quarterly["Markets"]+Quarterly["Products"]+Quarterly["Facts"]

In [10]:
col = ["Key"] + list(Quarterly.columns[0:-1])

In [11]:
print(col)

['Key', 'Markets', 'Products', 'Facts', 'Cal Yr 2019 - w/e 01/04/20', 'Cal Yr 2020 - w/e 01/02/21', 'YTD', 'YTD YA', 'OND 19 - w/e 01/04/20', 'OND 20 - w/e 01/02/21']

In [12]:
Quarterly = Quarterly[col]

In [13]:
new_col_names=[]
for i in Quarterly.columns:
    x=len(i)
    if x<=17:
        new_col_names.append(i)
    elif i[:3]=='YTD':
        new_col_names.append(i[:-16].strip('- '))
    else:
        new_col_names.append(i[:-14].strip('- '))

In [14]:
Quarterly.columns = new_col_names

In [15]:
Mapping = {"JFM 20": "Q1 2020",
          "AMJ 20" : "Q2 2020",
          "JAS 20" : "Q3 2020",
          "OND 20" : "Q4 2020",
          "JFM 19" : "Q1 2019",
          "AMJ 19" : "Q2 2019",
          "JAS 19" : "Q3 2019",
          "OND 19" : "Q4 2019"}

In [16]:
Quarterly.rename(columns=Mapping,inplace=True)

In [17]:
Quarterly.head()

,Key,Markets,Products,Facts,Cal Yr 2019,Cal Yr 2020,YTD,YTD YA,Q4 2019,Q4 2020
0,Total US xAOCMFR COLGATE-PALMOLIVE AUTODISH$ %...,Total US xAOC,MFR COLGATE-PALMOLIVE AUTODISH,$ % Chg YA,-3.488,5.462,-21.386,13.548,-7.877,-6.666
1,Total US xAOCMFR COLGATE-PALMOLIVE AUTODISH$ S...,Total US xAOC,MFR COLGATE-PALMOLIVE AUTODISH,$ Shr - Category,1.423,1.212,1.106,1.317,1.363,1.080
2,Total US xAOCMFR COLGATE-PALMOLIVE AUTODISH$ S...,Total US xAOC,MFR COLGATE-PALMOLIVE AUTODISH,$ Shr Chg YA - Category,-0.078,-0.211,-0.211,-0.141,-0.160,-0.283
3,Total US xAOCTTL AUTODISH$ % Chg YA,Total US xAOC,TTL AUTODISH,$ % Chg YA,1.827,23.858,-6.414,25.691,2.905,17.769
4,Total US xAOCTTL AUTODISH$ Shr - Category,Total US xAOC,TTL AUTODISH,$ Shr - Category,100.000,100.000,100.000,100.000,100.000,100.000

In [18]:
path_op = "//falmumapp34/Nielsen Connect Transition & Maintenance (20-SCP-3650)/04. Executive Toolkits/Quarterly Summary/Output"
Quarterly.to_csv(path_op+"/Quarterly.csv",index=False)